[2017-02-07 20:34] ioana-chiorean opened #124 "Reps Weekly Call - February 16th, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #123
➡️ #124

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-02-07 20:36] ioana-chiorean opened #125 "Reps Weekly Call - February 23rd, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #124
➡️ #126

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-02-07 20:37] ioana-chiorean opened #126 "Reps Weekly Call - March 2nd, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #125
➡️ #132

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-02-14 18:11] MichaelKohler opened #127 "Create Open Letter"
## Goal:
The Open Letter is created and sent to Leadership.

## Related Issues & Links:
https://discourse.mozilla-community.org/t/call-for-input-open-letter-to-mozilla-leadership/13390

## Roles:

Responsible: Laka
Accountable: Reps Council
Supporting: Reps Council, Mozillians
Consulted:
Informed: Mozillians

## Required:
- [x] Inform Lucy about level of support we need (@MichaelKohler, Due: Feb 1

[2017-02-14 18:16] elidron commented on #101
Any news? :O I'm so excited to start the training!

[2017-02-15 18:41] MichaelKohler commented on #101
We have discussed several points from the webinar document in Council. Missing points:

1) We would rather do a panel conversation instead of a 1:1 interaction between two Council members. We need to adapt the script for this.
2) There are some minor information missing in the script right now
3) We want to include the mobilizer role description which is currently being drafted and explored. This

[2017-02-16 16:32] MichaelKohler opened #128 "Update Onboarding/Application Wiki"
## Goal:
The current application process for Reps is documented as well as the experiment around the Webinar.

## Related Issues & Links:
#101

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council

## Required:
- [x] Redirect https://wiki.mozilla.org/ReMo/Application_Process to https://wiki.mozilla.org/ReMo/SOPs/Joining (@MichaelKohler, Due: Feb 16th)
- [x] Rewrite https://wiki.mozilla

[2017-02-16 16:34] MichaelKohler commented on #127
Hot topics identified here: https://docs.google.com/document/d/1pLBbIX9ZKmJ26MlB3W8biMbX3Q75PKlD9IOLsCosOHA/edit#

[2017-02-16 17:35] MichaelKohler commented on #128
Documented here: https://wiki.mozilla.org/ReMo/SOPs/Joining

[2017-02-16 17:35] #128 closed

[2017-02-16 17:36] MichaelKohler commented on #101
I've also documented the workflow and experiment for the Webinar here: https://wiki.mozilla.org/ReMo/SOPs/Joining

[2017-02-16 18:38] MichaelKohler commented on #101
I've updated the webinar (actually needed less updates than thought), please review if you have time :) https://docs.google.com/document/d/1K62phM6jr2SfWYIF1PL5sLsD91K7_gAAwd0mVrlvJJE/edit#

[2017-02-16 19:10] MichaelKohler commented on #120
Processes and Tools have been documented here: https://wiki.mozilla.org/ReMo/SOPs/Joining

I will create another issue here if necessary. For now I'm blocked on Christos to provide the rest of the data. Then I can help him analyze them.

[2017-02-16 19:10] #120 closed

[2017-02-16 21:16] elidron commented on #101
thanks a lot Michael!!  Read it and still waiting for this to happen! 💃

[2017-02-20 12:35] MichaelKohler commented on #101
The script is almost ready. We need to handle a few administration tasks now:

* date to run it
* invite applicants to join
* set up the YouTube live instance

[2017-02-20 15:29] couci opened #129 "Create a certificate for all Reps that move to alumni"
## Goal:
Send a certificate for all the Reps that move to alumni status

## Roles:

Responsible: @couci

Accountable: @nukeador

Supporting: council

Consulted:

Informed:

## Required:
- [x] Create a certificate for new alumni (@couci)
- [x] Get approval and sign off ( @nukeador )
- [x] Add it on the SOP ( @couci)

[2017-02-21 08:29] dvigneshwer opened #130 "Draft for outreach and marketting of Rep portal Event"
## Goal:
Document providing checklist for reps to plan their event outreach

## Roles:
Consulted: @couci

## Contents of document

* Listing of all resources of available for outreach and marketing of Rep event such as requesting access for Mozillagram
* Social channels to be followed for different functional areas for example tweet to rustlang about the rust event etc

[2017-02-21 09:50] Mte90 commented on #130
I shared that link with the mozilla social champions and I think that in the requests we can add:

- Mozillagram access for * photos
- Likes/share on FB
- Retweet/likes on TW
- Comments on social networks on our messages (to be more generic and not focused in one social network)
- Get in touch with specific mozilla related account (I think that is enough to mention them in the tweet)

[2017-02-21 10:57] couci commented on #130
thank you both for working on this
@Mte90 do the mozilla social champions have a list of specific social media to follow-like-retweet?

[2017-02-21 10:58] Mte90 commented on #130
I think that we can create that, but I will ask :-)

[2017-02-21 18:11] couci commented on #129
Certificate has been created along with the email for comms, @nukeador could you check and give your sign off? Both live in this folder (council view only for now)
https://drive.google.com/drive/u/1/folders/0B8afomu5khGpYUl2VEVtaUV5M3M

[2017-02-21 18:28] MichaelKohler commented on #129
LGTM, thanks!

[2017-02-21 19:19] nukeador commented on #129
+1 Good to go

[2017-02-22 19:22] couci commented on #129
certificate step added https://wiki.mozilla.org/ReMo/SOPs/Leaving
@MichaelKohler and @nukeador I will follow with you too on PM on sending the emails for recent alumni

Closing this one

[2017-02-22 19:22] #129 closed

[2017-02-23 22:39] MichaelKohler commented on #121
Done, https://blog.mozilla.org/mozillareps/2017/02/23/rep-of-the-month-january-2017/

Thanks @ioana-chiorean and @couci

Just remembered that we will need to backdate the portal entry. Asked tasos to do so.

[2017-02-24 13:24] MichaelKohler commented on #121
This has been done, thanks everyone!

[2017-02-24 13:24] #121 closed

[2017-02-24 19:02] ioana-chiorean commented on #123
Notes are up! https://discourse.mozilla-community.org/t/weekly-call-09-02-2017/13517/2
Tweets were set up by K, miss @couci! Thank u!
🙌  🎉 🎈

[2017-02-24 19:02] #123 closed

[2017-02-24 19:03] ioana-chiorean commented on #124
Notes are up! https://discourse.mozilla-community.org/t/weekly-call-16-02-2017/13675
Tweets were set up by K, miss @couci! Thank u!
🙌  🎉 🎈

[2017-02-24 19:03] #124 closed

[2017-02-25 13:34] MichaelKohler opened #131 "Publish ROM for February"
## Goal:
RoM of February is published on the portal, blog and discourse.

## Related Issues & Links:
[voting] https://reps.mozilla.org/v/rep-of-the-month-for-february-2/

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @ioana-chiorean @couci
Consulted: Reps Mentors
Informed: Reps

## Required:
- [x] Figure out how to handle the close voting (@ioana-chiorean, Due: Febru

[2017-02-27 20:30] ioana-chiorean opened #132 "Reps Weekly Call - March 9th, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #126
➡️ #133

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-02-27 20:32] ioana-chiorean opened #133 "Reps Weekly Call - March 16th, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #132
➡️ #134

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-02-27 20:35] ioana-chiorean opened #134 "Reps Weekly Call - March 23rd, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #133
➡️ #

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioa

[2017-02-27 20:39] ioana-chiorean opened #135 "[CANCELLED] Reps Weekly Call - March 30th, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #134
➡️ #

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioa

[2017-02-28 19:25] MichaelKohler commented on #101
We are currently figuring out the last logistics questions. We will soon invite all applicants for the webinar :)

[2017-02-28 19:27] MichaelKohler commented on #127
We are currently having talks on the format we want to present this in. We are on a good track, though quite some work is still needed.

[2017-02-28 20:18] MichaelKohler opened #136 "Budget Discussion Q1/Q2"
## Goal:
Decision on our final proposal for Budget allocation for Q1/Q2.

## Related Issues & Links:
@Council: please vote on https://reps.mozilla.org/v/budget-q1-q2-second-try/

## Roles:

Responsible: @couci
Accountable: Reps Council
Supporting: @MichaelKohler

## Required:
- [x] Get to a decision (Council, Due: March 4th)
- [x] Communicate decision to Reps (@MichaelKohler/@couci, Due: March 12t

[2017-02-28 20:21] MichaelKohler opened #137 "Feedback: Coaching synthesis"
## Goal:
We have an implementation proposal and final "next steps" to tackle for Coaching.

## Related Issues & Links:
Council only for now: https://docs.google.com/document/d/1kZa1S6q7nBvY5IF7zXlFgVUclzV6tkuIX_PdivCoSVc/edit#

## Roles:

Responsible: @couci @fayetandog
Accountable: Reps Council

## Required:
- [x] Get feedback on document (Council, Due: March 10th)

[2017-02-28 20:27] MichaelKohler opened #138 "Give feedback on Community Participation Guidelines"
## Goal:
Council should give feedback on Community Participation Guidelines

## Related Issues & Links:
https://activate.mozilla.community/community-participation-guideline/

[2017-02-28 20:29] MichaelKohler opened #139 "Respond to next steps for Orphans"
## Goal:
Give feedback for Orphans so we can move forward

## Related Issues & Links:
https://discourse.mozilla-community.org/t/orphans-from-bahy-and-guillermo/13808/2

[2017-02-28 20:30] MichaelKohler opened #140 "Feedback: Mobilizers"
## Goal:
Give feedback / answers to the open mobilizers questions from Council side before we can synthesize this back to the general Discourse thread.

## Related Issues & Links:
Thread on Discourse inbox (alias)

[2017-02-28 20:34] MichaelKohler opened #141 "Screen Applications for Cohort 2 (Webinar)"
## Goal:
Applicants for Cohort 2 are screened by a group of Council members. We currently have 11 bugs that need to be screened. As of now, we are missing a third reviewer and comments from 2 members.

For now this is Council only, but we are considering outsourcing this for the next cohort :) (reading: feel free to respond here if you are interested to take part on this in future)

## Related Iss

[2017-02-28 20:35] MichaelKohler opened #142 "Feedback: Council Meetup"
## Goal:
Give feedback about plan for physical Council meetup.

## Related Issues & Links:
(Council thread) https://discourse.mozilla-community.org/t/reps-council-physical-meet-up/13861

[2017-02-28 20:37] MichaelKohler opened #143 "Publish Council Meetup Notes from December+January"
## Goal:
Council Meeting Notes from December and January are published.

## Related Issues & Links:
(internal thread) https://discourse.mozilla-community.org/t/council-public-meeting-notes/13176

## Roles:

Responsible: @Flore-mozfr @AlexLakatos

Accountable: Reps Council

## Required:
- [x] Create summaries for missing notes (@Flore-mozfr, Due: March 15th)
- [x] Quick review (@MichaelKohler, Due:

[2017-02-28 20:38] MichaelKohler opened #144 "Feedback: Write back to Jeff regarding strategy"
## Goal:
We have replied to Jeff regarding strategy.

## Related Issues & Links:
(internal thread) https://discourse.mozilla-community.org/t/first-half-of-2017-okrs-and-strategy-for-l10n/13171

## Roles:

Responsible: @Flore-mozfr @couci
Accountable: Reps Council

## Required:
- [ ] Answer Jeff (@Flore-mozfr, Due: March 15th)

[2017-03-01 09:29] ioana-chiorean commented on #136
Thanks MK for tracking this!

[2017-03-02 16:27] hossainalikram commented on #141
For the next cohort, I wish to be involved in helping the council with assessment of applicants :)

[2017-03-02 16:29] Mte90 commented on #141
I am interested to for the next cohort!

[2017-03-02 20:51] mijanurrahman commented on #141
Hi
I am interested for the Cohort 2 :)

[2017-03-02 22:40] AlexLakatos commented on #119
Shipped the first newsletter. Web version available at http://mozilla.github.io/Reps/newsletter/02-2017/ . Opening new issues for next newsletter.

[2017-03-03 16:58] elidron commented on #101
Thanks a lot for your dedication and time with us 💃

[2017-03-06 12:40] ioana-chiorean commented on #126
Notes were posted and sent: https://discourse.mozilla-community.org/t/weekly-call-02-03-2017/14100/2
🎉

[2017-03-06 17:53] couci commented on #144
@Flore-mozfr let's come up with a plan on this since our budget is now approved: I think it's important to know how many events they are expecting and what is the aligned agenda that will make those events good to go from them?

[2017-03-07 16:33] MichaelKohler commented on #136
Voting is closed, we are working on comms now.

[2017-03-08 00:33] #139 closed

[2017-03-08 00:33] MichaelKohler commented on #139
We have informed all orphans about the next step

[2017-03-09 10:12] Mte90 commented on #132
I would want to talk about the first italian community video call if it is possible!

[2017-03-09 13:36] couci commented on #132
@Mte90 of course :) we will add you in the agenda

[2017-03-13 13:05] ioana-chiorean commented on #132
Notes are up and @couci prepared the #MozLove tweets! 🎉
https://discourse.mozilla-community.org/t/weekly-call-09-03-2017/14296/2
🙌🏽 😎 🤓

[2017-03-13 13:05] #132 closed

[2017-03-13 13:09] ioana-chiorean commented on #133
Notes were added up - forgot to comment here: https://discourse.mozilla-community.org/t/weekly-call-02-03-2017/14100/2
Tweets are programmed by miss @couci!
All done! 🎉

[2017-03-13 13:22] MichaelKohler commented on #133
I think you meant to close https://github.com/mozilla/Reps/issues/126 :)

[2017-03-13 13:25] MichaelKohler commented on #122
https://discourse.mozilla-community.org/t/weekly-call-02-02-2017/13356/2

[2017-03-13 13:25] #122 closed

[2017-03-13 13:26] #126 closed

[2017-03-13 21:09] ioana-chiorean commented on #133
Yeah... 😞

[2017-03-14 20:00] MichaelKohler commented on #141
Thanks for your responses, we will consider outsourcing this for the next cohort. We will get back to you ;)

All open applications have been screened, I will write updates on the applications soon.

[2017-03-14 20:01] MichaelKohler commented on #142
As there were no other responses, I'm closing this one.

[2017-03-14 20:01] #142 closed

[2017-03-14 20:01] MichaelKohler commented on #138
Some of us have provided feedback through different channels. I'm closing this one.

[2017-03-14 20:01] #138 closed

[2017-03-14 20:03] MichaelKohler commented on #101
We will send out a doodle in the next few days. The webinar will also be recorded, if somebody can't make the live version. We will follow up with the applicants by email and bugzilla.

[2017-03-14 20:03] MichaelKohler commented on #119
As we will improve month by month, I'm closing this one.

[2017-03-14 20:03] #119 closed

[2017-03-14 22:21] MichaelKohler commented on #131
I've reached out to the mentors.

[2017-03-14 22:22] MichaelKohler commented on #143
https://discourse.mozilla-community.org/c/reps/meetings now has all 5 missing notes from December and January.

[2017-03-14 22:22] #143 closed

[2017-03-14 23:07] MichaelKohler commented on #141
Applicants have been informed of the decisions.

[2017-03-14 23:07] #141 closed

[2017-03-17 21:50] MichaelKohler commented on #136
The communication will go out next week, as we need to finish the communication piece as well as the tracking sheet to link.

[2017-03-17 23:07] MichaelKohler opened #146 "Selection of focus area (mobilizer/functional)"
## Goal:
Survey for mobilizer/functional doers is completed and we are able to move forward according to this result.

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @couci
Consulted: @hmitsch
Informed: All Reps

## Required:
- [x] Prototype for progress tracking is done (@MichaelKohler, Due: March 21th)
- [x] Text is written for mobilizers/doers (@couci, Due: April 6

[2017-03-18 00:17] MichaelKohler commented on #101
I've just sent out an calendar invite for the first webinar to everyone from Cohort 1 (bugs that as "<country code>, Webinar". If your bug is tagged like that and you didn't get a mail, please get in touch with me. I will also update all bugs with that information right now.

[2017-03-18 19:11] MichaelKohler commented on #131
Everything is ready (including Facebook) once we got a new picture. The one linked is not available anymore. I've reached out to the mentor again.

[2017-03-19 16:23] MichaelKohler commented on #131
Published on Discourse, Portal, reps-general.

Blog post is submitted for Review. @couci please approve.

We also need @akatsoulas help to date it back to February.

[2017-03-20 21:36] MichaelKohler opened #147 "Q2 OKRs are published"
## Goal:
We have published the Reps Program OKRs for Q2

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: Reps Peers
Consulted: Community Development Team OKRs
Informed: All Reps

## Required:
- [x] Initial ideas are gathered and ready for feedback (@MichaelKohler, Due: March 20th)
- [x] We have discussed the OKRs and voting is created (@MichaelKohler, Due: March 24th)

[2017-03-20 21:40] MichaelKohler opened #148 "Reps Newsletter Issue March"
## Goal:
The newsletter for March is sent.

## Roles:
Responsible: @AlexLakatos
Accountable: Reps Council
Supporting: @MichaelKohler
Consulted: Reps Council
Informed: All Reps

## Required:
- [x] Initial ideas have been gathered (@MichaelKohler, Due: March 25th)
- [x] Final set of content is decided on (@MichaelKohler, Due: March 27th)
- [x] Test newsletter is sent for verification through Council

[2017-03-20 21:45] MichaelKohler commented on #140
Feedback has been gathered. Form to be sent out soon (https://github.com/mozilla/Reps/issues/146)

[2017-03-20 21:45] #140 closed

[2017-03-20 21:46] MichaelKohler commented on #101
Current status:
* Date has been set
* Invites have been sent
* We will gather feedback from the participants right after the call
* We will share an initial analysis of feedback and early evaluation if we want to do this again or if we need to find another solution will be done
* We will guide the new Reps (plans etc)
* We will run Cohort 2 once we are confident that we want to continue this

[2017-03-20 21:47] MichaelKohler commented on #73
Initial improvements are done, we will create a new issue with follow tasks once necessary.

[2017-03-20 21:47] #73 closed

[2017-03-20 21:48] MichaelKohler commented on #131
This is done! woohoo!

[2017-03-20 21:48] #131 closed

[2017-03-20 21:53] MichaelKohler commented on #19
@ioana-chiorean thoughts on this?

[2017-03-20 21:55] MichaelKohler commented on #55
@ioana-chiorean I don't think we have identified any blockers are? Do we want to continue with this?

The participation of votings has improved in the last few months, which is good. But I think we can go further than just mentors :)

[2017-03-20 22:00] MichaelKohler commented on #148
My thoughts (based on the last newsletter):

* Reps of the Month - February
* Feedback Needed
  * (if applicable) Reminder about Reps Role form to fill out
* Budget Allocation for Q2
* (if applicable, would be so nice...) OKRs for Q2
* Monthly Roundup
  * Weekly Call / Council Call Notes
  * Reminder about Activate
  * Reps Moments / RoM on Facebook

[2017-03-20 22:01] MichaelKohler commented on #125
Ioana had shared the meeting notes here: https://discourse.mozilla-community.org/t/weekly-call-23-02-2017/13858/2?u=mkohler

I think this is done!

[2017-03-20 22:01] #125 closed

[2017-03-22 21:00] ioana-chiorean commented on #125
And I forgot to write it here .. I am getting rusting..

[2017-03-25 17:56] MichaelKohler opened #149 "Publish RoM for March"
## Goal:
RoM of March is published on the portal, blog and discourse.

## Related Issues & Links:
[voting] https://reps.mozilla.org/v/rep-of-the-month-for-march-2/

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @ioana-chiorean @couci
Consulted: Reps Mentors
Informed: Reps

## Required:
- [x] Let mentor of RoM write a text (@MichaelKohler, Due: March 30th)
- [x] Revie

[2017-03-25 18:02] MichaelKohler commented on #144
@Flore-mozfr What's the status here?

[2017-03-25 18:19] MichaelKohler opened #150 "Communication Documentation"
## Goal:
Current cases of documentation is documented ("How and where do we communicate for what").

## Related Issues & Links:
https://wiki.mozilla.org/ReMo/Communication

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting:
Consulted:
Informed:

## Required:
- [x] Document our current strategy on communication on the Wiki (@MichaelKohler, Due: March 30th)

[2017-03-25 18:54] #136 closed

[2017-03-25 18:54] MichaelKohler commented on #136
https://discourse.mozilla-community.org/t/budget-allocation-q1-2/14650

[2017-03-29 23:37] MichaelKohler opened #151 "Write Q1 OKR evaluation"
## Goal:
An evaluation of the Q1 OKRs has been published.

## Related Issues & Links:
#116

## Roles:
Responsible: @MichaelKohler
Accountable: Reps Council
Supporting:
Consulted:
Informed: Open Innovation Team, Reps

## Required:
- [x] Write draft of evaluation (@MichaelKohler, Due: March 31st)
- [x] Gather feedback from Council (@MichaelKohler, Due: April 4th)
- [ ] Publish to Discourse (@Michael

[2017-03-30 17:10] AlexLakatos commented on #148
Sent it out to council for feedback: http://us15.campaign-archive1.com/?u=9eae060f1b81c285205560420&id=7a31014df4&e=[UNIQID]

[2017-03-31 22:42] AlexLakatos commented on #148
Newsletter went live in email, discourse and github.
http://mozilla.github.io/Reps/newsletter/03-2017/
https://discourse.mozilla-community.org/t/issue-no-2/14751

[2017-04-01 18:45] MichaelKohler commented on #151
For Council review: https://docs.google.com/document/d/1EGI6XmUWJpF64iEmQJLa5tgb8dWer6DmvH_AKoNMOCI/edit#

[2017-04-01 18:45] MichaelKohler commented on #150
Documented here: https://wiki.mozilla.org/ReMo/Communication

[2017-04-01 18:45] #150 closed, assigned to MichaelKohler

[2017-04-03 06:42] ioana-chiorean opened #153 "Reps Weekly Call - April 6th, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #135
➡️ #156

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-04-03 06:42] ioana-chiorean commented on #135
This edition of the call/meeting was canceled.

[2017-04-03 06:42] #135 closed

[2017-04-03 20:27] MichaelKohler commented on #148
Great work, thanks a lot!

[2017-04-03 20:27] #148 closed, assigned to MichaelKohler, AlexLakatos

[2017-04-03 20:30] MichaelKohler commented on #137
Feedback is gathered, we will share with Reps for broader feedback.

[2017-04-03 20:31] MichaelKohler commented on #101
We are all set for the webinar, we will be live-streaming tomorrow at 13:30 UTC / 15:30 CEST at https://air.mozilla.org/reps-webinar-2017-04-04/

[2017-04-04 18:09] MichaelKohler commented on #151
I'll publish this tonight.

[2017-04-04 18:11] MichaelKohler commented on #146
Updated timeline in description to fit reality

[2017-04-04 18:12] MichaelKohler commented on #101
We've run the Webinar and got initial good feedback for it. You can watch the recording here: https://air.mozilla.org/reps-webinar-2017-04-04/ . Also I've documented everything on the wiki, including the next steps for you to take: https://wiki.mozilla.org/ReMo/Webinar/2017-04-04

I'm closing this one, we will keep tracking the progress. I'll also follow up with another issue in this repository to

[2017-04-04 18:12] #101 closed

[2017-04-04 18:17] MichaelKohler opened #154 "Track Onboarding Cohort 1"
## Goal:
Cohort 1 is onboarded through the Webinar.

## Related Issues & Links:
#101

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting:
Consulted:
Informed:

## Required:
- [x] Create draft of "Reps Plan" document to send out to cohort (@MichaelKohler, Due: April 7th)
- [x] All Reps who have completed their steps have received the plan to fill out (@MichaelKohler, Due: A

[2017-04-04 18:29] MichaelKohler opened #155 "Screen / Webinar currently open applications"
## Goal:
All currently open applications (screening or planned for next Webinar) are processed and next steps taken.

## Related Issues & Links:
#101

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting:
Consulted:
Informed:

## Required:
- [x] Non-responded applications are answered or tagged correctly (@MichaelKohler, Due: April 10th)
- [x] Applications tagged with "next

[2017-04-04 18:29] MichaelKohler commented on #94
Filed https://github.com/mozilla/Reps/issues/154 and https://github.com/mozilla/Reps/issues/155 to go further here.

[2017-04-04 18:29] #94 closed

[2017-04-04 20:45] MichaelKohler commented on #151
Posted as an update to https://discourse.mozilla-community.org/t/reps-program-goals-q1-2017/13205

[2017-04-04 20:45] #151 closed, assigned to MichaelKohler

[2017-04-06 19:06] MichaelKohler commented on #149
I've reached out to the mentor again yesterday to ask if they could write a text.

[2017-04-06 19:08] MichaelKohler commented on #155
There is one application still open to be screened. We will take care of this in the next few days, the rest is cleaned up. 9 applications are tagged for the next webinar and informed about the timeline.

[2017-04-06 19:09] MichaelKohler commented on #147
This is signed off. Adriano and Konstantina will coordinate to publish this (for CDT and Reps).

[2017-04-12 11:10] MichaelKohler commented on #155
All pending applications are screened and tagged with "next webinar" or closed.

[2017-04-12 11:10] #155 closed, assigned to MichaelKohler

[2017-04-13 11:53] ioana-chiorean opened #156 "Reps Weekly Call - April 13th, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #153
➡️ #160

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-04-13 19:28] ioana-chiorean commented on #114
Proposed timeline (all times in 09:00 UTC):

* April 20th - call for candidates (eligible Mozilla Reps Mentors/Cohort only)
* April 27th - call closes
* April 28th - start of campaign period
    * candidates are given 5 days to answer questions and post them on their profile page
    * candidates are given 5 days to publish a 30-120 seconds campaign video
* May 2nd - deadline for answers and video

[2017-04-13 21:51] Mte90 commented on #114
So this time only rep that are mentors can candidate it? The last time also reps that are not mentor can candidate (like me).

[2017-04-18 17:02] AlexLakatos opened #157 "Reps Newsletter Issue April"
## Goal:
The newsletter for April is sent.

## Roles:
Responsible: @AlexLakatos
Accountable: Reps Council
Supporting: @MichaelKohler
Consulted: Reps Council
Informed: All Reps

## Required:
- [x] Initial ideas have been gathered (@AlexLakatos, Due: April 24th)
- [x] Final set of content is decided on (@AlexLakatos, Due: April 26th)
- [ ] Test newsletter is sent for verification through Council (@A

[2017-04-18 17:19] AlexLakatos opened #158 "Define content strategy for communication channels"
## Goal:

Define content strategy for communication done by the Reps Leadership: Council, Peers and MO
## Roles:

Responsible: @alexlakatos

Accountable: Reps Council

Supporting: @MichaelKohler

Consulted: @couci

Informed: Reps
## Required:
- [ ] Create a draft proposal for content matching channels (@alexlakatos @MichaelKohler , Due: April 27th)
- [ ] Present draft at the Council meeting and ge

[2017-04-19 16:05] MichaelKohler commented on #149
Unfortunately my 2 mails landed in spam. The mentor has seen them now.

[2017-04-19 16:10] MichaelKohler commented on #157
Ideas:

* Reps of the Month - March (we are quite behind with that, but should work)
* Feedback Needed
  * Reminder about Reps Role form to fill out
* OKRs for Q2
* New Reps in Orientation Period (@MichaelKohler to provide something)
* Monthly Roundup
  * Weekly Call / Council Call Notes
  * Reminder about Activate
  * Reps Moments on Facebook (maybe take one nice post and link it?)

[2017-04-19 18:14] MichaelKohler commented on #154
* Sent a reminder to all applicants who haven't responded
* Added a comment to the applications with the template to fill out the plan to all who have responded so far

[2017-04-19 18:17] MichaelKohler commented on #147
Konstantina has published the OKRs on Discourse and sent them through reps-general: https://discourse.mozilla-community.org/t/reps-okrs-for-q2-2017/15134

[2017-04-19 18:28] MichaelKohler commented on #147
@couci I've submitted the blog post as well, please review, publish and then close this issue here. Thanks for your help!

[2017-04-19 20:55] MichaelKohler opened #159 "Give Feedback to Nuke about Communities and Contributors research"
## Goal:
Feedback for Nuke is given about Communities and Contributors research

## Related Issues & Links:
(Council only) https://discourse.mozilla-community.org/t/communities-contributors-data-survey-request-open-innovation-strategy-project/15021

## Roles:

Responsible: @nukeador
Accountable: Reps Council
Supporting: all Council

## Required:
- [x] Feedback is given (all Council, Due: April 22r

[2017-04-20 13:11] couci commented on #147
Published https://blog.mozilla.org/mozillareps/2017/04/20/reps-program-objectives-q2-2017/
I've just changed the alignment of the picture, thanks @MichaelKohler
Closing this one

[2017-04-20 13:11] #147 closed, assigned to couci

[2017-04-20 13:24] ioana-chiorean commented on #149
Thanks for the follow up MK! 🎉

[2017-04-20 13:28] ioana-chiorean opened #160 "Reps Weekly Call - April 20th, 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #156
➡️ #165

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-04-20 14:06] Mte90 commented on #160
If there is a moment I would to talk about our experience at Codemotion Rome 2017 with our metrics :-)

[2017-04-25 09:48] couci commented on #86
@Flore-mozfr as far as I know you've replied back to the l10n team, right?

[2017-04-25 17:58] MichaelKohler commented on #144
Thanks for the mail, Flore!

[2017-04-25 17:58] #144 closed

[2017-04-25 20:02] MichaelKohler commented on #154
The first few plans came in, I'm giving feedback and ask questions as they come in. So far it looks good.

In terms of process, I think this is successful so far. I can't say a lot about the general approach of onboarding, as this is too early, but I think compared to 1:1 mentor relationsships this is the same in terms of progress. So far I consider this experiment a success :)

[2017-04-25 20:20] MichaelKohler opened #161 "Onboard Cohort 2 through Webinar"
## Goal:
The Cohort 2 (11 applicants) is onboarded through the Webinar.

## Related Issues & Links:
[Cohort 1 tracking] #154

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @couci
Consulted:
Informed:

## Required:
- [x] Create Webinar wiki page for this Cohort (link to previous Webinar with a few additions) (@MichaelKohler, Due: May 3rd)
- [x] Cohort tracking sheet i

[2017-04-25 20:48] MichaelKohler commented on #161
* Wiki page: https://wiki.mozilla.org/ReMo/Webinar/2017-04-25
* Tracking sheet is updated with Cohort 2 applicants
* All currently open applications are triaged
* The notification for all Cohort 2 applicants will go out next week

[2017-04-26 15:58] couci commented on #157
Can we have a section what's new with Activate? And there a summary of the updates?
Also it will be good to have: projects that need your help/feedback

[2017-04-26 16:02] MichaelKohler commented on #157
Yes, Activate is a good idea. For the "projects that need your help/feedback", would we have something there?

[2017-04-26 16:25] couci commented on #157
Coaching project, leadership training and the fb experiment could use people's help

[2017-04-26 16:38] MichaelKohler commented on #157
We would need communications for all of these apart from the newsletter as well. Maybe not for FB experiment, as we can simply ask "Check out the recent posts and give your feedback!"

[2017-04-28 15:59] Mte90 opened #162 "We have a clear understanding of Italian extension developers persona, needs and motivations, and we have an initial commitment from some of them to mentor the community"
## Goal:

We have a clear understanding of Italian extension developers persona, needs and motivations, and we have an initial commitment from some of them to mentor the community

## Metrics

- An appealing email is crafted to encourage people to participate in the survey (why should I care about this? What value do I get?)
- 27 people are contacted to fill the survey
- 80% people fill the survey

[2017-05-02 15:29] dvigneshwer opened #163 "There is an openly available development kit which helps in training Rust developers in India"
## Goal:
There is an openly available development kit which helps in training Rust developers in India

## Related Issues & Links:
[Public Report](https://docs.google.com/document/d/1sf4hznArNZpunovfVAsufw3M9YdqcT_gk483SsqBJZQ/edit?usp=sharing)

## Roles:

Responsible: @dvigneshwer
Consulted: @nukeador

## Required:
- [x] Create 3 kits which are application specific (@dvigneshwer, Due: May 12th)
-

[2017-05-02 16:08] nukeador commented on #162
Hey @Mte90

Let's make sure title is the goal text and metrics are also included here :)

Thanks!

[2017-05-02 17:12] Mte90 commented on #162
Do you think that is filled right now?

[2017-05-03 11:54] nukeador commented on #162
I edited the title ;-)

[2017-05-03 17:14] MichaelKohler commented on #157
**Reps of the Month - March**
please see https://discourse.mozilla-community.org/t/rep-of-the-month-march-2017/15392/1 for the text

**OKRs for Q2**
We have published the Reps Program Goals for this quarter 2 weeks ago. Make sure to [read them and have a look at the visualization](https://discourse.mozilla-community.org/t/reps-okrs-for-q2-2017/15134). We are looking forward to hear your comments a

[2017-05-03 21:57] MichaelKohler commented on #149
* Done on portal, asked tasos to date it back to March.
* Discourse: https://discourse.mozilla-community.org/t/rep-of-the-month-march-2017/15392
* Posted to reps-general
* Sent blog post for approval /cc @couci
* Sent message on telegram

[2017-05-04 09:29] couci commented on #149
blogpost is live thanks @MichaelKohler  :)

[2017-05-04 10:26] MichaelKohler commented on #149
tasos dated back the entry as well. This is done!

[2017-05-04 10:26] #149 closed, assigned to MichaelKohler, ioana-chiorean

[2017-05-08 16:41] Mte90 commented on #162
Few updates, the survey is ready, the email will send in this week and I am continuing to improve the persona

[2017-05-08 18:30] MichaelKohler commented on #161
I've written a comment on all application bugs with the next steps. The tracking sheet is up to date.

**Copy:**

Hi

As promised, you have been selected for the next on-boarding round. There we go!

You can find all the necessary information (link to the Webinar recording, Wiki page, Questions/Answers) as well as important next steps you need to take here: https://wiki.mozilla.org/ReMo/Webinar/20

[2017-05-08 18:31] MichaelKohler commented on #159
The feedback period is over.

[2017-05-08 18:31] #159 closed, assigned to nukeador

[2017-05-08 18:31] MichaelKohler commented on #157
The newsletter was sent out! Thanks Laka!

[2017-05-08 18:31] #157 closed, assigned to AlexLakatos

[2017-05-09 06:31] ioana-chiorean opened #165 "Reps Weekly Call - April 27th, 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #160
➡️ #166

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-05-09 06:33] ioana-chiorean opened #166 "Reps Weekly Call - May 4th, 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #165
➡️ #167

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-05-09 06:34] ioana-chiorean opened #167 "Reps Weekly Call - May 11th, 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #166
➡️ #181

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-05-11 11:27] MichaelKohler commented on #146
Communication on Discourse has been done: https://discourse.mozilla-community.org/t/action-needed-reps-path/15539

reps-general and call for action for Mentors is pending.

[2017-05-11 11:29] MichaelKohler commented on #154
I've been receiving giving feedback on the plans.

Applicants who haven't responded at all yet: 6
Applicants who have responded but not yet created their profile: 1 (cleared the misunderstanding yesterday)
Applicants who have done all the administrative things but are not on reps-general yet: 3
Applicants who haven't sent a plan yet: 6
Applicants who have sent a plan and received feedback: 9

[2017-05-11 13:19] MichaelKohler commented on #113
The initial version has been put on Teachable. We need to make it a little bit more beautiful as it's quite a lot of text. We will do that with pictures etc. Once that is done, we can move ahead and open the track for applications. This will need a communication piece, but we should track that in another issue once the training is finished.

[2017-05-12 00:36] barrosgg commented on #113
Hi @couci, if in the future you are interested in translating this training into other languages as Portuguese from Brazil, I can help in this, maybe it is important to translate in the future because not only are representatives dealing with resources, but community volunteers are helping representatives to work with the resources too, then some volunteers could learn one or more relevant parts o

[2017-05-12 12:24] ioana-chiorean commented on #114
Updated:
* [Tasks and Responsibilities of Council Members](https://wiki.mozilla.org/ReMo/Council#Tasks_and_Responsibilities_of_Council_Members)
* [Election/Designation of Council Members](https://wiki.mozilla.org/ReMo/Council#Election.2FDesignation_of_Council_Members)

Created:
* [Council Chair Archive](https://wiki.mozilla.org/ReMo/Council/Chairs)
* [Archive of previous Eligibility and criteria b

[2017-05-12 13:13] MichaelKohler opened #168 "Resources Track is getting applications"
## Goal:
The Resources track is open for applications.

## Related Issues & Links:
blocked by: #113

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @couci

## Required:
- [x] Make sure we finish #113 (@MichaelKohler, Due: May 15th)
- [x] Finish draft of [Resources wiki page](https://wiki.mozilla.org/ReMo/Resources) (@MichaelKohler, Due: May 17th)
- [x] Come up with ap

[2017-05-12 14:32] hmitsch commented on #114
Looks good to me. Thank you @ioana-chiorean

[2017-05-12 20:47] ioana-chiorean commented on #114
- [x] [Discourse announcement](https://discourse.mozilla-community.org/t/important-council-elections-spring-2017-please-read/15569) posted
- [x] [Etherpad](https://public.etherpad-mozilla.org/p/remo-elections-may-2017) to gather nominations created
- [x] Mail on reps-general sent
- [x] Post on telegram
- [x] Updated the timeline of Required actions in description.

[2017-05-17 15:07] couci commented on #133
notes are up we can close this one

[2017-05-17 15:07] #133 closed

[2017-05-17 15:36] couci commented on #134
meeting notes are up,
we can close this one

[2017-05-17 15:36] #134 closed

[2017-05-20 19:39] ioana-chiorean commented on #114
We closed the nomination period. We have the following candidates:

- [Daniele Scasciafratte](https://reps.mozilla.org/u/Mte90/)
- [Ankit Gadgil](https://reps.mozilla.org/u/ankitgadgil/)
- [Mayur Patil](https://reps.mozilla.org/u/yomanpatil/)
- [Vaibhav Bajaj](https://reps.mozilla.org/u/vabajaj/)
- [Alex Mayorga]( https://reps.mozilla.org/u/alex_mayorga)
- [Faye Tandog](https://reps.mozilla.org/u/

[2017-05-20 20:13] ioana-chiorean commented on #114
Tasks to prepare:

- [Daniele Scasciafratte](https://reps.mozilla.org/u/Mte90/)
  - [x] confirmation of received mail
  - [x] [video](https://www.youtube.com/watch?v=56bfrhbXOzM)
  - [x] [replies on discourse questions](https://discourse.mozilla-community.org/t/important-council-elections-spring-2017-nominee-q-a/15736/3?u=ioana)
- [Ankit Gadgil](https://reps.mozilla.org/u/ankitgadgil/)
  - [x] con

[2017-05-22 18:32] MichaelKohler opened #169 "Screen 5 new applicants"
## Goal:
5 new applicants to the Reps programm are screened by a group of screeners and are responded back with our decision/questions that are open.

**Note:** this time I'm starting an experiment. In the past few cycles the Reps Council has screened the applications. As the Reps Council should focus more on strategic questions than operation, I have decided to invite everybody who expressed inte

[2017-05-23 17:43] MichaelKohler opened #170 "May Reps Newsletter Issue"
## Goal:
The newsletter for May is sent. We include the "Reps Path" discourse topic with the call to action to fill out the survey. Therefore we need to send a few days before June 1st (2 or so).

## Roles:
Responsible: @AlexLakatos
Accountable: Reps Council
Supporting: @MichaelKohler
Consulted: Reps Council
Informed: All Reps

## Required:
- [ ] Initial ideas have been gathered (@AlexLakatos, Due

[2017-05-23 17:46] MichaelKohler commented on #170
And as always, my suggestions in terms of content:

* Reps of the Month - May (we just need to be fast on the text)
* Reminder about Reps Role form to fill out (@MichaelKohler to provide)
* Council elections (maybe @ioana-chiorean could draft some words? Voting will be fully ongoing if we can send it 2 days before normal)
* Information about onboarding status / second cohort (@MichaelKohler to pro

[2017-05-23 19:16] ioana-chiorean commented on #170
Elections should definitely be in - if it will be posted before the results - we can link the candidates, if later , we can link the results. I will prepare a text.

[2017-05-23 19:38] MichaelKohler commented on #170
I really want to send this one out before the 1st of June, so there is time for a voting reminder as well as filling out the reps path form. @AlexLakatos how do you feel about the timeline here?

[2017-05-23 21:15] MichaelKohler commented on #170
**Placeholder for RoM**
(text started, Laka has the link to it)

**Reps Path**
[Understanding what Reps want](https://discourse.mozilla-community.org/t/action-needed-reps-path/15539) to do is crucial for the future of the program. That's why we created a form to indicate which area you want to focus your time on. Please fill the form before June 1st. After this deadline we will reach out to everyo

[2017-05-24 17:11] AlexLakatos commented on #170
completely doable before the 1st. Holiday in the UK on Monday, so will aim to send for review on Monday

[2017-05-26 10:16] #162 closed, assigned to Mte90

[2017-05-26 10:17] Mte90 opened #171 "We find italians Chrome developers and defined the opportunities"
## Goal:
We find italians Chrome developers and defined the opportunities

## Related Issues & Links:
https://github.com/mozilla/Reps/issues/162

## Roles:

Responsible: @mte90

Supporting: @nukeador

## Required:
- [x] Remainder for the survey sent
- [ ] Define better what Addon team can do
- [x] Contact in fb/g+ groups for developers

[2017-05-28 09:21] dvigneshwer commented on #163
Update:

* Curated [3 Rust kits](https://github.com/MozillaIndia/RustIndia/tree/master/RainOfRust#rust-kits) focussing on beginners and intermediate Rust developers

[2017-05-31 15:15] Srushtika opened #172 "We have clear understanding of what people feel about the current state of the WebVR India community"
## Goal:
We have clear understanding of what people feel about the current state of the WebVR India community !

## Learning:
**Who**

1. Learned from the Mozilla India group
2. Equal mix between students and professionals
3. Under 40
4. No women

**Motivations**

1. Easy to use, just needs HTML knowledge
2. Open source: Learn from existing projects
3. Good prospect in the future
4. Technology sup

[2017-05-31 15:29] Srushtika opened #173 "There is a clear communication about where to go when you ask questions on the technology"
## Goal:
There is a clear communication about where to go when you ask questions on the technology

## Related Issues & Links:
A-Frame forum on WebVR India github organisation: https://github.com/webvr-india/aframevr-forum
Discourse post: https://discourse.mozilla-community.org/t/reps-mobilizers-experiment-for-webvr-in-india/15328

## Roles:

Responsible: @Srushtika
Supporting: @nukeador

## Requi

[2017-05-31 15:33] Srushtika commented on #173
Results:

- 6 experts identified who are ready to commit their time to answer the questions on the forum.
- webvr-in tag could not be created as it is against the developer standards to create region based tag on stackoverflow
- Hence, [A-Frame forum](https://github.com/webvr-india/aframevr-forum) was created on the WebVR India github org, which serves the same purpose.

[2017-05-31 15:37] Srushtika opened #174 "Results of the first circle experiment - WebVR India"
## About:
Results of the first circle experiment - WebVR India

## Roles:

Responsible: @Srushtika
Supporting: @nukeador

## Observations:

- The community is currently not spending enough time working on code.
- They are mostly interested in knowing about the technology (theory in general)
- However, beginners who are finding difficulties wished to have Q/A system which is a little less intimidat

[2017-05-31 15:44] Srushtika opened #175 "We have a clear plan to improve communication within the WebVR community"
## Goal:
We have a clear plan to improve communication within the WebVR community

## Related Issues & Links:
[Superstars group - Update](https://docs.google.com/document/d/1SE3PEBXyNhNr4dX3CpJz-HOcsRfx5ZpKV9jLQ-NEoPg/edit?usp=sharing)

## Roles:

Responsible: @Srushtika
Supporting: @nukeador

## Required:
- [ ] Dissolve the Superstars telegram group
- [ ] Encourage discussions in the WebVR India

[2017-06-01 01:47] bobchao opened #176 "Help more people to be engaged in the WebVR Taiwan community and more people start coding."
## Goal:

Help more people to be engaged in the community and more people start coding.

## Related Issues & Links:
* https://docs.google.com/document/d/1ZJ8OHwb2VCDBXiiL26fYa8Zrvl17jRejf0wgvf7MCb0/edit
* #178
* #179

## Roles:

Responsible: @bobchao
Consulted: @nukeador

## Required:
- [x] tracking WebVR News blog metrics @bobchao
- [x] tracking WebVR Discourse metrics @bobchao
- [x] prepare in p

[2017-06-01 01:48] bobchao commented on #176
will bring more related issues here in few hours.

[2017-06-01 01:51] bobchao commented on #176
# Metrics

* 5 workshops take place
* 50% of the attendees will create a discourse account and introduce themselves (sharing their github)
* 25% will subscribe to the category
* 5% of the people publish a demo

[2017-06-01 06:37] dvigneshwer opened #177 "Analyze community response of Rust development kit and drive people into Mozilla’s projects"
## Goal:
Analyze community response of Rust development kit and drive people into Mozilla’s projects

## Related Issues & Links:
* https://github.com/mozilla/Reps/issues/163
* https://github.com/MozillaIndia/RustIndia/issues/7
* [3 Rust kits](https://github.com/MozillaIndia/RustIndia/tree/master/RainOfRust#rust-kits)
* [Trackable link](https://goo.gl/vdpXFG)

## Roles:

Responsible: @dvigneshwer

[2017-06-01 06:39] dvigneshwer commented on #163
Update:

* The Rust kit was reviewed by couple of experienced Rust developers and the community Rust team https://github.com/MozillaIndia/RustIndia/issues/9
* Communication about the Kit is scheduled to be done on the following platforms. https://github.com/MozillaIndia/RustIndia/issues/7

Moving analyze community response and feedback to https://github.com/mozilla/Reps/issues/177

[2017-06-01 06:39] #163 closed

[2017-06-01 11:26] bobchao opened #178 "Have in-person workshops to help begineers know how to create WebVR content."
## Goal:

Have 50 people attend 3 workshops and try create WebVR content before 3rd June.

## Related Issues & Links:
#176

## Roles:

Responsible: @bobchao
Consulted: @nukeador

## Required:
- [x] get material ready @bobchao
    * have them sign up / subscribe the Discourse category
- [ ] think / try a few methods to get connected with the attendees after the workshops
    * to encourage them to

[2017-06-01 11:59] bobchao opened #179 "Get at least one more editor on WebVR News blog"
## Goal:

The average work load of editors down to about 2 hours per week.

## Related Issues & Links:

#176

## Roles:

Responsible: @bobchao
Consulted: @nukeador

## Required:
- [x] Get at least another volunteer on board.

[2017-06-01 13:17] bobchao commented on #176
Updates:

# Workshops

Had 3 workshops in past weeks

* 2 about A-Frame, using [localized A-Frame School](http://learn.webvr.tw)
* 1 about "From Unity3D to WebVR."
* 3 groups of attendees
    * web developers who are curious about the new tech
    * experts who was used other tech. to create VR content -- want to know how VR looks like on the web, does WebVR capable to do X... etc.
    * Non-techi

[2017-06-01 13:57] couci commented on #114
Voting closed, results here: https://discourse.mozilla-community.org/t/important-council-elections-results-and-next-steps/16012

[2017-06-01 14:17] couci opened #180 "Reps Council Onboarding - Spring 2017"
## Goal:
Onboard successfully the new council members

## Related Issues & Links:
#https://github.com/mozilla/Reps/issues/114
https://wiki.mozilla.org/ReMo/SOPs/Council_onboarding
## Roles:

Responsible: @couci

Accountable: @nukeador

Supporting: @mozilla/reps-council

Consulted: @reps-peers

Informed: Reps

## Required:
- [x] E-mail new council members for onboarding meeting (owner @couci , Due:

[2017-06-01 14:24] couci commented on #180
Email has been sent with doodle to the new council members

[2017-06-01 14:27] MichaelKohler commented on #114
Onboarding will happen in https://github.com/mozilla/Reps/issues/180, therefore closing this one.

[2017-06-01 14:27] #114 closed

[2017-06-01 16:14] couci commented on #146
This is closing today at 22:00 UTC.
Here is the list of the additional necessary actions:
- [x] E-mail people that have replied "I have no time to contribute" to ensure it was them to added the reply
- [x] prepare alumni letters and e-mails of appreciation for alumni
- [x] Remove people from reps-general
- [x] Remove people from NDA group
- [x] Remove people from bugzilla groups
- [x] Set people a

[2017-06-02 13:20] couci commented on #146
email to people sent

[2017-06-02 15:14] couci commented on #146
Alumni letters have been prepared and sent for Reps that didn't reply

[2017-06-02 16:03] couci commented on #146
No replies were moved to alumni and from the reps general list

[2017-06-02 18:07] couci commented on #180
Here are the buddies:
Faye - Rara
Ankit - Faisal
Daniele - Michael
Elio - Alex

Since Flore was re-elected there is no need to pair her with another council member.

Council onboarding will happen on June 9th, invitation sent

[2017-06-04 08:25] ioana-chiorean opened #181 "[CANCELLED] Reps Weekly Call - May 18th, 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #167
➡️ #182

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-06-04 08:25] ioana-chiorean opened #182 "Reps Weekly Call - May 25th, 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #181
➡️ #183

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-06-04 08:28] ioana-chiorean opened #183 "[CANCELLED] Reps Weekly Call - June 1st , 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #182
➡️ #184

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-06-04 08:29] ioana-chiorean commented on #183
This was cancelled - created it for tracking purposes only

[2017-06-04 08:29] #183 closed, assigned to ioana-chiorean

[2017-06-04 08:30] ioana-chiorean opened #184 "Reps Weekly Call - June 8th, 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #183
➡️ #185

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-06-04 08:32] ioana-chiorean opened #185 "Reps Weekly Call - June 15th, 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #184
➡️ #186

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-06-04 08:33] ioana-chiorean opened #186 "Reps Weekly Call - June 22nd, 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #185
➡️ #

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioa

[2017-06-04 09:06] ioana-chiorean commented on #153
As I posted the notes - all tasks related to this are done! 🎉 😄

[2017-06-04 09:06] #153 closed, assigned to ioana-chiorean, couci

[2017-06-04 09:39] ioana-chiorean commented on #156
As I posted the notes - all tasks related to this are done! 🎉 😄

[2017-06-04 09:39] #156 closed, assigned to ioana-chiorean

[2017-06-04 09:42] ioana-chiorean commented on #181
Call is cancelled - Mozilla's global Sprint is happening on early June. Since the AMA is happening today at 16:00 UTC, we have decided to cancel today's call and ask you to participate on the AMA instead.

For more info read here: https://discourse.mozilla-community.org/t/mozillas-global-sprint/15680

[2017-06-04 09:42] #181 closed, assigned to ioana-chiorean, couci

[2017-06-05 08:56] ioana-chiorean commented on #160
All tasks are done now. 🎉 😌

[2017-06-05 08:56] #160 closed, assigned to ioana-chiorean, couci

[2017-06-05 19:27] #170 closed, assigned to MichaelKohler, AlexLakatos

[2017-06-06 12:27] couci commented on #146
"I have not time to contribute" were moved to alumni as well as unsubscribed from the reps-general list

[2017-06-06 13:24] couci commented on #146
Everyone has been moved to alumni

[2017-06-06 15:30] couci commented on #146
Bugzilla bug for removal have been opened, on NDA we are blocked until we get the full list of invitees

[2017-06-07 14:58] MichaelKohler commented on #169
Screening has been done, it has worked out very well and we were on time (I was the reason the applicants waited for a few days to here back after the screening was done, not the process). I consider this a successful small experiment.

All applicants have been informed about the decision and we proceeded with the webinar next steps.

[2017-06-07 14:58] #169 closed, assigned to MichaelKohler

[2017-06-07 15:04] MichaelKohler commented on #168
We will test the training material with a few Reps first (direct reachout to selected active budget submitters in the past 6 months) before we open the track up for everyone. This makes sure that we have a good baseline of the training material.

[2017-06-07 15:07] MichaelKohler commented on #113
Draft is done, we will test it with a few selected Reps first before going broad. Future tasks tracked in #168

[2017-06-07 15:07] #113 closed

[2017-06-07 15:08] MichaelKohler commented on #137
Voting for Council to decide on last blocker has been created.

[2017-06-07 15:29] MichaelKohler commented on #158
Current ideas about improvement experiments that we could run in Q3:

* Use https://github.com/mozillach/gh-projects-content-queue/commits/master for @MozillaReps tweets (automated tweets from GitHub repository issues)
* Change timing of Reps call (was brought up some time ago from Ioana in an issue I can’t find right now)
* New idea from Nuke: we need “external visibility” within Mozilla. One ide

[2017-06-08 11:29] bobchao commented on #176
Quick update about the Discourse forum and workshops:

## Jun 3: WebVR with A-Frame

* Due to heavy rain, we have 20 registered but only 8 attended.
* But finally [we got 1 demo post](https://discourse.mozilla-community.org/t/dae-jquery/16067/5) on Discourse!
* Will have another A-Frame workshop on Jun 24.

Workshop | Attendees | Attendees created self-intro. post on Discourse | # of related posts

[2017-06-08 11:34] bobchao commented on #176
Quick update about the newsletter:

* Issue 6 published on Jun 5, break the record of first-day-readers again -- not really sure about the reason, maybe it's just because of the attracting title.
* Got another volunteer to help editing the newsletter this week!
* Next issue will be on June 12

Issues | # of first-day-readers | # of readers after a week | Likes on Medium | Highlights
--------|-----

[2017-06-08 12:16] bobchao commented on #176
Todo

- [x] create post about the learning of this cycle
- [x] plan for next cycle

[2017-06-08 12:20] #171 closed, assigned to Mte90

[2017-06-08 12:21] Mte90 opened #187 "Create a report for Addon Team about the data gathered with the initiative"
## Goal:
Create a detail report for Addon Team about the data gathered with the initiative

## Required:
- [x] Write the report
- [ ] Evaluate if to do slides

[2017-06-08 19:35] couci commented on #146
Request for removal on bugzilla has been opened. Also portal removals have finished and list has been updated for community analytics.

[2017-06-09 15:10] couci commented on #146
Reps Alumni were moved out of the NDA group

[2017-06-09 17:14] MichaelKohler opened #188 "Create new version of "New Reps this month" for May/June"
## Goal:
New Reps who have joined since April and were not announced yet are added to the [New Reps page](http://mozilla.github.io/Reps/newreps/) and sent out through the newsletter as well as our other communication channels.

## Related Issues & Links:
#161 #154

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: involved onboarding Reps
Informed: All Reps

## Required:

[2017-06-09 17:16] MichaelKohler commented on #137
We are currently reviewing the implementation proposal and once we agree on the next steps to take, we will create a new issue. Leaving this one open until then.

[2017-06-09 17:17] MichaelKohler commented on #146
@couci is it correct that the last step to do here is to provide Henrik with the data and we're done for now?

[2017-06-09 17:34] MichaelKohler opened #189 "Initial Leadership resources are available for all Reps"
## Goal:
An initial list of leadership resources is available for all Reps.

## Roles:

Responsible: <to be decided>
Accountable: Reps Council

## Required:
- [x] Create initial list compilation (?, Due: June 15th)
- [ ] Publish list compilation on Wiki (?, Due: June 20th)
- [ ] Announce to all Reps and get initial feedback in Discourse topic (?, Due: June 24th)

[2017-06-10 09:33] Mte90 commented on #146
From the content of the ticket I think that the title of this ticket is wrong maybe it's better: Moving Reps to Alumni after Reps Path or something like that

[2017-06-10 09:34] Mte90 commented on #189
This kind of list is also made by books or only online resources?
I have this one about coaching/leading:

- http://deimidis.github.io/community_curriculum/
- https://docs.google.com/document/d/1PAAwLL5QjI9mkfK5YH6Hlp690JsJVLtbDaUcxXJJ4Dw/edit
- https://mte90.net/en/2016/08/recruit-and-motivate-new-volunteers/
- https://wiki.mozilla.org/Participation/Community_Playbook
- https://docs.google.com/do

[2017-06-10 13:42] MichaelKohler commented on #189
Thanks Daniele, I've added most links we didn't already have in there.

[2017-06-12 09:23] couci commented on #146
The data were sent to Henrik, the only pending thing right now is to remove the bugzilla users (opened a bug and waiting an answer)

[2017-06-12 09:46] couci commented on #180
Onboarding happened on Friday the 9th.

[2017-06-12 10:08] couci commented on #180
New council members were added at the emailing list

[2017-06-12 10:25] hmitsch commented on #146
For sake of transparency and alignment:

When @couci says:

@hmitsch understands that @couci refers to https://github.com/mozilla/participation-metrics-identities/blob/master/Reps-2017-06-06.csv

Is this correct?

[2017-06-12 10:26] couci commented on #146
Yes thanks @hmitsch for pointing out :)

[2017-06-12 10:46] couci commented on #180
New council members were added at telegram

[2017-06-13 12:47] couci commented on #146
All necessary steps were completed, I think we can close this.
@MichaelKohler should we open a new issue for mentors restructure considering the many orphans now?

[2017-06-13 12:52] MichaelKohler commented on #146
Yes, we can close this. And yes, please file a new issue for that :) Thanks!

[2017-06-13 12:52] #146 closed, assigned to MichaelKohler, couci

[2017-06-13 18:09] MichaelKohler opened #190 "June Newsletter"
## Goal:
The newsletter for June is sent.

## Roles:
Responsible: @AlexLakatos
Accountable: Reps Council
Supporting: @elioqoshi
Informed: All Reps

## Required:
- [ ] Initial ideas have been gathered (@AlexLakatos, Due: June 22th)
- [ ] Final set of content is decided on (@AlexLakatos, Due: June 25th)
- [ ] Test newsletter is sent for verification through Council (@AlexLakatos, Due: All Hands a pr

[2017-06-13 18:10] MichaelKohler commented on #190
And as always, my suggestions in terms of content:

* Reps of the Month - June
* Update about onboarding of new Council members (by that time they will be onboarded)
* RepsNext status update
* Summary about the Reps Path Survey (@MichaelKohler to provide content)
* Firefox Nightly Activate activity (to be released soon!)
* Quick "hi" from the All Hands (we won't be able to share anything valuable

[2017-06-13 18:14] MichaelKohler opened #191 "Reps Applications Screening Round - Week of June 12th"
## Goal:
5 new applicants to the Reps programm are screened by a group of screeners and are responded back with our decision/questions that are open.

**Note:** We did a small experiment with a screening group consisting of 4 persons (Council and non-Council). As this was quite successful, we decided in today's Council meeting to do a second round like that and we will discuss about this further i

[2017-06-13 18:39] dvigneshwer commented on #190
Consider adding the following contents,

## MozFest

### Long Version

The eighth annual [MozFest](https://mozillafestival.org/) will take place in London from Friday October 27 - Sunday October 29. It’s the most ambitious iteration of the festival yet, and will be a key moment for the global network to convene and organise around the health of the Internet.

The festival’s sessions, speakers and

[2017-06-13 18:58] MichaelKohler commented on #190
@dvigneshwer thanks for the fast feedback here! So happy to see Reps involvement in the GitHub issues! I think both of those are important topics, I've edited my post above so we have the "Table of Contents" in one place. I think we'll go for the short version though. Thanks so much!

[2017-06-13 18:58] MichaelKohler commented on #190
@dvigneshwer do you think you will have a summary of what happened with RainOfRust by the end of June? Would be great to share that one in the Newsletter as we will be sending that one out at the end of the Month (first week of July maybe due to the All Hands)

[2017-06-13 19:06] dvigneshwer commented on #190
Yeah, I can publish the detailed insights about the campaign metrics by the first week of July :)

[2017-06-13 19:27] MichaelKohler commented on #190
Let's work together on a timing for it :) (we are happy with an initial result and a promise for it to be posted in the Reps discourse channel once final)

[2017-06-13 19:34] dvigneshwer commented on #190
Okay, will end of this month do? ( as the campaigns first iterations gets over at that time only)

You can check out the [RainOfRust readme page](https://github.com/MozillaIndia/RustIndia/tree/master/RainOfRust) for more details regarding the goals etc.

[2017-06-14 10:55] bobchao commented on #176
Quick update about the newsletter:

* Issue 7 published on Jun 12. Without a "hero content," the numbers fall down, but still better then the first 3 issues.
* We will test a new writing style from next issue -- cut to 8 stories per week from 10, more original comment on the articles we quoted.
* Next issue will be on June 19

Issues | # of first-day-readers | # of readers after a week | Likes on

[2017-06-14 12:41] bobchao commented on #176
Quick update about the workshops:

Issue: Many of the attendees stop practicing A-Frame after the workshop, but still willing to learn more about it. We might need a push to deeper their skill / experience on A-Frame / WebVR. Also, we need more chances to bring old and new attendee together, online and offline, to really create a community that people help each others.

----

We will have a hybrid

[2017-06-15 11:09] bobchao commented on #179
Got a new volunteer onboard.

[2017-06-15 11:09] #179 closed, assigned to bobchao

[2017-06-15 11:09] bobchao commented on #178
Quick update about the workshops:

Issue: Many of the attendees stop practicing A-Frame after the workshop, but still willing to learn more about it. We might need a push to deeper their skill / experience on A-Frame / WebVR. Also, we need more chances to bring old and new attendee together, online and offline, to really create a community that people help each others.

----

We will have a hybrid

[2017-06-15 11:20] elioqoshi opened #192 "Update Reps Newsletter Template"
## Goal:
Update the Reps Newsletter Template with new branding based on the new Mozilla style. Update Reps Logo and colors.

## Related Issues & Links:
Depends on the new Reps Logo:
https://github.com/mozilla/OpenDesign/issues/113#issuecomment-308698992

Mozilla Style guide:
https://mozilla.ninja

## Roles:

Responsible:
Elio Qoshi

Accountable:
Reps Council

Supporting:
Alex Lakatos

Consulted:

[2017-06-15 12:02] bobchao commented on #176
## 2nd Cycle: Goal review

* 5 workshops take place -- **we had 4, 80% of the goal.**
* 50% of the attendees will create a discourse account and introduce themselves (sharing their github) -- **about 65% did that**
* 25% will subscribe to the category -- **about 15% of them did that.**
* 5% of the people publish a demo -- **4% (2) of them did that :/**

## Learning

* We tried to keep the attendee

[2017-06-15 19:31] Mte90 commented on #191
done my analysis :-)

[2017-06-19 15:35] Mte90 commented on #187
Report finished but I am looking for a review by @nukeador.
For the slides depends of @caitmuenster if think that will be useful during all hands show the report in a better way

[2017-06-19 20:39] MichaelKohler commented on #188
I've added new Reps to the overview. This is still a WIP, as one person doesn't have a bio and another one doesn't have a picture. I will add more if there should be more within the next days.

[2017-06-20 05:17] dvigneshwer commented on #177
The following activities were completed:

1. The kits were advocated via the RainOfRust campaign, please find the stats below:

### Impression summary:

* We had 219 impressions in 2 weeks post kit development
* Majority of the clicks were from India region
* 64% of referrers are unknown (My hypothesis is that they are basically Telegram, discourse, and other community blog channels etc which are

[2017-06-20 05:17] #177 closed

[2017-06-20 05:42] dvigneshwer commented on #190
### About the event:

Rain of Rust Campaign is a month-long global campaign which specifically focused on the Rust language with a vision of improving community collaboration & participation with the Mozilla's Rust project.

#### Key stats of RainOfRust campaign June 2017:

*  16 offline events across 10 regions globally. [Ref](https://discourse.mozilla-community.org/t/rainofrust-campaign-trailer/

[2017-06-20 14:15] couci opened #193 "2 new comms experiments are being identified"
## Goal:
Identify 2 new comms experiments to put on work

## Roles:

Responsible: @AlexLakatos @elioqoshi

Accountable: council

Supporting: @kelimuttu

Consulted: FB experiments team

Informed: Reps

## Required:
- [ ] Identify pull of experiments
- [ ] Vote on the 2 best ones
- [ ] Run for a month and evaluate

[2017-06-20 14:18] MichaelKohler commented on #193
Here are the 3 possible experiments we have on our list so far:

* Use https://github.com/mozillach/gh-projects-content-queue/commits/master for @MozillaReps tweets (automated tweets from GitHub repository issues)
* Change timing of Reps call (was brought up some time ago from Ioana in an issue I can’t find right now)
* We need “external visibility” within Mozilla. One idea would be to go to the W

[2017-06-20 14:52] couci commented on #127
Draft was made and sent to Lucy and George for feedback

[2017-06-20 15:36] couci commented on #189
thank you both
some notes:
the "motivate new contributors" is kind of outdated since it has the regional coaches initiative that got renamed, maybe we should take it out
the events playbook might not be that relevant anymore. Anything else seem good, good work you too!

[2017-06-20 15:48] MichaelKohler commented on #189
For reference: https://docs.google.com/document/d/1Jts_6kt5r2zDo-lSyL3EP-hxhNxCRuMxC8qmeZeOXmU/edit?usp=sharing

I don't see any mention of that in the document by Daniele, where exactly is it?

No, but it's still a good resource. Let's keep it for now.

[2017-06-20 15:48] MichaelKohler commented on #189
BTW, will publish it on the Wiki tonight and write a Discourse post.

[2017-06-20 15:56] MichaelKohler opened #194 "Coaching Training is implemented"
## Goal:
The Coaching training is available for all Reps to take.

## Related Issues & Links:
#137

## Roles:

Responsible: @fayetandog
Accountable: Reps Council
Supporting: @michaelkohler
Informed: All Reps

## Working Document

https://docs.google.com/document/d/12uuGrEGdd593UPDuWfH1ZPxB1ES7ywfFUyUM7XHPebE/edit?usp=sharing

## Training material

http://deimidis.github.io/community_curriculum/ind

[2017-06-20 15:58] #137 closed

[2017-06-20 16:11] MichaelKohler commented on #86
Closing this as it has been done and we will talk to them regarding MozActivate.

[2017-06-20 16:11] #86 closed

[2017-06-20 16:11] MichaelKohler commented on #19
Closing in favor of #193

[2017-06-20 16:11] #19 closed

[2017-06-20 16:12] MichaelKohler commented on #7
@ioana-chiorean status update here?

[2017-06-20 16:18] MichaelKohler opened #195 "Create Plan for Functional Doers"
## Goal:
We have a plan on what Functional Doers role is within Reps.

## Related Issues & Links:
https://discourse.mozilla-community.org/t/statistics-about-reps-path-responses/16206

## Roles:

Responsible: TBD
Accountable: Reps Council
Supporting:
Consulted:
Informed:

## Required:
* Input from Strategy Projects
* Initial plan

[2017-06-20 16:21] MichaelKohler opened #196 "Evaluate FB Experiment"
## Goal:
The FB Experiment is evaluated and if successful, moved out of the "Experiment" phase and officially documented.

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: FB Experiment Team
Consulted:
Informed: All Reps

## Required:
- [x] Ask FB Team for latest numbers and recommendation (@MichaelKohler, Due: June 23th)
- [x] Evaluate Experiment (@MichaelKohler, Due:

[2017-06-20 16:24] MichaelKohler opened #197 "Define Q3 Goals and Budget Allocation"
## Goal:
The Goals for Q3 as well as the Budget Allocation according to it are documented and communicated.

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: Reps Council
Consulted: CDT
Informed: All Reps

## Required:
- [x] Initial Discussion about Goals & Budget (@MichaelKohler, Due: June 30th)
- [ ] Initial draft is communicated (@MichaelKohler, Due: July 5th)
- [x]

[2017-06-20 17:18] MichaelKohler opened #198 "Move Council Chair from K to Flore"
Flore will be the council chair for the month July-August
- [x] move the chair-alias
- [x] update the wiki
- [x] inform Reps via discourse

[2017-06-20 17:22] couci commented on #195
- [ ] start working on open questions on framing on what is the problem and on needs before the all-hands @Flore-mozfr
- [ ] Ask @francjp about list of volunteers @Flore-mozfr @couci

[2017-06-20 17:28] MichaelKohler opened #199 "Re-assign "orphan" mentees"
## Goal:
"Orphaned" mentees are reassigned to new coaches.

## Related Issues & Links:
Overview: http://mentors.michaelkohler.info/

## Roles:

Responsible: @fayetandog
Accountable: Reps Council

## Required:
- [ ] TBD, currently not priority 1 as we want to finish the coaching training first (it's a dependency)

[2017-06-20 18:21] MichaelKohler commented on #196
Reached out to Srushtika to get a first evaluation and recommendation from her.

[2017-06-20 18:41] MichaelKohler commented on #189
Done: https://discourse.mozilla-community.org/t/leadership-resources/16551

Let's get feedback and improve the list through that :)

[2017-06-20 18:41] #189 closed, assigned to MichaelKohler

[2017-06-20 18:43] Srushtika commented on #196
Hi @MichaelKohler !
Thanks for reaching out. The FB experiment has been amazing and the numbers look great to me !

Here are a few insights:

1. Average number of people who visited the Reps FB page daily: **2300**
2. Total number of people who liked the page: **3843**
3. Maximum page engagements: **753**
4. Number of people who gave negative feedback on the page: **1**
5. The number of times the

[2017-06-20 18:54] MichaelKohler opened #200 "Publish RepsNext Status Update"
## Goal:
A RepsNext status update is published before the All Hands.

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting:
Consulted:
Informed:

## Required:
- [x] Finish new graphic as in last blog post (@MichaelKohler, Due: June 20th)
- [ ] Publish blog post / Discourse / reps-general / Telegram / other stakeholders (@MichaelKohler, Due: June 21st)

[2017-06-20 19:06] MichaelKohler commented on #196
Thanks! What is the timeframe on metric 5? Unfortunately I can't open the data you sent me right now.

Also, how do the numbers look relatively compared to before the experiment? Likes and other engagements like sharing would be quite interesting here.

Thanks again, looks very good so far!

[2017-06-20 19:17] Srushtika commented on #196
The timeframe on metric 5 is 28 days.

Unfortunately, the initial metrics weren't tracked before the start of the experiment and FB only shows data which is the aggregate of all data till now or the data that is 28 days old. Apologies for the inconvenience !

[2017-06-20 19:23] MichaelKohler commented on #196
Wow, I would not have expected that to be 29 days.

I would say, let's keep this going as normal process and look back on the metrics in 3 months (would be great if we can save the data every month).

Rest of the council: please give tour thoughts here. If there are no concerns, I will update the wiki to list is as official project on the communication page indicating the responsible team. I will

[2017-06-20 21:23] MichaelKohler commented on #200
Added the updated graphic to https://docs.google.com/document/d/1-sc1H1irmH9MXF79abVYm-41XBV2iqUIfCjbJ1rOICM/edit . Council, please do a final review. I will publish tomorrow evening if there are no concerns.

[2017-06-21 09:22] couci commented on #200
LGTM

[2017-06-21 10:46] Mte90 commented on #187
The final report: https://docs.google.com/document/d/1K3QzFK1lWv6U1JiN9eXW1RDFAPEEO9fcMW2irevNzX0/edit#1

Probably will be improved in the next day with other reviews

[2017-06-21 10:46] #187 closed, assigned to Mte90

[2017-06-21 17:25] couci opened #201 "Agenda for the Council in All-Hands"
## Goal:
Have a tentative agenda for the council based on the priorities identified by the council members

## Docs:

## Roles:

Responsible: @couci

Accountable: @nukeador

Supporting: council

## Required:
- [x] Create a doc with the agenda based on @MichaelKohler slides (@couci , Due: June 22nd)
- [ ] Council gives feedback/adds more ideas  (council, Due: June 25th)

[2017-06-21 17:29] couci commented on #190
An idea is to add key stakeholders we need to send this to
@nukeador what do you have in mind

[2017-06-21 20:24] MichaelKohler commented on #200
Discourse placeholder: https://discourse.mozilla-community.org/t/repsnext-update-june-2017/16585

@couci please approve the blog post on WP so we can share this more broadly on Telegram and reps-general as well. I will update the discourse topic once done.

[2017-06-22 10:19] couci commented on #200
done :)

[2017-06-22 10:23] MichaelKohler commented on #200
https://blog.mozilla.org/mozillareps/2017/06/22/repsnext-status-update-june-2017/

Changed the topic in Discourse to include the link. Also sent  notification to reps-general and Telegram.

[2017-06-22 10:23] #200 closed, assigned to MichaelKohler

[2017-06-22 15:38] couci commented on #201
The agenda can be found [here](https://docs.google.com/document/d/1Lm6c9hp0-mwyVX27dN38oLDEpqfLkChHDs-DQI-JZK0/edit#heading=h.jsbjb5bl5hwu)
This is a tentative agenda based on the slides @MichaelKohler gave and discussions between @couci and @nukeador

At council members ( @Flore-mozfr @AlexLakatos @nukeador @Mte90 @fayetandog @aankitgadgil @elioqoshi @MichaelKohler )

[2017-06-22 18:49] couci commented on #180
Council [blogpost ready](https://docs.google.com/document/d/18LUxCk64ZT4hkfR6QN1_T5GpNv9MFmb-fgzcgPl80wo/edit), asking for feedback
@nukeador @ioana-chiorean let me know if you would like to change anything.
If there are no major flags I will publish tomorrow

[2017-06-22 21:46] MichaelKohler commented on #191
All applicants have been informed about the decisions and next steps. Thanks to the screening team!

[2017-06-22 21:46] #191 closed, assigned to MichaelKohler, Mte90

[2017-06-23 09:49] couci commented on #180
everything has happened, good to close this :)

[2017-06-23 09:49] #180 closed, assigned to nukeador, couci

[2017-06-23 10:23] MichaelKohler commented on #193
Let's go with the 3 experiments to be run in Q3. Do you agree?

[2017-06-23 10:26] couci commented on #193
I am ok with those however it's up to @AlexLakatos and @elioqoshi if they have time to lead those.

[2017-06-23 10:38] couci commented on #168
The blocker now is to get the few Reps we need to train. I will reach out to the Review Team for recommendations.

[2017-06-23 14:27] couci commented on #168
Review team will provide a least until the 27th

[2017-06-23 22:08] #178 closed, assigned to bobchao

[2017-06-23 22:08] #176 closed, assigned to bobchao

[2017-06-24 12:18] bittin commented on #185
Catching up with this months Reps Meetings now :)

On Sun, Jun 4, 2017 at 10:32 AM, Ioana Chiorean <notifications@github.com>
wrote:

[2017-06-26 08:15] elioqoshi commented on #193
Let's quickly catch up on this at the All-Hands

[2017-06-27 03:38] MichaelKohler opened #202 "Make Reps Applicant Vouch Request clearer"
## Goal:
When applying to Reps you can select "vouchees". We make it clear what is expected of these vouchees and what the vouch is for.

## Roles:
Responsible: @MichaelKohler
Accountable: Reps Council

## Required:
- [x] Find out where this is coming from (@MichaelKohler, Due: July 10th)
- [ ] Update text to reflect clearer request (@MichaelKohler, Due: July 12th)
- [ ] Update text of automated c

[2017-06-28 16:34] ioana-chiorean opened #203 "Leadership - Update wiki (as last action for the goal)"
## Goal:
The ReMo main page is updated to include a link to the Leadership resources.

## Related Issues & Links:
#189

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council

## Required:
- [ ] Update Main Wiki page (@MichaelKohler, Due: July 5th)

[2017-06-28 16:37] ioana-chiorean opened #204 "Onboarding - document the criteria"
Assignee: @ankitgadgil and @Mte90

## Goal:
Improve the criteria list for onboarding mozillians on the program

## Related Issues & Links:
* Criteria: https://docs.google.com/document/d/1rx-CWiziCdT3n0CzKKpmrq3Y4tr8nPf6aO4oRRwAJio/edit

## Roles:

Responsible:

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [x] Look the actual criteria on the wiki (owner, Due: Lug 1th)
- [x] Crea

[2017-06-28 16:43] ioana-chiorean opened #205 "Budgeting - Document where others are going instead of Bugzilla form so we can choose best option"
## Goal:
We have alternative for budget & swag management instead of Bugzilla.

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:

Responsible: @couci @kelimuttu

Accountable: @kelimuttu

Supporting:@couci, Reps Council

Consulted: Reps Council

Informed: CD Team

## Required:
- [ ] List of alternatives has been proposed

[2017-06-28 16:45] ioana-chiorean opened #206 "Update metrics face to the survey to be sent"
## Goal:
[One line goal description]

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:

Responsible:

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)

[2017-06-28 18:38] ioana-chiorean opened #207 "Feedback elections"
## Goal:
Find out what went well and what can be improved from these elections in order to prepare the next ones.

## Related Issues & Links:
* #114

## Roles:
Responsible: @ioana-chiorean
Accountable: @ioana-chiorean
Supporting:  Peers
Consulted:
Informed: Reps , Council & Peers

## Required:
- [x] Create [form](https://goo.gl/forms/ZWKblRySYjIUwLPD3) (owner, Due: Jul 1st)
- [x] Send out the form

[2017-06-28 18:38] ioana-chiorean opened #208 "Council Elections - Autumn 2017"
## Goal:
- Hold the council election in order to occupy the spots that are free after the term of one year is ending for:

🎓 @AlexLakatos
🎓 @MichaelKohler
🎓

## Success:
- The elections take place and we have _ new council members

## Related Issues & Links:
- Previous Elections #114, #15

## Roles:
Owner: @ioana-chiorean
Involved: @couci, Reps Peers
Informed: @nukeador

## Required:
- [x] Prepare

[2017-06-29 06:07] Mte90 commented on #204
The ideal roadmap:

* Look the actual criteria on the wiki
* Create a document with the new list of criteria
* Review that document
* For mozillians to check the description field and reminder for profiles with missing data

[2017-06-29 16:27] nukeador commented on #206
Context? I don't get what is this about, sorry.

[2017-06-29 18:52] MichaelKohler commented on #196
Thanks again, I've updated the https://wiki.mozilla.org/ReMo/Communication page.

[2017-06-29 18:52] #196 closed, assigned to MichaelKohler

[2017-06-29 18:54] MichaelKohler commented on #188
We currently have 9 new Reps to announce. For 2 more we are waiting for either a profile picture or a biography text. We will include this in the next newsletter.

[2017-06-30 01:01] MichaelKohler commented on #190
## Rep of the Month June
(I will sit together with Vigneshwer on Friday to draft the text, so we can publish it)

## Update about onboarding of new Council members
The new Council members have been on-boarded and are fully engaged in Council discussions. Welcome Ankit, Daniele, Elio, Faye! And welcome back Flore!

[Read more](https://blog.mozilla.org/mozillareps/2017/06/23/new-council-members-spri

[2017-06-30 16:06] Mte90 commented on #190
I have only a point, we talk about rain of rust as global campaign but I think that will be better say also what countries joined that campaign.
There is not a list of country that joined that campaign.

[2017-06-30 20:22] MichaelKohler opened #209 "Nuke to send recommendations coming out of the Mobilizers session"

[2017-06-30 20:22] #201 closed, assigned to couci

[2017-06-30 20:25] #188 closed, assigned to MichaelKohler

[2017-06-30 20:30] MichaelKohler opened #210 "Organize Sync Meeting with Patrick"

[2017-06-30 20:56] MichaelKohler commented on #190
![screen shot 2017-06-30 at 22 54 20](https://user-images.githubusercontent.com/330324/27753793-626ae0ce-5de7-11e7-8695-947c4683f782.png)

[2017-06-30 21:04] Mte90 commented on #203
Template updated: https://wiki.mozilla.org/Template:Remonav
The other pages are not updating (https://wiki.mozilla.org/ReMo) I don't know if it is for caching or we need to updated all the pages for the template but is done.

[2017-06-30 21:08] Mte90 commented on #202
I think that this one depends on #204

[2017-06-30 21:15] Mte90 commented on #204
I created a document: https://docs.google.com/document/d/1rx-CWiziCdT3n0CzKKpmrq3Y4tr8nPf6aO4oRRwAJio/edit

I already started to write few stuff to check later

[2017-06-30 21:25] MichaelKohler commented on #202
As the criteria is on the wiki and doesn't have anything to do with the reps application form, I don't think it is depending on #204. Let's tackle both separately to move forward.

[2017-06-30 21:32] MichaelKohler commented on #203
Let's check this in a few days and if it still doesn't work, let's figure out how we can circumvent the cache.

[2017-06-30 21:33] couci commented on #198
actions have been taken, this can be closed

[2017-06-30 21:33] #198 closed, assigned to couci

[2017-06-30 21:52] ioana-chiorean commented on #207
Form created and sent out!
Added it in the newsletter too.

[2017-06-30 22:06] MichaelKohler commented on #194
Current “Mentoring” documents to be updated to reflect Coaching
* ReMo/Mentors/SelectionProcess → to be incorporated directly in the Coaching wiki page
* ReMo/SOPs/Mentoring → maybe archive so we still have it and point to the Coaching wiki page?
* ReMo/SOPs/Mentoring/Orientation/Call → should be covered by the training material, not needed anymore for onboarding
* ReMo/SOPs/Mentoring_Training → o

[2017-06-30 22:08] ioana-chiorean opened #211 "Document Peers Role"
## Goal:
[One line goal description]

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:

Responsible:

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)

[2017-06-30 22:09] ioana-chiorean opened #212 "Update Peers body and wiki"
## Goal:
[One line goal description]

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:

Responsible:

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)

[2017-07-01 01:55] AlexLakatos commented on #190
sent!

[2017-07-02 20:21] MichaelKohler commented on #203
Works for me now, seems like a cache issue. Closing this now, thanks for doing this!

[2017-07-02 20:21] #203 closed, assigned to Mte90

[2017-07-03 14:48] MichaelKohler commented on #202
This text is automatically posted when using the application form. As we are not quite sure about the future of these forms, I'd love to get an answer for that first, before we make somebody change it. So this is depending on #205.

However, I will come up with a better text I can post when somebody files a new application, as I'm tracking those anyway.

[2017-07-03 14:49] MichaelKohler commented on #194
Faye will created a voting for the draft, so we could add those pages to the Wiki. Then we can continue with the communication once the training is on teachable. Will check with Konstantina about the status there.

[2017-07-03 14:50] MichaelKohler commented on #190
@AlexLakatos thanks! Could you also add the files to https://github.com/mozilla/Reps/tree/gh-pages/newsletter ? (same goes for the May one).

[2017-07-03 15:00] MichaelKohler commented on #197
Draft here: https://docs.google.com/document/d/1spJ_iOLGxsDYUUp6-5E_MAAvbnrmkU576rRrhANQteY/edit# (to be discussed)

[2017-07-03 18:24] MichaelKohler commented on #194
Council voting has been created: https://reps.mozilla.org/v/coaching-training-content/

[2017-07-03 18:24] MichaelKohler commented on #193
I think we should go with those 3, @AlexLakatos or @elioqoshi could you create a voting if in doubt?

Next step would then be to phrase hypothesis we can test during the experiment and document them on https://wiki.mozilla.org/ReMo/Communication to move forward.

[2017-07-04 16:54] thehashrocket opened #213 "No handlers could be found for logger "product_details""
Has anyone else ran into this error when trying to get the app running?

I've ran into this when setting it up using the python VirtualEnv and the Docker environment.

In VirtualEnv it happens when running the command: `./manage.py createsuperuser`, `./manage.py update_product_details` and `./manage.py loaddata demo_events`

In the Docker environment, it happens when I run `docker-compose run web

[2017-07-04 17:04] Mte90 commented on #213
This is the wrong repo, the right one for the portal is https://github.com/mozilla/remo/

[2017-07-04 17:04] #213 closed, assigned to nobody

[2017-07-04 17:05] Mte90 commented on #213
In any case for fix the issue: https://github.com/mozilla/remo/pull/1362

[2017-07-04 17:06] MichaelKohler commented on #213
the Remo repo doesn't have any issues on GitHub. So the other alternative would be https://bugzilla.mozilla.org/describecomponents.cgi?product=Mozilla%20Reps

[2017-07-04 17:10] thehashrocket commented on #213
I can confirm that @Mte90 's fix did work for Docker, that change made the difference.

[2017-07-04 17:41] MichaelKohler opened #214 "Write Summary for All Hands"
## Goal:
A summary for Council is written and (public) parts of this is communicated to Reps.

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @ioana-chiorean

## Required:
- [x] Create initial draft for review and additions (@MichaelKohler, Due: July 8th)
- [x] Review and add things to draft (Council, Due: Aug 7th)
- [x] Create public version of this summary and publi

[2017-07-04 17:57] Mte90 commented on #214
Doc in progress: https://docs.google.com/document/d/19k0jXJa1mopz2rTVmFNEurcv5zk3n5okFD9w58UbFw0/edit

[2017-07-04 18:21] Mte90 commented on #214
Actually is closed because we need to see what is under NDA etc.
Contain few points that I remember and we need to aggregate the notes that we written and a write a blogpost style.

[2017-07-04 20:26] elioqoshi commented on #193
I'd be happy to go ahead with these. How do you think should the weekly meeting involvement be like? Should we add something to the Wiki page of each meeting or should someone from us present it every week? Latter is doable, but needs some commitment

[2017-07-05 17:19] fayepal commented on #194
Updated the working document with the planning of the Coaching Practice Week

[2017-07-06 07:33] MichaelKohler commented on #193
I think we don't need weekly engagement. Monthly presentations should be fine and we can take the content of the newsletter for this. If we want to send out an update in between those, non-verbal updates on the wiki should be fine.

[2017-07-06 21:16] Mte90 commented on #214
Slides recap of today https://docs.google.com/presentation/d/1ERRvcwQDENLX0NybDL4Ytu-Vt7pNiDmCLYU9Y1724Ho/edit#slide=id.p

[2017-07-07 09:36] couci commented on #214
Should we also write a small blog about this?

[2017-07-07 10:58] MichaelKohler commented on #214
I think that would be a good idea.

[2017-07-07 13:26] Mte90 commented on #214
The idea of the doc in progress was to write a report with all the stuff we added.
I am not sure if I can work on that this days.

[2017-07-07 13:29] MichaelKohler commented on #214
Let's gather all the info, split it up in different topics, write sentences and then break it down to public/not-public and we can publish the result ;)

[2017-07-08 09:37] Mte90 commented on #214
We already gather the info. I will try to start write in the same document the blogpost

[2017-07-08 15:41] Mte90 commented on #214
I written a first version but is not very long

[2017-07-10 15:33] MichaelKohler commented on #194
We have agreed on the Wiki pages content. Next steps:

* Update the pages on the wiki according to the draft
* Write the announcement
* Put everything on teachable
* Send out the announcement

I've changed the deadlines accordingly.

(See comment 0 for responsibilities)

[2017-07-10 16:21] Mte90 opened #215 "Clean up Mentorship Bugzilla component"
## Goal:
Clean the queue from old tickets from ticket without actions, close application of reps already joined in the program etc.

## Related Issues & Links:
All the pending requests: https://bugzilla.mozilla.org/buglist.cgi?product=Mozilla%20Reps&component=Mentorship&resolution=---&list_id=13668340
The pending requests not assigned to @MichaelKohler and not in pending: https://bugzilla.mozilla.

[2017-07-10 16:45] MichaelKohler commented on #194
Moving this to "Council Feedback Needed" for an initial brainstorming on how the Practise Week might look like.

[2017-07-10 16:46] MichaelKohler commented on #168
@couci is there an update on this so we can test it and move forward?

[2017-07-10 18:19] MichaelKohler commented on #154
I will do an initial screening of the reports this evening. Will come back with a recommendation in case there are discussions to be had. For clear cases, I will directly finish their Orientation Period and officially welcome them to the Reps program (as we have done previously from the mentor side).

[2017-07-10 21:48] MichaelKohler commented on #154
This is done.

[2017-07-10 21:48] #154 closed, assigned to MichaelKohler

[2017-07-10 21:48] MichaelKohler commented on #161
As we are onboarding continually now, we will have screenings monthly and a regular basis. Therefore I'm closing this.

[2017-07-10 21:48] #161 closed, assigned to MichaelKohler

[2017-07-11 09:35] couci commented on #154
For the people that have passed the orientation period, can we send the list to @kelimuttu so we open reps packs requests on their behalf?

[2017-07-11 09:46] MichaelKohler commented on #154
This info can be found in the tracking sheet in the "Closed - Orientation Period Finished" sheet.

[2017-07-11 09:49] couci commented on #168
yes we have a list of 8 people should we minimize it or the number of 8 is ok? (btw 8 are nominated not sure if all of them will be up for it)

[2017-07-11 09:59] MichaelKohler commented on #168
Sounds good, let's go with those.

However, not sure why you closed this issue. Reopening.

[2017-07-11 13:23] couci commented on #168
Sorry about that. Here is the timeline I am proposing:
- [x] first review of the initial content (@kelimuttu Due: July 14th)
- [x] Draft for comms to the 8 nominees (@couci Due: July 12th)
- [x] Update training timeline on wiki (@couci, @kelimuttu Due: July 14th)
- [x] Nominees are getting communicated (@couci, @Flore-mozfr Due: July 14th)
- [x] Nominees have replied (Due: July 18th)
- [x] Trainin

[2017-07-11 13:27] MichaelKohler commented on #168
Quick clarification question, we had two different options last we taked about it. Is this the "evaluation of training content only" variant or the "this is an official training for feedback and these Reps will be officially part of the Resources track" variant?

Regarding timeline, I completely agree.

[2017-07-11 13:29] couci commented on #168
I am open with both based on the nominations we have, let's bring that to the council meeting

[2017-07-11 13:35] MichaelKohler opened #216 "Reps Applications Screening Round - Week of July 10th"
## Goal:
3 new applicants to the Reps programm are screened by a group of screeners and are responded back with our decision/questions that are open.

**Note:** We did a small experiment with a screening group consisting of 4 persons (Council and non-Council). As this was quite successful, we decided to continue like this until we will discuss about this further in Q3.

## Related Issues & Links:

[2017-07-11 17:25] MichaelKohler opened #217 "Add stakeholders to the Newsletter"
## Goal:
Major stakeholders to the Reps program are added to the Newsletter recipients.

## Roles:

Responsible: @couci
Accountable: Reps Council
Supporting: @elioqoshi @AlexLakatos

## Required:
- [ ] List of stakeholders to add is created (@couci, Due: July 25th)
- [ ] New recipients get the newsletter (@AlexLakatos, Due: July 30th)

[2017-07-12 04:51] kelimuttu commented on #205
Just found [this](https://github.com/Kickball/awesome-selfhosted#money-budgeting-and-management).Haven't explore all of them, but can be a good reference. Tho' most of them will require technical maintenance (don't know if that will be possible).

[2017-07-12 09:48] Mte90 commented on #205
I suggest during all hands: http://limesurvey.org/

I think that to find what is the best alternative is better to define a list about what we need because maybe for us is enough a ticket system very powerful or only a survey.

[2017-07-12 11:03] MichaelKohler commented on #215
Following actions are being taken:

1) Applicant is an active Rep for at least 6 months -> close application bug if there is nothing indicating that the Orientation Period was extended
2) Applicant is active Rep is in Orientation Period (less than 6 months) -> write and ask for update on bug
3) Applicants that joined in the Webinar groups -> leave up to @MichaelKohler
4) Applicants that are now Re

[2017-07-12 15:45] #175 closed, assigned to Srushtika

[2017-07-12 15:52] #174 closed, assigned to Srushtika

[2017-07-12 15:52] #173 closed, assigned to Srushtika

[2017-07-12 16:02] MichaelKohler commented on #215
Done!

[2017-07-12 16:02] #215 closed, assigned to Mte90

[2017-07-12 16:05] #172 closed, assigned to Srushtika

[2017-07-12 16:53] couci commented on #168
I've added a small section under Budget Training in [here](https://docs.google.com/document/d/1ZbS7L1PhduENa_CgNRv7zmzFC3hPKJhYu8uh_W8tKQI/edit#)
@Flore-mozfr @kelimuttu please review so I can upload the wiki

[2017-07-12 17:26] couci commented on #168
Doc for comms is [here](https://docs.google.com/document/d/1l4ZHM8TzK6fRga311kSXs0VcdiZgn9TqrXn-G5F4uIE/edit) Currently only view mode
@Flore-mozfr @kelimuttu please review

[2017-07-12 18:10] MichaelKohler commented on #194
Wiki pages are published (but please note, currently the training is not open yet):

https://wiki.mozilla.org/ReMo/Coaching
https://wiki.mozilla.org/ReMo/Coaching/Training

@couci for Teachable, here are the different sections to add

**Listening to others:** http://deimidis.github.io/community_curriculum/index.html#three-levels-of-listening
**Giving feedback:** http://deimidis.github.io/community

[2017-07-13 13:15] couci commented on #168
I wrote about [the workflow and the comms that will go out during the training](https://docs.google.com/document/d/189ppyoTHXqnJeSG0aJZf4N_v10TfVs75eKwHEWY-lIM/edit#heading=h.vzh2lnc3rpx1)
Please review

[2017-07-13 14:08] couci commented on #168
Email sent to potential testers

[2017-07-13 14:53] kelimuttu commented on #168
Put some minor suggestions on the doc. Thanks, K

[2017-07-13 15:54] couci commented on #168
wiki has been updated

[2017-07-17 09:13] couci commented on #194
cool, quick q is there an introduction you would like to put in the beginning of the lesson?

[2017-07-17 09:18] MichaelKohler commented on #194
Good question, what about the intro we use on the wiki page?

[2017-07-17 09:36] kelimuttu commented on #168
As I tried Teachable system last week, there's no way for the teacher to see how much the participants scored on the quiz. So I think we need to ask the participant to screenshot their result and bring it on the weekly meeting.

[2017-07-17 10:15] couci commented on #168
Thanks @kelimuttu I will change our comms emails accordingly. Let's wait about people replies until the 18th, to move this forward

[2017-07-17 16:25] Srushtika opened #218 "Submit your "Reps group picture" for the fb cover !"
## Goal:
To pick a new cover picture for the Reps fb page. The current one is four years old !

## Related Issues & Links:
 [Reps FB Page](https://www.facebook.com/MozillaReps/)

## Roles:

Responsible: @Srushtika
Consulted: @couci

## Details:
If you have any pictures of a group of reps and you think it would look great as the cover picture of the Facebook page, please submit them on this issue !

[2017-07-17 18:03] MichaelKohler commented on #216
All 3 applicants screened, two were accepted and for one we asked for more information as the application was already quite old (and fell through the cracks before).

[2017-07-17 18:03] #216 closed, assigned to MichaelKohler, Mte90

[2017-07-18 05:43] MichaelKohler commented on #197
The initial draft is done, but we will need to define Activate and Mobilizers depending on the CDT goals. I've updated the timeline accordingly. Ankit will represent us in the CDT OKR process. Once this is done, we can adapt our OKRs and communicate them.

[2017-07-18 05:45] MichaelKohler commented on #190
@AlexLakatos quick ping here

[2017-07-18 05:47] MichaelKohler commented on #193
@elioqoshi could you please create new issues for each of those experiments so we can move ahead with those? Each issue should have "phrase hypothesis and document on ReMo/Communications" as first step.

[2017-07-18 05:57] MichaelKohler commented on #218
Great idea! I think it would make sense to post a Discourse topic for this? Not sure how many people actually see these GitHub issues ;)

[2017-07-18 05:59] MichaelKohler commented on #130
@dvigneshwer what is the status here?

[2017-07-18 06:00] MichaelKohler commented on #205
@kelimuttu @couci could one of you edit the initial description to include the goals, responsible persons, and tasks?

[2017-07-18 06:49] Srushtika commented on #218
Done @MichaelKohler ! Discourse post link, [here](https://discourse.mozilla-community.org/t/submit-your-reps-group-picture-for-the-fb-cover/17167) !

[2017-07-18 10:54] elioqoshi commented on #218
Did we do any Reps photos at the last All-Hands? Anything from this year or past year?

[2017-07-18 17:27] MikkCZ commented on #218
There were some pictures of (mostly) Reps groups from the May '16 European gathering in Berlin, but I am no longer in the Telegram group and no idea, where it ended. @brianking, @deimidis or @KaiRo-at may know or have it.

[2017-07-18 18:03] MichaelKohler opened #219 "Reps Applications Screening Round - Week of July 24th"
## Goal:
All open and ready applications are screened and informed.

Note: We did a small experiment with a screening group consisting of 4 persons (Council and non-Council). As this was quite successful, we decided to continue like this until we will discuss about this further in Q3.

## Related Issues & Links:
#141
#169
[Application Screening Sheet ](https://docs.google.com/spreadsheets/d/1xA-io

[2017-07-18 20:25] ioana-chiorean opened #220 "Reps Weekly Call - July 20th, 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #
➡️ #221

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioa

[2017-07-19 11:57] ioana-chiorean commented on #214
@MichaelKohler which is the best place to share the pictures and the docs?

[2017-07-19 12:00] MichaelKohler commented on #214
I'd say https://drive.google.com/drive/u/0/folders/0B7SARrfAaErwRXdNNDUzMWxVaEU (this is within the Council folder, therefore not public).

[2017-07-19 12:04] ioana-chiorean commented on #206
Was one of the follow up from the Goals check. I do not have any other.

[2017-07-19 12:04] #206 closed, assigned to nukeador

[2017-07-19 12:39] ioana-chiorean commented on #214
Done - Thanks!

[2017-07-19 12:48] ioana-chiorean commented on #218
MozFest and the Gatherings should have nice group pictures.

[2017-07-19 13:18] ioana-chiorean commented on #165
Notes up! https://discourse.mozilla-community.org/t/weekly-call-27-04-2017-special-activate-call/15275/3
:tada: :sweat_smile:

[2017-07-19 13:18] #165 closed, assigned to ioana-chiorean, couci

[2017-07-19 13:33] ioana-chiorean commented on #166
Notes up! :sweat_smile: :tada:
https://discourse.mozilla-community.org/t/weekly-call-04-05-2017/15409/2

[2017-07-19 13:33] #166 closed, assigned to ioana-chiorean, couci

[2017-07-19 13:47] ioana-chiorean commented on #167
Notes up :tada: :sweat_smile:  - https://discourse.mozilla-community.org/t/weekly-call-11-05-2017/15542/2

[2017-07-19 13:47] #167 closed, assigned to ioana-chiorean, couci

[2017-07-19 14:15] ioana-chiorean commented on #182
Notes are up. :tada:  :sweat_smile:  - https://discourse.mozilla-community.org/t/weekly-call-25-03-2017-special-call/15847/3

[2017-07-19 14:15] #182 closed, assigned to ioana-chiorean, couci

[2017-07-19 23:35] MichaelKohler commented on #214
I've changed a few things, formatted it and added pictures. @Mte90 could you have another look? Also, could another person from Council do a review as well so we can publish by the beginning of next week?

Draft: https://docs.google.com/document/d/19k0jXJa1mopz2rTVmFNEurcv5zk3n5okFD9w58UbFw0/edit# (not public, as this recap document also includes confidential info)

[2017-07-20 09:31] Mte90 commented on #214
For me it's fine!

[2017-07-21 12:34] ioana-chiorean commented on #220
Notes are up -  https://discourse.mozilla-community.org/t/weekly-call-20-07-2017/17237/3
Trying to keep things tidy and clean! :tada:

[2017-07-21 12:34] #220 closed, assigned to ioana-chiorean

[2017-07-21 12:36] ioana-chiorean opened #221 "Reps Weekly Call - July 27th, 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #220
➡️ #233

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-07-21 13:04] ioana-chiorean commented on #184
Notes are up - https://discourse.mozilla-community.org/t/weekly-call-08-06-2017/16156/2
:tada:  :sweat_smile:

[2017-07-21 13:04] #184 closed, assigned to ioana-chiorean, couci

[2017-07-21 13:24] ioana-chiorean commented on #186
Notes are up - :tada: :sweat_smile: https://discourse.mozilla-community.org/t/weekly-call-22-06-2017/16609/2

[2017-07-21 13:24] #186 closed, assigned to ioana-chiorean, couci

[2017-07-21 13:29] ioana-chiorean commented on #185
Notes are up - :tada: :sweat_smile: https://discourse.mozilla-community.org/t/weekly-call-15-06-2017/16331/2

[2017-07-21 13:29] #185 closed, assigned to ioana-chiorean, couci

[2017-07-21 13:50] ioana-chiorean opened #222 "Post Meetings notes and clean Github Reps Call issues"
## Goal:
- Post all the weekly reps call's meeting notes
- Clean up the Github issues related to them

## Meetings
- [x] #153 - Reps Weekly Call - April 6th, 2016 - [notes](https://discourse.mozilla-community.org/t/weekly-call-06-04-2017/14857/2?u=ioana)
- [x] #156 - Reps Weekly Call - April 13th, 2016 - [notes](https://discourse.mozilla-community.org/t/weekly-call-13-04-2017/15034/2)
- [x] #160 -

[2017-07-21 13:59] ioana-chiorean commented on #222
All notes are up.
All github issues close.

Have a great weekend everyone!

[2017-07-21 13:59] #222 closed, assigned to ioana-chiorean

[2017-07-21 22:45] MichaelKohler commented on #202
As our Reps application "request for vouch" is not clear enough what the vouch is actually for, I came up with the following. I'm not 100% happy with it, so I'd love to get feedback from @Mte90 and @emmairwin :)

Sorry for the poor formatting.. :(

[2017-07-22 14:36] Mte90 commented on #202
[code]

Maybe change the first 3 phrase with this one

[2017-07-22 14:37] MichaelKohler commented on #202
I'm not sure I understand this request :/

[2017-07-24 13:16] MichaelKohler opened #223 "Send out July Newsletter"
## Goal:
The newsletter for July is sent.

## Roles:
Responsible: @AlexLakatos
Accountable: Reps Council
Supporting: @elioqoshi
Informed: All Reps

## Required:
- [x] Initial ideas have been gathered (@AlexLakatos, Due: July 25th)
- [x] Final set of content is decided on (@AlexLakatos, Due: July 27th)
- [x] Test newsletter is sent for verification through Council (@AlexLakatos, Due: July 29th)
- [

[2017-07-24 13:20] MichaelKohler commented on #223
As always, some ideas:

* Reps of the Month - July
* Announce new Reps that joined recently
* Status on [Reps Resources track](https://discourse.mozilla-community.org/t/reps-resources-first-training/17208)
* Facebook cover picture - [request for ideas](https://discourse.mozilla-community.org/t/reps-resources-first-training/17208)
* Monthly Roundup
  * Weekly Call / Council Call Notes

Do we have a

[2017-07-24 13:27] MichaelKohler opened #224 "Add new Reps to "New Reps" website"
## Goal:
All newly on-boarded Reps are listed on http://mozilla.github.io/Reps/newreps/ .

## Related Issues & Links:
http://mozilla.github.io/Reps/newreps/

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council

## Required:
- [x] New Reps are added to the website (@MichaelKohler, Due: July 27th)
- [x] Screenshot for Newsletter is done (@MichaelKohler, Due: July 28th)
- [x] All missing

[2017-07-24 21:09] MichaelKohler commented on #214
* Published on Discourse https://discourse.mozilla-community.org/t/council-at-the-san-francisco-all-hands/17358 and sent to reps-general and Telegram
* Submitted blog post on the blog for review

@couci once you have approved this blog post, you can close this issue. Thanks!

[2017-07-24 21:17] MichaelKohler opened #225 "Add new Reps to reps-general"
## Goal:
All new Reps are added to reps-general.

## Related Issues & Links:
Tracking sheet: https://docs.google.com/spreadsheets/d/16nAeQ8Sr0Zx7FHKl1gjmtddVvZxaAJGLb_4YuHMpvsQ/edit#gid=0 (private for a reason ;))

## Roles:
Responsible: @couci
Accountable: Reps Council

## Required:
- [x] All Reps are added to reps-general (@couci, Due: Aug 1st)

[2017-07-24 22:01] MichaelKohler commented on #190
as discussed with Laka, he will be posting it to GitHub with the July one (https://github.com/mozilla/Reps/issues/223)

[2017-07-24 22:01] #190 closed, assigned to AlexLakatos

[2017-07-24 22:09] MichaelKohler commented on #224
I've added all new Reps and contacted those with missing information

[2017-07-25 10:04] kelimuttu opened #226 "Reps resources feedback are gathered and improvement are made based on it"
## Goal:
Gather feedback from resources rep training. And actions are taken based on the feedback.

## Related Issues & Links:
#168

## Roles:
Responsible: @kelimutu
Accountable: Reps Review team
Supporting: @couci

## Required:
- [x] Gather feedback in a doc (@kelimuttu)
- [x] Action items are defined based on the feedback (@kelimuttu)
- [x] Improvement are made based on the action item (@kelimut

[2017-07-25 10:05] kelimuttu commented on #226
The doc is ready [here](https://docs.google.com/document/d/17lgOU6x7-j5HPZ9dIOnFDP9L6HIxX6-fi7D2IXTTmmY/edit?usp=sharing)

[2017-07-25 11:06] couci commented on #214
Published @MichaelKohler https://blog.mozilla.org/mozillareps/2017/07/25/council-at-the-all-hands-in-san-francisco/

[2017-07-25 11:08] MichaelKohler commented on #214
Thank you!

[2017-07-25 11:08] #214 closed, assigned to MichaelKohler, Mte90

[2017-07-25 11:44] ioana-chiorean commented on #223
Reminder of call to actions:
- apply to MozFest
- #RepsMoment cc @Srushtika

[2017-07-25 12:48] Srushtika commented on #223
Thanks @ioana-chiorean !
Others- For the context, I'm linking the [initial post](https://discourse.mozilla-community.org/t/reps-moments-are-here/14398) about #RepsMoments. It would be great if you could include a reminder to use the hashtag, in the next issue of the newsletter !

Thanks.

[2017-07-25 15:28] MichaelKohler opened #227 "Check Onboarding Period status for end of July"
## Goal:
Evaluate the reports and activities of 9 Reps whose Orientation Period finishes at the end of July.

## Links:
Webinar Tracking Sheet: https://docs.google.com/spreadsheets/d/16nAeQ8Sr0Zx7FHKl1gjmtddVvZxaAJGLb_4YuHMpvsQ/edit#gid=1047320467 (private to Council as this contains information about applicants)

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @Mte90

[2017-07-25 17:20] MichaelKohler commented on #197
Ankit is owning this.

[2017-07-25 17:23] elioqoshi commented on #193
Sorry, I missed this. Will make sure to get this done within this week.

[2017-07-25 17:33] MichaelKohler commented on #204
As Daniele is busy this week, I'll publish this.

[2017-07-25 17:45] MichaelKohler commented on #193
Filing new issues per communication experiment is the last step here, so this issue here can be closed once this is done.

[2017-07-25 18:02] MichaelKohler commented on #194
@fayetandog and I will come up with a full proposal regarding the Practise Week.

In the mean time, the next step is to put this on teachable.

[2017-07-25 19:26] MichaelKohler commented on #204
Published on https://wiki.mozilla.org/ReMo/Application_Process/Selection_Criteria and added a short Discourse topic: https://discourse.mozilla-community.org/t/reps-application-criteria-updated/17387

[2017-07-25 19:26] #204 closed, assigned to MichaelKohler, Mte90

[2017-07-26 10:11] couci commented on #225
All pending Reps have been added, spreadhseet has been updated

[2017-07-26 10:24] MichaelKohler commented on #225
Great, thanks!

[2017-07-26 10:24] #225 closed, assigned to couci

[2017-07-26 10:42] couci commented on #194
@kelimuttu and I will take care of the Teachable part. Estimated delivery: August 3rd

[2017-07-26 12:21] Mte90 commented on #227
there is a link for that list of reps?

[2017-07-26 12:29] MichaelKohler commented on #227
This is in our cohort tracking sheet. Added the link in the description.

[2017-07-26 18:54] MichaelKohler opened #228 "Publish RoM for July"
## Goal:
The RoM for July is published.

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @couci @ioana-chiorean

## Required:
- [x] Let Mentor write a text about RoM (@MichaelKohler, Due: July 26th)
- [x] Finalize text (@MichaelKohler, Due: July 29th)
- [x] Publish blog post, discourse, reps-general and Telegram (@MichaelKohler, Due: July 31st)

[2017-07-27 05:04] Faisalaziz opened #229 "Short video from reps applicant"
Hi Council/Peers,

I was thinking if we can make mandatory for reps applicant to post a short video explaining why they want to become a rep? Just like council candidates applicant will explain his goals , track and reason why he is applying for program. This would help in screening moreover if we make it public it will help in better outreach. Looking forward for your suggestions.

[2017-07-27 09:28] MichaelKohler commented on #229
Hi Faisal

Thanks for filing an issue for this idea. I would like to keep this here as a tracking bug and start a discussion around this on Discourse. Would you mind posting this idea to the Discourse thread so we can discuss it more broadly?

https://discourse.mozilla-community.org/t/reps-application-criteria-updated/17387

Thanks again,
Michael

[2017-07-27 13:04] elioqoshi opened #230 "[Experiment] implement automated tweets from GitHub repository issues"
## Goal:
Use https://github.com/mozillach/gh-projects-content-queue/commits/master for @mozillareps tweets (automated tweets from GitHub repository issues)

## Related Issues & Links:
[Reference meta issues and past issues] #193

## Roles:

Responsible: Elio Qoshi

Accountable: Reps Council

Supporting: Michael Kohler

Consulted:

Informed:

## Required:
- [ ] Phrase hypothesis and document experi

[2017-07-27 13:12] elioqoshi opened #231 "[Experiment] Include Reps update in the Weekly Project Meeting"
## Goal:
Have updates ready to include in the Weekly Project Call. Compile the updates at the Reps Council meeting the week before.

## Related Issues & Links:
[Reference meta issues and past issues] #193

## Roles:

Responsible: Elio Qoshi

Accountable: Reps Council

Supporting:

Consulted:

Informed:

## Required:
- [ ] Phrase hypothesis and document experiment on Wiki

[2017-07-27 13:21] elioqoshi opened #232 "[Experiment] Determine best timing for Reps call and change if necessary"
## Goal:
Currently the time of the Reps call is problematic for some reps in various regions who are rarely able to join. We should determine a best timing for the Reps call and change it if necessary.

## Related Issues & Links:
[Reference meta issues and past issues] #193

## Roles:

Responsible: Elio Qoshi

Accountable: Reps Council

Supporting:

Consulted:

Informed:

## Required:
- [ ] Phrase

[2017-07-27 13:22] elioqoshi commented on #232
We can create a big Doodle and ask Reps when it's most suitable for them so we can see what would work best. We might also come to the conclusion that we can have 2 different times for the Reps call alternating maybe?

[2017-07-27 13:23] elioqoshi commented on #193
Done.

[2017-07-27 13:23] #193 closed, assigned to AlexLakatos

[2017-07-27 18:41] MichaelKohler commented on #224
This is almost ready, I'm just waiting for a profile picture update from one new Rep.

[2017-07-28 08:15] ioana-chiorean opened #233 "Reps Weekly Call - August 3rd, 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #221
➡️ #240

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-07-28 09:05] ioana-chiorean commented on #221
Notes are up! https://discourse.mozilla-community.org/t/weekly-call-27-07-2017/17440/2
🎉  ⏩  ⌛️

[2017-07-28 09:17] ioana-chiorean commented on #233
Agenda skeleton is ready: https://public.etherpad-mozilla.org/p/remo-call-03-08-2017
Reps event is ready: https://reps.mozilla.org/e/remo-call-03-08-17/
\o/

[2017-07-28 10:44] MichaelKohler commented on #194
@couci @fayetandog we currently have a "Coaching" subcategory in Discourse. This is currently private, and I would like to not expose the content of that. However, we will need a category for the narratives. Should we just request a new subcategory "Coaching Training"?

[2017-07-28 10:46] MichaelKohler commented on #194
Addition: the wiki currently states to post a reply to an existing topic, but I think this might get very crowded. I think a new category would be better. Thoughts?

[2017-07-28 11:03] MichaelKohler commented on #228
Published on the Portal, Discourse (https://discourse.mozilla-community.org/t/rep-of-the-month-july-2017/17474), reps-general and Telegram.

@couci blog post is submitted for review and publication

[2017-07-28 11:04] Mte90 commented on #232
Uhm in other community I saw that they do like for a month in a specific time and the next change.
Maybe for us is not the best option but we can do as example 1st and 3rd week of the month at 16 utc and 2nd and 4nd week at 20 utc in that way we can have periodic reps call for different timezones

[2017-07-28 11:05] Mte90 commented on #231
Actually I was doing by myself because I was the person that was representing the council during the call, so maybe we can do that the guy that represent the council in the call have to do that.
For that I was checking the ticket closed here during the last week, the most recent threads on discourse and something from the council meeting

[2017-07-28 11:08] couci commented on #194
I think subcategory is a good idea

[2017-07-28 11:13] couci commented on #228
done: https://blog.mozilla.org/mozillareps/2017/07/28/rep-of-the-month-july-2017/

[2017-07-28 11:14] MichaelKohler commented on #228
Thanks!

[2017-07-28 11:14] #228 closed, assigned to MichaelKohler, ioana-chiorean, couci

[2017-07-28 11:53] nukeador opened #234 "[Experiment] Weekly post top topics from Reps discourse to reps-general (and maybe others)"
## Goal:
Make sure that people that just read reps-general is aware of the latest conversations on Reps discourse

## Related Issues & Links:
 * [Link to json with the top topics of the last week](https://discourse.mozilla-community.org/c/reps/l/top/weekly.json)
* Matching pattern is ``https://discourse.mozilla-community.org/t/ + SLUG + /ID/``

## Roles:

* Responsible:
* Accountable:
* Supporting

[2017-07-28 16:41] MichaelKohler opened #235 "Add missing Reps to mzl.la/howwasit"
## Goal:
Add all missing Reps to mzl.la/howwasit. If I remember correctly, I told Kiki to take the list from the "Onboarding completed" column, therefore not including people in the orientation period. My fault, need to fix this :)

## Related Issues & Links:
mzl.la/howwasit

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council

## Required:
- [x] All missing Reps are added (@MichaelKo

[2017-07-28 18:37] MichaelKohler commented on #235
All done!

[2017-07-28 18:37] #235 closed, assigned to MichaelKohler

[2017-07-28 18:47] MichaelKohler commented on #224
This is done!

[2017-07-28 18:47] #224 closed, assigned to MichaelKohler

[2017-07-28 18:48] MichaelKohler commented on #202
@Mte90 could you elaborate on what you meant?

[2017-07-28 21:52] MichaelKohler commented on #227
This is done! There are two applications left, but those are assigned to "real" mentors already, so it's their responsibility to finish the orientation period. I've left a comment on the bug as a reminder for those.

@Mte90 I didn't have any questions, so I didn't contact you. :)

[2017-07-28 21:52] #227 closed, assigned to MichaelKohler, Mte90

[2017-07-28 22:44] MichaelKohler opened #236 "Review Onboarding process for D&I"
## Goal:
Currently we for example only have a dropdown "Male/Female/Other" in the application process. While compiling the new list of Reps for this month, I've noticed that we have quite a few persons who selected "female" on the form. For this month the ratio is 1/3. This made me think on how we could improve our whole onboarding process to better include D&I principles. One thing here might be

[2017-07-29 13:45] Mte90 commented on #202
My suggestion was to simplify the text message with less text and replace the first 3 phrases with my version.

[2017-07-31 10:46] MichaelKohler commented on #219
3 out of 4 are informed about our decision. For the 4th person we need to come up with a better text to explain how this person can improve.

[2017-07-31 11:13] MichaelKohler commented on #219
Done, thanks to everyone involved!

[2017-07-31 11:13] #219 closed, assigned to MichaelKohler, Mte90

[2017-07-31 12:16] MichaelKohler commented on #202
Talked to Daniele, we will go with what is now documented on https://wiki.mozilla.org/ReMo/SOPs/Joining#Screening_applications for now. We can still adapt if this is not effective.

[2017-07-31 12:16] #202 closed, assigned to MichaelKohler

[2017-08-01 10:43] kelimuttu opened #237 "Recognition for volunteer outside Reps"
## Goal:
Provide an official recognition system within the Reps for volunteer outside the program.

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:

Responsible: @couci

Accountable: @couci

Supporting: @kelimuttu

## Required:
- [ ] Bring the topic to the Council meeting
- [ ] A new recognition system has been proposed
- [ ] The proposed system has been approved by

[2017-08-01 10:47] Mte90 commented on #237
Uhm very interesting!
I think that we have a lot to discuss for that!

[2017-08-01 11:44] kelimuttu commented on #194
Course has been made in Teachable, but isn't public yet. @couci can you review it?

[2017-08-01 12:22] MichaelKohler commented on #194
Thanks Kiki! I've just requested a subcategory for Discourse as well: https://bugzilla.mozilla.org/show_bug.cgi?id=1386217

[2017-08-01 15:07] couci commented on #194
this looks great, just a note: I would advice it to change it from Coaching for Mozillians to Coaching training for Mozilla Reps Mentors so it's crystal clear what it is about

[2017-08-01 16:10] kelimuttu commented on #237
@Mte90 feel free to write it down here if you have any suggestions or ideas in mind..

[2017-08-01 16:27] kelimuttu commented on #194
Revised the title on Teachable

[2017-08-01 18:31] Mte90 commented on #237
I think that is something to define with the other programs that can have their way or solution for that so will be easily to create conflict.
So my idea for us will be for mozillians (that have the profile and also at least a vouch) that joined an event (or organized one with the help of a rep, rep have their way of recognize: ROM, the letter (only on 2015)).
Next we need to find a way to list th

[2017-08-02 05:34] Faisalaziz commented on #237
I believe we can have some inputs from Alex lakatos on this as he was engaged in recognition and had some words with foundation people.
I am too interested in this topic and would like to provide some suggestions on this.
•	Initiation
o	Recognition can be initiated by Reps, Staff or a cohort members
o	Could be a Privilege for filing self-recognition.
•	Filing
o	Need a template describing why an in

[2017-08-02 06:23] Faisalaziz commented on #229
Thanks @MichaelKohler , I'll post it tonight.

[2017-08-02 08:27] satvikmaker commented on #224
All new reps are here? From the earlier batch? I find few of us missing, including me :)

[2017-08-02 08:29] MichaelKohler commented on #224
Who is missing apart from you? This should include everyone.

You are missing as you don't have a profile yet. For that, refer to our mail thread ;)

[2017-08-02 08:41] satvikmaker commented on #224
Yes Michael, got it. Have updated the status. I'm waiting for it.

[2017-08-02 16:05] MichaelKohler commented on #223
**Reps of the Month - July**
see https://blog.mozilla.org/mozillareps/2017/07/28/rep-of-the-month-july-2017/

**New Reps who joined in June/July**
We are happy to announce 10 new Reps and 2 Reps coming back from Alumni! Welcome!

![screen shot 2017-08-02 at 18 04 32](https://user-images.githubusercontent.com/330324/28882945-14523bb4-77ad-11e7-8545-baa238efc41a.png)

[Read more](http://mozilla.gith

[2017-08-03 10:51] ankitgadgil commented on #197
The OKRs have been shared with the Open Innovation Team via email.

[2017-08-05 18:41] MichaelKohler opened #238 "Reps Applications Screening Round - Week of August 7th"
## Goal:
All open and ready applications are screened and informed. For this week, this is one application.

Note: We did a small experiment with a screening group consisting of 4 persons (Council and non-Council). As this was quite successful, we decided to continue like this until we will discuss about this further in Q3.

## Related Issues & Links:
#141
#169
[Application Screening Sheet ](https

[2017-08-07 06:52] MichaelKohler commented on #238
Update: over the weekend we got 3 more applicants that have filled out the application and got references. We will screen those as well.

[2017-08-08 19:12] ioana-chiorean commented on #221
Tweets were scheduled by @couci 🎉  Thank you miss!

[2017-08-08 19:12] #221 closed, assigned to ioana-chiorean, couci

[2017-08-08 20:34] MichaelKohler opened #239 "Add new Reps to reps-general"
## Goal:
Currently there are 6 Reps that are not yet on reps-general.

## Related Issues & Links:
[Cohort tracking sheet](https://docs.google.com/spreadsheets/d/16nAeQ8Sr0Zx7FHKl1gjmtddVvZxaAJGLb_4YuHMpvsQ/edit#gid=0) - private for a reason

## Roles:

Responsible: @couci
Accountable: Reps Council

## Required:
- [x] Add Reps to reps-general (@couci, Due: Aug 15th)

[2017-08-09 06:35] ioana-chiorean opened #240 "Reps Weekly Call - August 10th, 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #233
➡️ #243

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-08-09 06:47] ioana-chiorean commented on #240
Skeleton agenda up: https://public.etherpad-mozilla.org/p/remo-call-10-08-2017
Reps Events Ready: https://reps.mozilla.org/e/remo-call-10-08-17/
:dancer:

[2017-08-09 07:06] ioana-chiorean commented on #233
Notes are up - https://discourse.mozilla.org/t/weekly-call-03-08-2017/17670/3
Tweets were scheduled by @couci - Thank you!
All tasks :white_check_mark: !

[2017-08-09 07:06] #233 closed, assigned to ioana-chiorean, couci

[2017-08-09 12:36] couci commented on #239
done ;)

[2017-08-09 12:36] #239 closed, assigned to couci

[2017-08-09 12:59] couci opened #241 "Decision on budget allocation for Q3 and Q4"
## Goal:
Publish the budget allocation for Q3 and Q4

## Roles:

Responsible: @couci @kelimuttu

Accountable: council

Supporting: review team

Consulted: @LucyeoH

Informed: Reps

## Required:
- [x] Create draft budget allocation
- [x] Vote on budget allocation
- [x] Publish budget allocation and graph for Reps
- [x] Create council view tracking spreadsheet

[2017-08-09 17:09] couci opened #242 "Reps Council and Peers meeting"
## Goal:
Decide on the date, place, scope and agenda for the Reps council meeting

## Roles:

Responsible: @couci @nukeador

Accountable: council and peers

Supporting: @LucyeoH @francjp

Consulted: community development team

Informed: Reps

## Required:
- [ ] Decide on a date
- [ ] Decide on a location
- [ ] Decide if there is need for joint sessions with the community development team
- [ ] Wri

[2017-08-09 17:10] couci commented on #242
Possible place is Berlin, possible dates are 29/9 - 10/1 and 6/10 - 8/10

[2017-08-10 18:08] AlexLakatos commented on #223
Sent out now.

[2017-08-12 09:57] ioana-chiorean opened #243 "[CANCELLED] Reps Weekly Call - August 17th, 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #233
➡️ #244

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2017-08-12 14:18] ioana-chiorean commented on #240
Notes are up: https://discourse.mozilla.org/t/weekly-call-10-08-2017/17931/2
Tweets were written by miss @couci !
🎉
#keepthecleanstrike

[2017-08-12 14:18] #240 closed, assigned to ioana-chiorean, couci

[2017-08-12 14:25] ioana-chiorean commented on #243
Skeleton agenda ready - https://public.etherpad-mozilla.org/p/remo-call-17-08-2017
ReMo events up - https://reps.mozilla.org/e/remo-call-17-08-17/
✅ #getready

[2017-08-14 13:32] MichaelKohler commented on #223
This can be closed once the May/June/July Newsletter are archived on GitHub/Discourse.

[2017-08-14 18:08] MichaelKohler commented on #238
3 Reps were accepted and informed about the next steps. One applicant was asked to fill out a new application (as it was quite old) and provide new recent activity references if available. Also I gave some pointers.

This is done!

[2017-08-14 18:08] #238 closed, assigned to MichaelKohler, Mte90

[2017-08-15 11:55] kelimuttu commented on #226
## Action items:
- [x] Check email notification setting in Teachable
- [x] guidelines on what is accepted or not for receipts
- [x] Other option in case of video call is not possible: telegram discussion
- [x] Send final email for the first training participants

[2017-08-15 12:36] couci commented on #226
I think on the last item about vidyo we can ask people in advance: Are you able to participate via vidyo? If not you please let us know, you will then have to join the telegram group discussion (add link)

[2017-08-15 12:47] couci commented on #194
material is now live on teachable

[2017-08-15 14:43] kelimuttu commented on #226
Yeah, just want to take notes here cause we haven't tried it yet. Another note is including not to separate them into group if the participants are less than 5.

[2017-08-15 14:59] couci commented on #226
I agree on the idea of not separating if they are less than 5. In that way we keep the conversation going and and we don't spend time changing rooms

[2017-08-15 19:38] satvikmaker commented on #224
Now, will I be a part of this website? :)

[2017-08-15 19:39] MichaelKohler commented on #224
As you just created your profile, you will be part of this yes. But it might look nicer if you provide a little bit longer biography text ;)

[2017-08-15 19:48] satvikmaker commented on #224
Done! Added a decent biography for now :)
And thanks a lot for being throughout the process.

[2017-08-17 19:13] MichaelKohler commented on #243
As this has been canceled, I'm closing this. Thanks Ioana for the effort for communication :)

[2017-08-17 19:13] #243 closed, assigned to ioana-chiorean, couci

[2017-08-21 10:48] ioana-chiorean opened #244 "Reps Weekly Call - August 24th, 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #243
➡️ #

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioa

[2017-08-21 11:24] nukeador commented on #29
@hmitsch are we tracking this elsewhere?

[2017-08-21 17:06] MichaelKohler opened #245 "Send out August Newsletter"
## Goal:
The newsletter for August is sent.

## Roles:
Responsible: @AlexLakatos
Accountable: Reps Council
Supporting: @elioqoshi
Informed: All Reps

## Required:
- [x] Initial ideas have been gathered (@AlexLakatos, Due: August 25th)
- [x] Final set of content is decided on (@AlexLakatos, Due: August 27th)
- [x] Test newsletter is sent for verification through Council (@AlexLakatos, Due: August 2

[2017-08-21 17:07] MichaelKohler commented on #245
* Reps of the Month?
* Announce new Reps that joined recently
* Reminder: Facebook cover picture - request for ideas
* Monthly Roundup
  * Weekly Call / Council Call Notes

[2017-08-21 17:20] MichaelKohler opened #246 "Reps Applications Screening Round - Week of August 21st"
## Goal:
5 new applicants are screened and our decision is communicated.

Note: We did a small experiment with a screening group consisting of 4 persons (Council and non-Council). As this was quite successful, we decided to continue like this until we will discuss about this further in Q3.

## Related Issues & Links:
#141
#169
[Application Screening Sheet ](https://docs.google.com/spreadsheets/d/1

[2017-08-22 05:17] kelimuttu commented on #226
Email notification was fixed and the wiki for receipt guidance is up in https://wiki.mozilla.org/ReMo/Receipts_guide

[2017-08-22 05:18] #226 closed, assigned to kelimuttu, Flore-mozfr, couci

[2017-08-23 15:25] kelimuttu commented on #168
Action items for the track opening:
- [x] Comms for the opening (e-mail and Discourse)
- [x] Application form

[2017-08-24 06:39] kelimuttu opened #247 "Potato potato"
## Goal:

## Related Issues & Links:

## Roles:

## Required:

[2017-08-24 08:20] #247 closed, assigned to nobody

[2017-08-24 10:39] dvigneshwer opened #248 "Train the trainers initiative"
## Goal:

To globally train and facilitate active mobilizers across various verticals with best resource materials and latest project information.

## Roles:

Supporting: @vigneshwerd

Consulted: @couci

## Required:
- [x] Draft a workflow for the initiative
- [ ] Run a pilot project with Rust mobilizers

## Inspiration of the idea:

**Scope:**

In order to scale up activate events to impactful Mo

[2017-08-24 10:40] MichaelKohler commented on #248
Nice!

[2017-08-26 12:07] MichaelKohler commented on #230
As I'm supporting this on the technical level, I've created a [test repository ](https://github.com/MichaelKohler/content-queue-test)and [twitter account](https://twitter.com/reps_cq_test) for initial testing from Council. Council is informed and we will test this within the next few days. Then we will do a quick check with other interested Reps to make sure we don't have major bugs in it. After t

[2017-08-26 12:09] MichaelKohler commented on #230
@elioqoshi could you please add this experiment to https://wiki.mozilla.org/ReMo/Communication#Experiments (linking to this issue here) and with a hypothesis?

A possible hypothesis could be:
"With a public tool and a streamlined review process for suggested Tweets we can increase the number of authors of MozillaReps tweets to 10 persons."

[2017-08-28 11:17] MichaelKohler commented on #245
**On-boarding new Reps**
We are happy to announce 8 new Reps. Welcome!

![screen shot 2017-08-28 at 13 00 00](https://user-images.githubusercontent.com/330324/29771269-3c163722-8bf3-11e7-988d-39d923dfa93a.png)

**Reps Resources Track**
We launched the application for the Reps Resources track. Reps in the Resources track are specialized on guiding other Reps for impactful events and well defined bu

[2017-08-30 09:22] MichaelKohler opened #249 "Send out September Newsletter"
## Goal:
The newsletter for September is sent.

## Roles:
Responsible: @AlexLakatos
Accountable: Reps Council
Supporting: @elioqoshi
Informed: All Reps

## Required:
- [x] Initial ideas have been gathered (@AlexLakatos, Due: September 25th)
- [x] Final set of content is decided on (@AlexLakatos, Due: September 27th)
- [ ] New Reps emails are added (@AlexLakatos, Due: September 29th)
- [ ] Test new

[2017-08-30 12:51] kelimuttu commented on #205
@MichaelKohler Done.

Also, George share [this link](https://opencollective.com/learn-more) today. Seems like a potential alternative, although the project is still on development right now.

[2017-08-30 12:54] MichaelKohler commented on #205
I like it as it's transparent by design. However, I'm not sure how transparent our finances actually *can* be from a legal/finance perspective.

[2017-08-30 15:18] kelimuttu commented on #205
Yeah. We need to explore the project once it's set up. I hope we'll be able to tweak it.

[2017-08-30 22:31] MichaelKohler commented on #246
Over to Daniele for an open question. @Mte90 please close/approve the mentioned application after you have reviewed it again. For the right flags and text to set when approving, please check the other applications I edited today.

Thanks!

[2017-09-04 10:51] ioana-chiorean commented on #242
Is this something we are considering still?

[2017-09-04 11:32] Mte90 commented on #242
In the last meeting Konstantina said that we are waiting an approval of a document that we have to discuss and without that is impossible to define a date

[2017-09-04 11:38] Mte90 commented on #245
To close this one we have to publish the newsletter on discourse/github, the date is expired @AlexLakatos do you need help for that?

[2017-09-04 12:40] #246 closed, assigned to Mte90

[2017-09-08 10:04] ioana-chiorean commented on #242
Thanks @Mte90 saw that also @elioqoshi asked yesterday in the telegram group and w got some clarifications from @nukeador .

[2017-09-08 17:27] MichaelKohler commented on #197
see #241

[2017-09-08 17:27] #197 closed, assigned to ankitgadgil

[2017-09-08 17:28] MichaelKohler commented on #241
@kelimuttu what is the status on the graphs/sheets? Then we could communicate that in Discourse and reps-general as well. Also document it on the Allocation wiki page. AFAIK this only has been briefly mentioned in one of the last Reps calls.

[2017-09-08 17:29] MichaelKohler commented on #168
@couci @kelimuttu I think we can close this issue as the Resources track is open and create a new one for the remaining and upcoming work. What do you think?

[2017-09-08 17:34] MichaelKohler opened #250 "Run first Coaching Practice Week"
## Goal:
The first Coaching Practice Week is run with everybody who did the training so far.

## Related Issues & Links:
#194

## Roles:

Responsible: @fayetandog
Accountable: Reps Council
Supporting: @MichaelKohler

## Required:
- [x] We have documented the agenda/goals for the Practice Week on the wiki (@fayetandog, Due: September 15th)
- [x] We have at least 2 persons working together to lead t

[2017-09-08 17:35] MichaelKohler commented on #194
Training is open for everyone: https://discourse.mozilla.org/t/reps-coaches-training-is-now-open/18735/3

Created https://github.com/mozilla/Reps/issues/250 for the first coaching practice week as this is the next step: https://github.com/mozilla/Reps/issues/250

[2017-09-08 17:35] #194 closed, assigned to MichaelKohler, fayepal

[2017-09-11 20:56] MichaelKohler commented on #194
Practice Week initial draft here: https://wiki.mozilla.org/ReMo/Coaching/Practice_Week

[2017-09-11 20:57] MichaelKohler commented on #250
Practice Week initial draft here: https://wiki.mozilla.org/ReMo/Coaching/Practice_Week

[2017-09-12 12:19] couci opened #251 "Change council chair"
## Goal:
Council chair for September-October 2017 should be announced

## Roles:

Responsible: @Flore-mozfr

Accountable: Council

Supporting: @couci

Consulted: @nukeador

Informed: Reps

## Required:
- [x] Announcement on discourse
- [x] Announcement on Reps-general
- [x] Check on outstanding responsibilities
- [x] Change on council chair alias

[2017-09-13 07:25] kelimuttu commented on #241
@MichaelKohler sorry for late notice. The sheet and graph have been updated. You can check them out [here](https://datastudio.google.com/u/0/org//reporting/0B8afomu5khGpMVB6QnV4X2hoaU0/page/4jpH). I think we don't need to create another document for this.

[2017-09-13 07:29] kelimuttu commented on #241
Council member can announce it in the next reps call then I guess we're good here.

[2017-09-13 07:40] kelimuttu commented on #237
@Mte90 Totally makes sense. The only thing is that we need a good infrastructure to support that idea (something that we're lacking of right now).

@Faisalaziz Thanks for your suggestion. Totally agree with your proposed steps. And I think the challenge would be how to create a unified mechanism so we can avoid people who has power to recognize only the people they want.

[2017-09-13 07:48] kelimuttu opened #252 "Rep Resources training for India Reps runs well"
## Goal:
The special training for India Reps has been run and the final list has been announced

## Related Issues & Links:

## Roles:

Responsible: @kelimuttu @couci

Accountable: @kelimuttu

Supporting: @couci

Consulted: Review Team, Reps Council

Informed:

## Required:
- [x] First weekly training has been run (@kelimuttu, Due: September 16)
- [x] Second weekly training has been run (@kelimutt

[2017-09-13 07:51] kelimuttu commented on #168
You're right. I've made another issue for the ongoing training for India Reps [here](https://github.com/mozilla/Reps/issues/252).

[2017-09-13 07:51] #168 closed, assigned to Flore-mozfr, couci

[2017-09-13 08:08] Faisalaziz commented on #237
@kelimuttu

That is why i proposed "Self Nomination" and for screening "Review Team/Council". There wont be any "people with power" , Any individual who has done contribution can nominate himself/herself directly with proper proofs/facts and will be screened by Review Team/Council. Thats how we avoid conflicts and i am sure contributors are much more satisfied if decision is coming from review tea

[2017-09-13 08:21] kelimuttu commented on #237
@Faisalaziz You're absolutely right about the screening. Totally agree

[2017-09-14 11:08] Mte90 commented on #251
There is also to publish all the old meeting notes, so if @Flore-mozfr cannot do I can do it to speed up this task :-)

[2017-09-18 13:46] couci commented on #241
Apologies, I've drafted the announcement here: https://docs.google.com/document/d/1cs9e-MJAo8aHMVt8by2ZXw6ljOULpphC3tIaPnRqcwU/edit#

If there are any objections I will post tonight

[2017-09-19 12:50] couci commented on #241
published: https://discourse.mozilla.org/t/reps-budget-allocation-for-q3-q4/19328

[2017-09-19 12:50] #241 closed, assigned to kelimuttu, couci

[2017-09-19 22:35] MichaelKohler opened #253 "Send out September Newsletter"
## Goal:
The newsletter for September is sent.

## Roles:
Responsible: @AlexLakatos
Accountable: Reps Council
Supporting: @elioqoshi, @MichaelKohler
Informed: All Reps

## Required:
- [ ] Initial ideas have been gathered (@MichaelKohler, Due: September 25th)
- [ ] Final set of content is decided on (@MichaelKohler, Due: September 27th)
- [ ] Test newsletter is sent for verification through Council

[2017-09-20 21:18] Mte90 commented on #251
Old meetings notes published, we have to publish the news

[2017-09-21 15:48] MichaelKohler commented on #230
Next step here: Implement it with the Mozilla Reps account

[2017-09-25 12:44] couci commented on #251
Discourse has been announced: https://discourse.mozilla.org/t/council-chair-september-october-2017/19544

[2017-09-25 12:53] couci commented on #251
Alias ownership has been changed

[2017-09-25 13:40] couci commented on #251
Announcement on reps general made, wiki changes made and no outstanding notes are out.

Everything is good, welcome @Mte90 :)

[2017-09-25 13:40] #251 closed, assigned to Flore-mozfr, couci

[2017-09-27 11:17] Mte90 commented on #127
A new version revamped that require a check from all of us to speed up the publishing!
https://docs.google.com/document/d/17VDb05bRT33V0w00XZph8G4Pzu7ZuayMNAqVdF7o4TA/edit#

[2017-09-28 04:24] emmairwin commented on #237
also self nomination skews to those most confident in their ability, and in speaking up for themselves which rewards a specific type of person.
We need less self-reporting, and more surfacing the accomplishments of others. OR we need clear criteria for recognition, including what it isn't .

Additionally, real-world-value is a critical issue to solve for in recognition.  What is of value might be

[2017-09-28 04:46] emmairwin commented on #237
Might be interesting to look at projects like freecodecamp that work use certificates for specific types of recognition . it's coding focused (front end , back end) but there's probably something to learn :   https://www.freecodecamp.org/challenges/claim-your-front-end-development-certificate

reaching out to ask them how this has gone (honest vrs dishonest applications, diversity of recipients et

[2017-09-28 09:56] Mte90 commented on #237
The certification system was often discussed I agree that can be the best solutions because with Reps portal it is possible for us to know what they are doing (and suggest them to report what they are doing).
But not all the mozillians are Reps so that's the problem. Community analytics can help us to show the status on specific kind of projects but in not all of them (like sumo or l10n).

So prob

[2017-09-28 15:05] emmairwin commented on #237
This is something we're thinking about as well for education/learning modules. How do we know people completed what we asked.  It might be easier to ask people to complete an assessment(do a small thing) or demonstrate knowledge(complete an quiz).  Perhaps instead of setting a bar high to track progress in systems, it's easier to outline ways they can demonstrate competency gain through an experie

[2017-09-29 10:05] ranjithrajv commented on #248
@MichaelKohler add me as a Assignee too! I was planning of the same and had a discussion with @vigneshwerd about a month ago to work collaboratively.

[2017-09-29 10:31] Mte90 commented on #248
What are the updates of this task? Just be aligned :-)

[2017-09-29 10:31] Mte90 commented on #244
Any updates for this task?

[2017-09-29 10:32] Mte90 commented on #208
We are a little bit late for this one?

[2017-09-29 10:32] Mte90 commented on #207
Updates for this task?

[2017-09-29 10:33] Mte90 commented on #229
Any updates for this one?
We can define a new onboarding criteria for this one and discuss.

[2017-09-30 06:35] MichaelKohler commented on #249
# Rep of the Month
[[draft started]]

# Firefox Quantum Sprint
The Firefox Quantum Sprint is here! A few events already happened are actively reporting testing results. You can find a list of all events and a guide on how to run this activity online on the [Sprint website](http://firefoxsprint.mozilla.community/). This is a common effort from several Mozilla communities, resulting in over 100 even

[2017-09-30 22:27] MichaelKohler commented on #249
Initial draft text edited above. Please take a minute to review.

[2017-10-01 15:21] MichaelKohler opened #254 "Add new Reps to reps-general"
## Goal:
All new Reps from the Cohort tracking sheet are added to reps-general.

## Roles:

Responsible: @couci
Accountable: Reps Council

## Required:
- [x] All new Reps are added (@couci, Due: October 5th)

[2017-10-01 16:14] MichaelKohler opened #255 "Reps Applications Screening Round - Week of October 1st"
## Goal:
All open and ready applications are screened and informed.

## Related Issues & Links:
[Application Screening Sheet ](https://docs.google.com/spreadsheets/d/1xA-iopmysOLW1TFEyw6cVWAzQDhRY_lqPdL9E5Z_Bss/edit#gid=789757527) - private for obvious reasons

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: Experimental screening group
Informed: Applicants

## Require

[2017-10-02 09:10] kelimuttu commented on #237
That's a really good point, Emma. There's seems like a need on checking with the community what's their ideal recognition would be like so we can have a baseline data to move forward.

[2017-10-02 09:11] Mte90 commented on #237
Maybe we can do a survey with specific questions about it?

[2017-10-02 09:14] kelimuttu commented on #237
That seems like an idea. Maybe you can start through having discussion about it in the reps council meeting?

[2017-10-02 09:16] Mte90 commented on #229
I added that on reps council notes to discuss about it :-)
Probably we need a format (maybe the applicant can use the on boarding criteria as guidelines for the video)

[2017-10-02 09:17] Mte90 commented on #231
The best idea is to define a protocol, like the Reps Council Chair after the meeting or during the meeting itself prepare the notes for discourse in that way for the weekly call is done.
I am already doing this and require only to change the wiki page about the role and hope that the council chair publish the notes :-)

I will add that ticket on the next council meeting

[2017-10-02 09:19] Mte90 commented on #237
I will add in the notes for the next meeting :-)

[2017-10-02 09:54] #244 closed, assigned to ioana-chiorean, couci

[2017-10-02 10:58] MichaelKohler commented on #253
Dupe of https://github.com/mozilla/Reps/issues/249

[2017-10-02 10:58] #253 closed, assigned to AlexLakatos

[2017-10-02 23:08] emmairwin commented on #237
@kelimuttu yes, it would be good to ask them - but also challenge them to think outside of  established ways we believe recognition should work.

I found when we ask this question, people tend to think about it from a community mangers perspective (about others, and that they are helping me brainstorm for others), when we really need people to think only about themselves for the moment.  What woul

[2017-10-03 00:03] jgmac1106 commented on #237
@emmairwin When you reach a specific level you can ask for and usually receive specific recognition. Though this is not immune to being more available to those who advocate as your previously note.

However if I have ever needed a letter of recommendation or an introduction I can ask privately and get this support from other contributors, both on and off the payroll.

Make these normal every day o

[2017-10-03 09:18] altinukshini opened #256 "Firefox Quantum Sprint website - Prishtina, Kosovo fix"
## Goal:
Can anyone try to fix this on the fx quantum sprint website?
https://twitter.com/AltinUkshini/status/914847912575856640

## Related Issues & Links:

## Roles:

Responsible:

Accountable:

Supporting:

Consulted:

Informed:

## Required:

[2017-10-03 09:27] Mte90 commented on #256
The right repo is https://github.com/mozilla/firefox57-sprint :-)

[2017-10-03 09:27] #256 closed, assigned to nobody

[2017-10-03 10:24] couci commented on #254
action completed

[2017-10-03 10:24] #254 closed, assigned to couci

[2017-10-03 14:36] kelimuttu commented on #237
@emmairwin That's definitely true. That would be super exciting to hear what they think about it. From what I see, there is a need to categorize the mechanism into 2 type of recognition. From top to bottom, and from bottom to top. Or even one more from volunteer to the other volunteer. In that way, we can know exactly how we need to design the flow of the system and therefore explore the recogniti

[2017-10-03 17:43] Mte90 commented on #231
The idea from the Reps Council meeting of today is to use the monthly newsletter and share that on the monday call on the first week of every month.
The best idea can be to add the newsletter on the weekly update of the next month (or publish before that)

[2017-10-03 17:55] emmairwin commented on #237
Thanks @jgmac1106 for me the failures of badges were:

1) we gave them away(and others do this still) for various levels of accomplishment - a badge could be for something major, or something trivial.(no standards)
2) we gave badges to people that they didn't necessarily care about, which made them feel unimportant.
3) We gave badges away for things people did care about, but servers holding the m

[2017-10-03 18:09] #223 closed, assigned to Mte90, AlexLakatos, elioqoshi

[2017-10-03 18:10] Mte90 commented on #245
Newsletter loaded on github

[2017-10-03 18:10] #245 closed, assigned to Mte90, AlexLakatos, elioqoshi

[2017-10-03 18:10] #249 closed, assigned to AlexLakatos

[2017-10-03 19:11] ioana-chiorean commented on #207
@Mte90 Will centralize the feedback and make a doc for next week's meeting - council one.

[2017-10-03 19:47] ioana-chiorean commented on #208
@Mte90 it was more like a place holder. Id id update it with dates starting next week - if we want to start then.
We can also postpone it one more week to study more the feedback.

[2017-10-03 19:48] ioana-chiorean commented on #208
@Mte90 it was more like a place holder. Id id update it with dates starting next week - if we want to start then.
We can also postpone it one more week to study more the feedback.

[2017-10-04 10:37] couci commented on #208
jumping in this conversation, based on what I read from the comments I don't see anything that we can't implement on the go or a huge flag.
I think we should start next week

[2017-10-04 12:48] Mte90 commented on #208
This can create issues with the november meeting in berlin?

[2017-10-04 12:50] couci commented on #208
no, we've already discussed it with Ioana and based on the current timeline the new council members would not be fully onboarded to participate there.

[2017-10-04 22:05] ioana-chiorean commented on #208
OK - then I will prepare things for next week !

[2017-10-04 22:09] ioana-chiorean opened #257 "Reps Weekly Call - October 5th, 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #244
➡️ #

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioa

[2017-10-04 23:16] ioana-chiorean commented on #257
* Agends is up:
https://public.etherpad-mozilla.org/p/remo-call-05-10-2017
* Remo event up:
https://reps.mozilla.org/e/remo-call-05-10-17/

[2017-10-07 08:13] MichaelKohler opened #258 "Call for Mobilizer Expertise / Call for interest in learning about area"
## Goal:
The Call for Mobilizer Expertise documentation is done. Reps have been reached out to and been reminded to document their mobilizing expertise. We have identified Reps who are looking to mobilize an area and looking for the required skills to acquire to do this.

## Related Issues & Links:
#209

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @couci
Consulted:

[2017-10-07 08:14] MichaelKohler opened #259 "Call for Reps looking to mobilise an area"
## Goal:
We have identified Reps who are looking to mobilise an area and looking for the required skills to acquire to do this.

## Related Issues & Links:
#209

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @couci
Consulted:
Informed:

## Required:
- [x] We know how we want to document this (Mozillians?) (@MichaelKohler, Due: Oct 10th)
- [ ] Necessary tools/forms ar

[2017-10-07 09:12] Mte90 commented on #236
Is time to reschedule this one probably

[2017-10-07 09:20] dvigneshwer commented on #248
Team, sorry for the delayed response here. I have come up with a small plan to test this idea/program:

- [ ] Produce better FAQ's & event kits for MozActivate (@vigneshwerd, 7th Nov 2017)
* Collate all the Rust resource materials curated and publish it as a kit
* Design a new event flow pipeline for Rust Activate events

- [ ] Better support regional Rust mobilizers (@vigneshwerd, 30th Nov 2017)

[2017-10-07 09:35] Mte90 commented on #98
Can you add more information? Actually I am not sure if it is outdated because now in the weekly meetings we add updates from other program and on discourse it is easy to get updated.

[2017-10-07 09:36] Mte90 commented on #130
Ok I think that I can assign to me and work on that with a proposal like with something based on event playbook or to improve it

[2017-10-07 09:38] Mte90 commented on #41
I can work also on this one, after the best practise shared for quantum we can do a new doc like I done for the open conversation.
Also adding https://github.com/mozilla/Reps/issues/130

[2017-10-09 11:03] nukeador opened #260 "Informative sessions with functional teams"
## Goal:
Organize informative sessions with the main functional teams and Reps to learn about vision, goals and opportunities to mobilize.

## Related Issues & Links:

## Roles:

Responsible: @nukeador @couci

Accountable: Reps Council

Supporting: Functional teams

Consulted: Reps Council

Informed: Reps Council

## Required:
- [x] Initial comms with funcional teams
- [x] Localization session sch

[2017-10-10 11:32] Mte90 commented on #130
I written a first draft https://docs.google.com/document/d/1PT96LRsl9tLqSSK8LVEByLX--vZHQ5e-DcWlN_W-KR8/edit and linked on the event playbook (the tracking for it is another ticket).
I tried to be general and not specific to every technology or activity or will be a mess to keep updated and fragment the resources.

@dvigneshwer do you want to take a look?

[2017-10-10 19:07] MichaelKohler commented on #255
Done!

[2017-10-10 19:07] #255 closed, assigned to MichaelKohler, Mte90

[2017-10-10 20:42] MichaelKohler commented on #252
I guess this can be closed now? Do we want to open a new one for the rest of the trainees?

[2017-10-10 20:43] MichaelKohler commented on #230
I will work on this next week.

[2017-10-11 06:41] kelimuttu commented on #252
Yes, I will open a new one for the second phase.

[2017-10-11 06:41] #252 closed, assigned to kelimuttu, couci

[2017-10-11 11:11] kelimuttu opened #261 "Rep Resources training is finished and the track is officially applied"
## Goal:
Rep Resources training phase 2 has been run, with the final list announced and then the track is applied officially.

## Related Issues & Links:
#252

## Roles:

Responsible: @kelimuttu @couci

Accountable: @kelimuttu

Supporting: @couci

Consulted: Review Team, Reps Council

Informed:

## Required:
- [x] Training has been run (@kelimuttu, Due: Oct 23)
- [x] Final list of accepted Reps ha

[2017-10-14 14:23] MichaelKohler commented on #258
PR created to put this on the Reps Portal as profile fields (and also make it possible to search for this through the search): https://github.com/mozilla/remo/pull/1398

[2017-10-14 14:23] MichaelKohler commented on #259
PR created to put this on the Reps Portal as profile fields (and also make it possible to search for this through the search): https://github.com/mozilla/remo/pull/1398

[2017-10-14 15:21] MichaelKohler commented on #259
As this is very similar to #258, I'm merging those two.

[2017-10-14 15:21] #259 closed, assigned to MichaelKohler, couci

[2017-10-14 15:23] MichaelKohler commented on #258
Next steps required here:

* Get PR merged and put to production so we can use the Reps Portal
* Add all necessary areas to the portal (list of areas we want people to mobilise in)
* Send out communication including "why" and "what to do"

Communication skeleton:

* Current status of mobilizer project
* Why do we need to know who is doing what and who is interested in which topics
* Ask: fill out

[2017-10-16 15:22] nukeador commented on #258
Just a quick suggestion: Can we use "Mobilizer" instead of "Mobiliser" for consistency with wording everywhere else?

Thanks!

[2017-10-16 15:25] MichaelKohler commented on #258
Sure, will adopt my PR.

[2017-10-18 15:00] couci commented on #258
@MichaelKohler do we have an estimation when this is going to be ready in order to start comms?

[2017-10-21 23:22] MichaelKohler commented on #230
The Docker container works perfectly well. This means we have the following next steps:

- [x] Create repository for tweets (@MichaelKohler)
- [x] Get Twitter crendentials (@couci)
- [x] Create bug for ParSys to host container
- [ ] Send config to Yousef
- [ ] Send out comms that we are live now

[2017-10-23 19:51] MichaelKohler commented on #230
This is currently running on my server. Announcement will go out broadly once we feel confident that this works and has solid infrastructure.

Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1411021 for hosting.

[2017-10-23 19:51] MichaelKohler commented on #230
Also documented on https://wiki.mozilla.org/ReMo/Communication#Tweets_by_Reps

[2017-10-24 19:06] MichaelKohler opened #262 "Send out October Newsletter"
## Goal:
The newsletter for October is sent.

## Roles:
Responsible: @AlexLakatos
Accountable: Reps Council
Supporting: @MichaelKohler
Informed: All Reps

## Required:
- [x] Initial ideas have been gathered (@AlexLakatos, Due: October 25th)
- [x] Final set of content is decided on (@AlexLakatos, Due: October 27th)
- [ ] New Reps emails are added (@AlexLakatos, Due: October 29th)
- [ ] Test newslet

[2017-10-24 19:25] MichaelKohler commented on #262
# Rep of the Month
There were no nominations for Reps of the Month for October. Keep on rocking, Reps!

# Firefox Quantum Sprint
The Firefox Quantum Sprint happened! Konstantina has presented the learnings in the [Monday call](https://air.mozilla.org/mozilla-weekly-project-meeting-20171023/) as well as written a [post](https://discourse.mozilla.org/t/how-to-test-5000-websites-in-7-days-recapping-t

[2017-10-25 20:35] MichaelKohler commented on #258
The initial functionality is on production. I just filed a new PR to make this optional, as not everyone will need to fill out the mobilising parts: https://github.com/mozilla/remo/pull/1403

In terms of next steps:

- [ ] Get this PR merged and in production
- [ ] Ask Nuke to fill out all areas we want in the settings (I think we miss a few skills/interests)
- [ ] I'm gonna make a PR to allow Cou

[2017-10-26 10:46] nukeador commented on #258
Looks good for me

[2017-10-26 11:35] ioana-chiorean commented on #208
Proposed timeline (all times in 09:00 UTC):

October 27th - call for candidates
November 3rd - call closes
November 3rd - start of campaign period
* candidates are given 4 days to answer questions and post them on their profile page
* candidates are given 4 days to publish a 30-120 seconds campaign video

November 6th - deadline for answers and videos to be published
November 6th - voting starts
N

[2017-10-26 12:20] ioana-chiorean commented on #208
Announcement is up: https://discourse.mozilla.org/t/important-council-elections-autum-2017-please-read/20884

[2017-10-26 14:50] Mte90 opened #263 "Define Reps Q4 2017 OKRs"
## Goal:
Develop and approve the Q4 OKRs for 2017 of the Reps program

## Roles:

Responsible: @mte90

Accountable:

Supporting: @couci

Consulted:

Informed:

## Required:
- [x] First draft by @mte90 (owner, Due: Oct 26th)
- [x] Publish on Discourse/Wiki/Mailing list (owner, Due: Nov 13th)

[2017-10-26 14:51] Mte90 commented on #263
* https://docs.google.com/document/d/1BktWxBHjjIZI0qlvkAOCrevFwMTvPXeLVlHzDmToXcM/edit#heading=h.mj4zs39bha1y
My initial draft and as reference http://mozilla.github.io/Reps/okr-dashboard/ to get the Q3 OKRs

[2017-10-26 14:52] Mte90 commented on #217
Probably is better to do it after the Autumn election

[2017-10-26 15:35] Mte90 opened #264 "Plan for train-the-trainers for mobilizers is in place"
## Goal:
Define this plan and review with the council

## Related Issues & Links:
#258

## Roles:

Responsible: @couci, @mte90

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)

[2017-10-27 09:26] couci commented on #258
comms ready and shared

[2017-10-27 14:43] kelimuttu commented on #261
@couci I've updated the [wiki](https://wiki.mozilla.org/ReMo/Resources), can you update the list on the portal as well?

[2017-10-31 17:16] Mte90 opened #265 "Draft proposal for the Reps Regional Coaches"
## Goal:
We need a draft about that initiative for the and of Q4

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:

Responsible: @nukeador

Accountable:

Supporting:@ruben

Consulted:

Informed:

## Required:
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kitt

[2017-10-31 23:11] MichaelKohler commented on #230
This has been announced here: https://discourse.mozilla.org/t/create-tweets-for-the-reps-twitter-account/21047 .

[2017-10-31 23:11] #230 closed, assigned to MichaelKohler, elioqoshi

[2017-10-31 23:12] MichaelKohler commented on #258
Hopefully last PR done: https://github.com/mozilla/remo/pull/1411

Comms are ready (apart from the new screenshots), and will be sent out after the change is in production.

[2017-10-31 23:13] MichaelKohler commented on #262
@AlexLakatos this is ready for publication if there are no objections until you see this

[2017-10-31 23:16] MichaelKohler commented on #261
I think once the group is assigned to all Resources Reps on the Portal, we can close this.

[2017-11-01 18:50] MichaelKohler commented on #250
As Faye is doing great with the training, I'm unassigning myself from this issue. If you need help, feel free to ping me :)

[2017-11-01 18:52] MichaelKohler commented on #236
Definitely, let's discuss this soon and if we still want to do that (I guess so) come up with a timeline with Emma. Unassigning myself for now to get a better overview on my tasks.

[2017-11-01 18:54] MichaelKohler commented on #207
This is done

[2017-11-01 18:54] #207 closed, assigned to ioana-chiorean

[2017-11-01 18:55] MichaelKohler commented on #261
Kiki has published a great blog post: https://blog.mozilla.org/mozillareps/2017/11/01/resources-reps-whats-next/

Resources Reps are on the portal as well. Thanks everyone!

[2017-11-01 18:55] #261 closed, assigned to kelimuttu, couci

[2017-11-01 18:55] MichaelKohler commented on #209
This is done

[2017-11-01 18:55] #209 closed, assigned to nukeador

[2017-11-01 19:01] MichaelKohler commented on #158
All possible experiments have been documented as different issues in this repo. I'm closing this one.

[2017-11-01 19:01] #158 closed, assigned to AlexLakatos

[2017-11-01 19:02] MichaelKohler commented on #218
@Srushtika what is the status here?

[2017-11-01 19:10] MichaelKohler commented on #55
@ioana-chiorean any recent thoughts on this? I think I could do a possible PR for the Portal if we want to go down that road. Just would need to have a clear spec.

[2017-11-01 19:15] MichaelKohler commented on #257
@ioana-chiorean what is the status here?

[2017-11-02 10:32] Mte90 commented on #236
Ok I will put on the next council call

[2017-11-02 10:33] Mte90 commented on #127
We are waiting for the last final review so it's quite ready for publish very very soon! 🙌

[2017-11-02 10:41] Mte90 commented on #265
I think that I will try to work on that after Open Conversation, I will probably busy with the Reps Mobilizers but I don't think that write a draft in the next months will be a problem

[2017-11-02 10:43] Mte90 commented on #229
Actually we not find the time and interest to work on that without more example about the benefit of that.

Actually all the information that we require are usually written on the ticket where we can ask more. This speed up the review and avoiding to see a video to find what we care for the application.

[2017-11-02 10:45] Mte90 commented on #264
The document: https://docs.google.com/document/d/1GejYvx99pOckQP8ycOQ04WAPHwJoBxnvWTyfBJef-6M/edit#

[2017-11-02 10:47] Mte90 commented on #231
We will publish soon the new newsletter so we can try with the first one: https://github.com/mozilla/Reps/issues/262

[2017-11-02 10:48] Mte90 commented on #262
As written on https://github.com/mozilla/Reps/issues/231 we need to upload on github the newsletter and add the link on the weekly updates so we can try with this new experiment

[2017-11-02 15:01] couci commented on #262
Adding suggestions as per @AlexLakatos request:
# Firefox Quantum Sprint
The Firefox Quantum Sprint happened! Konstantina has presented the learnings in the [Monday call](https://air.mozilla.org/mozilla-weekly-project-meeting-20171023/) as well as written a [post](https://discourse.mozilla.org/t/how-to-test-5000-websites-in-7-days-recapping-the-firefox-quantum-sprint/20565) about it. Go check it o

[2017-11-03 14:41] Mte90 commented on #262
Files loaded also on github :-)

[2017-11-03 14:41] #262 closed, assigned to MichaelKohler, AlexLakatos

[2017-11-03 16:30] ioana-chiorean commented on #257
@michaelKohler - I think we need to add notes.

[2017-11-03 16:38] ioana-chiorean commented on #55
I would open it up for everyone to nominate.

@akatsoulas  how should I proceed?

[2017-11-03 18:05] #258 closed, assigned to MichaelKohler, couci

[2017-11-03 18:05] MichaelKohler commented on #258
This is done: https://discourse.mozilla.org/t/mark-your-mobilizing-expertises-and-learning-interests-in-reps-portal/21173/1

[2017-11-03 18:40] MichaelKohler opened #266 "Reps Applications Screening Round - First Week of November"
## Goal:
All open and ready applications are screened and informed.

## Related Issues & Links:
#141
#169
[Application Screening Sheet ](https://docs.google.com/spreadsheets/d/1xA-iopmysOLW1TFEyw6cVWAzQDhRY_lqPdL9E5Z_Bss/edit#gid=789757527) - private for obvious reasons

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: Screening group
Informed: Applicants

## Required:

[2017-11-05 16:19] ioana-chiorean commented on #208
Mail for second step was sent out to the six applicants. We will be tracking their progress here.

1. [Prathamesh Chavan](https://reps.mozilla.org/u/prathamesh/)
  - [x]  [Video](https://youtu.be/Wrb86iR3y0s)
  - [x]  Answers
2.  [Vishal Chavan](https://reps.mozilla.org/u/vi5halc/)
  - [ ]  [Video](https://youtu.be/Wrb86iR3y0s)
  - [ ]  Answers
3.  [Mayur Patil](https://reps.mozilla.org/u/yomanpat

[2017-11-06 20:29] Mte90 commented on #236
Added in the doc for the call of tomorrow

[2017-11-07 04:04] emmairwin commented on #236
we;re doing some work with D&I data right now in a pilot - I want to know
how to help more here.

On Mon, Nov 6, 2017 at 12:29 PM, Daniele Scasciafratte <
notifications@github.com> wrote:

--
-- Emma Irwin

[2017-11-08 09:16] Mte90 opened #267 "Initial group for market research training with OI"
## Goal:
Define the first part of the comms with OI

## Related Issues & Links:
https://github.com/mozilla/Reps/issues/258

## Roles:

Responsible:

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)

[2017-11-08 18:27] gaby2300 commented on #195
I am a very long time QA tester (I am still at it) and an actual Functional Doer Rep.
That's why I wonder if it would be possible to add more specific QA options to the Reps Reports site such as  "Participated in a Testday" for example, or "Tested a new Firefox Quantum feature".
Some localization items would be great too!

The above is what I do every day and would make my Reps reports much easier

[2017-11-08 21:02] Mte90 commented on #236
We had no time during this call, I am not sure about the next one because of the berlin meeting but I will keep try to put on our notes

[2017-11-09 19:43] DineshMv commented on #266
I'm interested to help with screening of applicants.

Please let me know if you need any helping hand ;)

[2017-11-10 21:55] Mte90 commented on #267
Email sent to start to working on

[2017-11-13 00:12] emmairwin commented on #267
Can you share more about this   we ran a 4 week course a couple of years ago teaching contributors how to conduct market research, perhaps we can reuse some ofthat. Thanks!

[2017-11-13 11:18] Mte90 commented on #267
Yes of course, this is part of https://github.com/mozilla/Reps/issues/258 Mobilizer roadmap and after https://discourse.mozilla.org/t/mark-your-mobilizing-expertises-and-learning-interests-in-reps-portal/21173 we need to work on a training about how to do a market research of this skills to volunteers that are mobilizer to improve a functional area

[2017-11-13 13:28] ioana-chiorean commented on #267
Seems like a great initiative - will follow along

[2017-11-14 19:41] #263 closed, assigned to Mte90, couci

[2017-11-14 22:22] MichaelKohler commented on #266
This is done, thanks everyone

[2017-11-14 22:22] #266 closed, assigned to MichaelKohler, Mte90

[2017-11-15 15:24] Mte90 commented on #127
We are fixing the last section!

[2017-11-20 09:53] Mte90 commented on #267
Actually we need how will handle that part to be more autonomous as council on this step.

[2017-11-20 09:54] Mte90 commented on #229
As I written actually we want to improve more the onboarding with new criteria and the video will be only a complication because often the criteria are not included in the ticket itself and will be only a duplicate of information that maybe doesn't fir on our request (that will be added later on the ticket itself).

[2017-11-20 09:54] #229 closed, assigned to nobody

[2017-11-21 23:22] MichaelKohler commented on #242
Done, followup will be published soon

[2017-11-21 23:22] #242 closed, assigned to nukeador, couci

[2017-11-23 17:39] couci opened #268 "Council members onbording - Autumn 2017"
## Goal:
Onboard successfully the new council members

## Related Issues & Links:
#https://github.com/mozilla/Reps/issues/180
https://wiki.mozilla.org/ReMo/SOPs/Council_onboarding
## Roles:

Responsible: @couci

Accountable: @nukeador

Supporting: @mozilla/reps-council

Consulted: @reps-peers

Informed: Reps

## Required:
- [x] E-mail new council members for onboarding meeting (owner @couci , Due:

[2017-11-24 10:41] Mte90 commented on #127
Published: https://discourse.mozilla.org/t/open-conversation-to-mozilla-leadership/22414

[2017-11-24 10:41] #127 closed

[2017-11-24 13:02] couci commented on #268
Council buddies have been defined:
* Prathamesh - Faye
* Mayur - Ankit

[2017-11-24 13:50] couci commented on #268
E-mail for onboarding asking meeting time sent

[2017-11-24 14:15] couci commented on #268
introduction emails for buddies has been sent

[2017-12-13 15:45] couci commented on #268
Onboarding call happened

[2017-12-13 20:53] Srushtika commented on #218
Hi @MichaelKohler ! I'm sorry I haven't been active here - on a small break from participating at Mozilla  due to personal reasons - my very supportive mentor is well informed about the situation.

However, regarding the issue I haven't received any suggestions about the picture - neither here nor via a separate channel! If we have a generic picture (maybe suggested by the council) - we could uplo

[2017-12-13 22:35] couci commented on #268
Blog is out: https://blog.mozilla.org/mozillareps/2017/12/13/new-council-members-autumn-2017/

[2017-12-16 20:27] ranjithrajv opened #269 "localisation of reps portal on pontoon.mozilla.org"
## Goal:
Allow reps portal to be localised and create a framework to accommodate local leaders who are good with local language to grow.

## Problem:
The current English only framework structurally alienates the local leaders who are good at local language but not English and thus curbing the growth of local communities.

## Solution
Talking about diversity would make more sense by providing struc

[2017-12-17 01:06] MichaelKohler commented on #269
I think a Discourse topic would be better fitted for such a discussion. We can still create a github issue to track specifics after we know what exactly is needed/should be implemented/should be changed.

I think only localizing the portal itself doesn't help a lot. Happy to provide more of my thoughts in a more general discussion. Do you want to start that thread?

[2017-12-17 21:49] Mte90 commented on #218
Thanks for the updates, I think that we can try to promote again in our channels or in case maybe use a photo of the council because I don't think that we have group photo of reps.

[2017-12-17 22:52] Mte90 commented on #269
I agree also because there will be problems.
Think about it, I from Italy create a new event with an english section but the the website is localize in Italian so it will be not possible to localize it (without a specific implementation).
At the same time someone from Asia add an event and write in their language but I cannot translate that in Italian.
So in few words in that way we will have a po

[2017-12-17 22:53] Mte90 commented on #41
After a discussion is better to close that because we are busy in different things and there is no interest a part me on moving on this document.

[2017-12-17 22:53] #41 closed

[2017-12-17 22:54] Mte90 commented on #130
Closing and waiting for future interests

[2017-12-17 22:54] #130 closed

[2017-12-17 22:55] Mte90 commented on #236
Probably to reorganize/reevaluate everything until leadership agreements are not finished.

[2017-12-18 12:01] Mte90 commented on #268
email to mailing list sent

[2017-12-18 12:01] #268 closed, assigned to couci

[2017-12-18 19:55] MichaelKohler commented on #199
We have started to assign new Reps to new coaches. There are still a few new Reps to be assigned first before we can move on to orphaned existing Reps.

[2017-12-19 17:23] #250 closed, assigned to fayepal

[2017-12-19 17:25] Mte90 commented on #218
We can use a mozilla festival group photo or someone from the all hands, check with Ioana.

[2017-12-19 17:28] Mte90 commented on #257
We can close it?

[2017-12-20 10:09] Mte90 opened #270 "Update Interests, Activities and Functional Areas on the portal"
## Goal:
The idea is to update Interests, Activities and Functional Areas on the report system with removing the old one and adding new.
How to join? leave your thoughts in the ticket!

## Roles:

Responsible: @yomanpatil

Accountable:

Supporting: @mte90

Consulted:

Informed:

## Required:
- [x] List of things to change to check with Reps Council (owner, Due: Jan 15th)
- [ ] Change it! (owner, D

[2017-12-20 10:12] Mte90 opened #271 "Define rules for Screening Team"
## Goal:
We have a screening team in test mode (https://wiki.mozilla.org/ReMo/Webinar/Screening) but we need to work on rules to be renewable during the time.

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:

Responsible: @mte90

Accountable:

Supporting: @ankitgadgil

Consulted: @MichaelKohler

Informed:

## Required:
- [x] First official draft to discuss with coun

[2017-12-20 10:15] Mte90 commented on #55
any updates for this?

[2017-12-20 10:29] Mte90 opened #272 "Migrate mailing list reps-general to discourse"
## Goal:
Keep mailing lists and discourse require a lot of time, switch all our reps to the reps category on discourse and use that for the mailing lists can improve our tasks queue.

## Related Issues & Links:
Docs with complete explanation: https://docs.google.com/document/d/143_qA2Ezq9B04Nne6VbfHsvRoaXQhO2UcZG0ou-nqz8/edit
#29 - Create a mozillian group of reps
#281 - For the reps list

## Role

[2017-12-20 10:30] Mte90 commented on #272
I think that for the reps-council mailing list instead can be removed because now we are using Discourse for that purpose

[2017-12-20 22:20] Mte90 commented on #271
* Working draft: https://docs.google.com/document/d/1C2n3kjnAsspxC5JbA-3_To3dNG81Xwy7A9BaOUP09dU/edit

[2017-12-22 17:09] mastizada commented on #269
That is easy to do. There is currently Work In Progress (WIP) to update to Django 1.11, after that one, we can easily make app localizable and connect to Pontoon translation tool. After approval, we can open bugzilla bug for this and I'll be happy to work on this.

[2017-12-22 17:32] Mte90 commented on #269
I know that is easy from a dev point of view, the problem is what we can translate of the UI?
Only the UI of the website and all the reps will upload their content in multiple locales?

[2017-12-22 17:42] mastizada commented on #269
UI of the website is the easy part (static content). If we will decide to add events in multiple languages (dynamic content) (adding translations for events from the UI while adding new event), that will be hard both for reps and for devs.

[2017-12-22 22:15] Mte90 commented on #269
So we need to evaluate if it is the case to translate or not all the content and not only the website per se.

[2017-12-26 07:16] ranjithrajv commented on #269
D&I team did a great research to address struggles of non-native English speakers in an English-first organization.

https://medium.com/mozilla-open-innovation/we-see-you-reaching-diverse-audiences-in-foss-4e83efc86425

[2017-12-26 13:57] Mte90 commented on #269
In this ticket all the people that are discussing are not native english speaker so we know what is the issue.
The point is:

- Translate the portal and not all the events
- Translate the portal and also the events

If the first point, we will have a not uniform UX with the invite to the reps to write their event data in their language (if the website is on my language I can write on my language i

[2017-12-26 14:03] Mte90 commented on #236
Actually we are working on the rules for the Onboarding screening team and there are ideas to improve the criteria but probably we need to improve our communication channels to be more inclusive about also the benefit for who join the program.

[2017-12-26 14:10] Mte90 commented on #270
## What did you do?

* MozActivate -  e10s and Featured Add-ons -> MozActivate - Featured Add-ons
* Copyright Maker Party -> To remove

## Which initiative did you participate in?

* Connected Devices Participation -> To remove
* Mozilla Reps Resources -> To add

[2017-12-31 20:26] blitzmon commented on #270
Hello!

As a Functional Doer helping with QA since a very long time now and helping with es-ES translations and es-AR localization for even longer,  I would greatly appreciate if some QA related items in the reports system could be added, such as "Took part in a Testday" for example, or "Tested a Test Pilot Experiment", or even "Tested a Firefox Focus Buddybuild".

Some localization items would be

[2018-01-01 17:37] Mte90 commented on #270
Good points!

## What did you do?

* Join a Firefox Testday
* Translated on Pontoon
* Tested a Test Pilot Experiment

I think that them can be enough? We prefer to have that options generic to cover all the situations :-)

[2018-01-01 20:52] gaby2300 commented on #270
Yes, I think adding those 3 items would be great!

Also maybe "Created an event"? I am more a Functional Doer but I did create
an event a month ago and I think I couldn't find the appropriate item where
to report it.

Thank you very much Daniele!

[2018-01-01 21:35] Mte90 commented on #270
For "Created an event" is enough to create the event on the reps portal because is automatically added :-)

[2018-01-01 21:51] gaby2300 commented on #270
Right. Then those 3 items will be great!

[2018-01-02 21:36] barrosgg commented on #270
@Mte90 what do you think of also adding something specific about projects led by the foundation?

[2018-01-02 22:19] Mte90 commented on #270
Actually I am looking for ideas to discuss next with the council.

[2018-01-03 00:11] gaby2300 commented on #270
Geraldo, sounds interesting. Projects led by the foundation such as?

Gabriela
QA Mozilla Hispano Team Responsible

http://www.mozilla-hispano.org

On 2 January 2018 at 18:36, Geraldo Barros <notifications@github.com> wrote:

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Libre
de virus. www.avast.com
<https://www.avast.com/sig-email?u

[2018-01-03 22:13] barrosgg commented on #270
Hey @gaby2300, project leaded by MoFo is here: https://foundation.mozilla.org/get-involved
I'm participated in the Mozilla's Open Leaders and some of the interesting activities I could report are:

- meet with my personal mentor every two weeks
- attend online Office Hours and demos together with the entire cohort
- attend online trainings with the entire cohort
- weekly assignments from the Open

[2018-01-05 12:59] Mte90 commented on #272
Actually we don't have a mozillian group with all the reps, exist https://mozillians.org/it/group/reps/ but is not used.
Without that we cannot check if the user is a reps from the AIM system.
Later there will be the issue of coding but we need that before to do anything.

[2018-01-05 22:12] Mte90 commented on #29
Any updates for this one?

[2018-01-05 22:19] hmitsch commented on #29
@Mte90 what `this` are you referring to? 😄

Is about https://github.com/mozilla/Reps/issues/29#issuecomment-269618783 ?
We are currently not planning to transition the Reps Portal roles concept to integrate Mozilla IAM capabilities. Is this what you are asking for?

-Henrik

[2018-01-05 22:24] Mte90 commented on #29
Actually the object, create and populate the reps group on mozillians with reps.
In that way we can move on evaluating more integration with AIM in the future like for discourse.

[2018-01-05 22:37] hmitsch commented on #29
@Mte90 thanks for the clarification.

In this case I am fully on board:
* Discourse is a first-class IAM citizen. We would be excited to use a Mozillians group (e.g. https://mozillians.org/group/reps/) as the access management mechanism for a restricted Reps category

I don't know who owns the task to make sure all Reps are added to the Reps group. I'd say it should fall on the Curators (ping @nuk

[2018-01-06 20:48] ioana-chiorean commented on #208
This was done. Announcement was made here: https://discourse.mozilla.org/t/important-council-elections-november-2017-results-and-next-steps/21727

[2018-01-06 20:48] #208 closed, assigned to ioana-chiorean

[2018-01-09 10:47] Mte90 commented on #98
I think this ticket require an analysis about how to do it.
Maybe the better way is to maintain a list of active programs on a wiki page to use as reference?

[2018-01-09 10:55] Mte90 commented on #236
Maybe we can take this part of that ticket https://github.com/mozilla/Reps/issues/42

[2018-01-10 07:40] ioana-chiorean opened #274 "[Reps Weekly Call] Ideas for speakers and topics"
## Ideas January:
- [x] Firefox available on Fire TV
- [x] New episodes in IRL - here we an ask someone to join and explain what meant the season 1 in terms on audience etc
- [?] Fluent - http://projectfluent.org/ - how is this used in Firefox https://diary.braniecki.net/2018/01/08/multilingual-gecko-in-2017/
- [x] Spectree and Meldown - fixes pushed in one day
- [x] new RUST community manager - i

[2018-01-11 11:58] prathameshchavan commented on #274
I am myself handling the Spectree and Meldown vulnerability queries as a part of Red Hat Support. A bug fix pushed in one day is truly awesome!

[2018-01-14 17:43] fayepal opened #275 "Update mentorship pages on the Mozilla Wiki"
## Goal:
Update pages on the wiki related to mentorship to update with Coaching Training and Reps Resources Training

## Related Issues & Links:
#194

## Roles:

Responsible:

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [x] https://wiki.mozilla.org/ReMo/Mentors
- [x] https://wiki.mozilla.org/ReMo/Mentors/SelectionProcess
- [x] https://wiki.mozilla.org/ReMo/SOPs/Mentoring
- [x]

[2018-01-15 10:12] Mte90 opened #276 "Reps Applications Screening Round - Week of January 3rd"
## Goal:
All open and ready applications are screened and informed.

## Related Issues & Links:
[Application Screening Sheet ](https://docs.google.com/spreadsheets/d/1WcQJCo38pwEIktErFm8KQDhA4eFSM6T5AYDS-6Oz1Tg/edit#gid=997767683) - private for obvious reasons

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: Experimental screening group
Informed: Applicants

## Require

[2018-01-16 10:10] Mte90 commented on #218
We have http://ffp4g1ylyit3jdyti1hqcvtb-wpengine.netdna-ssl.com/mozillareps/files/2018/01/austin.jpg but is vertical.

[2018-01-16 13:01] Mte90 commented on #29
Few updates after some discussion:

* Mozillians need to be the center to manage all the users so *actually* the Reps portal with a duplicate of the profile is wrong. The right way is to manage the reps from mozillians.org.
When a reps is alumni need to be removed on mozillians and when there is a new one need to be updated on the portal.
* We need to add them manually

[2018-01-16 13:02] Mte90 commented on #272
Until https://github.com/mozilla/discourse/issues/28 is not done we cannot work on that

[2018-01-16 22:25] Mte90 commented on #271
New page published https://wiki.mozilla.org/ReMo/Webinar/Screening

[2018-01-17 12:47] ioana-chiorean commented on #274
* Contacted:
   * Firefox available on Fire TV
   * New episodes in IRL
   * New RUST community manager
* Added read only section

[2018-01-17 17:12] couci commented on #232
Is this still ongoing? Please leave a comment or this will be closed in 24h

[2018-01-17 17:14] couci commented on #267
This got blocked and eventually abandoned. I am closing for now, feel free to reopen if there any new updates.

[2018-01-17 17:14] #267 closed, assigned to Mte90

[2018-01-17 17:18] couci commented on #248
Is this still ongoing? Please leave a comment or this will be closed in 24h

[2018-01-17 17:18] Mte90 commented on #232
I keep to think about my old comment but seems that @elioqoshi is the owner, so is better to ask him.

[2018-01-17 17:18] couci commented on #237
@kelimuttu Is this still ongoing? Please leave a comment or this will be closed in 24h

[2018-01-17 17:18] Mte90 commented on #267
Yes also this was part of the mobilizer initiative and never complete because of realign, so yes is better to see what will happen in the future.

[2018-01-17 17:20] couci commented on #42
Is this still ongoing? Please leave a comment or this will be closed in 24h

[2018-01-17 17:21] couci commented on #234
@nukeador Is this still ongoing? Please leave a comment or this will be closed in 24h

[2018-01-17 17:21] couci commented on #231
Is this still ongoing? Please leave a comment or this will be closed in 24h

[2018-01-17 17:22] couci commented on #217
The newsletter owner needs to be redefined, I am closing this one for now

[2018-01-17 17:22] #217 closed, assigned to nukeador, couci

[2018-01-17 17:22] couci commented on #212
@ioana-chiorean Is this still ongoing? Please leave a comment or this will be closed in 24h

[2018-01-17 17:22] couci commented on #211
@ioana-chiorean Is this still ongoing? Please leave a comment or this will be closed in 24h

[2018-01-17 17:23] couci commented on #210
Not the intended meeting, but we have tomorrow. I am closing this one

[2018-01-17 17:23] #210 closed, assigned to Flore-mozfr

[2018-01-17 17:24] couci commented on #205
@kelimuttu is working on this holistically. @kelimuttu once your report is out of the raft face we should share.
Closing this one

[2018-01-17 17:24] #205 closed, assigned to kelimuttu, couci

[2018-01-17 17:24] couci commented on #199
@MichaelKohler how many "orphans" we have now?

[2018-01-17 17:25] Mte90 commented on #42
We can close because there is no interest or priority on that also if a draft of a document exist

[2018-01-17 17:25] #42 closed

[2018-01-17 17:26] Mte90 commented on #231
I think that now is outdated also because the Newsletter proposal will be defined soon also about the content.

[2018-01-17 17:26] #231 closed, assigned to elioqoshi

[2018-01-17 17:26] gaby2300 commented on #232
Hello,

I think maybe 20 UTC would be better for non European Reps

Gabriela
QA Mozilla Hispano Team Responsible

http://www.mozilla-hispano.org

On 28 July 2017 at 08:04, Daniele Scasciafratte <notifications@github.com>
wrote:

[2018-01-17 17:29] couci commented on #192
We are blocked on the new logo right @elioqoshi ?

[2018-01-17 17:30] MichaelKohler commented on #199
https://docs.google.com/spreadsheets/d/1Fw36FDfGDMfgCWJDWZ7JDdk4FsxMaD_auSS4YzeADkg/edit#gid=0 (please do not edit!)

**Total: 60**, including:
new Reps: 6 (temp assigned to me)
temporarily assigned to somebody (either due to Portal making editor do it or request by Rep): 4

[2018-01-17 17:30] couci commented on #55
@ioana-chiorean Is this still ongoing? Please leave a comment or this will be closed in 24h

[2018-01-17 17:35] MichaelKohler commented on #276
@Mte90 as discussed yesterday in the Telegram group I will need better and more detailed explanations to give valuable information on how to improve to the applications that got rejected.

[2018-01-17 17:37] couci commented on #48
@ioana-chiorean Is this still ongoing? Please leave a comment or this will be closed in 24h

[2018-01-17 17:37] couci commented on #47
@ioana-chiorean Is this still ongoing? Please leave a comment or this will be closed in 24h

[2018-01-17 17:39] couci commented on #25
This is around for more than a year. Closing. Feel free to open if there is any update.

[2018-01-17 17:39] #25 closed

[2018-01-17 17:39] couci commented on #20
@nukeador Is this still ongoing? Please leave a comment or this will be closed in 24h

[2018-01-17 17:40] couci commented on #7
@ioana-chiorean Is this still ongoing? Please leave a comment or this will be closed in 24h

[2018-01-17 17:40] Mte90 commented on #276
Written on telegram now :-)

[2018-01-17 17:41] Mte90 commented on #20
Maybe after leadership initiative we can define if we need a new description, we talked a lot about this point but we didn't chosen anything about it

[2018-01-17 17:45] MichaelKohler commented on #7
I think this can be closed, we will create a new issue with learnings from the last All Hands regarding expectations.

[2018-01-17 17:46] #7 closed

[2018-01-17 17:54] couci commented on #20
Let's close this since the definition will be redefined from the Mission Driven Mozillians project.