[2016-04-17 10:06] nukeador opened #1 "Define a review team to delegate resources decision making"
## Goal:
Define and implement the structure of a review team to delegate decision making on program resources

## Success:
Team is defined and started to operate

## Related Issues & Links:

* https://github.com/mozilla/participation-org/issues/344

## Roles:
* Owner: @Faisalaziz @nukeador
* Involved: @francjp @couci

## Required:
- [x] Define a proposal and share with council (April 24th)
- [x] G

[2016-04-17 10:11] nukeador opened #2 "Draft for mentorship proposal"
## Goal:

Set up a draft with a proposal for mentorship
## Success:

Draft is defined and shared
## Related Issues & Links:
## Roles:

Owner: @shahidfarooqui @deimidis
Involved:
## Required:
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)

[2016-04-17 10:14] nukeador opened #3 "Posts about Berlin and RepsNext"
## Goal:
Share a post with experiences around the Reps Leadership meetup Berlin

## Success:
All Council and Peers members have shared a post about their experience

## Related Issues & Links:

## Roles:
Owner: @brianking
Involved: Council and Peers

## Required:
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mi

[2016-04-17 10:15] nukeador opened #4 "Alignment proposal implemented"
## Goal:
Update and implement [Alignment proposal](https://docs.google.com/document/d/1hCdemwo5-ZQzzRPQe8MREbvzK9J2wBO34wKfzfZA89g/edit#)

## Success:
The proposal is in place and the processes are being used.

## Related Issues & Links:
[WG] mozilla/participation-org#348

## Roles:
Owner: @MichaelKohler @couci
Involved:

## Required:
- [x] Update Document to reflect decisions (@MichaelKohler, Due

[2016-04-17 10:16] nukeador opened #5 "Mid-term planning for Indonesia decided"
## Goal:
To have a solid decision for Indonesian mid-term planning budget.

## Success:
Council gave a final decision for the Indonesian mid-term budget planning.

## Related Issues & Links:
- [Midterm Budget Indonesia (spreadsheet)](https://docs.google.com/spreadsheets/d/1LPZpL48v_um6P_1DMqJS6KeC4U_5Fe8JAZaKS1uzHwQ/edit?usp=gmail#gid=1772027292)
- [Budget Template Guidelines](https://docs.google.

[2016-04-17 10:18] nukeador opened #6 "Provide training around GitHub issues to Council/Peers"
## Goal:
Provide training around GitHub issues to Council/Peers

## Success:
All Council and Peers are able to use github issues without problems

## Related Issues & Links:

## Roles:
Owner: @nukeador
Involved:

## Required:
- [x] Email council/peers about this repo and ask them if they need support (April 17)
- [ ] Gather all questions about using issues (May 1st)
- [ ] Deliver material/training

[2016-04-17 10:43] nukeador opened #7 "PeersNext proposal delivered"
## Goal:

Define the role and operational model of Reps Peers in the context of the evolution of the program (RepsNext)
## Success:

We have a draft proposal that has buy-in from the Reps Council and the Particiaption team, so that we can make the necessary changes to the Peers structure and start operating in a new model
## Related Issues & Links:
- https://wiki.mozilla.org/ReMo/Structure_Governa

[2016-04-17 10:48] nukeador opened #8 "Leadership track proposal draft"
## Goal:

Get a proposal for the leadership track moving forward
## Success:

A proposal is delivered
## Related Issues & Links:
## Roles:

Owner: @rara79
Involved: @nukeador @emmairwin
## Required:
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)

[2016-04-17 10:51] nukeador opened #9 "Communication & engagement plan for RepsNext"
## Goal:
Find a way to communicate effectively about RepsNext vision and engage Reps

## Success:
We communicate at least bi-weekly about the current status of RepsNexts, and we have posted at least 2 introductory blog posts to bring Reps up to speed.

## Related Issues & Links:

## Roles:
Owner: @rosanardila, @MichaelKohler
Involved: @umeshagarwal @nukeador @timmaks @gapsonTM

## Required:
- [ ]

[2016-04-17 10:52] nukeador opened #10 "Get a new round of mentors"
## Goal:
Get a new round of mentors aligned with the RepsNext proposal.

## Success:
New mentors are on boarded

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:
Owner: @umeshagarwal @shahidfarooqui
Involved: @rosanardila
Supporter: @deimidis

## Required:
- [x] Communicate Mentors about nomination ( @shahidfarooqui  @umeshagarwal , Due: 29th April)

[2016-04-17 10:55] nukeador opened #11 "Define challenges & London facilitation"
## Goal:
Figure out how to carry the design challenges for the Reps challenges in London.

## Success:
  [What would success look like]

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:
Owner: @rosanardila
Involved:

## Required:
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mitte

[2016-04-17 10:56] nukeador opened #12 "Kickstart the Reps Identity working group"
## Goal:
Setup the Identity WG and have a first meeting to discuss goals, key result and next steps.

## Success:
Within the next week (counting from April 19) we held an initial, open meeting and have at least 3 next steps with owners.

## Related Issues & Links:
-

## Roles:
Owner: @MichaelKohler
Involved: @ioana-chiorean @ThePhoenixBird @umeshagarwal

## Required:
- [x] Send out doodle (@Michae

[2016-04-17 10:57] nukeador opened #13 "RepsNext roadmap review"
## Goal:
Review the current status of the RepsNext implementation.

## Success:
The current status by London all hands is evaluated and any delay/bottleneck is identified.

## Related Issues & Links:

## Roles:
Owner: @nukeador
Involved: @couci

## Required:
- [ ] TBD (Due: Jun 17th)

[2016-04-17 11:00] nukeador opened #14 "Design Community Experimentation Launchpad sprint"
## Goal:
[One line goal description]

## Success:
  [What would success look like]

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:
Owner: @rosanardila
Involved: @MichaelKohler

## Required:
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due:

[2016-04-17 11:02] nukeador opened #15 "Council elections"
## Goal:
* Hold the council election in order to occupy the spots that are free after the term of one year is ending for Michael Kohler, Christos Bacharakis, Shahid Farooqui.

## Success:
* The elections take place and we have 3 new council members

## Related Issues & Links:

## Roles:
Owner: @ioana-chiorean
Involved: @brianking @nukeador

## Required:
- [x] Prepare the timeline and the steps (@i

[2016-04-19 08:18] MichaelKohler commented on #4
Updated the issue to reflect the necessary steps we need to take

[2016-04-19 08:19] MichaelKohler commented on #12
Sent out preliminary info and doodle at https://discourse.mozilla-community.org/t/reps-identity-comms-working-group/8174

[2016-04-20 15:31] nukeador commented on #10
@umeshagarwal @shahidfarooqui do you think we can move this to end of April?

@emmairwin and @deimidis will be helping on providing the material for getting these new mentor up to speed and be able to coach people and we feel we should have them on boarded in early May.

Also we can think about getting these mentor not involved in budget at all to focus on the new coaching needs.

[2016-04-20 16:05] umeshagarwal commented on #10
@nukeador yes we can. i think it will be better to get them on board ASAP. I will start the draft process with Shahid and share the details with you all.

Yes we can keep these new mentors away from Budget and let them concentrate on their coaching. Keeping in mind that they should not get re-assigned mentees.

[2016-04-20 16:27] shahidfarooqui commented on #10
Yes, I do agree with Nuke and Umesh.

Umesh and me will start the process soon.

On Wed, Apr 20, 2016 at 9:35 PM, umesh agarwal <notifications@github.com>
wrote:

[2016-04-23 10:34] MichaelKohler commented on #4
I've updated the Proposal with our discussions in Berlin: https://docs.google.com/document/d/1hCdemwo5-ZQzzRPQe8MREbvzK9J2wBO34wKfzfZA89g/edit#

The communication piece from the Sunday session is still missing, since I'm relying on getting the pictures of the flipcharts.

I've changed the dates above slightly to reflect the current delay.

[2016-04-23 12:05] MichaelKohler commented on #12
We've had our first meeting yesterday, we defined our key results and next steps. The next meeting will happen the week around the 3rd May.

Working doc: https://docs.google.com/document/d/1XaVUHlAPwHhz4svumFiyJJBHP5H2TMKigdsmr5g6rfA/edit#

Discourse discussion: https://discourse.mozilla-community.org/t/reps-identity-comms-working-group/8174/7

I think we're good here for now, therefore closing th

[2016-04-23 12:05] #12 closed

[2016-04-23 12:28] MichaelKohler commented on #4
I've updated the doc to have everything from Berlin in it including the communication piece. @couci  will look at it on Monday to make sure I haven't forgotten anything and then we are ready to send this for final approval and implementation: https://docs.google.com/document/d/1hCdemwo5-ZQzzRPQe8MREbvzK9J2wBO34wKfzfZA89g/edit

[2016-04-23 18:53] nukeador commented on #9
@MichaelKohler is there something here overlapping with the identity group?

[2016-04-23 19:05] MichaelKohler commented on #9
Not necessarily, we're gonna mostly look into general outreach and communications, not specifically for RepsNext.

[2016-04-24 12:11] MichaelKohler commented on #3
my blog post: https://michaelkohler.info/2016/reps-council-working-days-berlin-2016

[2016-04-24 19:22] MichaelKohler commented on #9
Do you think it would make sense to set up a small website which explains all changes in a short format? Obviously we need to get more creative than that, but that would be a good solution for people that like to read, but not that much IMHO. If so, we could ask the Community Creative to design something for us.

[2016-04-25 10:41] nukeador commented on #1
The proposal was sent to Council.

[2016-04-25 17:01] nukeador commented on #9
@rosanardila idea was to create a comic about it.

[2016-04-26 21:16] ioana-chiorean commented on #12
🎉

[2016-04-27 02:34] MichaelKohler opened #17 "Clean up Wiki pages"
## Goal:

All Wiki pages are either marked as deprecated or are up to date.
## Related Issues & Links:

[Reps Identity Working Group](https://discourse.mozilla-community.org/t/reps-identity-comms-working-group/8174/7)
## Roles:
- Owner: @MichaelKohler
- Involved: @ioana-chiorean
## Required:
- [x] Create list of all sub pages (@MichaelKohler, Due: Apr 27th)
- [x] Classify according to topics (@Mic

[2016-04-27 02:34] MichaelKohler commented on #17
Here's the list: https://wiki.mozilla.org/ReMo/Cleanup

@ioana-chiorean I put you as reviewer, do you have time to do that?

[2016-04-27 02:43] MichaelKohler opened #18 "Document "Outwards communication" Session from Berlin"
## Goal:
The part from the Communication session in Berlin regarding "Outwards communication" is documented and suggestions to implement are in place.

## Related Issues & Links:
Identity & Communications WG

## Roles:
* Owner: @ioana-chiorean
* Involved: @MichaelKohler

## Required:
- [ ] Document the session (@ioana-chiorean, Due: Apr 30th)
- [ ] Come up with suggestion on what out of that to im

[2016-04-27 02:45] MichaelKohler opened #19 "Suggestions for Monday Call"
## Goal:

We have come up with suggestions to implement for our presence in the Monday call
## Related Issues & Links:

Reps Identity & Communications WG
## Roles:
- Owner: @MichaelKohler
- Involved: WG
## Required:
- [ ] Brainstorm around possible ideas (WG, Due: May 27th)
- [ ] Document suggestions (WG, Due: June 10th)

[2016-04-27 02:48] MichaelKohler opened #20 "New description for Reps"
## Goal:

We've come up with a new description of what Reps is according to RepsNext, which will be put on the Wiki and the Reps Portal.
## Related Issues & Links:

Reps Identity & Communications WG
## Roles:
- Owner: @MichaelKohler
- Involved: WG
## Required:
- [ ] Gather ideas (WG, Due: May 15th)
- [ ] Create 3 different texts for experimentation (WG, Due: May 22nd)
- [ ] Write final text to agr

[2016-04-27 15:41] MichaelKohler commented on #4
Final vote for Council created: https://reps.mozilla.org/v/alignment-proposal-final-vote/

[2016-04-27 16:37] nukeador commented on #5
@rara79 please update the details in this issue. Thanks!

[2016-04-27 16:38] nukeador commented on #10
@shahidfarooqui @umeshagarwal please update the details in this issue. Thanks! :)

[2016-04-27 16:38] nukeador commented on #3
@brianking  please update the details in this issue. Thanks! :)

[2016-04-27 16:39] nukeador commented on #2
@shahidfarooqui  please update the details in this issue. Thanks! :)

[2016-04-27 16:39] nukeador commented on #9
@rosanardila  please update the details in this issue. Thanks! :)

[2016-04-27 20:53] nukeador commented on #17
Let's move this to Ready until the first action is taken :)

[2016-04-28 13:18] nukeador opened #21 "Set up a regional coach group"
## Goal:
Set up a group of Reps to support regional communities

## Success:
A diverse group is set up and empowered to start supporting regional communities

## Related Issues & Links:
Doc: https://docs.google.com/document/d/18ikGySz8Jt95AD3YyQspxDoV0remrHbpiyDNY3Ef-84/edit

## Roles:
* Owner: @Mte90
* Involved: @ioana-chiorean @brianking @iamVP7 @MichaelKohler @nukeador @rara79

## Required:
- [

[2016-04-28 15:37] ioana-chiorean opened #22 "Reps Weekly Call - May 5th, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links:
⬅️ https://github.com/mozilla/participation-org/issues/406
➡️ #23

## Roles:
Owner: @ioana-chiorean
Involved: @couci

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chiorean, @couci, [small, medium, large], Due: da

[2016-04-29 08:09] nukeador commented on #1
I've updated the timeline to be more realistic.

[2016-04-29 18:22] rara79 commented on #5
Based on the previous Reps Council call, action items are:

- Create an update proposal based on the current spreadsheet
- Create a call with the council, Indonesian team (MozID's finance role Andi Darmawan and Dian Ina), and Konstantina

[2016-05-04 20:45] ioana-chiorean commented on #21
I ma interested in this but i do not recall the discussion around it.  ( is this from berlin or after?)

[2016-05-04 20:51] ioana-chiorean commented on #20
Isn't this something we can get from the work already done on reps next?

[2016-05-04 20:55] MichaelKohler commented on #20
This will be a huge part of it, but still we need to come up with some decent description we can put on the Portal main page and other places where Reps is introduced.

[2016-05-05 09:41] nukeador commented on #21
After, basically is to mobilize a group of Reps to support regional communities on top of the support we can bring from staff, since due time constrains we can't support everyone all the time ;-)

[2016-05-05 10:03] nukeador commented on #20
Draft idea: The Mozilla Reps program is a volunteer participation platform that aims to empower mozillians in their journey, helping them grow and unlocking their potential to empower others.

[2016-05-05 14:08] couci commented on #22
Larissa has been invited to talk about D&I in Mozilla. Also community members will talk about D&I in their own communities (both topics added)

[2016-05-05 20:40] ioana-chiorean commented on #20
"to empower mozillians ..  to empower others." hmm

[2016-05-06 03:25] emmairwin commented on #10
@nukeador when will you launch the discovery phase for mentor content?

[2016-05-06 03:28] emmairwin commented on #8
Can you explain what the track is, and how it relates to https://github.com/mozilla/participation-org/issues/410

[2016-05-06 10:17] nukeador commented on #8
They are the same efforts, the "track" is just the implementation or the official name we will give it inside Reps.

[2016-05-06 10:19] nukeador commented on #10
@emmairwin what do you mean by "mentor content"?

@umeshagarwal and @rosanardila are coordinating the call for new mentors.

@umeshagarwal can you update this issue with all the steps after the call out? Thanks!

[2016-05-06 11:57] nukeador commented on #6
Waiting for feedback if this is really needed.

[2016-05-06 11:57] nukeador commented on #1
Waiting for Council to take a decision.

[2016-05-06 12:01] nukeador commented on #21
@ioana-chiorean if you are interested we can have quick chat to sync. In any case this could be a time consuming task, just checking in case you already have a lot of things on your plate ;-)

[2016-05-06 16:46] MichaelKohler commented on #4
We still have some missing votes from @bacharakis @shahidfarooqui @Faisalaziz @rosanardila @rara79

[2016-05-06 18:38] brianking commented on #21
I want to help here as well.

[2016-05-06 20:16] bacharakis commented on #4
Apologies for not replying earlier!
Great work guys! +1 from me!
-C

On Fri, May 6, 2016 at 7:46 PM, Michael Kohler <notifications@github.com>
wrote:

--
Christos Bacharakis
bacharakis.com

[2016-05-06 20:31] nukeador commented on #3
@brianking ping

[2016-05-06 20:32] nukeador commented on #7
@ppapadeas can you update this one? Thanks! :)

[2016-05-06 20:33] nukeador commented on #2
@shahidfarooqui @deimidis please update this one. Thanks!

[2016-05-06 20:33] nukeador commented on #5
Can you please update this one with next steps? Thanks!

[2016-05-06 20:34] nukeador commented on #9
@rosanardila we need to update this one with next steps.

[2016-05-07 18:41] brianking commented on #5
Late next week when I am in Jakarta I will work with @alamanda and @rara79 on an updated slide deck proposal.

[2016-05-07 18:43] brianking commented on #3
What is the goal here? To have all Council members post, or something else?

[2016-05-07 20:11] MichaelKohler commented on #3
Yes!

[2016-05-07 21:56] hmitsch commented on #7
Great to see this ticket. Are there any other Peers-related tickets around?

[2016-05-07 21:56] hmitsch commented on #7
Can we add a tag "Peers" on this?

[2016-05-08 21:10] nukeador commented on #7
We are using "Leadership" tag for all issues around leadership bucket in the program, including Council and Peers.

[2016-05-09 13:45] ioana-chiorean opened #23 "Reps Weekly Call - May 12th, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links:
⬅️ #22
➡️ #24

## Roles:
Owner: @ioana-chiorean
Involved: @couci

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chiorean, @couci, [small, medium, large], Due: date )
- [x] Council updates - (@ Reps Council, [mediu

[2016-05-09 13:47] ioana-chiorean opened #24 "Reps Weekly Call - May 19th, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links:
⬅️ #22
➡️ #30

## Roles:
Owner: @ioana-chiorean
Involved: @couci

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chiorean, @couci, [small, medium, large], Due: date )
- [x] Council updates - (@ Reps Council, [mediu

[2016-05-09 17:32] Mte90 commented on #19
Maybe a little recap of the WG state so we can promote our program also to Mozilla employees.
Also say something about the event organized in the last week like in our weekly call but like a fast recap ex: 3 events in europe, 4 in asia etc.

[2016-05-09 17:34] Mte90 commented on #18
With outwards we are talking to mozillians or for everyone?

[2016-05-09 17:38] Mte90 commented on #20
My idea:
[code]

For me is this, when I have to explain what means I say that I am the reference inside and outside about everything in Mozilla for my community but I think that we have to add few example directly in the description.

[2016-05-09 17:40] MichaelKohler commented on #18
With outwards we mean everything that the public might see. This might (or might not) include Twitter, the blog, Facebook, Instagram, whatever we come up with to promote the program and give us visibility in an impactful way.

[2016-05-09 17:48] Mte90 commented on #18
I remember a case of a guy that came to a my event in Italy only because he saw that on mozilla.org, the interesting part that for him to came was means 3 hour of driving and he chosen to came only because was Mozilla and he see that there aren't events in his zone.
So I think that something about the stuff the reps do like the events needs to get more promotion by Mozilla.
We need to promote our

[2016-05-10 06:10] umeshagarwal commented on #10
mail draft is ready. waiting for @rosanardila to sent out mail to mentors mailing list by end of this week.

[2016-05-10 16:27] shahidfarooqui commented on #10
If Rosana is busy then I guess Nuke can also send the mail to all mentors.
Draft is already ready and shared with all the council members including Rosana.

[2016-05-10 16:29] rosanardila commented on #10
Hey all,

Sorry for the delay. I can send this early tomorrow if that works out.
Otherwise Nuke can do it  :)

Rosana
On May 10, 2016 18:27, "Shahid Ali Farooqui" <notifications@github.com>
wrote:

[2016-05-10 16:31] shahidfarooqui commented on #2
We are working on to finalize the document. We should be able to share it with the council sometime today/tomorrow for their input/feedback.

[2016-05-10 17:13] shahidfarooqui commented on #2
Document has been shared with the council for their input/feedback/suggestion on or before 13 May 2016.

[2016-05-11 09:58] rosanardila commented on #10
done :) Many thanks Shahid and Umesh for working on this!

[2016-05-11 15:33] MichaelKohler commented on #4
This is approved, so let's use the processes defined there!

[2016-05-11 15:33] #4 closed

[2016-05-11 16:26] MichaelKohler commented on #11
Everyone, please help filling out the Problem Statements for the different areas: https://docs.google.com/document/d/1HljFYPcvTSuEeB1Flc1arBA9O4s4dqfryCuQ2VO_v5M/edit#heading=h.uxtlhyot69gs

[2016-05-11 16:28] bacharakis opened #25 "Create a learning sharing template"
Build a template which will help us understand and identify the impact of new and innovative ideas around Reps activities.

[2016-05-11 16:29] nukeador commented on #21
We need to figure out an owner here and shape this issue requirements since this is going to be probably a goal for the program in Q2.

[2016-05-11 16:31] rara79 commented on #5
Next steps still the same as I commented above :)

[2016-05-11 16:31] MichaelKohler opened #26 "Publish Council Meeting Notes 11/5"
## Goal:
The 11/05 Council meeting notes are published.

## Roles:
* Owner: @MichaelKohler
* Involved:

## Required:
- [x] Draft notes (@MichaelKohler, Due: May 11th)
- [x] Open up for review (@MichaelKohler, Due: May 13th)
- [x] Publish it on Discourse/Wiki (@MichaelKohler, Due: May 13th)

[2016-05-11 16:32] nukeador commented on #1
Council is voting for the people in this group, ETA (2016-05-18 13:00)

[2016-05-11 16:34] MichaelKohler opened #27 "Reps OKR Q2 / 2016"
## Goal:
The Reps program OKRs are decided and published.

## Related Issues & Links:
(WIP for Council, private for now) https://docs.google.com/document/d/1aRnTQQ5oLi8kbotRduXNd_EJsKQQ9G8kMBLmBr2a9zE/edit

## Roles:
* Owner: @MichaelKohler
* Involved: all Council members

## Required:
- [x] Send reminder to Alias (@MichaelKohler, Due: May 12th)
- [x] Finish phrasing the Key Results (all, Due: May

[2016-05-11 16:36] MichaelKohler opened #28 "Communication Council Chair May/June 16"
## Goal:
Communicate the new Council chair and update the relevant wiki pages.

## Roles:
* Owner: @Faisalaziz
* Involved: @MichaelKohler

## Required:
- [ ] Announce the new Council chair (@Faisalaziz  , Due: May 14th)
- [x] Update the Wiki pages (@MichaelKohler, Due: May 14th)

[2016-05-11 16:56] nukeador commented on #25
@bacharakis can we use the template for issues on this? Thanks! :)

[2016-05-11 17:32] MichaelKohler commented on #27
I've rephrased some goals, @all please review :)

https://docs.google.com/document/d/1aRnTQQ5oLi8kbotRduXNd_EJsKQQ9G8kMBLmBr2a9zE/edit

[2016-05-11 17:56] MichaelKohler commented on #26
Lovely Council, please review the public meeting notes from today: https://docs.google.com/document/d/1p3CLE4WaMsNlRUyjygT54kpYx8Fcxg89ZJiNdtVmYl4/edit

If there are no concerns/additions/changes, I'll publish them on Friday.

[2016-05-11 18:09] iamVP7 commented on #21
Would love to join, and help Reps.

[2016-05-11 21:37] nukeador commented on #17
Checking the wiki, maybe it would be easier to start some stuff from scratch. Simply listing all the things that should be present and making sure they are in a way it's easy to read (and yes most SOPs and such can be re-used)

[2016-05-12 13:10] nukeador opened #29 "Create a mozillians.org group for Reps"
## Goal:

Create a mozillians group to list all Reps.
In that way we can sync Discourse and Reps to get all them subscribed to the group for all the notifications and close the mailing list like said on #272.
## Related Issues & Links:
## Roles:

Responsible: @nukeador
Accountable: @nukeador
Supporting: @ppapadeas
Consulted: Council
Informed: Reps, mentors
## Required:
- [ ] Email to reps to updat

[2016-05-12 15:14] Mte90 commented on #18
Will be pretty cool if in about:home of Firefox there are showed all the events for the country of the user extracted from reps in that month.
I think that it is the best way for promotion without to do many complications.

[2016-05-12 16:52] nukeador commented on #29
Group is created, waiting for @ppapadeas comms to start adding mentors as curators

https://mozillians.org/group/reps/

[2016-05-14 20:42] ioana-chiorean opened #30 "Reps Weekly Call - June 2nd, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #24
➡️ #38

## Roles:
Owner: @ioana-chiorean
Involved: @couci

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chiorean, @couci, [small, medium, large], Due: date )
- [x] Council updates - (@ Reps Council, [med

[2016-05-15 09:24] ioana-chiorean commented on #19
@rosanardila @nukeador ^

[2016-05-15 09:25] ioana-chiorean commented on #21
I am a bit full till after London so i can't that main owner role now but ido want to be included in the talks if possible.

[2016-05-16 09:22] nukeador commented on #19
@ioana-chiorean what do you need here?

[2016-05-17 18:53] MichaelKohler commented on #26
https://discourse.mozilla-community.org/t/council-meeting-notes-2016-05-11/8740

[2016-05-17 18:53] #26 closed

[2016-05-18 09:50] nukeador commented on #17
Also, raising a flag here: I feel this task should be put on hold until we finish all the RepsNext work, when we will have more clarity on what should and shouldn't be on the wiki.

Investing time now on this instead of other open tasks it's not maybe the best use of our limited time :)

[2016-05-18 16:18] MichaelKohler commented on #11
@rosanardila could you please update the tasks here?

[2016-05-18 17:05] MichaelKohler opened #31 "Publish Council Meeting Notes 18/5"
## Goal:
The 18/05 Council meeting notes are published.

## Roles:
* Owner: @MichaelKohler
* Involved:

## Required:
- [x] Draft notes (@MichaelKohler, Due: May 19th)
- [x] Open up for review (@MichaelKohler, Due: May 22th)
- [x] Publish it on Discourse (@MichaelKohler, Due: May 23th)

[2016-05-18 17:13] MichaelKohler commented on #1
Voting finished: https://reps.mozilla.org/v/review-team-for-resources-track/

Next we need to get in touch with these people to see if they're available. @nukeador please update the timeline, thanks

[2016-05-18 17:16] MichaelKohler commented on #21
We need somebody to own this tasks and coordinate the efforts here. This doesn't mean to do all the necessary tasks, but to coordinate them. Since we already have 3 people interested in this here, we could start the work.

@Mte90 would you like to coordinate this since you were really involved with the working groups and did a great job? :)

[2016-05-18 17:24] MichaelKohler opened #32 "Research before London Design Sprints"
## Goal:
We have data spanning events, budget, activities and general feeling of Reps to work with in London.

## Related Issues & Links:
https://github.com/mozilla/Reps/issues/11

## Roles:

Responsible: @nukeador

Accountable: Reps Council

Supporting: @MichaelKohler @couci @akatsoulas Council

Consulted:

Informed:

## Required:
- [x] We agree on the proposed research activities we need to do (

[2016-05-18 17:24] MichaelKohler commented on #31
Everyone, please review the Council meeting notes here: https://docs.google.com/document/d/1BVHayEqH7CoJsk4ySNfNY9We4TfZ6isHnizryRs2Ps8/edit

If there are no objections I'll publish them on Sunday.

[2016-05-18 17:28] Mte90 commented on #21
Well after the little mozilla meetup done ad Oscal in Tirana we need something like that because many reps don't have updated from the WGs.

Also I can see in my country direct the various FSAs with their ff club needs a group like this so I'm available.

If it is a consuming task would means that I leave other stuffs I am involved in other projects, now it is the time to improve the Reps program

[2016-05-18 17:31] MichaelKohler commented on #10
Here's the (private) nominations sheet: https://docs.google.com/spreadsheets/d/1qEXiocabau6VATaBnP0IHTnRBmnn5YUsxFtaBKGo2m8/edit

[2016-05-18 17:33] nukeador commented on #32
I can own this one.

[2016-05-18 17:36] MichaelKohler commented on #21
Thanks Daniele, since Ioana, Brian and Viswaprasath will be helping out as well, I don't think this will be too time consuming.

[2016-05-18 17:46] MichaelKohler commented on #20
Extending Nuke's idea and taking Ioana's feedback into account:

[code]

[2016-05-18 17:48] MichaelKohler commented on #19
I like Daniele's idea regarding an update on RepsNext. We could do an update now and then another one after London when we have results from the Design sprints.

I've updated the timeline in the description to be more realistic.

[2016-05-18 17:48] Mte90 commented on #20
Maybe replace aims with want can be a intensifier

[2016-05-18 17:49] MichaelKohler commented on #3
Do we have any other blog posts that are not mentioned here? Maybe we could then consolidate them into one for the Reps blog?

[2016-05-18 17:49] MichaelKohler commented on #5
@rara79 @brianking could you two work on it while Brian was in Jakarta?

[2016-05-18 17:53] MichaelKohler commented on #17
Obviously we need to be clear on what needs to be updated and therefore we need to have final state of proposal implementations for RepsNext. Therefore this is blocked for now. This will be a good base to work on once we have that though.

[2016-05-18 17:53] MichaelKohler commented on #6
Doesn't seem to be needed, therefore closing it. Feel free to reach out to Nuke or me if you need any help :)

[2016-05-18 17:53] #6 closed

[2016-05-18 18:00] MichaelKohler opened #33 "Publish Reps of the Month for the past months"
## Goal:
We are up to date with the publication of "Reps of the Month" again and we don't have a backlog and can focus on the upcoming months.

## Roles:

Responsible: @MichaelKohler

Accountable: @MichaelKohler

Supporting: @ioana-chiorean , @akatsoulas (to set the date back on the portal)

## Required:
- [x] Publish RoM for January 2016 on Portal/Blog (@MichaelKohler / @ioana-chiorean, Due: May

[2016-05-18 18:00] Mte90 commented on #21
So we have to define a set of initial activities, there are already proposal or suggestion to start?

[2016-05-18 18:01] MichaelKohler commented on #21
There is nothing yet.

[2016-05-18 18:02] Mte90 commented on #21
Ok in the next I start with a initial document to discuss :-)

[2016-05-18 20:24] nukeador commented on #1
Done

[2016-05-18 21:02] Mte90 commented on #2
This draft is available? I have to study it for https://github.com/mozilla/Reps/issues/21

[2016-05-18 21:12] Mte90 commented on #21
I started to write a document but I haven't understand if it is a new WG or only a group inside the Reps program that have to define some points.
https://docs.google.com/document/d/18ikGySz8Jt95AD3YyQspxDoV0remrHbpiyDNY3Ef-84/edit

[2016-05-18 21:15] MichaelKohler commented on #21
No, this is not a new working group in terms of RepsNext. This will be a group of Reps that help support regional communities with whatever their needs might be (and figuring out those needs might actually be an activity the members of this group could do).

[2016-05-19 17:18] mijanurrahman commented on #21
I am interested and I want to help here.

[2016-05-20 20:28] MichaelKohler commented on #27
I've extended the voting since we only had 2 votes until now. Please vote!

[2016-05-20 20:29] MichaelKohler commented on #30
Changing the topic June 2nd since there won't be any call next week ;)

[2016-05-21 12:26] MichaelKohler commented on #28
Wiki page is updated here: https://wiki.mozilla.org/ReMo/Council

[2016-05-23 10:04] nukeador commented on #21
@Mte90 I would start by gathering a list of Reps who want and have time to listen/empower regional communities, at least we would need one per continent (maybe 2 to cover different areas):

* North America
* Central and South America
* Europe
* North Africa and Middle East
* West Africa
* East Africa
* South West Asia and Oceania
* South East Asia
* North Asia

Maybe you can do a call out/form and

[2016-05-23 10:33] iamVP7 commented on #21
@nukeador  I feel, we have really a big community of Reps in India, like wise we may have in other countries too. So having contributors based on continent won't be enough I think, whats your thought is having more people based on country or countries.

[2016-05-23 11:33] nukeador commented on #21
@iamVP7 That's why I suggested some areas instead of just continents. In any case this is a group of people to have a broad visibility of what's going on and support in the region (not working directly inside all communities), we can evaluate how many people per area is needed to cover it.

[2016-05-23 14:45] MichaelKohler commented on #33
Published through Discourse (https://discourse.mozilla-community.org/t/rep-of-the-month-january-2016/8849), reps-general and Portal. Tasos will date it back on the portal once he has time for it. Blog post is in review for @nukeador

[2016-05-23 17:27] MichaelKohler commented on #31
https://discourse.mozilla-community.org/t/council-meeting-notes-18-05-2016/8851

[2016-05-23 17:27] #31 closed

[2016-05-23 17:34] Mte90 commented on #21
Ok the idea for zones it's not bad we have to get a list of volunteer for that role.

[2016-05-25 10:31] nukeador commented on #29
Waiting for @ppapadeas  email to all reps

[2016-05-25 14:42] ioana-chiorean commented on #7
![photo_2016-05-25_17-42-37](https://cloud.githubusercontent.com/assets/1391451/15544077/1b717a76-22a0-11e6-8eef-723a70097eaa.jpg)

![img_3065](https://cloud.githubusercontent.com/assets/1391451/15544056/0429bf0e-22a0-11e6-9a69-2104b99aa9a2.JPG)

[2016-05-25 15:05] ioana-chiorean commented on #7
[x] Meeting 1
[ ] AI (Brian) Set new meeting,
[ ] AI Work Asynchronous on defining accountability
[ ] AI - Participate in Council Meetings

![img_3511](https://cloud.githubusercontent.com/assets/1391451/15544948/440ad902-22a3-11e6-89aa-d58bcea6eadd.PNG)

[2016-05-25 15:27] Mte90 commented on #21
I'm working for an email to the people interested for a meeting the next week.

[2016-05-25 15:35] brianking commented on #7
I updated the issue description to set the goal / success metric, and to give ourselves some defined tasks and deadlines to get this done. If they don't feel right, let me know.

More notes from the meeting:
* Review of what we discussed in Berlin. See images attached in this issue.
Do we compare ourselves to a board, and operate within a similar structure to keep the council accountable? Or do we

[2016-05-25 15:47] regnard commented on #7
Folks, this is my github account.

[2016-05-25 20:23] MichaelKohler opened #34 "Publish Council Meeting Notes 25/05"
## Goal:
The 25/05 Council meeting notes are published.

## Roles:
* Owner: @MichaelKohler
* Involved: Council for review

## Required:
- [x] Draft notes (@MichaelKohler, Due: May 27th)
- [x] Open up for review (@MichaelKohler, Due: May 29th)
- [x] Publish it on Discourse/Wiki (@MichaelKohler, Due: May 30th)

[2016-05-25 20:31] MichaelKohler opened #35 "Publish initial blog post about RepsNext with video"
## Goal:
We want to publish an initial blog post about RepsNext with initial overall strategy information, the amazing video from Berlin, a transcript thereof, the currently decided parts and our next steps with an invitation to get involved.

## Related Issues & Links:
related to: https://github.com/mozilla/Reps/issues/9
dependency: https://github.com/mozilla/Community-Design/issues/67

## Roles:

[2016-05-25 20:33] MichaelKohler commented on #27
We have agreed on the OKRs, I just need to add a small addition on what we mean with "RepsNext" for now on there. Will publish and announce tomorrow (timeline is updated in the initial post).

[2016-05-25 20:35] MichaelKohler commented on #9
I think it would beneficial to come up with a communication plan and timeline before London, so we can just it slightly if needed in London and then go for it! Also after the initial communication as described in #35 we should regularly give updates on what we're working on. A plan on what exactly we want to tackle in London would IMHO be the next step, followed by London results after the All Han

[2016-05-25 20:35] nukeador commented on #35
Check with @rosanardila since she was already drafting something for #9

[2016-05-25 20:39] nukeador commented on #25
Moving to backlog until description is completed.

[2016-05-25 20:41] nukeador commented on #3
Related: #9 #35

[2016-05-26 16:41] MichaelKohler commented on #33
Published RoM for February on blog (https://blog.mozilla.org/mozillareps/2016/05/26/rep-of-the-month-february-2016/), Discourse (https://discourse.mozilla-community.org/t/rep-of-the-month-february-2016/8913), Portal and reps-general.

[2016-05-27 05:53] hmitsch commented on #35
Bläh, I feel so old ... what do I need to do to be able to edit this post, @michaelkohler?

[2016-05-27 06:00] hmitsch commented on #35
Suggested changes:
- add "Reps Peers" to Consulted and Informed
- change "get feedback and review on draft" to:
"Request review and feedback (@MichaelKohler)"
- add new items immediately below the above mentioned line:
"Review, due date XXX (@ Council and Peers)"
"Integrate obtained feedback (if there was any) (@MichaelKohler)"

The reason I'd change the wording is to avoid being blocked by the re

[2016-05-27 07:49] MichaelKohler commented on #35
There should be an edit button on the top right of the post's header. But this is only if you're marked as collaborator on the repository which you are currently not. You might want to reach out to Nuke to get added as well.

Will edit in a second, thanks for the feedback!

[2016-05-29 20:25] dricupello commented on #21
Hi guys! I'm interested to be the person in Brazil as regional mobilizer!

[2016-05-30 12:03] Mte90 commented on #21
I sent the email but actually of all the people written in the first comments of ticket only two have chosen the date for the meeting.

[2016-05-30 15:20] MichaelKohler commented on #33
Published on Portal (needs backdate by @akatsoulas), published on [Discourse](https://discourse.mozilla-community.org/t/reps-of-the-month-march-2016/8970) and blog post is waiting for approval (maybe @rosanardila could help here?). Mail to reps-general is sent.

[2016-05-30 16:24] hmitsch commented on #33
@michaelkohler, is there a link to that draft blog post? What kind of approval are you looking for? Maybe a Peer could help?

[2016-05-30 19:41] MichaelKohler commented on #33
There is, but you probably can't see it without being logged in. The text is already peer-reviewed, therefore should be fine. The kind of approval I'm looking for is built into the blog system. I only have permission to submit new blog posts for review. Then somebody who has reviewer-privileges on the blog can approve it and then it's being published. Rosana unfortunately can't reset her password

[2016-05-30 19:56] MichaelKohler commented on #27
I've updated which parts of RepsNext are important for the goal. I will communicate this tomorrow.

[2016-05-30 20:04] MichaelKohler opened #36 "Publish missing Council meeting notes on Wiki"
## Goal:

All missing Council meeting notes since the end of 2015 are added to the Wiki: https://wiki.mozilla.org/ReMo/Meetings#Remo_Council_Weekly_Meetings . It seems this has been forgotten to mention to transfer in knowledge along our way. Since we're all human, this can happen, but we need to update this since this was a request some time ago. Discourse is nice for discussion, but not for arch

[2016-05-30 20:11] MichaelKohler commented on #35
Hi everyone, I'm sorry I let this slip. I update the timeline to be more realistic. I will create an outline we can discuss in a few minutes and after some initial feedback we can start drafting the blog post together. I don't think we'll need a lot apart from the video, but we nevertheless need to have some introduction, what it's about and next steps.

[2016-05-30 20:59] MichaelKohler commented on #34
Sorry for the delay here, here is the draft: https://docs.google.com/document/d/1EkCxxQUt5PgQugRdqzzuEc55sTHuwL98auDSBAOj4YA/edit

Please review and then I'll share it on Wednesday after our Council meeting. In the future I'll make sure to add the notes right after the meeting so we can publish more timely.

[2016-05-30 21:37] MichaelKohler commented on #35
Hi everyone, I'm sorry I let this slip. I update the timeline to be more realistic. I will create an outline we can discuss in a few minutes and after some initial feedback we can start drafting the blog post together. I don't think we'll need a lot apart from the video, but we nevertheless need to have some introduction, what it's about and next steps.

[2016-05-30 21:39] MichaelKohler commented on #35
I've started the outline here: https://docs.google.com/document/d/1FbDIuGUWllVVcAKSqfD0t_h66peO8D6SfAfmIUpGSNI/edit?usp=sharing

Since I already talked to @rosanardila and @hmitsch about reviewing the outline, could you please give your thoughts on it? I think that should capture the most essential parts we then can later follow up on.

I've also included the link to the video and wrote a transcri

[2016-05-31 21:34] hmitsch commented on #35
Hi @MichaelKohler, thanks for the transcript. Amazing work!

Not sure I fully understood your request. Moving ahead, I added a draft for the blog post. Hope this is what you expected?

In my opinion the blog post still needs the "Get Involved" links and the text I added needs to be reviewed/approved. Following that it would be ready to go.

[2016-05-31 21:45] hmitsch commented on #27
For documentation purposes: Unanimous vote, as seen in screenshot.
![remo okr q2-16 voting](https://cloud.githubusercontent.com/assets/869692/15691542/b910d41e-2789-11e6-9468-57f6c9879970.png)

[2016-06-01 08:24] MichaelKohler commented on #35
Hi Henrik, I was looking for feedback for the outline (is that the topics we want to include in the blog post?). Thanks for adding the draft, that's already really good. I'd add something more about the working groups (for example that we mostly have implemented the Alignment proposal for example). What do you think? Then also our next steps for London.

I will add the "Get involved" links later t

[2016-06-01 16:11] MichaelKohler commented on #21
There are now 4 people who filled it out. But seeing that we have at least two more people interested here, here's the doodle: http://doodle.com/poll/a75exncps9r664un

@Mte90 I think the time is in UTC?

[2016-06-01 16:14] MichaelKohler opened #37 "Publish Council Meeting Notes 01/06"
## Goal:
The 01/06 Council meeting notes are published.

## Roles:
* Responsible: @MichaelKohler
* Accountable: Council

## Required:
- [x] Draft notes (@MichaelKohler, Due: June 2nd)
- [x] Open up for review (@MichaelKohler, Due: June 2nd)
- [x] Publish it on Discourse/Wiki (@MichaelKohler, Due: June 5th)

[2016-06-01 17:52] MichaelKohler commented on #27
https://wiki.mozilla.org/ReMo/Goals
https://discourse.mozilla-community.org/t/reps-program-okrs-for-q2-2016/9012

[2016-06-01 17:52] #27 closed

[2016-06-01 18:09] dricupello commented on #21
Done!

Adriano Cupello

celular:  21 988480481
dricupello@gmail.com

[2016-06-01 18:38] anistuhin commented on #21
@Mte90 Is the mail open for all Reps?? I mean where did you send the email?? I didn't notice any email regarding this doodle except here :( Btw I could be a helping hand too if.

[2016-06-01 18:44] Mte90 commented on #21
I written an email only to the people written in the first comment of the
ticket. Actually I have a Internet problem so I cannot check the time of
the meeting available but I think that now we can define that.

[2016-06-01 19:10] anistuhin commented on #21
Okay, does that mean I can join too, cause I'm not one among that four :P ??

[2016-06-01 21:34] ShaguftaMethwani commented on #21
I would love to help out on this, just incase if I am not too late yet

[2016-06-02 04:55] nukeador commented on #29
Ping @ppapadeas

[2016-06-02 04:55] nukeador commented on #29
Ping @ppapadeas

[2016-06-02 05:30] nukeador commented on #21
Also note that this meeting is just for the people that want to help create the group and activities, the group with Regional Mobilizers itself will be former later and communicated to all Reps.

[2016-06-02 05:45] bobreyes commented on #21
@nukeador I can help out for Southeast Asia

[2016-06-02 06:01] rowdymehul commented on #21
Would love to join and help! Hope I'm also not late yet!

[2016-06-02 07:00] DineshMv commented on #21
I'd love to help. I'm from India. :)

[2016-06-02 12:13] ppapadeas commented on #29
Hey @nukeador . We need to coordinate the email. First draft here:
https://public.etherpad-mozilla.org/p/reps-mozillians-email

Please review so we can send.

[2016-06-02 12:24] hmitsch commented on #29
Nice email. If I may suggest:
Maybe you could add a <tl;dr> to the top, clearly pointing out the call to action with the 2 week deadline.

-Henrik

--
Henrik Mitsch

[2016-06-02 13:10] ppapadeas commented on #29
Done!

On Thu, Jun 2, 2016 at 3:24 PM, Henrik Mitsch <notifications@github.com>
wrote:

[2016-06-02 13:18] Mte90 commented on #21
WOW how many people! I hope that all that reps will be involved also in the WGs :-D
The best time is this friday at 7pm UTC+0.
I want to remember to everyone what Nuke said:
```this meeting is just for the people that want to help create the group and activities, the group with Regional Mobilizers itself will be former later and communicated to all Reps.```

[2016-06-02 13:45] couci commented on #30
updated the topics

[2016-06-02 14:29] nukeador commented on #29
I've added somethings and a suggestion to also explain the upcoming group invitation

[2016-06-02 17:20] MichaelKohler commented on #21
Could you send out a calendar invitation to everyone that filled out the doodle? Guess it would make sense to use the MozillaReps Vidyo room and add a link to that in the invitation as well. Thanks!

[2016-06-02 17:51] MichaelKohler commented on #34
Published: https://discourse.mozilla-community.org/t/council-meeting-notes-25-05-2016/9046

The wiki will come with #36

[2016-06-02 17:51] #34 closed

[2016-06-02 17:52] MichaelKohler commented on #37
Will need to move this to tomorrow.

[2016-06-02 21:08] Mte90 commented on #21
Ok calendar invitation sent, I hope to invited everyone from that ticket and doodle.
Don't forget to read the links in the invitation (already shared here).

[2016-06-03 12:32] nukeador commented on #1
@Faisalaziz can we get an update here please? We need to move this before London.

[2016-06-03 12:36] nukeador commented on #32
* Council is getting ready for 1:1s with Reps.
* @couci is gathering data from budgets and getting support from @akatsoulas for portal

[2016-06-03 12:44] nukeador commented on #15
@ppapadeas we need an update here. Specially about comms to Reps about the change in dates, thanks :)

[2016-06-03 12:45] nukeador commented on #25
Ping @bacharakis to update this, thanks! :)

[2016-06-03 12:46] nukeador commented on #3
@brianking did you push people to publish something before London? Do you need help? Thanks! :)

[2016-06-03 14:43] brianking commented on #3
Just pinged council on Telegram about this. Yes, feel free to help @nukeador if you think this is important.

[2016-06-03 15:26] umeshagarwal commented on #10
@MichaelKohler Can you please create a range voting for this with the 6 nomination we received ? We need onboard them soon!

[2016-06-03 15:36] umeshagarwal commented on #10
Thanks @MichaelKohler I have just created a range poll voting which will start tomorrow.

[2016-06-03 15:40] umeshagarwal commented on #3
I will try to complete my blog post before All hands! @brianking :)

[2016-06-03 17:01] nukeador commented on #28
Ping @Faisalaziz

[2016-06-03 20:08] Faisalaziz commented on #28
Communication sent
https://discourse.mozilla-community.org/t/council-chair-may-june-2016/9070

[2016-06-03 20:08] #28 closed

[2016-06-03 20:13] Faisalaziz commented on #1
@nukeador I have sent you a draft for sending communication to selected reps, Kindly advice

[2016-06-04 06:56] hmitsch commented on #15
Reps are asking for transparency on the election process: https://discourse.mozilla-community.org/t/council-elections/9077

[2016-06-06 14:44] ioana-chiorean opened #38 "Reps Weekly Call - June 9th, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #30
➡️ #43

## Roles:
Owner: @ioana-chiorean
Involved: @couci

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chiorean, @couci, [small, medium, large], Due: date )
- [x] Council updates - (@ Reps Council, [med

[2016-06-06 18:27] Mte90 commented on #21
Post on Discourse: https://discourse.mozilla-community.org/t/reps-regional-coach-group-we-need-your-feedback/9105
The next steps: Form candidate to candidate/
The step for this week define the countries for every region, my proposal based where there are [Reps Map](https://reps.mozilla.org/people/#/):

- North America: USA, Canada
- Central America: Mexico, El Salvador, Costa Rica, Panama, Nicarag

[2016-06-06 18:32] bobreyes commented on #21
@Mte90 The Philippines, Indonesia and Vietnam are (politically and geographically) part of Southeast Asia (all members of the ASEAN -- http://asean.org/asean/asean-member-states/)

Taiwan, is technically not from Southeast Asia (though we would love to have them in this regional group).

[2016-06-06 18:37] anistuhin commented on #21
Little correction:
South Asia: India, Nepal, Pakistan, Bangladesh
North Asia: China

[2016-06-06 18:39] Mte90 commented on #21
I tried to organize to have regional groups with different countries and not only one but sure we can improve the list :-)

[2016-06-06 19:26] Mte90 commented on #21
Updated:

- North America: USA, Canada
- Central America: Mexico, El Salvador, Costa Rica, Panama, Nicaragua, Venezuela, Colombia,
- South America: Ecuador, Perŭ, Bolivia, Brazil, Paraguay, Chile, Argentina,
- West Europe: Portugal, Spain, Ireland, UK, France, Belgium, Nederlands, Italy, Switzerland, Germany, Czech, Austria, Slovenia, Sweden,
- East Europe: Poland, Hungary, Albania, Kosovo, Serbia

[2016-06-06 19:32] DineshMv commented on #21
@Mte90 India comes under **south Asia**

[2016-06-06 19:36] Mte90 commented on #21
Done :-)

[2016-06-06 22:02] anistuhin commented on #21
sorry, Man follow my previous comment for South Asia and North Asia. It's still need to be updated :) https://github.com/mozilla/Reps/issues/21#issuecomment-224048256

[2016-06-07 10:24] nukeador commented on #29
@ppapadeas do you need anything else here before sending the comms?

[2016-06-07 15:18] MichaelKohler commented on #33
Published April on Discourse (https://discourse.mozilla-community.org/t/rep-of-the-month-april-2016/9121), Portal and reps-general. Blog post needs review, Nuke is gonna do that in a few minutes. As well as the one for March.

[2016-06-07 22:36] MichaelKohler commented on #33
@nukeador I've corrected the layout, please approve it ASAP on the blog. Then we can close this issue.

[2016-06-07 22:37] MichaelKohler commented on #37
again I didn't have time to do this tonight, I certainly will do this tomorrow, even though we're already a week late.

[2016-06-07 22:40] MichaelKohler commented on #35
I'll add a few things tomorrow and send out a review request.

[2016-06-08 09:24] nukeador commented on #33
Done

[2016-06-08 17:26] MichaelKohler commented on #33
https://blog.mozilla.org/mozillareps/2016/06/07/rep-of-the-month-april-2016/ and https://blog.mozilla.org/mozillareps/2016/05/30/rep-of-the-month-march-2016/

[2016-06-08 17:26] #33 closed

[2016-06-08 17:27] MichaelKohler opened #39 "Publish Council Meeting Notes 08/06"
## Goal:
The 08/06 Council meeting notes are published.

## Roles:
* Responsible: @MichaelKohler
* Accountable: Council

## Required:
- [x] Draft notes (@MichaelKohler, Due: June 9th)
- [x] Open up for review (@MichaelKohler, Due: June 9th)
- [x] Publish it on Discourse/Wiki (@MichaelKohler, Due: June 11th)

[2016-06-08 23:54] hmitsch commented on #7
We had a follow-up meeting on 06 JUN 2016: https://docs.google.com/document/d/1dMMe_2slft2Rk690lOHjP5xdwYlsuajSo-AUW08s6bU/edit#

Next Steps:
* Transition ReMo Module Ownership from Pierros to Ioana
* Communicate council election dates
* Continue working on PeersNext

[2016-06-09 08:25] brianking commented on #33
Epic job getting caught up on these Michael, thank you.

[2016-06-09 16:32] mohamed7afezz commented on #21
@Mte90 you miss algeria and How does Senegal, Ivory Coast, Ghana in North Africa and Middle East?
See this:
https://en.wikipedia.org/wiki/MENA
http://www.investopedia.com/terms/m/middle-east-and-north-africa-mena.asp

And as we previously talk, we need to make the Arabic countries under one coach to be aware with all Arabic community.

[2016-06-09 20:50] MichaelKohler commented on #35
I've added some more text and links to the draft on https://docs.google.com/document/d/1FbDIuGUWllVVcAKSqfD0t_h66peO8D6SfAfmIUpGSNI/edit . Could you please review this so we can publish it early next week?

[2016-06-09 21:01] MichaelKohler commented on #37
I've added the meeting notes to https://docs.google.com/document/d/1TndefbzQd27RmmbQPLEcKHAY3-_BjOhrdt2d6K6s51U/edit . Council, please review so I can publish this ASAP.

[2016-06-09 21:11] MichaelKohler commented on #39
I've added the meeting notes about the retrospective to the public meeting notes here: https://docs.google.com/document/d/17-RvA0ciU87q0WtoOtvJRDBlLVhq-83knc3T_LWfjUQ/edit

Council, please help me review this so it is clear enough for all Reps. I'm mostly not sure around the measurements, since they need to be crystal clear. Maybe @hmitsch could review once again as well even though I just copied

[2016-06-10 16:29] Mte90 commented on #21
New Update:

- North America: USA, Canada
- Central America: Mexico, El Salvador, Costa Rica, Panama, Nicaragua, Venezuela, Colombia,
- South America: Ecuador, Perŭ, Bolivia, Brazil, Paraguay, Chile, Argentina,
- West Europe: Portugal, Spain, Ireland, UK, France, Belgium, Nederlands, Italy, Switzerland, Germany, Czech, Austria, Slovenia, Sweden,
- East Europe: Poland, Hungary, Albania, Kosovo, Ser

[2016-06-10 16:32] anistuhin commented on #21
Nepal, Pakistan, Bangladesh should not be in north Asia rather in south Asia.

[2016-06-10 16:34] Mte90 commented on #21
We cannot create a regional couch with only one country so have to change the definitions for the regional area.

[2016-06-11 09:13] mijanurrahman commented on #21
@Mte90
Please correction this:
- South Asia: Bangladesh,Nepal, Pakistan, India
- North Asia: China, Taiwan
- South East Asia: Thailand, Cambodia, Malaysia

[2016-06-11 10:38] Mte90 commented on #21
First of all this list is based not only on the countries but also on the number of the reps, if we have a country with an huge number of reps we have to do a little regional area else for the regional coaches is it difficult for him to do his job (also there are 1 or plus for that region).
Also is based for languages and culture, it is not an easy to do it but actually we have to try with few of

[2016-06-11 16:56] nukeador commented on #21
@Mte90 Let's not over complicate the regions thing. Let's start with the wider approach and see if we need to split into smaller groups. I don't think we need a big group at the beginning to experiment.

My proposal is to have this 9 groups to start now:

* Region 1: North America
* Region 2: Central America, South America
* Region 3: North Europe, South Europe, South East Europe
* Region 4: North

[2016-06-11 17:10] Mte90 commented on #21
I am agree with you I have only improved the list to get the must approval of that but is the second part here.
We have to define the role itself and also what have to do.

[2016-06-14 15:28] MichaelKohler commented on #37
https://discourse.mozilla-community.org/t/council-meeting-notes-01-06-2016/9243

[2016-06-14 15:28] #37 closed

[2016-06-15 07:19] hmitsch commented on #35
I added a section "**Moving beyond RepsNext**" to the draft post.
@MichaelKohler can you please review. Not sure the wording fits well?

[2016-06-15 08:59] MichaelKohler commented on #39
https://discourse.mozilla-community.org/t/council-meeting-notes-08-06-2016/9255

[2016-06-15 08:59] #39 closed

[2016-06-16 09:53] hmitsch commented on #15
Reminder to self (@hmitsch): The *milestone* is August, that's why it will be in August.

[2016-06-16 10:18] ioana-chiorean commented on #15
Added details to the description and some of the steps already identified. 🎉

[2016-06-16 10:19] ioana-chiorean commented on #15
@hmitsch -> I would say till August to be done ( The updated timeline above is for July )

[2016-06-16 15:30] MichaelKohler commented on #35
Ready for approval on the blog by Nuke

[2016-06-16 16:03] MichaelKohler commented on #10
@umeshagarwal will compile a full list of responsibilities together with @deimidis  and reach out to the nominated persons so they can say if they can commit to that.

[2016-06-16 16:06] MichaelKohler commented on #1
@Faisalaziz please update this issue according to our discussion today

[2016-06-16 16:17] MichaelKohler commented on #35
This is now done: https://blog.mozilla.org/mozillareps/2016/06/16/repsnext-introduction-video/

Discourse: https://discourse.mozilla-community.org/t/repsnext-blogpost-with-video/9270

Mail sent to reps-general as well.

[2016-06-16 16:17] #35 closed

[2016-06-16 16:23] MichaelKohler commented on #9
As we have just discussed, we will need to follow up with a more detailed communication around RepsNext. IMHO this should include the following pieces (as we already partly discussed):

* General structure schema
* Table with a comparison of improvements
* Summary of implemented alignment strategy
* Current status of the other working groups (short explanation of what will be improved there)

I co

[2016-06-16 16:24] MichaelKohler commented on #32
@nukeador are we going to share some feedback we got through that?

[2016-06-16 16:24] MichaelKohler commented on #11
Since we're currently doing the sprints, this is done and therefore I'm closing this.

[2016-06-16 16:24] #11 closed

[2016-06-16 16:26] MichaelKohler commented on #3
Is the goal still to share those blog posts? I'd suggest to focus on the future blog posts we want to get out to inform about the current status.

[2016-06-17 12:16] MichaelKohler commented on #3
Let's close this and focus on the normal communication we should be doing now.

[2016-06-17 12:16] #3 closed

[2016-06-17 12:16] MichaelKohler commented on #32
Research is done, we'll create a new one to share learnings

[2016-06-17 13:00] #32 closed

[2016-06-17 13:01] #13 closed

[2016-06-17 13:07] nukeador commented on #18
@couci is telling that this is now done. Please document where ;)

[2016-06-17 13:07] #18 closed

[2016-06-17 13:09] MichaelKohler opened #40 "Activity Campaign"
## Goal:
Set up an activity campaign to support a small list of prioritized initiatives delivered by Participation team, and work with coaching efforts to deliver a first iteration quickly through new mentors.

## Related Issues & Links:

## Roles:

* Responsible: @nukeador
* Accountable: @nukeador
* Supporting: @rosanardila @gapsonTM @brianking
* Consulted: @bacharakis @deimidis
* Informed:

## R

[2016-06-17 13:15] MichaelKohler commented on #9
![photo171905228960016893](https://cloud.githubusercontent.com/assets/330324/16151624/5c9f0d78-349e-11e6-8d46-eed935bae1b5.jpg)

[2016-06-17 13:17] MichaelKohler opened #41 "Events Playbook"
## Goal:

[One line goal description]
## Related Issues & Links:

[Reference meta issues and past issues] #
## Roles:

Responsible:

Accountable:

Supporting:

Consulted:

Informed:
## Required:
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)

![photo17190522896

[2016-06-17 13:18] MichaelKohler opened #42 "Conflict Resolution / Community Playbook"
## Goal:

[One line goal description]
## Related Issues & Links:

[Reference meta issues and past issues] #
## Roles:

Responsible:

Accountable:

Supporting:

Consulted:

Informed:
## Required:
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)

![photo17190522896

[2016-06-17 13:23] MichaelKohler commented on #5
![photo171905228960016895](https://cloud.githubusercontent.com/assets/330324/16151890/7194106a-349f-11e6-93c0-0d67cf032949.jpg)

[2016-06-17 13:52] Timmaks commented on #17
don't wait to the final state of reps next but start to label pages as outdated as soon as possible so its gets clear that they are obselete

[2016-06-17 15:13] rara79 commented on #5
We had meeting with @brianking on May 14th at Jakarta, and here's what we did:
- discussion and listening to the community's frustration
- hacking on the previous slides: https://docs.google.com/presentation/d/1X8xMplxiQ9livT6wqO3MKK-xNtA6KXeBe0K02RjHJyY/edit#slide=id.gc6f8954bc_0_116
- hacking on the spreadsheet: https://docs.google.com/spreadsheets/d/1LPZpL48v_um6P_1DMqJS6KeC4U_5Fe8JAZaKS1uzHwQ/

[2016-06-17 15:19] rara79 commented on #5
June 18th, a 30-mins call between @rosanardila @couci and the Indonesian Reps already happened. Meeting notes: https://public.etherpad-mozilla.org/p/RepsIDRosanaKonstantina
Suggestions:
- Break down on the areas you want to work
- Work on a 3 month plan

[2016-06-20 11:26] nukeador commented on #29
@ppapadeas As commented in London, this is ready for you to send the email.

[2016-06-21 10:34] Mte90 commented on #21
Ok I updated the first comment with the actual steps and the future.
The next step for me is start to plan the first activities for a Regional Coach to discuss.
Updates in the doc

[2016-06-21 16:00] ioana-chiorean opened #43 "Reps Weekly Call - June 23rd, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links:
⬅️ #38
➡️ #46

## Roles:
Owner: @ioana-chiorean
Involved: @couci

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chiorean, @couci, [small, medium, large], Due: date )
- [x] Council updates - (@ Reps Council, [mediu

[2016-06-22 15:31] ioana-chiorean commented on #43
Agenda is ready - https://public.etherpad-mozilla.org/p/remo-call-23-06-16

[2016-06-22 16:22] MichaelKohler commented on #9
Some consolidated ideas here:

* A blog post about the comparison before <-> after with a visual structural element to make it easy for everyone (Reps and staff) to understand the improvements
* Slides to catch these improvements splitted up by area and then weekly updates within them (living slide)
* The above 2 outputs could be presented in the Monday meeting call as well to get a broader reach

[2016-06-22 16:22] MichaelKohler commented on #9
I'm going to draft a second blog post and send out for review until the end of the week, so we can have a second intro for Reps to get up to speed.

[2016-06-22 16:32] ioana-chiorean opened #44 "Publish Reps of the Month for May and June"
## Goal:
Organized the voting for May ( needs manual input ) and publish the resutls for both may and June to keep this on track

## Roles:

Responsible: @ioana-chiorean
Accountable: @ioana-chiorean
Supporting: @MichaelKohler, @akatsoulas (to set the date back on the portal)

## Required:
- [x] Create [manual voting](https://reps.mozilla.org/v/rep-of-the-month-for-may-1/) for May 2016 on Portal (

[2016-06-22 16:38] MichaelKohler commented on #44
Can we have sub-tasks for the creation of the text itself? I'm not that good of a writer, but I can definitely publish them (and help out) :)

[2016-06-22 16:57] MichaelKohler opened #45 "Publish Council Meeting Notes 22/06/2016"
## Goal:
The 22/06 Council meeting notes are published.

## Roles:
Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: Reps Council for Review

## Required:
- [x] Draft notes (@MichaelKohler, Due: June 23rd)
- [x] Open up for review (@MichaelKohler, Due: June 23rd)
- [x] Publish it on Discourse/Wiki (@MichaelKohler, Due: June 26th)

[2016-06-24 08:13] alamanda commented on #5
@rara79 the call with @rosanardila and @couci happened on June 8th instead of June18th.

[2016-06-24 08:25] alamanda commented on #5
I read here that @rara79 has been sending updates from the Indonesian community side. I wonder if the council members have read all the updates we made thoroughly to have better understanding about the midterm planning?

I am aware that there's a council meeting regarding this matter during All Hands. Would any council member kindly give us (@andi-belutz and I) updates regarding the meeting and it

[2016-06-25 09:10] ioana-chiorean opened #46 "Reps Weekly Call - June 30th, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #43
➡️ #49

## Roles:
Owner: @ioana-chiorean
Involved: @couci

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chiorean, @couci, [small, medium, large], Due: date )
- [x] Council updates - (@ Reps Council, [med

[2016-06-27 18:58] ioana-chiorean commented on #43
https://discourse.mozilla-community.org/t/weekly-call-23-06-2016/9387/2

All tasks completed!

[2016-06-27 18:58] #43 closed

[2016-06-27 19:18] ioana-chiorean commented on #38
All tasks completed! 🎉 ✔️

[2016-06-27 19:18] #38 closed

[2016-06-27 19:39] MichaelKohler commented on #9
I'm sorry, I wasn't able to come up with a draft in the last days. I'll take care of this tomorrow evening!

[2016-06-27 19:46] ioana-chiorean commented on #30
All tasks completed. 🎉 ✔️

[2016-06-27 19:46] #30 closed

[2016-06-27 20:22] ioana-chiorean commented on #24
All tasks completed!

[2016-06-27 20:22] #24 closed

[2016-06-27 21:11] ioana-chiorean commented on #23
All tasks completed! 🎉 😩 😪

[2016-06-27 21:11] #23 closed

[2016-06-27 21:36] ioana-chiorean commented on #22
All tasks completed! 🎉 😴

[2016-06-27 21:36] #22 closed

[2016-06-28 08:09] ioana-chiorean opened #47 "Reps Weekly Call - Analyze Notes posting engagement"
## Goal:
- Asses if the notes time invested is worthy
## Related Issues & Links:
## Roles:

Responsible: @ioana-chiorean
Accountable: @ioana-chiorean
Supporting: @couci
Consulted: @MichaelKohler
Informed: @couci , @nukeador , @ all Reps
## Required:
- [ ] Check on Discourse the rate of views in the thread
- [ ] Check on Discourse the rate of links opened from the notes
- [ ] Make a nice graph

[2016-06-28 08:13] ioana-chiorean opened #48 "Gather insights about the Reps Weekly Call"
## Goal:
- analyze the attendee growth and engagement for the Reps Call
## Description

We would like to see the progress of the engagement of reps in the weekly call in the last 4 months
- No of attendees in the call/pad
- No of watchers on airmo
- No of views of discourse topic
- No of views on links in discourse
## Roles:

Responsible: @ioana-chiorean
Accountable: @couci
Supporting: @
Consulted

[2016-06-29 14:03] alamanda commented on #5
as per @MichaelKohler request, I copied the important links for Indonesian community midterm planning once again:
1. http://bit.ly/1YrwEr0 (Budget Spreadsheet)
2. http://bit.ly/29ePbFI (Community Roadmap Slides)

For the record, I noticed here that these links are listed here in Related Issues and Links on top part of this github issue and @rara79 has explained that those spreadsheet and slides ha

[2016-06-29 14:45] ioana-chiorean opened #49 "Reps Weekly Call - July 7th, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #46
➡️ #52

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, Rosana, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nomina

[2016-06-29 17:06] rara79 commented on #5
From council meeting on June 29th:

- ICYMI,
    - community roadmap slides https://docs.google.com/presentation/d/1X8xMplxiQ9livT6wqO3MKK-xNtA6KXeBe0K02RjHJyY/edit#slide=id.gd4b047a73_0_65
    - Budget spreadsheet https://docs.google.com/spreadsheets/d/1LPZpL48v_um6P_1DMqJS6KeC4U_5Fe8JAZaKS1uzHwQ/edit#gid=1772027292
- From the last council meeting in London, there’s no clear decision yet because

[2016-06-30 10:55] couci commented on #1
The volunteer Review Team members are:
* Dian Ina Mahendra @alamanda
* Ankit Gadgil
* Priyanka Nag
* Flore Allemandou
Responsibilities can be found [here ](https://docs.google.com/document/d/1tbcwCKBSK5tZldR21x4H5b0KQpxy2v4UA_zD8dvckWk/edit)

[2016-06-30 10:56] couci commented on #1
Updated the the issue with more realistic dates

[2016-06-30 10:57] couci commented on #1
Next steps are:
* Meeting with the Review Team
* Draft of the transition plan
* Communication for the Reps

[2016-07-02 17:02] MichaelKohler opened #50 "Publish Council Meeting Notes 29/06/2016"
## Goal:
The 29/06 Council meeting notes are published.

## Roles:
Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: Reps Council for Review

## Required:
- [x] Draft notes (@MichaelKohler, Due: July 2nd)
- [x] Open up for review (@MichaelKohler, Due: July 2nd)
- [x] Publish it on Discourse/Wiki (@MichaelKohler, Due: July 5th)

[2016-07-02 17:05] MichaelKohler commented on #45
Draft of the notes here: https://docs.google.com/document/d/1HV_eUlxu2pcXzvfatr508PLZlzPPJbqzWzfsyctNVps/edit . Please review and I'll publish them on Monday.

[2016-07-02 17:14] MichaelKohler commented on #50
Draft of the notes here: https://docs.google.com/document/d/1iCwj_YZeAL514LjUTbu6LT4zPfO2hHNR3RexLFxN3rk/edi

Please review so I can publish them on July 5th latest.

[2016-07-02 18:54] MichaelKohler commented on #9
Started here: https://docs.google.com/document/d/1Xnf8daDl1OzuTvK14gxQKNxwv9ZFZ0PdG_1vaFVbgqA/edit# ... Didn't get that far yet though..

[2016-07-04 13:25] elioqoshi commented on #44
I can help out here if needed

[2016-07-04 20:34] nukeador commented on #40
This depends on the work we are doing at Participation team level defining these initiatives

https://discourse.mozilla-community.org/t/defining-focus-activities/9474/

[2016-07-04 20:34] nukeador commented on #2
@deimidis Let's update this to reflect where we are.

[2016-07-04 20:37] nukeador commented on #21
@Mte90 can you share the comms with Council so we can move forward this week? Can you also link the working doc in the issue description?

Thanks!

[2016-07-04 20:40] Mte90 commented on #21
Sure, for tomorrow the council will have an email about it :-)

[2016-07-04 23:07] hmitsch commented on #9
@MichaelKohler I am suggesting a Lean Startup (validated learning) approach: We provide a rough overview of all impacted RepsNext areas. Additionally we ask for feedback which of these areas should be detailed in the next blog post. This way we make sure we produce articles of maximum interest.

What do you think about this idea?

[2016-07-05 08:19] MichaelKohler commented on #9
@hmitsch I really like this idea! Should we open a Discourse topic as well for the questions we pose? Then we can link that for the discussion.

Apart from that, I think we're on a good way, thanks for your inputs! Do we have changes to the sketch? Otherwise we could create an issue in the OpenDesign repository to get a nice drawing for it.

[2016-07-05 08:24] hmitsch commented on #9
Let's describe the pricture in words first. This will make OpenDesign's work much easier.

+1 for the Discourse.

--
Henrik Mitsch

[2016-07-05 17:35] Mte90 commented on #21
Added the document in the description (I missed that point), for the comms I don't understand that term :-/

[2016-07-05 21:14] ioana-chiorean commented on #17
I think the decision in London was to archive everything and start from scratch.
Right - @MichaelKohler @nukeador ?

[2016-07-05 23:35] nukeador commented on #17
@ioana-chiorean yes, also having in consideration that we can always rescue certain pages from the archive if we feel they are still relevant.

[2016-07-06 17:03] MichaelKohler opened #51 "Publish Council Meeting Notes 06/07/2016"
## Goal:
The 06/07/16 Council meeting notes are published.

## Roles:
Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: Reps Council for Review

## Required:
- [x] Draft notes (@MichaelKohler, Due: July 7th)
- [x] Open up for review (@MichaelKohler, Due: July 7th)
- [ ] Publish it on Discourse/Wiki (@MichaelKohler, Due: July 10th)

[2016-07-06 17:28] MichaelKohler commented on #45
Published here: https://discourse.mozilla-community.org/t/council-meeting-notes-22-06-2016/9605

[2016-07-06 17:28] #45 closed

[2016-07-06 17:36] MichaelKohler commented on #50
Published here: https://discourse.mozilla-community.org/t/council-meeting-notes-29-06-2016/9606

[2016-07-06 17:36] #50 closed

[2016-07-06 17:38] MichaelKohler commented on #44
Since both RoM already know about it, I can share the etherpad here: https://public.etherpad-mozilla.org/p/rom-may-june-2016-drafts

[2016-07-06 17:38] MichaelKohler commented on #44
@elioqoshi the general structure is
* Intro text
* Picture
* Things this Rep has done in the past months

[2016-07-06 17:52] MichaelKohler commented on #44
@elioqoshi maybe you could help me to phrase correctly and maybe add a few more sentences for both? Also we need to find a picture for both :)

[2016-07-06 18:12] MichaelKohler commented on #9
@hmitsch I've added a few lines for the picture. Could you have a look and do your famous suggestion round? :) After that I'll create an issue in the OpenDesign repository with the picture and the text for it to come up with an illustration. Thanks!

[2016-07-06 18:16] MichaelKohler commented on #20
Are there any other ideas / suggestions?

[2016-07-06 20:35] nukeador commented on #20
I'm working on a vision document for RepsNext, I'm still trying to figure out all pieces and concepts, you can assign this to me and I will come with a more detailed proposal: Vision and detailed vision.

[2016-07-06 22:25] MichaelKohler commented on #20
Sounds good! Assigning to you in that case :)

[2016-07-07 16:57] ioana-chiorean commented on #46
Separate topic here:
*  Questions about Mozilla Public Policy and advocacy update: https://discourse.mozilla-community.org/t/questions-about-mozilla-public-policy-and-advocacy-update/9495

Notes here: https://discourse.mozilla-community.org/t/weekly-call-30-06-2016/9493

All tasks complete! 🎉

[2016-07-07 16:57] #46 closed

[2016-07-08 07:04] ioana-chiorean opened #52 "Reps Weekly Call - July 14th, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #49
➡️ #53

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting: @nukeador, @rosanardila
Consulted: @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for n

[2016-07-08 07:06] ioana-chiorean opened #53 "Reps Weekly Call - July 21st, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #52
➡️ #54

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @rosanardila, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for

[2016-07-08 08:00] ioana-chiorean commented on #49
Notes added up - https://discourse.mozilla-community.org/t/weekly-call-07-07-2016/9619
Contacted Rina to suggest her to start a separate discourse thread.
Tweets prepared.

All tasks covered!

[2016-07-08 08:00] #49 closed

[2016-07-08 10:55] nukeador commented on #29
@ppapadeas Please, we need an answer here. Thanks.

[2016-07-08 10:56] couci commented on #1
Doodle for meeting has been sent and comms about the review team members has been made

[2016-07-12 12:31] ioana-chiorean commented on #41
@MichaelKohler can you define what is intended here? Needed? To draft a recommendation?

[2016-07-12 13:08] ioana-chiorean commented on #44
@MichaelKohler I've added some more text and we have the pictures too - pls review them.

[2016-07-12 13:15] ioana-chiorean commented on #21
@Mte90 by "comms" @nukeador means communication ( the communication plan)

[2016-07-12 13:15] MichaelKohler commented on #44
@ioana-chiorean thanks a lot! r+

I will start to publish this tonight.

[2016-07-12 21:35] MichaelKohler commented on #51
@Council: draft done, please review: https://docs.google.com/document/d/1A0F7u-ey-bjHV8PJ-TKS9LPSOm2oHDczvjl2e9j6QGU/edit#

[2016-07-14 00:00] hmitsch commented on #7
Not sure if this is the best place ... but I will do it anyway. Here are two document links:
* Module Owner Transition mail: https://docs.google.com/document/d/1Wp33bGp3MoFXpOfNe8dQVqiF04Xwp_wUAMLyvP34j5A/edit#heading=h.u81e0oenpjii
* PeersNext initial communication draft-draft-draft: https://docs.google.com/document/d/110H9KzA5zXmjfgRzVkx6adUJyNdDWB9K5tvxVsi-Jn0/edit?usp=sharing

[2016-07-14 00:02] hmitsch commented on #7
@ioana-chiorean I am moving this to "in progess" in waffle, because that's what it actually is. Ok?

[2016-07-15 08:56] MichaelKohler commented on #44
Portal for May is done, Discourse as well (thanks Ioana): https://discourse.mozilla-community.org/t/rep-of-the-month-may-2016/9749

Blog post for May is submitted for review, @nukeador could you please approve it?

[2016-07-15 09:03] ioana-chiorean commented on #44
👏🎉🙌🍾
Should we post the second one in a week or on 25th?

[2016-07-15 09:07] ioana-chiorean commented on #7
I agree! 👍

[2016-07-15 10:08] MichaelKohler commented on #44
Let's do it in a week so we can always publish at the middle of the next month.

BTW, Portal and blog post is live (with correct dates)

[2016-07-15 16:06] nukeador commented on #29
Apparently this is not happening at the moment due bandwidth issues.

[2016-07-18 15:22] ioana-chiorean opened #54 "Reps Weekly Call - July 28th, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #53
➡️ #56

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @rosanardila, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for

[2016-07-18 15:56] ioana-chiorean commented on #52
Notes are up: https://discourse.mozilla-community.org/t/weekly-call-14-07-2016/9727/2 ✏️
Discourse for MozFest participation up: https://discourse.mozilla-community.org/t/mozfest-space-contributors-2016-application/9757/6 📝
Shout outs schedules in TweetDeck 🐦 .

All tasks completed! 🎉 👓

[2016-07-18 15:56] #52 closed

[2016-07-18 16:04] ioana-chiorean commented on #19
- [ ] Reps Next
- [ ] Q1 and Q2 ROMs
- [ ] Review team? cc - @couci
- [ ] MozCommunity Spaces with more than 209 events per month?  cc @brianking

[2016-07-18 16:34] ioana-chiorean opened #55 "Gather insights about the ROM"
## Goal:
- improve the participation of engaged people in the ROM process
## Related Issues & Links:
- none
## Roles:

Responsible: @ioana-chiorean
Accountable: Council
Supporting:
Consulted: Mentors, Reps
Informed: Reps
## Required:
- [x] Update wiki to reflect the process (@ioana-chiorean, Due: July 24th)
- [ ] Mail mentors with a reminder about the process (@ioana-chiorean, Due: July 31st)
- [x

[2016-07-18 20:28] ioana-chiorean commented on #44
Can we do it Thursday before the call - so we can announce them in the Reps Call?

[2016-07-18 21:40] MichaelKohler commented on #44
Yes, that sounds good to me!

[2016-07-18 22:38] hmitsch commented on #9
@MichaelKohler sorry for the late feedback. Actually I had a look at the descriptive text. It is definitely a starting point. Unfortunately I am struggling to understand that text. Probably need to read it again with a rested mind. Sorry, I will try again soon (hopefully).

[2016-07-19 23:04] MichaelKohler commented on #51
Done: https://discourse.mozilla-community.org/t/reps-council-meeting-notes-06-07-2016/9815

[2016-07-19 23:04] #51 closed

[2016-07-19 23:34] MichaelKohler commented on #9
@hmitsch thanks for the initial feedback. I just re-read it, and I definitely agree with you. I will rephrase a few things tomorrow.

Additionally I just bumped the OpenDesign team issue regarding the visual.

[2016-07-20 16:04] nukeador commented on #21
Application form closes today.

We will provide Council the full list + a recommendation on the strongest candidates per region.

[2016-07-20 16:08] MichaelKohler commented on #7
Peers have a weekly meeting, top of their priority list.

[2016-07-20 16:18] couci commented on #1
The Review Team has met. @rara79 is also a member of the team until we have the second staff member participating. Our transition plan can be found [here](https://docs.google.com/document/d/115eCfi7W14O9q_iNbIX3oAb9XCTybfLHFTF_-yWF05s/edit)

[2016-07-20 16:18] MichaelKohler commented on #36
I will start to transfer the notes to the Wiki starting this weekend. I've updated the dates in the initial description to reflect that.

[2016-07-20 17:04] deimidis commented on #10
Sorry all, an update on the project and current status.

We begun the process with 11 future Mentors[Coachs] and @ThePhoenixBird helping being the 12 that we need. The week of July 11th was the first call, and this week we had the second one.

Both calls were recorded and are public, the same that material that i curated from different books and resources.

Next week we will begin with the work on

[2016-07-20 21:59] ioana-chiorean commented on #36
I think that will be nice to know moving further if we need them on wiki too ( it requires a lot of work and not sure how many people still read them there )

[2016-07-20 22:23] ioana-chiorean commented on #15
Hi all - just a quick update here.
The peers body spent the last few week investigating different approaches for having the council elections. due to time constraints we will proceed with the know process and we will start after to prepare the new process to be in place for the next elections.
We will follow-up on this one.

##New Timeline proposed (All times in 09:00 UTC)
- [ ] July 21st - call f

[2016-07-21 01:05] rara79 commented on #5
@alamanda and @andi-belutz from the Indonesian community was invited to the council meeting to talk about the Indonesian mid-term planning they are working on to decide on next steps. @couci also there to give different perspective.

- Master goal: half of the community left after the community conflict last year, the Indonesian community want to get new people, in new locations and strengthen the

[2016-07-21 08:45] brianking commented on #10
Shouldn't we be using the existing mentors list for conversations?

[2016-07-21 09:09] Timmaks commented on #10
Yeah use the existing list so we can learn from the new fresh mentors

[2016-07-21 10:19] nukeador commented on #10
My understanding is that the coaching exercises requires a certain level of trust between the group, so they are sharing their own experiences coaching each other which sometimes are a bit personal. That's why they wanted to have a separate channel. As soon as existing mentors get the training they would get access.

Am I right @deimidis ?

[2016-07-21 15:54] ioana-chiorean commented on #44
Secodn discourse here - https://discourse.mozilla-community.org/t/rep-of-the-month-june-2016/9845

[2016-07-21 15:54] MichaelKohler commented on #44
Portal for June is done. Also the blog post is in review with @nukeador now.

Discourse (thanks Ioana): https://discourse.mozilla-community.org/t/rep-of-the-month-june-2016/9845

[2016-07-21 22:27] nukeador commented on #55
@ioana-chiorean we have been using P1 for the things Council wanted to focus during the next month. How important is this? ;-)

[2016-07-22 05:56] ioana-chiorean opened #56 "Reps Weekly Call - Aug 4th, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #54
➡️ #59

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @rosanardila, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for

[2016-07-22 06:13] ioana-chiorean commented on #54
Agenda is up - https://public.etherpad-mozilla.org/p/remo-call-28-07-16 🎉 📝

[2016-07-22 12:12] ioana-chiorean commented on #53
Added separate thread fro ROM - https://discourse.mozilla-community.org/t/rep-of-the-month-rom-process-updates-and-opinions/9860/4
Notes posted
Twitter shoutouts  are planned!

DONE! 🎉

[2016-07-22 12:12] #53 closed

[2016-07-23 19:46] MichaelKohler commented on #15
Sounds great to me, good work!

[2016-07-23 19:58] ioana-chiorean commented on #55
Extremely important for me but maybe a Pinfinite for council.
Sorry - i did not remember we had a legend  for the tags  as for council.- Thanks!

[2016-07-23 21:16] hmitsch commented on #15
Fully agree with proposed approach and timeline.
Unfortunately we already missed milestone 1, however I would NOT adapt the following milestones. Let's get moving.
Onwards and thanks to @ioana-chiorean for driving this.

[2016-07-23 21:42] Timmaks commented on #15
One thing on the time line, in a lot of country's  (i think) it is summerbreak time.. for me for example it would be impossible to keep this timeline because i am on vacation with my family. But i wouldn't be a candidate so this is not a issue for me ;-)

[2016-07-25 06:06] #44 closed

[2016-07-25 21:51] brianking commented on #15
Good flag Tim, it might also be an impediment to voting for some Reps.

[2016-07-27 11:08] rara79 opened #57 "Publish Council Meeting Notes 20/07/2016"
## Goal:
The 20/07/16 Council meeting notes are published.

## Roles:
Responsible: @rara79
Accountable: Reps Council
Supporting: Reps Council for Review

## Required:
- [x] Draft notes (@rara79, Due: July 28th)
- [x] Open up for review (@rara79, Due: July 28th)
- [x] Publish it on Discourse/Wiki (@rara79, Due: July 30th)

[2016-07-28 04:24] rara79 opened #58 "Publish Council Meeting Notes 27/07/2016"
## Goal:
The 27/07/16 Council meeting notes are published.

## Roles:
Responsible: @rara79
Accountable: Reps Council
Supporting: Reps Council for Review

## Required:
- [ ] Draft notes (@rara79, Due: Aug 1st)
- [ ] Open up for review (@rara79, Due: Aug 1st)
- [ ] Publish it on Discourse/Wiki (@rara79, Due: Aug 2nd)

[2016-07-29 08:26] ioana-chiorean opened #59 "Reps Weekly Call - Aug 18th, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #56
➡️ #61

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @rosanardila, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for

[2016-07-29 08:37] ioana-chiorean commented on #56
Agenda is up! 🎉

[2016-07-29 08:37] ioana-chiorean commented on #59
Agenda is up! 👍 🎉

[2016-07-30 09:04] ioana-chiorean commented on #54
Call Post: https://discourse.mozilla-community.org/t/weekly-call-28-07-2016/9970
Notes: https://discourse.mozilla-community.org/t/weekly-call-28-07-2016/9970/2
Tweets scheduled!

All tasks done!  🎉

[2016-07-30 09:04] #54 closed

[2016-08-03 13:34] deimidis commented on #10
Sorry for the delay in answer. Like @nukeador said, the main goal of that specific place is have conversations based on some trust that needs to be developed in the beginning. Obviously they could participate in the other mailing list, but having a space where they could share their concerns and doubts where they feel comfortable is a need (at least is my hypothesis).

[2016-08-03 13:43] deimidis commented on #10
**Update**: I'm still with health issues on my eye, that made everything went slower than expected. By this time, *Mentors/Coachs* had 2 big meetings and some of them begun to meet on a small team basis (we divide them in small groups so they could practice better).

We have Discourse category ready, available for this team and Council members.

Next steps:

* This week we will have our 3rd meetin

[2016-08-03 16:47] MichaelKohler commented on #9
The text is final, will be reviewed by Ioana and Nuke to make sure the message is clear (https://docs.google.com/document/d/1Xnf8daDl1OzuTvK14gxQKNxwv9ZFZ0PdG_1vaFVbgqA/edit#). For the visual I asked the OpenDesign team to change a small piece (https://github.com/mozilla/OpenDesign/issues/79#issuecomment-237289350) and then we can publish.

[2016-08-08 17:53] Mte90 commented on #21
The list of coaches chosen is on https://discourse.mozilla-community.org/t/new-reps-regional-coaches-august-2016/10104

[2016-08-11 22:06] ioana-chiorean commented on #15
**New New Timeline proposed** (All times in 09:00 UTC)

- [ ] Aug 12/13 - call for candidates (eligible Mozilla Reps Mentors/Cohort only)
- [ ] Aug 19 - call closes
- [ ] Aug 20- start of campaign period
-- candidates are given 5 days to answer questions and post them on their profile page
-- candidates are given 5 days to publish a 30-120 seconds campaign video
- [ ] Aug 24th deadline for answers

[2016-08-11 22:44] MichaelKohler commented on #9
Submitted the blog post for review: https://blog.mozilla.org/mozillareps/wp-admin/post.php?post=445&action=edit .. would be great if somebody could approve it, maybe @rosanardila, @brianking or @ppapadeas have admin rights and could do that?

[2016-08-11 23:02] hmitsch commented on #15
The 5 days of voting at the end of August might still fall into the typical "European vacation time". However, if we announce the elections by mid-August, there are two weeks to get into the right mind-set for the elections.

For me the time line is tight but manageable. +1 from my side!

[2016-08-11 23:13] MichaelKohler commented on #14
@rosanardila @nukeador i think this is done as far as Reps Council is concerned, right?

[2016-08-11 23:14] MichaelKohler commented on #15
Given that we're already almost 2 weeks behind schedule, I think a tighter schedule makes sense.

[2016-08-11 23:15] MichaelKohler commented on #2
As we're currently onboarding new mentors I'd say we're on track here, but nevertheless I think we'll need to have a finalized document for this so we can put it on the Wiki in the end.

[2016-08-11 23:16] MichaelKohler commented on #21
Since this is ongoing and working well so far from what I can see, I'll close this one. Let's reopen a new one if there is something more to do, but the initial goals here are done.

[2016-08-11 23:16] #21 closed

[2016-08-11 23:17] MichaelKohler commented on #58
@rara79 do you need any help here? If so, for which parts exactly?

[2016-08-11 23:17] MichaelKohler commented on #57
@rara79 do you need any help here? If so, for which parts exactly?

[2016-08-11 23:21] MichaelKohler commented on #36
I have updated the initial description to a new timeline to reflect Ioana's comment regarding finding out whether we still need this or not. For now the Wiki page links to the Discourse category, so we should be fine. Let's find out if Reps actually look at this instead of Discourse and why (or what information is missing in Discourse)

[2016-08-11 23:22] MichaelKohler commented on #55
@ioana-chiorean do you need any help with this? if so, what exactly?

[2016-08-11 23:24] MichaelKohler commented on #7
@ioana-chiorean could you update this issue with an estimated timeline for this?

[2016-08-12 04:35] hmitsch commented on #7
Not sure if a timeline makes sense here? Since this Wednesday's Peers weekly call we have a list of activities/goals for the second half of 2016. Maybe it makes sense to talk about those in a blog post or so?

@ioana-chiorean what do you think?

-Henrik

[2016-08-12 04:38] hmitsch commented on #36
I have Google Analytics access for Discourse and should be able to provide data for this question. Will look at this later.

@michaelkohler feel free to ping me in case I have not come back to this thread by Tuesday next week.

[2016-08-12 06:26] hmitsch commented on #36
Google Analytics speaks a clear language ...

* [Discourse Analytics - Page Views - Reps Weekly Calls - 20160101-20160811.pdf](https://github.com/mozilla/Reps/files/414702/Discourse.Analytics.-.Page.Views.-.Reps.Weekly.Calls.-.20160101-20160811.pdf)
   * Reps Weekly Call minutes have a constant and significant audience.
   * 1.900 views by 1.200 people in the past 7 months.
* [Discourse Analytics

[2016-08-12 08:13] ioana-chiorean commented on #7
Yes, that will be a good point!
Let's do this!

PS: Thanks @MichaelKohler for the ping here and @hmitsch for the proposal.

[2016-08-12 08:17] ioana-chiorean commented on #36
Well...
Not really @hmitsch . The reps gets more attention as I also add nicknames in the texts, I share them more than the council and maybe event to a broader audience.

My curiosity is for wiki pages - is anyone still looking at those notes? Cause the effort to publish them in both parts is considerable big. IMHO

[2016-08-12 08:23] ioana-chiorean commented on #55
I am ok - I am gathering opinions now ( the surveys were send out  around 2 weeks now).
I will close the surveys next week and analyses the results.

[2016-08-12 08:37] rosanardila commented on #15
+1 from my side for the time line

[2016-08-12 08:54] MichaelKohler commented on #36
Thanks @hmitsch for the numbers. There should be more pages for the Council meeting notes though, since we've published all of them on Discourse. I think the URL should not need to include "reps", then we can get all of them (for example: /council-meeting-notes-30-03-2016). Further it seems that not all views are counted (this could have different reasons: lazy loading, DNT, tracking protection, e

[2016-08-12 09:13] hmitsch commented on #36
@ioana-chiorean and @MichaelKohler I am still trying to get access to the Google Analytics property for the wiki. Will let you know as soon as I have it.

[2016-08-12 09:35] Mte90 commented on #42
As Italian we translated that playbook to use in our ff club and yeah that part it's missing.

[2016-08-12 09:43] Mte90 commented on #41
We want to write something for the Italian community but in case we can write in english and collaborate in this.
any documents for start to contribute?

[2016-08-12 09:46] Mte90 commented on #19
I think that also this https://discourse.mozilla-community.org/t/repsnext-improvements-overview/10251/1 can be a part of the monday call.

[2016-08-12 09:48] MichaelKohler commented on #41
There is https://docs.google.com/document/d/1Me6jN1S1zqRiHNtUttX-fZibuK1-uB_XHQbG4dYhHww/edit that has been created earlier this year. The needs above need to be incorporated into that document (or well, create a v3 document or something).

[2016-08-12 09:53] Mte90 commented on #41
Amazing, it's in my bookmark. I schedule to contribute in that docs asap!

[2016-08-12 10:04] couci commented on #15
+1 for me too, should we say specifically that cohort candidates are eligible for only one position?

[2016-08-12 12:05] comzeradd commented on #15
Looks good to me too :+1:

[2016-08-15 13:00] hmitsch commented on #36
@ioana-chiorean and @MichaelKohler, I have to admit I am a little confused of what kind of info you would like me to come up with ...
However, I got access to the Google Analytics property for wiki.mozilla.org. This way I was able to do what @MichaelKohler asked above:

Here we go ...
[Wiki Analytics - Page Views - Meeting Notes - 20160101-20160814.pdf](https://github.com/mozilla/Reps/files/418068

[2016-08-15 18:43] MichaelKohler commented on #36
Thanks Henrik. What I'm really confused about is the difference between the numbers that are shown on the Wiki page and those in the report. Are those robots that the wiki is counting, but Google Analytics not? Let me try to figure that out. If the numbers from to Google report are accurate (plus the usual suspects like tracking blocking addons and tracking protection), I don't think there is a re

[2016-08-15 19:04] hmitsch commented on #36
Can you post a screenshot of the wiki numbers to make sure I understand what you mean?

--
Henrik Mitsch

[2016-08-15 19:14] rara79 commented on #57
Done, and published: https://discourse.mozilla-community.org/t/reps-council-meeting-notes-20-07-2016/10297

[2016-08-15 19:15] #57 closed

[2016-08-15 19:21] rara79 commented on #58
Thank you for your concern, @MichaelKohler :)
I'm working on these right now. Apologize for being super late :|

[2016-08-15 19:27] MichaelKohler commented on #36
Looks like this is not that easy to find out actually:

* It seems like MediaWiki is counting every visit (even bots) if they are not explicitely disallowed through detection mechanisms
* Google Analytics is counting the views from bots as well, if they are crawling with JavaScript enabled (which Google bots do to some extend nowadays). They could filter it out though, so I don't really know.
* 4

[2016-08-15 19:37] rara79 commented on #58
Done and published: https://discourse.mozilla-community.org/t/reps-council-meeting-notes-27-07-2016/10298/1

[2016-08-15 19:37] #58 closed

[2016-08-15 19:43] rara79 opened #60 "Publish Council Meeting Notes 03/08/2016 - 07/09/2016"
## Goal:
The 03/08/16 - 07/09/2016 Council meeting notes are published.

## Roles:
Responsible: @rara79
Accountable: Reps Council
Supporting: Reps Council for Review

## Required:
- [ ] Draft notes (@rara79 / @MichaelKohler, Due: Sep 10th)
- [ ] Review (@Nukeador, Due: Sep 12th)
- [ ] Publish it on Discourse/Wiki (@rara79, Due: Sep 13th)

[2016-08-15 22:59] hmitsch commented on #36
Ack ... and argh ...
@MichaelKohler I can confirm that I also see the diverging numbers. This is an issue. Not sure how to progress from here ... need to sleep over this ...

[2016-08-16 11:09] brianking commented on #9
I get:

"You are not allowed to edit this item."

[2016-08-17 16:01] MichaelKohler commented on #56
Is this still open?

[2016-08-17 20:56] ioana-chiorean commented on #56
si senor @MichaelKohler - the meeting notes need to be imported.
On me.

[2016-08-18 14:33] ioana-chiorean commented on #15
**New New Timeline proposed** (All times in 09:00 UTC)

- [ ] Aug 18 - call for candidates (eligible Mozilla Reps Mentors/Cohort only)
- [ ] Aug 24 - call closes
- [ ] Aug 25- start of campaign period
-- candidates are given 5 days to answer questions and post them on their profile page
-- candidates are given 5 days to publish a 30-120 seconds campaign video
- [ ] Aug 29th deadline for answers an

[2016-08-18 19:05] ioana-chiorean opened #61 "Reps Weekly Call - Aug 25th, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #59
➡️ #63

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @rosanardila, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for

[2016-08-20 10:02] hmitsch commented on #5
@hmitsch reminder to self: look at this from an "agile coach" perspective. :-)

[2016-08-21 03:15] alamanda commented on #5
our committed partner in Medan, where we supposed to do various community building activities in August, moved to other city. we need to re-start from scratch and find another local partner/supporter if we want to build community in this city. all the hard work we've been doing to get local partners initially, wasted. all those time spent, time that we can never get back, lost forever.

other part

[2016-08-22 11:41] MichaelKohler commented on #9
Next blog post published and announced on Telegram and reps-general:

https://blog.mozilla.org/mozillareps/2016/08/11/repsnext-improvements-overview/
https://discourse.mozilla-community.org/t/repsnext-improvements-overview/10251

I'm closing this one so we can open more specific issues for the future according to the feedback we get in the Discourse thread.

[2016-08-22 11:41] #9 closed

[2016-08-22 16:02] #14 closed

[2016-08-22 18:21] MichaelKohler opened #62 "Publish Reps Q3 OKRs"
## Goal:
We have published our Q3 OKRs on the blog and on Discourse/reps-general as well as a link to it on Telegram to inform all Reps about the current objectives.

## Related links
OKR document: https://docs.google.com/document/d/1UXkjVPyvzdjIdJ3VuMMXAABAhqklKwGCQVDnLI6vAOE/edit?usp=sharing

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @hmitsch

## Required:
- [x

[2016-08-22 18:38] MichaelKohler commented on #62
Wrote a small text in the same document: https://docs.google.com/document/d/1UXkjVPyvzdjIdJ3VuMMXAABAhqklKwGCQVDnLI6vAOE/edit#

@hmitsch could you please review this within the next 3 days since you're always doing such a great job? :)

[2016-08-22 22:11] ioana-chiorean commented on #15
Mail to be sent out any change I might have miss? Or wording to improve?

_ Hello all,

== Intro to Elections ==

The Mozilla Reps program has been a volunteer driven program from the beginning. As Pierros previously said In that spirit the core governing body of the program, the Council, was designed to be an elected body with new members chosen by all Reps every six months. More background about

[2016-08-22 22:23] MichaelKohler commented on #15
This sounds great! I have a two minor nits though:

* the link [3] should be without the _ at the end to make sure it jumps to the right section of the page
* didn't notice before: "to answer questions and post them on their profile page" -> aren't we gonna do Discourse again as last time?

Thanks for your great work so far, let's do this 👍

[2016-08-23 09:03] brianking commented on #15
For Arturo:
"personal availability" might read better as "lack of personal availability" or "personal unavailability"

[2016-08-23 11:53] ioana-chiorean opened #63 "Reps Weekly Call - September 8th, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #61
➡️ #64

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @rosanardila, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for

[2016-08-23 11:53] ioana-chiorean opened #64 "Reps Weekly Call - September 15th, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #63
➡️ #65

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @rosanardila, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for

[2016-08-23 11:55] ioana-chiorean opened #65 "Reps Weekly Call - September 22nd, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #64
➡️ #75

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @rosanardila, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for

[2016-08-23 12:02] ioana-chiorean commented on #15
@MichaelKohler

I see it without - it was present in initial phase from the italic syntax

yes, we are.

@brianking - good suggestion

Thank you!

[2016-08-23 19:57] Mte90 commented on #41
The playbook it's very interesting but on google drive is enalbed only in reading view, it's impossible to comment and leave feedbacks.

[2016-08-23 20:29] MichaelKohler opened #66 "Mid-term planning communication"
## Goal:
The mid-term planning status is communicated to all Reps to make sure that we're all on the same level of knowledge. All communities currently working on a mid-term planning or planning to do so are informed about our intentions.

## Related Issues & Links:
Mid-term planning Indonesia: #5

## Roles:

Responsible: @rosanardila @nukeador
Accountable: Reps Council
Supporting: Reps Council
Co

[2016-08-23 23:51] hmitsch commented on #15
In true Henrik-fashion, I'd add a <tl;dr> to the top.

[2016-08-24 00:30] hmitsch commented on #62
Hi @MichaelKohler,

are you asking for:
- only review of the first paragraph (introduction)
- review the whole document, including Objectives & Key Results

Additionally, I just requested editing access to the document. ;-)

[2016-08-24 07:48] MichaelKohler commented on #62
Hi Henrik, sorry I always forget that you're Google Doc email is not the one you use for the alias. You should have permission now.

It would be great if you could review everything apart from the tables (intro and the outro). If you see something in the table that is not clear at all please raise it as well, but the content itself is voted.

Thanks!

[2016-08-24 16:37] MichaelKohler opened #67 "List of Applicants to have as new coachees"
## Goal:
We have a list of about 20 new applicants we can use as coachees for our new coaches.

## Related Issues & Links:
#10

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @deimidis

## Required:
- [x] Come up with a list of potential coachees (@MichaelKohler, Due: Aug 28th)
- [x] Send list to Council for final review and concerns (@MichaelKohler, Due: Aug 29th)
-

[2016-08-25 11:43] ioana-chiorean commented on #15
I took me longer than expected. Sorry. 😞
https://discourse.mozilla-community.org/t/important-council-elections-please-read/10491

[2016-08-25 11:53] rosanardila commented on #15
thanks so much Ioana! Should we send it to reps-general too?

[2016-08-25 12:46] ioana-chiorean commented on #15
I did mail it as first step ( same text but wanted to have a discourse thread link for the mail) @rosanardila  and @nukeador just pinned it to the Telegram group too.

[2016-08-25 20:44] hmitsch commented on #15
Concerning comment https://github.com/mozilla/Reps/issues/15#issuecomment-242357855 ... please do NOT apologize, dear Ms. Module Owner. You are doing an **awesome** job here. Keep it up and thank you so much for not letting us down.

[2016-08-25 21:28] hmitsch commented on #62
@MichaelKohler: I am done with the review. Please have a look and accept/decline at your discretion.

[2016-08-25 21:41] MichaelKohler commented on #62
Thanks a lot @hmitsch ! I've accepted your suggestions, great as always! I also responded to your comments. This is taking great shape.

[2016-08-26 07:53] Timmaks commented on #17
anything i can do to get this going?

[2016-08-26 23:11] MichaelKohler commented on #62
I've posted it on Discourse: https://discourse.mozilla-community.org/t/reps-program-goals-q3-2016/10520

.. and submitted it for review on the blog. @nukeador, @brianking, @couci please publish it once you get time to do it :)

[2016-08-27 06:34] hmitsch commented on #62
Another important piece of work done. Congrats, @michaelkohler!

--
Henrik Mitsch

[2016-08-27 09:06] couci commented on #62
published :)

[2016-08-27 12:17] MichaelKohler commented on #62
Perfect, thanks a lot!

[2016-08-27 12:17] #62 closed

[2016-08-29 09:55] ioana-chiorean commented on #61
💕💐🎈👏🏽
Meeting notes here: https://discourse.mozilla-community.org/t/weekly-call-25-08-2016-special-call/10495/4?u=ioana
Tweets planned too! 🎉

[2016-08-29 09:55] #61 closed

[2016-08-29 11:28] ioana-chiorean commented on #59
Notes are out! https://discourse.mozilla-community.org/t/weekly-call-18-08-2016/10353/2
Tweets are scheduled!

Done! 🎉

[2016-08-29 11:28] #59 closed

[2016-08-29 12:03] ioana-chiorean commented on #56
Notes are upp: https://discourse.mozilla-community.org/t/weekly-call-04-08-2016/10108/2

All done! 🎉

[2016-08-29 12:03] #56 closed

[2016-08-30 09:21] nukeador commented on #67
@MichaelKohler Status update? ;-)

[2016-08-30 20:27] MichaelKohler commented on #67
Working on it. I've started a list here: https://docs.google.com/spreadsheets/d/1wA4NONRzOgBh5EwtEBOGUdHca7abJUJNm3Yc4XIu-YU/edit (only shared to Council and Peers due to my personal ranking inside it)

This might be too "down to the point", but I think it is what we currently need since we have that many applicants.

[2016-08-30 22:28] MichaelKohler commented on #67
Sent my recommendation to the Council and Guillermo for a final look. After that we can go ahead and assign them to the new coaches.

[2016-08-31 12:33] ioana-chiorean commented on #15
Nominations are now closed! We have the following applicants:

1 Spot Reps Cohort :
- [Daniele Scasciafratte](https://reps.mozilla.org/u/Mte90/)
- [Elio Qoshi](https://reps.mozilla.org/u/elio)
- [Mijanur Rahman Rayhan]( https://reps.mozilla.org/u/mijanur/)
- [Flore Allemandou](https://reps.mozilla.org/u/Flore/)

3 Spots from Mentors:
- [Mohammed migdadi](https://reps.mozilla.org/u/Mohammed_Migdadi

[2016-09-01 09:30] comzeradd commented on #15
Nice turnout. I like the fact we have so many nominations :rocket:

[2016-09-01 17:33] nukeador commented on #17
I've done an initial clean up of the pages that were outdated and still linked, making everyone confused:

* ReMo/Planning/Material ‎ (Cleaning. outdated)
* Template:Remoplannav ‎ (Cleaning. outdated)
* ReMo/Planning/Outreach ‎ (Cleaning. outdated)
* ReMo/Planning/Schedule ‎ (Cleaning. outdated)
* ReMo/Planning/Website ‎ (Cleaning. outdated)
* ReMo/Tools and Resources/Slide decks ‎ (Cleaning. outd

[2016-09-01 18:20] Mte90 commented on #17
I was maintaining the slide decks wiki page, there is an alternative for that page where i can move that resources?

[2016-09-01 18:29] nukeador commented on #17
@Mte90 we should probably start a new one with updated material. I need to check with @francjp and @deimidis to port over to the wiki the Events playbook they were working on.

We also had this:

https://wiki.mozilla.org/Contribute/Events/Inventory

[2016-09-01 19:45] nukeador commented on #40
We need to do a big push on this campaign for Reps.

Ping @brianking to have this on our radar and coordinate next week

[2016-09-01 19:45] nukeador commented on #2
Ping @deimidis

[2016-09-01 19:46] nukeador commented on #10
New mentors are about to start their coaching relationships, waiting for #67

[2016-09-01 19:50] nukeador commented on #5
We hold a meeting with the Indonesian community last week.

Notes: https://docs.google.com/document/d/1y2YuxD6azkgxCRobpSfx4iogiBqOQ_Vp_FOq7i2wjG4/edit#

Indonesian community will contact the council as soon as they have discussed internally to see how Council can guide on aligning with current focus initiatives at Mozilla.

Since we clarified on the no-need for approval from Council on the mid-te

[2016-09-01 19:50] #5 closed

[2016-09-01 20:08] nukeador commented on #66
Done https://discourse.mozilla-community.org/t/clarification-on-midterm-plans-reps-and-communities/10635

[2016-09-01 20:08] #66 closed

[2016-09-02 12:38] ioana-chiorean commented on #19
@MichaelKohler how do you want to proceed  here?

[2016-09-02 14:22] couci opened #68 "Review Team communication plan"
## Goal:
Review Team starts working on a transition mode, all communications are in place
## Related Issues & Links:
https://github.com/mozilla/Reps/issues/1

## Roles:

Responsible:  review team

Accountable: @couci

Supporting: council

Consulted: @nukeador

Informed: participation team

## Required:
- [x]  email to the council(@couci, Due: Sept 2nd)
- [x]  blogpost (@couci, Due: Sept 5th)
- [x]

[2016-09-04 16:25] MichaelKohler commented on #19
I would suggest having a second follow-up blog post for the one we did to answer the questions from the Discourse thread. Then we could have a slide deck with the most important changes that could be presented in the Monday call to get visibility.

[2016-09-04 19:19] MichaelKohler opened #69 "Publish RoM for August"
## Goal:
RoM of August is published on the portal, blog and discourse.

## Roles:
Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @ioana-chiorean

## Required:
- [x] Draft text (@MichaelKohler/@ioana-chiorean, Due: Sep 7th)
- [x] Review text (??, Due: Sep 9th)
- [x] Publish on portal, blog, Discourse and reps-general (@MichaelKohler, Due: Sep 12th)

[2016-09-04 19:38] MichaelKohler commented on #67
I've sent the list to the Coaches group as well for a quick look on it. So far there is no concern on the Council side, so we will be able to move ahead within the next days.

[2016-09-05 07:11] ioana-chiorean commented on #69
https://reps.mozilla.org/v/rep-of-the-month-for-august-1/ - I am gonna ping his mentor.

[2016-09-05 17:24] shahidfarooqui commented on #15
Glad to see such a huge turn-up (nomination) including Michael stepping again to another round of wonderful job :)

[2016-09-06 09:52] ioana-chiorean commented on #15
Tasks to prepare:

1 Spot Reps Cohort :
- Daniele Scasciafratte
 - [ ] video
 - [ ] replies on discourse questions
- Elio Qoshi
 - [ ] video
 - [ ] replies on discourse questions
- Mijanur Rahman Rayhan
 - [ ] video
 - [ ] replies on discourse questions
- Flore Allemandou
 - [ ] video
 - [ ] replies on discourse questions

3 Spots from Mentors:
- Mohammed migdadi
 - [ ] video
 - [ ] replies on dis

[2016-09-06 10:04] couci commented on #1
the review team has officially started working yesterday, great job everybody :)

[2016-09-06 10:04] #1 closed

[2016-09-06 13:33] MichaelKohler commented on #69
Discourse: https://discourse.mozilla-community.org/t/rep-of-the-month-august-2016/10703 (thanks Ioana)

Portal is added as well. The blog post is in review.

[2016-09-06 18:46] MichaelKohler commented on #69
Blog post: https://blog.mozilla.org/mozillareps/2016/09/06/rep-of-the-month-august-2016/

Also a lot of thanks to Priyanka who wrote most of the text :)

[2016-09-06 18:46] #69 closed

[2016-09-06 18:47] MichaelKohler commented on #67
There are no concerns, we can move ahead with assignment once the onboarding is fully done. For that we can open a new issue since that is further than the scope of this one.

[2016-09-06 18:47] #67 closed

[2016-09-07 16:07] MichaelKohler commented on #60
I've updated the title and description to reflect the new reality.

[2016-09-07 16:09] MichaelKohler commented on #36
@hmitsch do you agree that it would make sense to get out a general survey on the following questions (and maybe missing ones) before continuing here?

* What do you like about the Council notes?
* What are you missing from the Council notes published to Discourse?
* Choose one
** I rather look at the Council notes in Discourse
** I rather look at the Council notes in the Wiki
** I rather look at

[2016-09-07 16:13] MichaelKohler opened #70 "Communicate Rara as Council chair for September"
## Goal:
Reps know that Rara's Council term is extended for September as well.

## Roles:
Responsible: @MichaelKohler
Accountable: Reps Council

## Required:
- [x] Send out communication through Discourse and reps-general (@MichaelKohler, Due: Sep 8th)

[2016-09-07 18:28] MichaelKohler commented on #70
Discourse: https://discourse.mozilla-community.org/t/rara-as-council-chair-for-september/10734
I've also cross-posted to reps-general.

Wiki is updated as well: https://wiki.mozilla.org/ReMo/Council

[2016-09-07 18:28] #70 closed

[2016-09-11 13:05] ioana-chiorean commented on #15
Results:

- [1 Spot Council](https://reps.mozilla.org/v/reps-council-elections-september-2016-1-spot-reps-cohort/) from Cohort

**1.  Flore Allemandou - 394**
-------------------------------
2. Elio Qoshi -374
3. Daniele Scasciafratte - 354
4. Mijanur Rahman Rayhan - 275

-  [3 Spots in Council](https://reps.mozilla.org/v/reps-council-elections-september-2016-3-spots-from-mentors/) from Mentors

*

[2016-09-12 10:43] ioana-chiorean commented on #15
Mails sent with the results!

[2016-09-12 10:43] #15 closed

[2016-09-12 11:08] ioana-chiorean opened #71 "Onboard New Council Members"
## Goal:
The new selected council members are onboarded and they start working as a team

## Related Issues & Links:
✔️ #15
🔛 [Process details here](https://wiki.mozilla.org/ReMo/SOPs/Council_onboarding).

## Roles:
Responsible: @nukeador
Accountable: @ioana-chiorean @nukeador
Supporting: Peers Council
Consulted: Council
Informed: Council, Peers & Participation team

## Required:
- [x] Send mail t

[2016-09-15 02:56] rara79 commented on #60
August 3rd and 10th is up on Discourse.

http://discourse.mozilla-community.org/t/reps-council-meeting-notes-03-08-2016/10872/1
http://discourse.mozilla-community.org/t/reps-council-meeting-notes-10-08-2016/10873/1

[2016-09-15 13:00] nukeador commented on #71
Meeting happening tomorrow.

[2016-09-16 13:51] ioana-chiorean opened #72 "Publish RoM for September"
## Goal:
RoM of September is published on the portal, blog and discourse.

## Related Issues & Links:
- [Link for voting](https://reps.mozilla.org/v/rep-of-the-month-for-september-1/).

## Roles:
Responsible: @ioana-chiorean
Accountable: Reps Council
Supporting: @MichaelKohler
Consulted: -
Informed: All Reps

## Required:
- [x] Draft text (@ioana-chiorean, Due: Sept 30th)
- [x] Review text (@Micha

[2016-09-16 13:52] ioana-chiorean commented on #63
Notes up: https://discourse.mozilla-community.org/t/weekly-call-08-09-2016/10751/2
Tweets set.

All done. 🎈🎉😉

[2016-09-16 13:52] #63 closed

[2016-09-16 14:42] ioana-chiorean commented on #64
Notes are up: https://discourse.mozilla-community.org/t/weekly-call-15-09-2016/10890/2
Tweets are up!

All done..  🎉🎈☺️

[2016-09-16 14:42] #64 closed

[2016-09-19 22:23] AlexLakatos opened #73 "Improve outgoing communication"
## Goal:

Improve outgoing communication done by the Reps Leadership: Council, Peers and MO
## Roles:

Responsible: @alexlakatos

Accountable: Reps Council

Supporting: @brianking, @MichaelKohler

Consulted: @couci

Informed: Reps
## Required:
- [x] Create a draft survey about communication channel preferences for Reps (@alexlakatos @MichaelKohler , Due: Sep 27th)
- [x] Present draft at the Counci

[2016-09-19 22:33] nukeador commented on #73
Moving back to backlog until we have a discussion about this at Council level.

[2016-09-19 22:36] nukeador commented on #40
@deimidis Did we incorporated something about this in the coaching sessions?

[2016-09-19 22:37] nukeador commented on #7
What's the status here? Let's move under Blocked/Waiting if that its status.

[2016-09-19 22:39] nukeador commented on #10
New mentors where on boarded, starting their relationships this week.

[2016-09-19 22:39] #10 closed

[2016-09-19 22:42] nukeador commented on #20
I have been consolidating the vision for the program moving forward and I'll publish a blog post about it soon. Let's close this and keep working on that with Council.

[2016-09-19 22:44] nukeador opened #74 "Blog post about the future of the program"
## Goal:

Have a blog post about the vision for the future of the program
## Roles:

Responsible: @nukeador
Accountable: @nukeador
Supporting:
Consulted: Reps Council
Informed:
## Required:
- [ ] Create draft
- [ ] Circulate with Council and Peers
- [ ] Publish blog post

[2016-09-19 23:38] MichaelKohler commented on #74
related issue #20 for context

@nukeador could you please explain what exactly this blog post would include? Would that be the follow up to https://blog.mozilla.org/mozillareps/2016/08/11/repsnext-improvements-overview/ ? If so, let's create a list of questions to answers together.

[2016-09-20 08:37] ioana-chiorean commented on #7
This was delayed as we focused on Elections and the transition part.
Can you pls assign me back? it seems I don't have anymore :|

[2016-09-20 09:40] Mte90 commented on #19
During the European gathering we presented the Reps program the question about it was:

- Where I can find information about the program?
- There are rep in country X?
- What is the role of a rep?

So I think that we need to do promotion about the program itself in other channels, maybe many people that watch the monday call know the program but because there is now a people change is better to pr

[2016-09-20 09:57] Mte90 commented on #74
For the #20 during the european gathering I talked about that ticket.
I think that we can promote the fact that we have a github repo and also the discussion is opened to everyone.
During the gathering itself many reps doesn't know the repsnext initiative itself but I think that we can talk about the proposal in pending state.

[2016-09-20 09:58] MichaelKohler commented on #20
@nukeador I don't think the blog post is the only thing to do here. Shouldn't we also update the description on the Portal?

[2016-09-20 10:01] Mte90 commented on #65
I want to talk, if possible, about the MozItalians team, our participation team that is a bridge between the programs, campaign, events and the community.

[2016-09-20 10:08] Mte90 commented on #40
I think that for the European part we already started with the Makerparty/Changecopyright campaign.
In Italy we already started to create stuff in Italian and get engagement from people but this is not the right ticket to leave updated about this.

[2016-09-20 10:08] Mte90 commented on #41
Any news for this?

[2016-09-20 10:15] couci commented on #68
wiki has been updated and reps call was done, only pending item is the voting tool

[2016-09-20 10:17] ioana-chiorean commented on #65
Ok. Noted and added to the document!

[2016-09-20 10:21] ioana-chiorean commented on #20
That was the plan ...

[2016-09-20 10:26] nukeador commented on #41
I will talk with Fran about this as soon as he returns.

[2016-09-20 10:29] nukeador commented on #20
Sorry, I though I commented here the iteration for the description:

"The Reps program aims to be a representation of the mozillian population and regional communities, formed and governed by core trusted mozillians that through the program grow in their leadership skills, represent Mozilla in their country, have privileged access to internal information and strategy, empower others to support Moz

[2016-09-20 10:33] Mte90 commented on #20
uhm is very long as description, maybe we can cut something to simplify what is a Rep?

[2016-09-21 16:21] MichaelKohler commented on #73
As discussed in the meeting today, Alex and I will share a proposal doc to work on and then present our ideas on how to reach out and what exactly what we need to find out with that in the next meeting for refinement.

[2016-09-21 16:29] MichaelKohler commented on #60
https://discourse.mozilla-community.org/t/reps-council-meeting-notes-17-08-2016/10878/1
https://discourse.mozilla-community.org/t/reps-council-meeting-notes-24-08-2016/10992
https://discourse.mozilla-community.org/t/reps-council-meeting-notes-31-08-2016/10993
https://discourse.mozilla-community.org/t/reps-council-meeting-notes-07-09-2016/10994/1

The meeting of last week we did not have. so the ne

[2016-09-21 16:29] #60 closed

[2016-09-21 16:38] MichaelKohler commented on #19
Let's create a slide deck with the proposed changes, what we already have implemented and what our next steps will be and present this in a Monday weekly meeting next month

[2016-09-21 16:38] MichaelKohler commented on #19
@ioana-chiorean do you agree?

[2016-09-21 20:05] ioana-chiorean commented on #19
Sounds good :D

[2016-09-21 20:08] ioana-chiorean opened #75 "Reps Weekly Call - September 29th, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #65
➡️ #78

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2016-09-22 06:33] hmitsch commented on #73
I don't think this needs a council vote. Personally I'd like to vomit reading this. As my professional coach says: If it hurts it's a strong indicator that you are on the right track.

Go for it. I love you guys!

[2016-09-22 06:37] hmitsch commented on #74
@michaelkohler, what about doing as @nukeador proposed: he will draft something and circulate it with Council and Peers?

[2016-09-22 07:54] rara79 opened #76 "Publish Council Meeting Notes 21/09/2016 and 27/09/2016"
## Goal:
21/09/2016 and 27/09/2016 Council meeting notes are published.

## Roles:
Responsible: @rara79
Accountable: Reps Council
Supporting: Reps Council for Review

## Required:
- [ ] Draft notes (@rara79, Due: Oct 6th)
- [ ] Review (Reps Council, Due: Oct 7th)
- [ ] Publish it on Discourse/Wiki (@rara79, Due: Oct 8th)

[2016-09-22 10:44] nukeador commented on #73
Nobody suggested Council vote, but council review/input on the plan.

[2016-09-22 17:38] MichaelKohler opened #77 "Update pending Reps applications"
## Goal:

All Reps applications are updated and applicants know about their current status.
## Related Issues & Links:
#10
## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @deimidis
## Required:
- [x] Update all selected applicants' bugs (whiteboard) (@MichaelKohler, Due: Sep 22nd)
- [ ] Link Guillermo's blog post (to be written) in the still open application bugs and i

[2016-09-22 18:16] ioana-chiorean opened #78 "Reps Weekly Call - October 6th, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #75
➡️ #79

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,  @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (

[2016-09-22 18:20] ioana-chiorean opened #79 "Reps Weekly Call - October 13th, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #78
➡️ #80

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @rosanardila, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for

[2016-09-22 18:22] MichaelKohler commented on #77
All selected applicants' bugs are up to date now (status, assignee and whiteboard tag).

[2016-09-22 18:23] ioana-chiorean opened #80 "Reps Weekly Call - October 20th, 2016"
## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #78
➡️ #80

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @rosanardila, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for

[2016-09-22 18:25] ioana-chiorean opened #81 "Reps Weekly Call - October 27th, 2016"
# **THIS MEETING WAS CANCELLED**

## Goal:
* Organize the weekly reps call.

## Success:
* The call is held and more than 15 reps/mozillians attend
* We have ready new topics

## Related Issues & Links: a
⬅️ #80
➡️ #89

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @rosanardila, @francjp
Informed: Reps and Mozillians

## Agenda

[2016-09-22 18:52] deimidis commented on #77
Hi @MichaelKohler what is the blog post that should be linked here?

[2016-09-22 18:55] MichaelKohler commented on #77
@nukeador mentioned something like that in yesterday's meeting. Or did I misunderstood you, Ruben?

[2016-09-22 19:04] deimidis commented on #77
ok, that blog post. Yes I know about it :)

[2016-09-28 08:58] ioana-chiorean commented on #65
Notes up. Tweets scheduled.

All done.

[2016-09-28 08:58] #65 closed

[2016-09-28 16:37] MichaelKohler commented on #73
Alex (mostly) and I (supporting) have come up with a draft document to explain the problem statement, what we want to find out, possible questions for a survey and next steps after the survey here: https://docs.google.com/document/d/1mZ_liU4yw_ug6FVs7_Ga9GSwRx06RCnRqto7TtA1uJg/edit?usp=sharing

This is not 100% done, so we kindly ask all Council members to raise any questions or feedback in the do

[2016-09-29 09:31] brianking opened #82 "Create Council Vote for non-EU Maker Parties"
## Goal:
Decide is we want to support non-EU Maker Parties with budget

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:

Responsible: @brianking

Accountable: @nukeador

Supporting: @couci

Consulted: Council

Informed:

## Required:
- [x] Setup the vote (@brianking, Due: Aug 7th)
- [x] Share vote url with council, prompt voting (@brianking, Due: Aug 7th)
- [x] Docu

[2016-09-29 09:35] MichaelKohler commented on #82
@brianking we don't need Tasos to set up the vote here. You should be able to create a vote on https://reps.mozilla.org/voting/new/ with your Council permissions.

[2016-09-29 09:53] brianking commented on #82
Ok great thanks. Tasks updated accordingly.

[2016-09-29 13:20] nukeador commented on #29
@ppapadeas @hmitsch has this been considered for your team roadmap at some point?

[2016-09-29 13:54] couci commented on #68
Voting tool is to go live on Friday the 30th

[2016-09-30 12:20] couci commented on #68
Everything is ready, closing :)

[2016-09-30 12:20] #68 closed

[2016-09-30 17:11] couci opened #83 "Functional areas and budget allocation"
## Goal:
Update the functional areas in the portal and deliver the budget allocation based on functional areas prioties

## Related Issues & Links:

## Roles:

Responsible: @couci council

Accountable: @nukeador

Supporting: @nukeador

Consulted: Participation team, functional areas in Mozilla, Reps

Informed: Reps

## Required:
- [ ] update all functional areas in the portal (@couci @nukeador)
-

[2016-10-03 10:57] nukeador commented on #71
This is now completed.

[2016-10-03 10:57] #71 closed

[2016-10-03 16:44] couci commented on #83
Priorities list has been sent to the council, waiting for feedback

[2016-10-05 11:48] MichaelKohler commented on #73
Problem statement in the doc is updated. We will talk about this today in the Council meeting.

[2016-10-05 11:49] MichaelKohler commented on #76
@rara79 do you need any help here?

[2016-10-05 11:50] MichaelKohler commented on #82
Pending task here is the documentation part. Where do we want to document this for now, @couci?

[2016-10-05 11:50] MichaelKohler commented on #77
@deimidis any update on this?

[2016-10-05 11:53] couci commented on #82
well I would suggest to leave it on github on now since the official announcement is not there yet. i also added the phrasing at today's council meeting

[2016-10-05 12:22] brianking opened #84 "Document Decision Making in Bugzilla"
## Goal:

Document 2 Council decisions in Bugzilla as part of the Council of the Chair experiment
## Related Issues & Links:
- Planning Doc: https://docs.google.com/a/mozilla.com/document/d/1JUhbErUylIESPOn0PXMT_0SxQbtIh_eKkskPfdCXtd0/edit?usp=sharing
## Roles:

Responsible: Council

Accountable: @brianking

Supporting:

Consulted:

Informed:
## Required:
- [x] Brainstorm decisions to choose, and

[2016-10-05 16:21] nukeador commented on #40
Closing this one. We'll do a second phase support in the next weeks.

[2016-10-05 16:21] #40 closed

[2016-10-06 02:35] lasr21 commented on #42
Is there any news on this issue?

[2016-10-06 11:05] rara79 commented on #76
Currently in progress, editing this issue according the current situation.

[2016-10-06 11:57] nukeador commented on #42
We didn't have time to advance here. In any case @deimidis and @emmairwin are working on learning resources, and conflict resolution is something that keeps coming as a need for volunteers.

[2016-10-06 15:29] couci commented on #83
priorities have been delivered, percentage has been sent to the council, open for feedback until Monday the 10th

[2016-10-07 08:51] ioana-chiorean commented on #79
Reps Events created: https://reps.mozilla.org/e/remo-call-13-10-16/

[2016-10-07 13:16] couci opened #85 "Survey for budget process"
## Goal:
Create a survey in order to catch the pulse on current budget procedure and gather suggestions

## Related Issues & Links:
https://github.com/mozilla/participation-org/issues/454

## Roles:

Responsible: @couci

Accountable: @couci

Supporting: reps-regional team

Consulted: council, review team

Informed: Reps

## Required:
- [x] Create draft for the survey (@couci)
- [x] Gather feedback

[2016-10-10 07:07] hmitsch commented on #73
Have I already mentioned how much I love this initiative, @alexlakatos and @michaelkohler?!

Short feedback. Please reach out in case clarification is needed (and please tag me and ping me on Telegram if possible):

* We need to get Sean Rich in copy to this bug and documents. He is owning CoCo (C24N, Communication & Collaboration) at Mozilla IT and together with me we are looking at "CoCo 2017".

[2016-10-10 13:12] couci commented on #82
btw following steps on comms here https://github.com/mozilla/part-MakerParty/issues/20

[2016-10-10 18:42] MichaelKohler commented on #36
Let's see what the survey of https://github.com/mozilla/Reps/issues/73 will bring to the table and the following work on communication channels and content and then we can decide here.

[2016-10-10 19:24] MichaelKohler commented on #72
Started the etherpad and reached out to the mentor to help us draft the text.

[2016-10-10 19:58] MichaelKohler commented on #73
@AlexLakatos could you please review the survey draft? I've added the questions from the doc. Once we have your initial review we can send it out for further feedback.

[2016-10-12 11:25] couci commented on #85
Draft has been created here https://docs.google.com/document/d/1mjr0fC3IMAVR_Jo8RgmeXpmhLp4HwXHrqWPzjQHx-rM/edit

[2016-10-12 11:29] couci commented on #85
the survey is open for feedback until Friday

[2016-10-12 14:04] couci commented on #83
Decision on buckets has been made, waiting for functional team meetings to finalize this

[2016-10-13 15:25] couci commented on #82
Decision has been documented in both [discourse](http://discourse.mozilla-community.org/t/resources-for-maker-party-2016/11440) and [wiki](https://wiki.mozilla.org/ReMo/SOPs/Budget/Special_Cases/Maker_Party_EU_2016)
I'm closing this one

[2016-10-13 15:25] #82 closed

[2016-10-14 14:41] Mte90 commented on #42
Two resources by @nukeador shared to the regional coaches about that:
* http://ctb.ku.edu/en/table-of-contents/implement/provide-information-enhance-skills/conflict-resolution/main
* http://ctb.ku.edu/en/table-of-contents/culture/cultural-competence/transform-conflicts/main

Now they are in my reading list and i can try to do a recap with my experience

[2016-10-14 14:41] couci commented on #85
Feedback circle has been closed, working on the survey, date to be sent is Monday the 17th

[2016-10-14 14:44] MichaelKohler commented on #73
Communication channels survey has been sent to Council for final review. Since we have another survey to be sent out early next week that is more time critical, we will delay sending this one by around 10 days.

[2016-10-14 16:37] couci commented on #83
First meeting with l10n team happened, waiting for council's feedback in order to publish this

[2016-10-17 12:38] ioana-chiorean commented on #80
Agenda up: https://public.etherpad-mozilla.org/p/remo-call-20-10-16
Reps Events up: https://reps.mozilla.org/e/remo-call-20-10-16/
Mailed Larissa and Rina as reminder.
🤓

[2016-10-18 13:56] couci commented on #85
survey has been sent https://www.surveymonkey.com/r/RepsBudget
This will be opened until Monday the 24th
The issue can be closed

[2016-10-18 13:56] #85 closed

[2016-10-18 14:46] couci opened #86 "Alignment with the L10n team on goals"
## Goal:

Align our L10n events with l10n goals and inform our Reps about them
## Related Issues & Links:
## Roles:

Responsible: council, @couci

Accountable: council

Supporting:

Consulted: the l10n team

Informed: participation tem
## Required:
- [ ] Ask l10n team to publish a local hackathon template
- [ ] Work with l10n team on publishing their event goals
- [ ] Agree on a process to get l10

[2016-10-18 18:36] MichaelKohler opened #87 "Reps Program OKRs Q4"
## Goal:

Create a document with the Reps program OKRs for the last quarter of 2016 and share them with Reps.
## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: Reps Council
Consulted: -
Informed: Participation Team
## Required:
- [x] Create a draft based on the Participation Q4 OKRs (@MichaelKohler, Due: October 22th)
- [x] Review and discuss the draft (and add missing p

[2016-10-18 18:40] MichaelKohler opened #88 "Reps Mentors Coaching Training Sentiment"
## Goal:

Have a call as well as a follow up through Discourse to discuss Coaching opportunities with current Reps mentors and get their sentiment about the coaching opportunities.
## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @deimidis
Consulted:
Informed:
## Required:
- [x] Create a doodle for a call with mentors (@MichaelKohler, Due: October 22nd)
- [x] Create fol

[2016-10-18 19:42] MichaelKohler commented on #72
Added some of their mentor's parts to the etherpad and added a few more information to it. @ioana-chiorean could you please review?

[2016-10-19 06:40] ioana-chiorean commented on #72
Review Done ✅

[2016-10-19 06:47] ioana-chiorean commented on #86
I am curious if there was any feedback back from L10n Team about participants:
- their involvement in the event
- their goal progress - I know some had big  goals for their locals, it will be good to see the progress made and impact

[2016-10-19 19:02] MichaelKohler commented on #72
- Added on the Portal and asked tasos to date it back to September
- Discourse post: https://discourse.mozilla-community.org/t/rep-of-the-month-september-2016/11581
- Mail to reps-general sent with link to the Discourse topic
- Blog post submitted for review, @nukeador @couci @brianking could one of you approve it please?

[2016-10-19 19:02] MichaelKohler commented on #72
Thanks to @ioana-chiorean for the review and several additions to the text btw :)

[2016-10-20 11:00] couci commented on #72
blogpost done :)

[2016-10-20 11:06] MichaelKohler commented on #72
Thanks! I'll leave this open until I have the confirmation that the portal entry has been backdated.

[2016-10-20 11:32] ioana-chiorean commented on #72
Thank you @MichaelKohler for driving this!

[2016-10-20 12:52] MichaelKohler commented on #72
This is done now, great work everyone!

[2016-10-20 12:52] #72 closed

[2016-10-21 06:50] ioana-chiorean opened #89 "Reps Weekly Call - November 3rd, 2016"
## Goal:
- Organize the weekly reps call.
## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics
## Related Issues & Links: a

⬅️ #80
➡️ #91
## Roles:

Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians
## Agenda Work:
- [x] Shout outs - Call for nominations (@io

[2016-10-21 06:53] ioana-chiorean opened #90 "Reps Weekly Call - November 17th, 2016"
## Goal:
- Organize the weekly reps call.
## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics
## Related Issues & Links: a

⬅️ #91
➡️ #92
## Roles:

Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @rosanardila, @francjp
Informed: Reps and Mozillians
## Agenda Work:
- [x] Shout outs - Call for no

[2016-10-21 06:53] ioana-chiorean opened #91 "Reps Weekly Call - November 10th, 2016"
## Goal:
- Organize the weekly reps call.
## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics
## Related Issues & Links: a

⬅️ #89
➡️ #90
## Roles:

Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @rosanardila, @francjp
Informed: Reps and Mozillians
## Agenda Work:
- [x] Shout outs - Call for no

[2016-10-21 06:54] ioana-chiorean opened #92 "Reps Weekly Call - November 24th, 2016"
## Goal:
- Organize the weekly reps call.
## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics
## Related Issues & Links: a

⬅️ #90
➡️ #102

## Roles:

Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @rosanardila, @francjp
Informed: Reps and Mozillians
## Agenda Work:
- [x] Shout outs - Call for

[2016-10-21 13:10] couci commented on #83
Everything has been decided, comms will happen today

[2016-10-21 13:51] MichaelKohler commented on #77
Here's Guillermo's blog post: http://unojoenelcielo.com.ar/remo/2016/10/21/new-reps-mentors-a-history-and-roadmap/

My suggestion would be to link to this blog post in all open applications and be clear that we are most probably talking about several months of waiting time for new Rep applications. This is bad since some of them are already open for several months, but IMHO the only thing we can d

[2016-10-25 08:59] nukeador commented on #77
Agree, but let's link better here:

https://discourse.mozilla-community.org/t/new-reps-mentors-a-history-and-roadmap/11616/1

So people can provide feedback we can follow.

Thanks!

[2016-10-25 15:48] #81 closed

[2016-10-25 17:35] couci commented on #75
@ioana-chiorean have shout outs been sent?

[2016-10-25 17:36] couci commented on #78
@ioana-chiorean do you need help with meeting notes and shout outs?

[2016-10-25 17:36] MichaelKohler commented on #73
Alex will send out the survey end of the week since the Budget survey is done now. I've updated the timeline in comment 0 to reflect the new timeline.

[2016-10-25 17:37] couci commented on #79
@ioana-chiorean let me know if you need help with meeting notes and shout outs

[2016-10-25 17:38] couci commented on #80
@ioana-chiorean let me know if help is needed here

[2016-10-25 17:38] nukeador opened #93 "Plan for merging all RepsNext pieces"
## Goal:

Plan for merging all moving pieces around RepsNext
## Related Issues & Links:
## Roles:
- Responsible: Council @couci
- Accountable: @nukeador
- Supporting: @deimidis
- Consulted:
- Informed: Participation
## Required:
- [ ] Capture status from each track/front
- [ ] Define a timeline and milestones for merging each piece
- [ ] Blog about it.

[2016-10-25 17:49] brianking opened #94 "Faster Onboarding for New Reps"
The new Reps queue is continuously blocked by lack of human screening/onboarding/mentoring time. We should consider ways to bypass this:

Some possible things to try:
- Council screens people
- Create onboarding Webinar
- Better enforce 3 month onboarding before becoming a "real Rep"

[2016-10-25 18:14] rara79 commented on #76
Reps Council meeting notes 21/09/2016: http://discourse.mozilla-community.org/t/reps-council-meeting-notes-21-09-2016/

[2016-10-25 19:43] MichaelKohler opened #95 "Publish RoM for October"
## Goal:

RoM of October is published on the portal, blog and discourse.
## Related Issues & Links:

[voting]  https://reps.mozilla.org/v/rep-of-the-month-for-october-1/
## Roles:

Responsible: @ioana-chiorean
Accountable: Reps Council
Supporting: @MichaelKohler
Consulted: -
Informed: All Reps
## Required:
- [x] Decide on RoM since the top 2 are close, we might go for 2 this month, up for discussi

[2016-10-25 19:45] MichaelKohler commented on #77
@couci  and I will screen the currently open applications for references so we can prepare it to be shared more broadly to move this forward. One idea is to have this voted on by Reps Council and Reps Regional Coaches/Mentors.

[2016-10-25 19:46] MichaelKohler commented on #87
Draft is up for discussion (Council only for now): https://docs.google.com/document/d/1k_R-78WGz2mFDchckEA5TINvoVggwJWUtycaHpFVLNc/edit#

[2016-10-25 20:12] MichaelKohler commented on #88
Doodle created, up for review and then I'll send it out to all Mentors.

[2016-10-25 21:33] MichaelKohler commented on #77
All pending applications have been tagged with either "Pending references" or "ONHOLD" as well as the two-letter country code.

[2016-10-26 01:11] rara79 commented on #76
Reps Council meeting notes 28/09/2016: http://discourse.mozilla-community.org/t/reps-council-meeting-notes-28-09-2016/11703

[2016-10-26 01:12] rara79 commented on #76
All the meeting notes are up until the end of September. Thank you for your patience :)

[2016-10-26 01:12] #76 closed

[2016-10-26 10:48] ioana-chiorean commented on #80
@couci i send some tweets for review - can you check?

[2016-10-26 10:48] ioana-chiorean commented on #79
@couci i send some tweets for review - can you check?

[2016-10-26 10:48] ioana-chiorean commented on #78
@couci i send some tweets for review - can you check?

[2016-10-26 11:35] ioana-chiorean commented on #75
only tweets were missing and i think u fixed it. Thanks!

[2016-10-26 11:35] #75 closed

[2016-10-26 12:13] ioana-chiorean commented on #78
[Notes up](https://discourse.mozilla-community.org/t/weekly-call-06-10-2016/11324/2).
Tweets are done too.

[2016-10-26 12:13] #78 closed

[2016-10-26 12:32] #79 closed

[2016-10-26 14:43] couci commented on #80
made some quick fixes :) this is now ready to be closed, thanks @ioana-chiorean

[2016-10-26 14:43] #80 closed

[2016-10-27 08:30] MichaelKohler commented on #77
Further, we will screen the 33 applications that are ONHOLD to move forward here. This will likely happen in the next two weeks.

[2016-10-28 09:43] MichaelKohler commented on #88
Doodle sent out: http://doodle.com/poll/5hkwupnw5z4aycg9

[2016-10-28 12:37] ioana-chiorean commented on #95
The feedback received was to go with the first two.

[2016-11-03 18:57] MichaelKohler commented on #88
There are currently spots where we could have a discussion with a maximum of 3 people. We decided to go async from the beginning and I will create a Discourse topic tomorrow.

[2016-11-03 18:58] MichaelKohler commented on #77
I will create a spreadsheet for Council review tomorrow. A group of us (Alex, Faisal, Brian and me) will evaluate all pending applications so we can move forward. I will update this issue with further information once we did that.

[2016-11-03 19:00] MichaelKohler commented on #73
The survey is still open and we will leave it open for a few more days since we would like to have as much diverse information on channels as possible. Further it will also go out on other channels we haven't announced it yet so we have a broad existing channels spectrum to make sure that all Reps have seen this survey.

[2016-11-03 19:15] MichaelKohler commented on #87
The draft has been reviewed. I've just published it on Discourse: https://discourse.mozilla-community.org/t/reps-program-okrs-goals-q4-2016/11849 . Link has been sent to reps-general as well.

The blog post is under review, @couci @brianking @nukeador please review and publish, thanks!

@couci would you also like to tweet that? Or is a tweet enough when the blog post goes online?

[2016-11-03 19:46] brianking commented on #84
Draft of first decision, 'Maker Party Vote', sent to council for review. Discussing still what second decision will be.

[2016-11-04 13:15] couci commented on #87
Published :)
I think the blogpost is connected with twitter so it will go out soon. If not I will tweet about it manually :)

[2016-11-05 20:14] MichaelKohler commented on #77
Further I have closed all applications with missing references/vouches that were older than one month. The spreadsheet is created and open for evaluation.

[2016-11-05 20:15] #87 closed

[2016-11-07 12:14] couci opened #96 "Publish November budget breakdown"
## Goal:
Publish November budget breakdown for the Reps

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:

Responsible: @couci

Accountable: @couci

Supporting: review team

Consulted: @brianking council

Informed: Reps

## Required:
- [x] Check if priorities have been changed
- [x] Create the interactive Report for Reps
- [x] Create the spreadsheet for council and R

[2016-11-07 18:39] MichaelKohler commented on #88
Discourse topic started here: https://discourse.mozilla-community.org/t/coaching-training-for-reps-mentors-feedback/11920

reps-mentors list and Telegram channel informed about the topic.

[2016-11-09 13:06] brianking commented on #84
+ @hmitsch

The 'Maker Party Vote' has been documented [here](https://docs.google.com/document/d/1JUhbErUylIESPOn0PXMT_0SxQbtIh_eKkskPfdCXtd0/edit#heading=h.6nex8i306p6k), and approved by council. The next step if to transfer it to bugzilla.

The 2nd decision is a WIP

[2016-11-09 22:52] hmitsch commented on #84
Niiiice, thanks a lot!

[2016-11-10 00:26] MichaelKohler commented on #84
I will start documenting the second decision tomorrow.

[2016-11-10 00:27] MichaelKohler commented on #77
Quick update since we linked to this for several open applications: we're still screening all applications, we will update all bugs with the latest update by the end of the weekend.

[2016-11-10 00:29] MichaelKohler commented on #95
Discourse created by Ioana: https://discourse.mozilla-community.org/t/reps-of-the-month-october-2016/11957
Ioana also sent an update to reps-general. Thanks for all your effort in creating this!

Portal is done, asked tasos to update the date once again.
Blog post submitted for review. @couci @brianking @nukeador once again flagging you for publication :)

[2016-11-10 15:43] couci commented on #95
published :)

[2016-11-10 17:32] brianking commented on #84
First decision documented:

https://bugzilla.mozilla.org/show_bug.cgi?id=1316628

Discussion thread:

https://discourse.mozilla-community.org/t/decision-making-experiment/11982

[2016-11-10 18:16] dyvik100 opened #97 "Links that contain non existing programs ( eg: wiki)"
## Goal:
[There are many links on wiki and other platforms which will talk about the non existing programs which creates a trouble where our goal is to Identify and remove them. ]

## Related Issues & Links:
[Here is an example : Link : [https://wiki.mozilla.org/Marketing_Collective] #

## Roles:

Responsible: @dyvik100

Accountable: Reps Council

Supporting: Staff

Consulted: @couci

Informed: @c

[2016-11-10 18:59] nukeador commented on #97
Please continue in this exiting issue:

https://github.com/mozilla/Reps/issues/17

Thanks! :D

[2016-11-10 18:59] #97 closed

[2016-11-10 19:13] dyvik100 commented on #17
https://wiki.mozilla.org/Marketing_Collective [Outdated,Program Shutdown]
https://wiki.mozilla.org/StudentAmbassadors/Recognition[Outdated]
https://wiki.mozilla.org/CommSquared[Outdated,Program Shutdown]

[2016-11-10 19:14] brianking commented on #96
For Activate, the activities to prioritise are WebVR Camp, Web Compatibility Sprint, and Dive Into Rust. The e10s and Addons activity [is closed](https://github.com/mozilla/activate.mozilla.community/issues/102).

[2016-11-10 19:29] dyvik100 opened #98 "Update Reps on which projects are no longer active"
## Goal:
Reps are not able to identify programs/projects which are dead and what are still open for contribution. This is an issue to gather dead contribution projects and to inform fellow reps.

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:

Responsible: @dyvik100

Accountable:

Supporting:

Consulted: @couci

Informed: @couci

## Required:
- [ ] Identify the ina

[2016-11-10 20:19] brianking commented on #17
Dyvik,

Those pages are out of scope of this bug which only cover pages under /Remo/.

+ @emmairwin who might know how outdated pages are handled in general.

[2016-11-11 04:20] emmairwin commented on #17
I have been adding the 'archived' heading to outdated wiki pages.

i.e.    https://wiki.mozilla.org/Participation/Lab

would this work?

[2016-11-11 23:32] #95 closed

[2016-11-11 23:32] MichaelKohler commented on #77
Screening is done, final review is ongoing in Council.

[2016-11-11 23:33] MichaelKohler commented on #84
Second decision is drafted in the draft doc and currently being reviewed.

[2016-11-13 13:22] SpikeUK commented on #17
I am a tiny admin on the wiki if I can be of any help - deleting pages, creating "Awaiting Deletion" templates etc

[2016-11-13 19:44] ioana-chiorean commented on #17
I think this should have been also under the Wiki team radar: https://wiki.mozilla.org/Category:Delete
Some more policies: https://wiki.mozilla.org/MozillaWiki:Policies

[2016-11-13 20:06] SpikeUK commented on #17
I agree wholeheartedly @ioana-chiorean - at the moment I think I may be the most active of the wiki team :( although MozFest did get in the way a bit :)
My offer to assist still stands until a real Wiki administrator steps forward.

[2016-11-14 13:33] dyvik100 commented on #98
https://wiki.mozilla.org/Marketing_Collective [Outdated,Program Shutdown]
https://wiki.mozilla.org/StudentAmbassadors/Recognition[needs update]
https://wiki.mozilla.org/CommSquared[Outdated,Program Shutdown]

[2016-11-15 09:53] ioana-chiorean commented on #29
@nukeador did we change anything here?

[2016-11-15 10:08] hmitsch commented on #29
What roadmap are we talking about?
The email sounds as if functionality had been built already. If it is not built yet, it is definitely not on our roadmap for the time being.

@ppapadeas can you please clarify the current situation?

[2016-11-16 17:47] couci commented on #96
Everything has been updated. Once the official announcement about activities will go out, will point our Reps on the doc as well

[2016-11-16 19:01] MichaelKohler commented on #77
Last steps:
* Adriano will review the Brazil applicants
* We will send out an update for all applicants after that

[2016-11-16 19:07] MichaelKohler commented on #84
Second decision documented:

https://bugzilla.mozilla.org/show_bug.cgi?id=1318073

Same discussion thread.

[2016-11-16 19:07] #84 closed

[2016-11-16 19:18] MichaelKohler opened #99 "End of year campaign"
## Goal:
Organize a similar end of year campaign as we had last year.

Topics:
* Activate Campaign Push
* Yearbook

## Related Issues & Links:
[last year] http://discourse.mozilla-community.org/t/end-of-year-activity-campaign/5671

## Roles:
Responsible: @MichaelKohler
Accountable: Reps Council
Supporting:
Consulted:
Informed:

## Required:
- [ ] Create plan for end of year campaign with goals (@M

[2016-11-16 19:20] MichaelKohler commented on #19
I'd suggest to wait until after Hawaii so we can include the Resources track as well. Let's make this the following topics:

* What is RepsNext? How did we start this?
* Overview of changes we have already implemented
* Changes to come (timeline decided in Hawaii)

[2016-11-18 19:19] couci commented on #92
as discussed with @ioana-chiorean this will be a special call for mozactivate
Starting Monday 21st we will coordinate with @bking on key volunteers we would like to have and comms plan

[2016-11-18 19:30] couci commented on #89
added tweets here
@ioana-chiorean check and let me know so I can tweet :)

[2016-11-18 19:35] couci commented on #91
draft for tweets added here https://public.etherpad-mozilla.org/p/november-tweets
@ioana-chiorean please check and let me know :)

[2016-11-18 19:35] couci commented on #91
draft for tweets added here https://public.etherpad-mozilla.org/p/november-tweets
@ioana-chiorean please check and let me know :)

[2016-11-18 19:35] couci commented on #91
draft for tweets added here https://public.etherpad-mozilla.org/p/november-tweets
@ioana-chiorean please check and let me know :)

[2016-11-18 19:35] couci commented on #91
draft for tweets added here https://public.etherpad-mozilla.org/p/november-tweets
@ioana-chiorean please check and let me know :)

[2016-11-18 19:35] couci commented on #91
draft for tweets added here https://public.etherpad-mozilla.org/p/november-tweets
@ioana-chiorean please check and let me know :)

[2016-11-18 19:35] couci commented on #91
draft for tweets added here https://public.etherpad-mozilla.org/p/november-tweets
@ioana-chiorean please check and let me know :)

[2016-11-20 07:32] ioana-chiorean commented on #19
ok

[2016-11-21 11:00] couci commented on #89
sorry forgot to add the link https://public.etherpad-mozilla.org/p/november-tweets

[2016-11-21 12:01] MichaelKohler commented on #90
There was no call, so I'll close this one.

[2016-11-21 12:01] #90 closed

[2016-11-21 12:02] MichaelKohler commented on #7
@ioana-chiorean do you want to provide an update on where this stands right now?

[2016-11-21 12:02] MichaelKohler commented on #55
@ioana-chiorean is still still in progress? What are the next steps?

[2016-11-21 12:03] MichaelKohler commented on #96
@couci quick ping regarding update

[2016-11-21 12:05] couci commented on #96
The doc is updated however I have to wait for @brianking on the activate announcements and add it as a follow up.
Also the doc for council-review team view is up to date as well

[2016-11-21 12:09] MichaelKohler commented on #88
Sent a reminder to reps-mentors and the Mentors Telegram group. We have 3 responses so far, so we definitely need more there. I've changed the timeline above to reflect this.

[2016-11-21 12:13] MichaelKohler commented on #20
@nukeador do you think we could update the Main wiki page and the description on the reps portal with this?

[2016-11-21 12:14] MichaelKohler commented on #94
We are currently testing this, we will write a Discourse topic or blog post about this once we have more info. Our next step is to invite applicants to a onboarding Webinar and create the content for this.

[2016-11-21 12:15] MichaelKohler commented on #93
Let's keep this in mind for Hawaii since we will tackle the timeframe there as well.

[2016-11-21 12:20] MichaelKohler commented on #17
I will take a stab at this to make sure we at least tell that it's outdated and do some minor cleanups as well. My goal is to have this finished by the end of the week so in the future we can focus on updating relevant content as we implement RepsNext.

[2016-11-21 12:22] MichaelKohler commented on #2
@nukeador @deimidis do I see this correctly that for now all we would need to do is create a wiki page with all the information on how we're currently doing coaching on it? (this is depending on how we can make it self-driving, right?)

Is that the only thing left here apart from discussions we need to have regarding coaching in general? In that case I'd create a seperate issues for that. What do

[2016-11-21 12:28] SpikeUK commented on #17
I have already deleted the pages that were flagged for deletion and showing on https://wiki.mozilla.org/Category:Delete.
If more pages need to go please flag them as noted on the Category page.

[2016-11-21 15:15] couci opened #100 "Create a profile for the Resources Reps"
## Goal:
Resources Reps would need to get trained in order to join the Track. We need to identify what are the skills a Resources Reps should have in order to be eligible to request resources

## Related Issues & Links:
https://github.com/mozilla/participation-org/issues/472

## Roles:

Responsible: @couci

Accountable: @couci

Supporting: @kelimuttu, the review team

Consulted: reps council

Info

[2016-11-21 15:28] couci commented on #92
@brianking do we have the leadership board with volunteers we should contract about this?
Also do you have a draft structure in mind?
I was thinking 5-10 minutes explaining what mozactivate is then another 5 minutes on what new is coming, pass the mice to people talking about their experiences and closing with questions.
What do you think?

[2016-11-21 23:13] hmitsch commented on #7
@MichaelKohler, we added line #7 ("Decision making process among Council, Program Manager, Peers, and Module Owner") to the [Hawaii proposal sheet](https://docs.google.com/spreadsheets/d/1qOJrym4Lkng2Sa3ihkdne7aOIv58pcHGyONs_HwFuOQ/edit?ts=5823d4df#gid=0). Hope the session is going to be selected.

[2016-11-22 14:12] couci commented on #100
first draft has been created: https://docs.google.com/document/d/1aunIn77mW2lOyguMTuEMDzZWzb0hUjhqe5EaHv55Xho/edit#
In that document I've listed the responsibilities of a Resources Rep on 3 main buckets.
Feedback are welcome.
Based on that and based on the feedback that have been provided on the Resources Survey we will write down the training needs for the Resources track

[2016-11-22 20:39] MichaelKohler opened #101 "Create new Reps onboarding Webinar and test it"
## Goal:
We want to test a Webinar to onboard new Reps. This will be used in the next onboarding round coming up once we've built the content.

## Related Issues & Links:
#94

## Roles:

Responsible: @brianking
Accountable: Reps Council
Supporting: @couci @deimidis
Consulted: Reps Council
Informed:

## Required:
- [x] Make team to work on this
- [x] Gather content for onboarding
- [x] Create Webin

[2016-11-22 20:40] MichaelKohler commented on #101
@brianking could you please extend the "Required" list and set a timeline? Thx

[2016-11-22 22:27] MichaelKohler commented on #99
I started the draft here: https://docs.google.com/document/d/1YxU7Mfa4CE3YebS_icycxQDoJGhbaTk7_RVnNGoecEo/edit#

[2016-11-23 13:41] varadekd commented on #101
Pretty excited to be part of Mozilla Reps program

[2016-11-23 15:57] nukeador commented on #20
I'm working also at participation level to better shape the core mobilizer role, so I think we should wait after Hawaii work to come back with a final version here.

[2016-11-23 16:00] brianking commented on #101
I updated the required.

In terms of a timeline, it is going to be tight the next couple of weeks. I wonder if we can do all the prep tasks before Hawaii, and run the webinar when we are together there?

[2016-11-23 16:14] brianking commented on #99
Activate EOY outline [here](https://github.com/mozilla/activate.mozilla.community/issues/118). Let's make sure we don't duplicate.

[2016-11-23 16:41] couci commented on #101
I agree with @brianking since we are pushing a lot on mozactivate, let's put for now informing the people and set a webminar on Hawaii

[2016-11-23 16:46] MichaelKohler commented on #101
Sounds good to me, though we need to remember

1) we will need to send the communication to the applicants as well to have most impact
2) time in Hawaii will be limited and we have other high prio sessions to run as well

[2016-11-23 20:35] MichaelKohler commented on #77
All applications have been updated with the decision.

[2016-11-23 20:35] #77 closed

[2016-11-24 05:20] Andriah91 commented on #101
Always ready and really excited to start the new program.

[2016-11-24 13:40] couci commented on #92
Speakers invited, @brianking is working on a presentation and we will have 2 community spaces joining

[2016-11-24 13:53] couci commented on #92
Discourse is not working today so I am taking out

[2016-11-24 15:14] ioana-chiorean opened #102 "Reps Weekly Call - December 1st, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #92
➡️ #103

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @rosanardila, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for n

[2016-11-24 15:15] ioana-chiorean opened #103 "Reps Weekly Call - December 15th, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #102
➡️ #104

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2016-11-24 15:16] ioana-chiorean opened #104 "Reps Weekly Call - December 22nd, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #103
➡️ #107

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2016-11-25 11:35] Mte90 commented on #42
I write a page about it after the reading of this links with my point of view https://docs.google.com/document/d/1tmkFUP0GX5HK1lcpHUZtcFw0R6QlEkQafA3wfEuAPDA/edit maybe it's not very good or complete but I think that something is missing in that links shared.
The human part and the facts gathering with a "tutorial".

[2016-11-26 13:47] MichaelKohler opened #105 "Publish RoM for November"
## Goal:
RoM of November is published on the portal, blog and discourse.

## Related Issues & Links:
[voting]  https://reps.mozilla.org/v/rep-of-the-month-for-november-1/

## Roles:
Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @ioana-chiorean
Consulted: -
Informed: All Reps

## Required:
- [x] Write text (@MichaelKohler, Due: November 28th)
- [x] Review text (@ioana-chiorean,

[2016-11-27 20:46] igacifuentes commented on #101
With all the energy to help in Mozilla Reps program . Regards !!!

[2016-11-28 10:49] rajnilayam commented on #101
Looking forward to be part of Mozilla Reps.

[2016-11-29 07:33] bozzmob commented on #101
Would find best opportunities to contribute to Mozilla and be a part of Mozilla Reps

[2016-12-01 11:37] couci commented on #102
This call will be dedicated on showcasing communities amazing work the last months.
We will have the Tunisian and the Lithuanian community

[2016-12-02 20:28] elidron commented on #101
I can't wait 🙋🏻

[2016-12-04 08:39] Andriah91 commented on #101
Yes

Envoyé de mon iPhone

[2016-12-04 08:50] akshit13 commented on #101
Looking forward to be a part of reps program.

[2016-12-05 02:41] MichaelKohler commented on #99
Communication done on reps-general and Discourse: https://discourse.mozilla-community.org/t/end-of-the-year-campaign/12379

Mail to reps-mentors done as well.

[2016-12-05 02:41] #99 closed

[2016-12-07 15:49] ioana-chiorean commented on #17
Thanks @SpikeUK! Really appreciated!

[2016-12-12 10:46] ioana-chiorean commented on #105
Mailed and pinged twice Raj on Telegram. Still waiting..

[2016-12-16 09:14] shahbaz17 commented on #101
When the webinar process will start ?

[2016-12-19 06:54] couci commented on #105
@ioana-chiorean should we email him instead?

[2016-12-19 13:11] sripathroy commented on #101
Waiting for the reps program

[2016-12-19 21:35] ioana-chiorean commented on #105
@couci - I also mailed him one week ago. no reply

[2016-12-21 17:30] MichaelKohler commented on #88
We didn't get a lot of responses. Any thoughts?

[2016-12-21 17:31] MichaelKohler commented on #73
Result has been published here: https://discourse.mozilla-community.org/t/communication-channels-survey/11943/5

Alex and I will work on next steps + a proposal for content.

[2016-12-22 15:13] MichaelKohler opened #106 "Publish RepsNext Status Visualization"
## Goal:
Our last blog post about RepsNext was some time ago. With our new knowledge from the past weeks, we are creating a visualization on the current status as well as a simple roadmap visualization. This will be published in a blog post as well as our communication channels.

## Related Issues:
#93

## Roles:
Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @AlexLakatos
Consul

[2016-12-22 17:29] MichaelKohler commented on #2
^ @nukeador

Is that it for now? Of course this will be influenced by the Leadership Toolkit as well as what we come up with 2017 strategy in terms of coaching in a broader setting than just Reps.

[2016-12-22 17:30] MichaelKohler commented on #8
@nukeador since this will be highly influenced by the leadership toolkit and how we will do coaching on a higher level inside the org, can this be closed for now? We can still open a new issue for the work to be done in Q1 according to the OKR and then go from there with new issues?

[2016-12-22 17:31] MichaelKohler commented on #86
Could somebody report back from the l10n talk they had in Hawaii?

[2016-12-22 17:33] MichaelKohler commented on #74
Would this covered for now by

1) releasing a new communication about the current RepsNext status
2) communicating the Comm Dev team strategy and our part in it in 2017

@nukeador ^

[2016-12-22 17:33] MichaelKohler commented on #105
@ioana-chiorean Do you think we have the resources/information to do this by our own? I think we need to get this done within the next days.

[2016-12-22 17:37] couci commented on #86
@Flore-mozfr has the meeting notes we've asked them for the local hackathon template, once we have the notes on a doc format we can share next steps and contact them again

[2016-12-22 17:39] nukeador commented on #2
@deimidis can comment better on this.

[2016-12-22 17:39] nukeador commented on #8
Yep

[2016-12-22 17:39] #8 closed

[2016-12-22 17:40] nukeador commented on #74
@couci can guide you here since she's owning comms.

[2016-12-22 17:46] couci commented on #74
I think for the comm dev part we need to wait first @LucyeoH communicated the strategy so we can refer on their part. Everything else seems good to me

[2016-12-22 18:02] couci commented on #100
shared with the review team, moving to the discourse face so Reps can comment

[2016-12-22 18:07] couci commented on #100
[Discourse topic](https://discourse.mozilla-community.org/t/reps-resources-profile/12633) has been created, this can now be closed

[2016-12-22 18:07] #100 closed

[2016-12-22 18:20] MichaelKohler commented on #74
I agree, I will open a new issue once we know what and how we communicate this.

The Reps status is covered in #106, therefore I'm closing this for now.

[2016-12-22 18:20] #74 closed

[2016-12-24 09:36] hmitsch commented on #106
Would it be okay to add Peers to "informed"?

[2016-12-24 11:50] MichaelKohler commented on #106
Of course, you are now consulting ;)

[2016-12-28 12:50] ioana-chiorean commented on #105
I did not get a reply from Gauthraj - in mails or Telegram (he did saw the message). I pinged him on FB to - replied last night saying he is traveling,. As this si already pretty delayed we need to move it fw asap - i will try to make the text today.

[2016-12-28 12:55] ioana-chiorean opened #107 "Reps Weekly Call - December 29th, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #104
➡️ #108

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2016-12-28 12:58] ioana-chiorean opened #108 "Reps Weekly Call - January 5th, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #107
➡️ #109

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2016-12-28 12:59] ioana-chiorean opened #109 "Reps Weekly Call - January 12th, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #108
➡️ #110

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2016-12-28 13:00] ioana-chiorean opened #110 "Reps Weekly Call - January 19th, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #109
➡️ #111

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2016-12-28 13:00] ioana-chiorean opened #111 "Reps Weekly Call - January 26th, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #110
➡️ #122

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@

[2016-12-28 20:40] MichaelKohler commented on #106
Sent to reps-council and reps-peers for first iteration of feedback.

![jan2017_repsnext_overview](https://cloud.githubusercontent.com/assets/330324/21531163/306e6f32-cd46-11e6-917f-3946360aa6bb.png)

![jan2017_timeline](https://cloud.githubusercontent.com/assets/330324/21531182/471e1c6e-cd46-11e6-85f2-308d8bfb8b7a.jpg)

[2016-12-29 11:14] MichaelKohler commented on #105
Discourse: https://discourse.mozilla-community.org/t/rep-of-the-month-november-2016/12715

Blog post done, @couci @nukeador @brianking please approve.
Portal done, @akatsoulas instructed to date it back to November.

[2016-12-29 11:17] MichaelKohler opened #112 "Publish RoM for December"
## Goal:
RoM of December is published on the portal, blog and discourse.

## Related Issues & Links:
[voting] https://reps.mozilla.org/v/rep-of-the-month-for-december-1/

## Roles:
Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @ioana-chiorean
Consulted: -
Informed: All Reps

## Required:
- [x] Let mentor of RoM write a text (@MichaelKohler, Due: January 5th)
- [x] Review text (

[2016-12-29 11:24] couci commented on #112
I am adding myself as an assignee here so it appears on my todo to write the text

[2016-12-29 11:32] MichaelKohler commented on #105
Blog post: https://blog.mozilla.org/mozillareps/2016/12/29/rep-of-the-month-november-2016/

Date on portal is now correct as well. Thanks everyone!

[2016-12-29 11:32] #105 closed

[2016-12-29 11:42] nukeador commented on #29
@hmitsch This was the integration of Reps portal with mozillians so we just have to manage the group from mozillians and also allowing us to easily sign the Reps agreement and have regular commitment renewals. This is something we are going to need sooner than later, is it on your roadmap? (this has been "on hold" more than 7 months now)

[2016-12-29 12:50] ioana-chiorean commented on #89
Notes up. All done I guess. Finally.

[2016-12-29 12:50] #89 closed

[2016-12-29 13:10] ioana-chiorean commented on #91
Notes here: https://discourse.mozilla-community.org/t/weekly-call-10-11-2016/11976/2
All done. Finally. 🙌

[2016-12-29 13:10] #91 closed

[2016-12-29 13:11] MichaelKohler commented on #17
@SpikeUK I've added more pages to the delete list. Please proceed :) Thanks!

After this, the only thing left is to update the pages of https://wiki.mozilla.org/ReMo/Cleanup according to RepsNext, which is done as of the current status. We will keep this going as soon as we implement new things. Once the pages marked for deletion are deleted, I think we can close this one here.

[2016-12-29 13:15] MichaelKohler commented on #88
Since we're gonna align our coaching efforts in Q1, let's come up with a plan then and close this one.

[2016-12-29 13:15] #88 closed

[2016-12-29 13:20] SpikeUK commented on #17
@MichaelKohler : on it :)

[2016-12-29 13:42] ioana-chiorean commented on #92
Notes are up: https://discourse.mozilla-community.org/t/weekly-call-24-11-2016-meeting-notes/12724
All done. finally. 🙌

[2016-12-29 13:42] #92 closed

[2016-12-29 14:28] ioana-chiorean commented on #102
Notes are up: https://discourse.mozilla-community.org/t/weekly-call-01-12-2016/12312
All done ( tweets are not done but will close as some are outdated)
🙌

[2016-12-29 14:28] #102 closed

[2016-12-29 14:33] ioana-chiorean commented on #103
There was not call on Dec 15th ( as I can see - i was travelling)

[2016-12-29 14:33] #103 closed

[2016-12-29 14:46] ioana-chiorean commented on #104
Notes are up: https://discourse.mozilla-community.org/t/weekly-call-22-12-2016/12632 🙌

@nukeador @couci how do you want to proceed with the tweets?

[2016-12-29 14:50] ioana-chiorean commented on #17
Thanks so much @SpikeUK for the help!

[2016-12-29 15:24] SpikeUK commented on #17
@MichaelKohler : I have now deleted the 88 pages that you marked for deletion a couple of hours ago.
@ioana-chiorean : Not a problem, I more than happy to help :)

[2016-12-29 15:29] MichaelKohler commented on #17
Great, thanks!

[2016-12-29 15:29] #17 closed

[2016-12-29 16:31] MichaelKohler commented on #93
@nukeador How much different is this from https://github.com/mozilla/Reps/issues/106 ? Could this one be closed?

[2016-12-29 16:40] nukeador commented on #93
Yes, let's just keep one.

[2016-12-29 16:40] #93 closed

[2016-12-29 20:15] ioana-chiorean commented on #107
Notes are up: https://discourse.mozilla-community.org/t/weekly-call-29-12-2016/12723
@nukeador @couci let me know how to proceed with the tweets so we can close this one.
🙌

[2016-12-29 22:37] brianking commented on #86
Notes from Hawaii posted:

https://docs.google.com/a/mozilla.com/document/d/14rfEG-LJT8Za4F5I5hrQ9aryDN2XdJvQzJlEPOLr0oo/edit?usp=sharing

[2016-12-30 15:42] couci opened #113 "Draft for Reps Resources Training"
## Goal:
Create a draft doc with training for  Reps Resources
## Related Issues & Links:
https://github.com/mozilla/Reps/issues/100

## Roles:

Responsible: @couci

Accountable: @couci

Supporting: Review Team

Consulted: Council, Reps

Informed:

## Required:
- [x] Create the draft (owner @couci)
- [ ] Gather feedback (owner @couci, @kelimuttu )
- [ ] Publish online (owner@couci)

[2016-12-30 15:44] couci commented on #113
Here is the [draft](https://docs.google.com/document/d/1VU_DXBybvcaHzl43BxlXgIJ1UxEPNgc14IT9409v2nM/edit#) and is based on previous work done by @francjp and can be found [here](https://docs.google.com/document/d/1dLqkzm8hWd-592qKIoE-QM8O8jewrytuSNXJtEV5S6g/edit)
On the draft we are missing the final sector, feedback are welcome

[2016-12-30 16:46] couci commented on #113
Draft is finished :)

[2017-01-03 09:22] ioana-chiorean commented on #108
@LucyeoH are you still on for this Thursday?

[2017-01-03 15:21] LucyeoH commented on #108
Yep! Can you send me the event invite? Thanks!

[2017-01-03 17:11] ioana-chiorean commented on #108
Yes, sure @LucyeoH. @couci is on that.  The agenda will be made here: https://public.etherpad-mozilla.org/p/remo-call-05-01-17 Feel free to ad more stuff on it before the call.

[2017-01-03 17:13] couci commented on #108
done @LucyoH will Patrick come as well?

[2017-01-03 17:20] LucyeoH commented on #108
Thanks! Unfortunately Patrick is still on holidays this week so we'll have
to get him at the first one when he's back.

On Tue, Jan 3, 2017 at 12:13 PM, Konstantina Papadea <
notifications@github.com> wrote:

[2017-01-05 14:48] ioana-chiorean opened #114 "Council elections - Spring 2017"
## Goal:
- Hold the council election in order to occupy the spots that are free after the term of one year is ending for:

🎓 Irayani Queencyputri (RaRa)
🎓 Faisal Aziz
🎓 Umesh Agarwal / Replaced by Ioana Chiorean in Dec. 2016
🎓 Flore Allemandou (6 months term as council from  Cohort)
🆕 🎓 Adriano Cupello (who due to personal commitments will step down at midterm)

## Success:
- The elections take pl

[2017-01-05 14:54] ioana-chiorean opened #115 "Council change Umesh ↔️ Ioana"
Replacing a Council Member

Steps 4-7 from SOP applies:
- [x] Module owner must select a former Council member to fill the available seat until the next election
- [x] Module owner updates the portal and wiki
- [x] Module owner must inform reps-mentors that the list of Council members has been updated
- [x] Module owner informs reps-general that the list of Council Members has been updated

[2017-01-06 15:09] ioana-chiorean commented on #108
Meeting notes up! https://discourse.mozilla-community.org/t/weekly-call/12822/2 🙌

[2017-01-07 09:41] MichaelKohler commented on #106
@AlexLakatos the feedback round is done, could you please go ahead and get us that nice visualization digitally? :)

Please note: let's do the visualization without the black hole. We will write about that in the text for it.

[2017-01-09 16:43] hmitsch commented on #29
Aligning on priority with @nukeador. Mail sent.

[2017-01-09 17:13] MichaelKohler commented on #94
Since we have #101 to test a webinar, I'm putting this to blocked until we have completed our Q1 goal of identifying common shared onboading processes with other parts of the org. Until then we will also have an idea whether the webinar works. With both of these projects as input, we can evaluate here how we could move faster.

[2017-01-09 17:19] MichaelKohler opened #116 "Publish OKRs for Q1 2017"
## Goal:
We have published our OKRs for Q1 2017 which are based on the Community Development Team OKRs.

## Roles:
Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @couci
Consulted: Reps Peers
Informed: Reps, Open Innovation Team

## Required:
- [x] Create draft of the OKRs and send to Council (@MichaelKohler, Due: Jan 10th)
- [x] Start initial discussion in Council (@MichaelKohle

[2017-01-09 17:21] MichaelKohler commented on #115
@ioana-chiorean what's the status of the second task regarding the Portal and https://wiki.mozilla.org/ReMo/Council/History ?

[2017-01-09 17:51] ioana-chiorean commented on #115
@MichaelKohler Done! 🙌
https://wiki.mozilla.org/ReMo/Council/History#Ninth_Council_-_.28September_2016.29

[2017-01-09 17:51] #115 closed

[2017-01-09 17:54] ioana-chiorean commented on #108
@couci planned all tweets.
All tasks done. 🎉

[2017-01-09 17:54] #108 closed

[2017-01-09 17:55] ioana-chiorean commented on #107
@couci planned all tweets. All tasks done. 🎉

[2017-01-09 17:55] #107 closed

[2017-01-09 17:55] ioana-chiorean commented on #104
@couci planned all tweets. All tasks done. 🎉

[2017-01-09 17:55] #104 closed

[2017-01-10 14:15] MichaelKohler commented on #112
Portal done, asked @akatsoulas to date it back to December

Blog: https://blog.mozilla.org/mozillareps/2017/01/10/rep-of-the-month-december-2016/
Discourse: https://discourse.mozilla-community.org/t/rep-of-the-month-december-2016/12913

Thanks everyone!

[2017-01-10 14:21] MichaelKohler commented on #112
Portal is dated back, thanks! reps-general got a link to the Discourse topic. We are all done. Thanks everyone for the help!

[2017-01-10 14:21] #112 closed

[2017-01-10 16:45] couci opened #117 "Rewrite the Rep of the month wiki page"
## Goal:
Current wiki page for Rep of the month is outdated, we need to update it and add cool ideas

## Related Issues & Links:
https://wiki.mozilla.org/ReMo/Council/Rep_of_the_month

## Roles:

Responsible: @couci

Accountable: @ioana-chiorean

Supporting: @MichaelKohler

Consulted: council

Informed: Reps

## Required:
- [ ] create etherpad with current updated process
- [ ] add experiments/sug

[2017-01-11 10:04] couci commented on #117
etherpad has been created https://public.etherpad-mozilla.org/p/ROM-wiki-updates

[2017-01-12 18:52] MichaelKohler commented on #101
We are currently working on the content for the onboarding. We have a good base, now we need to make the content easily understandable and complete.

This is what it's gonna look like in terms of process (subject to change if necessary):

![v0 1_reps_onboarding_diagram](https://cloud.githubusercontent.com/assets/330324/21903533/966412cc-d900-11e6-80a4-16974c1c36c3.png)

[2017-01-12 19:02] brianking commented on #101
And here is the base for content Michael mentioned:

https://docs.google.com/document/d/1K62phM6jr2SfWYIF1PL5sLsD91K7_gAAwd0mVrlvJJE/edit?usp=sharing

Comments welcome.

[2017-01-13 12:30] MichaelKohler commented on #36
Closing this one since there is already a link to the Discourse category and we are currently discussing the channels over in #73. This is okay for now.

[2017-01-13 12:30] #36 closed

[2017-01-13 12:31] MichaelKohler commented on #86
Let's discuss this once we have the finalized CDT OKRs for 2017. @Flore-mozfr could you please take that up again then and follow up on the discussion?

[2017-01-16 13:22] Mte90 opened #118 "FAQ contain references to FSA"
## Goal:
Remove FSA from the faq on https://reps.mozilla.org/faq/
Replace with campus club is not the right thing because they don't have roles but only the club captain that is completely different from a rep.

## Roles:

Responsible:

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [ ] Put mittens on all of the kittens (owner, Due: Aug 7th)
- [ ] Put mittens on all of the kitten

[2017-01-16 14:19] couci commented on #118
I think this is something we need to rephrase from the start in order to include the scopus of Campus Clubs
@bacharakis how do you think we should phrase this and what is the best link we should have there?

[2017-01-17 12:44] couci commented on #113
@deimidis I would love your feedback in here since you've been leading the coaching training at the past. Also @Mte90 @dvigneshwer your feedback would be really valuable considering your involvement in the past

[2017-01-17 12:46] Mte90 commented on #113
the doc is in read-only mode :-/

[2017-01-17 12:51] couci commented on #113
apologies for that, fixed now :)

[2017-01-18 18:20] MichaelKohler commented on #118
I think we will need to rewrite those FAQ in terms of RepsNext anyway. A quick fix right now would be to take it out or let @bacharakis come up with something. Though I don't think this fits the scope anymore.

[2017-01-18 18:23] MichaelKohler commented on #2
Let's come up with a plan for Coaching and create a new issue here.

[2017-01-18 18:23] #2 closed

[2017-01-18 18:26] MichaelKohler commented on #96
@couci what's your plan on moving forward here? I would suggest to just publish it "after the fact" and focus on Q1 (which is still pending)

[2017-01-18 18:30] MichaelKohler commented on #73
Currently we are working on the visualization part so it's easily understandable. Let's create a new issue for the content exploration once we've shared the graphics.

[2017-01-19 13:20] MichaelKohler commented on #117
@couci @ioana-chiorean please review the Etherpad, I will publish it once you both agree to this new version.

[2017-01-19 14:03] MichaelKohler commented on #101
I've added some things to the document, @couci @brianking please provide feedback so we can share this with Council for a final feedback round. Then we can increase the value of the script (as a real script to read from basically).

[2017-01-19 14:27] couci commented on #110
promotion done :)

[2017-01-19 14:48] couci commented on #117
thank you @MichaelKohler added some small corrections. Also @Mte90 check it out since you've added some initial comments

[2017-01-19 14:49] couci commented on #96
well now both November and December are updated along with all Q1 view. Do you think an article in discourse about what we've done on Q4 and a mention would be enough?

[2017-01-19 14:49] Mte90 commented on #117
And I forgotten that I written something on that etherpad XD

[2017-01-19 14:54] MichaelKohler commented on #96
Yes, that would be enough. Can you then also create a new issue for Q1?

[2017-01-19 15:19] couci commented on #96
that's a good suggestion, I will do so once we get the confirmation for 2017 budget.

[2017-01-19 15:30] couci commented on #96
added as a comment on the FAQ https://discourse.mozilla-community.org/t/q4-budget-allocation-the-faq/11618

[2017-01-19 15:45] MichaelKohler commented on #96
Thank you!

[2017-01-19 15:45] #96 closed

[2017-01-20 10:38] MichaelKohler commented on #117
New Wiki page here: https://wiki.mozilla.org/ReMo/Rep_of_the_Month

The old one (https://wiki.mozilla.org/ReMo/Council/Rep_of_the_month) redirects to the new one.

Thanks everyone!

[2017-01-20 10:38] #117 closed

[2017-01-20 10:41] MichaelKohler commented on #73
As per latest voting, we have agreed to the following:

* Create a list of all channels that we are using so people can find them easily
* Focus on reps-general and Discourse moving forward (with the end goal to only have one channel that is synchronized)
* Pin Discourse thread on Telegram when they happen
* Create a newsletter - at least monthly
* We will still have the external communication cha

[2017-01-20 11:37] MichaelKohler commented on #73
Documentation started here: https://wiki.mozilla.org/ReMo/Communication

[2017-01-20 12:04] MichaelKohler commented on #73
Last open questions from my side:
* What should we do with the IRC Channels? (#remo, #remo-dev)
* What should we do with the reps-dev mailing list? We have the Discourse for that and it's rarely used. Kill it?

--> Started a thread on the Council alias to discuss this

[2017-01-20 12:12] MichaelKohler commented on #118
I will take a first stab at the FAQ page to update it. I think we can completely remove that section for now. We don't really have a cross-over with Campus Clubs. Once that changes we can still update it.

[2017-01-20 12:15] MichaelKohler commented on #55
@ioana-chiorean Given the discussion here and in the Discourse thread, the main topic here is to open it up for everyone (to nominate and vote). Do we want to do an experiment out of that? The code changes should be fairly straightforward to open this up to anyone.

[2017-01-20 12:58] MichaelKohler commented on #7
@hmitsch @ioana-chiorean since that session was really short in Hawaii, what are the next steps?

[2017-01-20 14:16] ioana-chiorean commented on #117
Thanks for driving and doing this @MichaelKohler ! (I did not even get to comment the issued that I have added my comments/suggestions and they were done already!  👏 👏 👏

[2017-01-20 15:20] ioana-chiorean opened #119 "Define the Newsletter concept"
## Goal:
We have an at least monthly newsletter to inform Reps what is happening in the Program and within Mozilla.

## Related Issues & Links:
#73

## Roles:

Responsible: @AlexLakatos
Accountable: Reps Council
Supporting: Reps Peers
Consulted: Community Development Team, Reps
Informed: Reps

## Required:
- [x] Decide on an owner for the Newsletter (@ioana-chiorean, Due: Jan 25th)
- [x] Crowdsour

[2017-01-20 15:21] ioana-chiorean commented on #73
Follow up issue for newsletter. I think we need to think this true as it will require a bit of work.
https://github.com/mozilla/Reps/issues/119

[2017-01-20 15:48] MichaelKohler commented on #119
Started discussion about content here: https://discourse.mozilla-community.org/t/reps-newsletter-your-ideas-required/13114

[2017-01-20 23:31] hmitsch commented on #7
We discussed this topic in today's Peers call. It is hard to summarize our conclusion. Main idea: We will get together in about 10 days and brainstorm ways we propose to support the Reps Program as Peers.

Stay tuned.

[2017-01-21 12:36] ioana-chiorean commented on #7
@MichaelKohler with all the changes that occurred we are still in discussions
We will try to update this as soon as we have some clear steps ( 1-2 weeks more)

[2017-01-21 12:39] ioana-chiorean commented on #55
I want to ask first if there are any concerns from our side here and if the implementation means anything we might miss here. I will ask in mentors/council groups at first.

@akatsoulas will this be ok from dev side? To open nominations for all Reps?

[2017-01-21 12:47] ioana-chiorean commented on #119
Thanks @MichaelKohler I will comment there too/

[2017-01-21 18:29] ioana-chiorean commented on #109
Shout-outs planned by @couci.
Notes up here: https://discourse.mozilla-community.org/t/weekly-call-12-01-2017/12967/2

All done! 🎉 🙌

[2017-01-21 18:29] #109 closed

[2017-01-21 18:38] ioana-chiorean commented on #110
Notes are up! https://discourse.mozilla-community.org/t/weekly-call-19-01-2017/13096 🙌
@couci pls close this when u have the tweets planned! Thank u! 🙇‍♀️

[2017-01-23 09:41] akatsoulas commented on #55
@ioana-chiorean yes, it should be super easy.

[2017-01-23 17:36] couci commented on #110
tweets scheduled,
we can close this one

[2017-01-23 18:44] ioana-chiorean commented on #110
Thanks @couci ! 🙇‍♀️

[2017-01-24 19:44] MichaelKohler commented on #73
Community Development Team issue for it: https://github.com/mozilla/community-development/issues/496

[2017-01-24 19:44] MichaelKohler commented on #119
Community Development Team issue for this: https://github.com/mozilla/community-development/issues/496

[2017-01-24 20:17] MichaelKohler commented on #119
@AlexLakatos will bring this further as responsible person in this heartbeat

[2017-01-24 22:15] MichaelKohler commented on #106
Started to draft a blog post here: https://docs.google.com/document/d/1bscJK2v8dg7QPsiLhnGu37VCiW4r6qLyXnCW7sde9dM/edit# (Council only for now)

Also I've asked Yofie if he could do a nice looking graphic from the material above.

[2017-01-24 22:17] MichaelKohler commented on #116
The OKRs have been finalized in today's Council meeting. There is currently a voting open. If everything goes well, we will be able to share our OKRs in this week's Reps call. I'm starting a blog post draft for it tomorrow. I will also create some slides (or a visualization like Nuke did) to share in the call.

[2017-01-24 22:32] MichaelKohler opened #120 "Scope Identify Onboarding Processes/Tools"
## Goal:
The Reps Onboarding process we are currently experimenting with is clearly documented in terms of process and tools and the "old" process is summarized. And Michael is in sync with Christos about scope and timeline of this project.

**This supports the Community Development Team:**
Objective 3: We start to have a unified approach across Mozilla of recruiting, aligning and investing in mob

[2017-01-24 22:38] MichaelKohler opened #121 "Publish RoM for January"
## Goal:
RoM of January is published on the portal, blog and discourse.

## Related Issues & Links:
[voting] https://reps.mozilla.org/v/rep-of-the-month-for-january-1/

## Roles:
Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @ioana-chiorean
Consulted: -
Informed: All Reps

## Required:
- [x] Let mentor of RoM write a text (@MichaelKohler, Due: January 31st)
- [x] Review text (@

[2017-01-25 07:38] ioana-chiorean commented on #121
Mail sent to mentor and close collaborator of ROM. ✉️

[2017-01-25 08:18] ioana-chiorean commented on #110
@MichaelKohler ?

[2017-01-25 09:18] MichaelKohler commented on #110
Hah, sorry about that.. that happens when you don't refresh your waffle board and move stuff from ready to in progress..

[2017-01-25 09:18] #110 closed

[2017-01-26 16:51] couci commented on #106
@MichaelKohler do you think it would be useful to have in this blogpost where we are going as a program (the mobilizers road) as an introduction?
Also where do we stand with the design?

[2017-01-26 17:10] MichaelKohler commented on #106
Let's create a seperate blog post for the mobilizer part once we have a clear definition. For now I'd like to get the update out.

I told Yofie that end of the week would be okay, let me ask him if he can make it.

[2017-01-26 18:41] MichaelKohler commented on #116
Presented in the Reps call today.

Discourse: https://discourse.mozilla-community.org/t/reps-program-goals-q1-2017/13205
Also sent to reps-general, pinned and announced in Telegram

Blog post is ready for review, @nukeador @couci (https://blog.mozilla.org/mozillareps/wp-admin/post.php?post=476&action=edit)

[2017-01-26 20:23] couci commented on #116
done :)

[2017-01-26 20:32] MichaelKohler commented on #116
Then we are all set here. Thanks!

[2017-01-26 20:32] #116 closed

[2017-01-27 00:15] MichaelKohler commented on #118
I've opened a PR here: https://github.com/mozilla/remo/pull/1306

We will probably rewrite a lot of the content of the FAQ as well as the wiki when we have a clear understanding and definition of the word "mobilizer" and how this applies to Reps.

[2017-01-27 00:15] #118 closed

[2017-01-27 14:45] couci commented on #106
draft is now finished, expected publication date Monday 30th

[2017-01-30 14:36] MichaelKohler commented on #106
We've just published a blog post about the current RepsNext status: https://blog.mozilla.org/mozillareps/2017/01/30/repsnext-status-update-january-2017/

Please join the discussion here: https://discourse.mozilla-community.org/t/repsnext-status-update-january-2017/13286

[2017-01-30 14:36] #106 closed

[2017-02-02 09:36] couci commented on #111
shout outs have been tweeted, Rosana's subject has been  moved to next week's call

[2017-02-02 09:40] couci opened #122 "Reps Weekly Call - Febraury 2nd, 2017"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #111
➡️ #

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioa

[2017-02-07 20:27] ioana-chiorean commented on #111
All done! 🙌

[2017-02-07 20:27] #111 closed

[2017-02-07 20:31] ioana-chiorean opened #123 "Reps Weekly Call - February 9th, 2016"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #122
➡️ #124

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador, @francjp
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@