[2018-01-17 17:54] #20 closed

[2018-01-17 17:55] couci commented on #232
@elioqoshi @gaby2300  can we any of you open a discourse topic with a doodle asking people's opinion?

[2018-01-17 21:04] gaby2300 commented on #270
Hello again!

Do you know if these Interests, Activities and Functional Areas in the
Portal will be updated any time soon?

Many thanks!
Best regards,
Gabriel​a​

http://www.mozilla-hispano.org

On 1 January 2018 at 17:51, Gabriela Montagu <gmontagu@gmail.com> wrote:

[2018-01-17 21:12] MichaelKohler commented on #276
Thanks, responded to all applicants.

[2018-01-17 21:12] #276 closed, assigned to MichaelKohler, Mte90

[2018-01-18 04:59] kelimuttu commented on #237
I would say this can be closed for now because there's no plan to move forward with this idea. But might be worth to reopen once we have enough capacity to work on this.

[2018-01-18 04:59] #237 closed, assigned to nobody

[2018-01-18 11:26] Mte90 opened #277 "Onboarding Screening Team 2018-1 applications"
## Goal:
As explained on https://discourse.mozilla.org/t/do-you-want-join-the-onboarding-screening-team/24497 we want to have a team that evaluate new applications.
If you want to join leave your name here but not forget to read the Discourse thread and the wiki (https://wiki.mozilla.org/ReMo/Webinar/Screening) about it.

## Related Issues & Links:
https://github.com/mozilla/Reps/issues/271

## Ro

[2018-01-18 11:35] DineshMv commented on #277
Dear Council,

I'm interested to be a part of the screening team.

Thanks,
Dinesh

[2018-01-18 11:57] decode-dev commented on #277
Interested to be a part of screening team.

Cheers,
Kalyan Dikshit

[2018-01-18 12:44] jayeshkattar commented on #277
I'm interested. 👍

Thanks,
Jay

[2018-01-18 12:51] abhiaecs commented on #277
I'm interested to be a part of the screening team.

Thanks,
Abhilash

[2018-01-18 13:40] gaby2300 commented on #277
Dear Council,

I'm very interested to be a part of the screening team.

Thanks!
Best regards,
Gabriela

[2018-01-18 13:42] balapandu222-zz commented on #277
Council Board,

I'm interested and wanna be a part of screening team.

Thanks and Regards,
Bala Subramaniyan

[2018-01-18 13:52] robinkoshy commented on #277
Hey there !

I'm interested being the part of the screening team .

Thanks
Robin

[2018-01-18 13:53] gaby2300 commented on #277
Dear Council,

I'm very interested to be a part of the screening team.

Thanks!
Best regards,
Gabriela

On 18 January 2018 at 10:42, Bala Subramaniyan <notifications@github.com>
wrote:

[2018-01-18 14:32] ioana-chiorean opened #278 "Reps Weekly Call - January 18th, 2018"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #
➡️ #

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chiorean,

[2018-01-18 14:35] ioana-chiorean opened #279 "Reps Weekly Call - January 25th, 2018"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #278
➡️ #280

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chi

[2018-01-18 14:38] ioana-chiorean opened #280 "Reps Weekly Call - February 1st, 2018"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #279
➡️ #285

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chi

[2018-01-18 15:05] vi5halc commented on #277
Hello Council,

I am interested in being a part of this screening team. :)

Thanks and regards,
Vishal Chavan

[2018-01-18 15:36] roshangm1 commented on #277
Hi,
I am interested in being a part of the screening team.

Thanks,
Roshan

[2018-01-18 16:11] edovio commented on #277
Hello,
I'm interested to being part of this team! :)
Thanks,
Edoardo

[2018-01-18 16:19] hossainalikram commented on #277
Hello Council,

I am interested on continuing to become a part of the team :)

Regards
Ikram

[2018-01-18 16:32] #271 closed, assigned to Mte90, ankitgadgil

[2018-01-18 17:43] akjogawath commented on #277
Hi Team,

I am interested to be a part of this amazing team.

Best Regards,
Ajay

[2018-01-19 11:56] ioana-chiorean commented on #47
Give me one more week

[2018-01-19 11:57] ioana-chiorean commented on #48
i did started a spreadsheet long ago but it is a very manual work not sure hoe to improve progress. Give me one more week

[2018-01-19 12:00] ioana-chiorean commented on #55
I was waiting for @akatsoulas replied.
Give me one more week.

[2018-01-19 12:02] ioana-chiorean commented on #211
it was - we worked on this in Austin. will do it till end of month.

[2018-01-19 12:04] ioana-chiorean commented on #212
yeah. ETA EOM

[2018-01-19 14:16] akatsoulas commented on #55
Sorry I completely missed this. If you have already decided on this, we can proceed with the changes in the portal asap. To be clear, all we need to do is open the nomination process and the voting to all the Reps and not just the mentors, right?

[2018-01-19 14:26] MichaelKohler commented on #55
If this doesn't need to be done by tomorrow, I'm happy to work on this. @ioana-chiorean can you create a bugzilla ticket for it?

[2018-01-19 18:09] Timmaks commented on #277
Hi Council,

i am interested in becoming a member of this team!

Greetings

Tim Maks

[2018-01-22 11:44] ioana-chiorean commented on #212
Wiki updated https://wiki.mozilla.org/Modules/Mozilla_Reps

[2018-01-22 11:44] #212 closed, assigned to MichaelKohler, hmitsch, ioana-chiorean

[2018-01-22 13:23] Mte90 opened #281 "List of active Reps"
## Goal:
As https://github.com/mozilla/Reps/issues/272 we need a list with links to mozillian profile.
Later we will see if we can use that with a script to import automatically or do it manually

## Related Issues & Links:
[Reference meta issues and past issues] #272

## Roles:

Responsible: @MichaelKohler

Accountable:

Supporting: @mte90, @prathameshchavan

Consulted:

Informed:

## Required:
-

[2018-01-22 13:33] MichaelKohler commented on #281
@akatsoulas could we get the list of all mozillians profile URLs from Reps profiles from the db splitted by active / alumni?

I imagine something like the following two pseudo queries:

[code]

[code]

Would be great to have this directory from the DB, instead of going through the API. A simple TXT file with all urls would be enough.

[2018-01-22 17:50] #278 closed, assigned to ioana-chiorean, couci

[2018-01-22 17:56] couci commented on #274
@ioana-chiorean as far as I know we have the IRL Rust and Fire TV coming right? Are we planning for anything else?

[2018-01-22 17:57] couci commented on #265
@Mte90 what is the update on this one?

[2018-01-22 17:58] couci commented on #264
@Mte90 I'll close this until we define the changes for the program. Feel free to re-open afterwards

[2018-01-22 17:58] #264 closed, assigned to Mte90, couci

[2018-01-22 18:00] couci commented on #260
This work is done

[2018-01-22 18:00] #260 closed, assigned to nukeador, couci

[2018-01-22 18:01] couci commented on #257
@ioana-chiorean can we close this one?

[2018-01-22 18:02] #234 closed, assigned to nobody

[2018-01-22 18:04] #248 closed, assigned to dvigneshwer

[2018-01-22 18:28] Mte90 commented on #265
No updates for that because I was busy with other things.
I think that after the MDM stuff we can start to think about it.

[2018-01-23 09:11] codecaiine commented on #277
Hi ,
I am interested in being a part of the screening team.
Regards,
Aka

[2018-01-23 13:29] couci commented on #265
ok, let's close this and we can reopen once we have something new

[2018-01-23 13:29] #265 closed, assigned to Mte90

[2018-01-23 18:14] SandeepKapalawai commented on #277
Hey There,

I am interested to be a part of Onboarding Screening Team.

Thank you :)
Sandeep

[2018-01-24 18:04] couci opened #282 "Get the Reps program ready for change"
- [x] Imagine the program on it's perfect state
- [ ] Send ideas for community experts to MDM stakeholders
- [ ] Integrate feedback
- [ ] Make a list of changes to the program in order to reach the perfect state

[2018-01-28 18:54] fayepal commented on #275
Done with majority of the pages. Need guidance on the Webinar page on where to insert the part where they will be assigned to a mentor.

[2018-01-28 18:55] MichaelKohler commented on #275
I think that needs more discussion, as we still don't have enough coaches to assign new ones. Looping @Mte90 in here as well as he'll be leading the onboarding.

[2018-01-28 19:11] Mte90 commented on #275
We need to see if we have to update that page indeed.

[2018-01-30 05:56] Ruwan-Ranganath commented on #277
Hi Counsil ,

I'd be like to part of screening team.

Thank you.

[2018-01-31 16:43] MichaelKohler opened #283 "Publish RoM for January 2018"
## Goal:
The RoM for January 2018 is published.

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @ioana-chiorean

## Required:
- [x] Let Mentor write a text about RoM (@MichaelKohler, Due: January 30th)
- [x] Finalize text (@MichaelKohler, Due: January 30th)
- [x] Publish blog post, discourse, reps-general and Telegram (@MichaelKohler, Due: February 2nd)

[2018-01-31 17:43] MichaelKohler commented on #283
* Discourse: https://discourse.mozilla.org/t/rep-of-the-month-january-2018/25028
* reps-general is done
* Telegram will be done automatically by the tweet that follows when the blog post is approved by K

[2018-01-31 17:48] MichaelKohler commented on #283
K has approved the blog post, thanks! We're done here!

[2018-01-31 17:48] #283 closed, assigned to MichaelKohler

[2018-02-01 21:01] MichaelKohler commented on #257
I guess so :)

[2018-02-01 21:02] MichaelKohler commented on #218
We also did one at the stage at MozFest. @bacharakis any idea where we could get it?

[2018-02-02 10:08] anknite commented on #277
Council is now voting for selection of the applicants.

[2018-02-06 16:28] yomanpatil commented on #270
do we need the **Community Yearbook created**
@Mte90 ?

[2018-02-06 16:30] Mte90 commented on #270
Good point, we forgot to do it for 2017 (to ask to the community to do the yearbook) but I think that need to stay.

[2018-02-06 16:51] yomanpatil commented on #270
Mozilla Leadership Network - > should we remove this aswell ?

[2018-02-06 16:52] Mte90 commented on #270
No, looking on https://www.mozilla.org/en-US/foundation/leadership-network/ there are project alive of that like Mozilla Science.

[2018-02-06 17:00] gaby2300 commented on #270
Sorry to bother you again but.... Does someone know if these Interests,
Activities and Functional Areas in the Portal will be updated any time soon?

Best regards,
Gabriela

On 6 February 2018 at 13:52, Daniele Scasciafratte <notifications@github.com

[2018-02-07 09:16] ioana-chiorean opened #284 "Council Elections - Spring 2018"
## Goal:
- Hold the council election in order to occupy the spots that are free after the term of one year is ending for:

🎓 @fayetandog
🎓 @Mte90
🎓 @elioqoshi
🎓 @ankitgadgil
🎓 @Flore-mozfr

## Success:
- The elections take place and we have _ new council members

## Related Issues & Links:
- Previous Elections #208, #114, #15

## Roles:
Owner: @ioana-chiorean
Involved: @couci, Reps Peers
Informed:

[2018-02-08 15:05] barrosgg commented on #270
Projects related to Mozilla Leadership Network/Mozilla Foundation: https://foundation.mozilla.org/get-involved/

[2018-02-08 21:41] MichaelKohler commented on #281
@akatsoulas quick ping here agian, thanks!

[2018-02-08 23:34] MichaelKohler commented on #211
I have started a document about this with the following topics:

1) Reps Council Accountability
2) Peers interaction with Council
3) Peers-internal

All of these will eventually build up to the Reps Peer role documentation.

[2018-02-09 20:37] ioana-chiorean opened #285 "Reps Weekly Call - February 8th, 2018"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #280
➡️ #286

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chi

[2018-02-09 20:39] ioana-chiorean opened #286 "Reps Weekly Call - February 15th, 2018"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #285
➡️ #292

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chi

[2018-02-13 13:52] couci opened #287 "Review Team onboarding"
## Goal:
Onboard the new Review Team

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:

Responsible: @couci @kelimuttu

Accountable:@couci

## Required:
- [x] Create Doodle for onboarding meeting
- [x] match new Review Team members with old ones
- [x] give Review Team members privileges on bugzilla
- [x] new Review Team members ghost old members on bugzilla (1st week

[2018-02-15 09:43] Mte90 commented on #277
New team members published https://discourse.mozilla.org/t/welcome-to-the-new-onboarding-screening-team-2018-1/25665
Soon there will be a blog post about it to say thanks also to the previous team

[2018-02-15 14:23] abbycabs commented on #286
Looking forward to this! Thanks @ioana-chiorean

[2018-02-16 10:43] Mte90 commented on #277
Blogpost https://blog.mozilla.org/mozillareps/2018/02/15/reps-on-boarding-team/

[2018-02-16 10:43] #277 closed, assigned to Mte90

[2018-02-16 13:25] Mte90 opened #288 "Reps Applications Screening Round - Week of February 4rd"
## Goal:
All open and ready applications are screened and informed.

## Related Issues & Links:
[Application Screening Sheet ](https://docs.google.com/spreadsheets/d/1WcQJCo38pwEIktErFm8KQDhA4eFSM6T5AYDS-6Oz1Tg/edit#gid=997767683) - private for obvious reasons

## Roles:

Responsible: @Mte90
Accountable: Reps Council
Supporting: Experimental screening group
Informed: Applicants

## Required:
- [x]

[2018-02-19 19:05] ioana-chiorean opened #289 "Council change Elio ↔️ Alex"
Replacing a Council Member

Steps 4-7 from SOP applies:
- [x] Module owner must select a former Council member to fill the available seat until the next election
- [x] Module owner updates the portal and wiki
- [x] Module owner must inform reps-mentors that the list of Council members has been updated
- [x] Module owner informs reps-general that the list of Council Members has been updated

[2018-02-19 19:08] ioana-chiorean commented on #289
1) Discussed with peers and made a list of previous council members. Laka accepted the responsibility.
2) Wiki https://wiki.mozilla.org/ReMo/Council/History#Eleventh_Council_-_.28October_2017.29
3) Informed all reps ( includes mentors)
4) Informed all reps

[2018-02-19 19:08] #289 closed, assigned to ioana-chiorean

[2018-02-20 16:46] ioana-chiorean commented on #257
I will not have time at this moment to add notes to the discourse. So we can close it.
Going further, I think we can comment with a link to the page to find people that notes were added..
It is time consuming to copy paste, structure, format and crossed post of this.

[2018-02-22 10:37] Mte90 opened #290 "Report with a recap of the onboarding experience"
## Goal:
Based on https://discourse.mozilla.org/t/reps-okrs-for-q1-2018/25866
Write a recap with Swot Analysis about the onboarding experience.

## Related Issues & Links:
#291
Document in progress: https://docs.google.com/document/d/12kWB1oTq-6DeXlgpBT4_kDjn8LhSwxOL0K6bIPcb1sI/edit?usp=sharing
## Roles:

Responsible: @mte90

Accountable:

Supporting: @couci

Consulted:

Informed: Onboarding Scree

[2018-02-22 10:38] Mte90 opened #291 "Understanding of the onboarding experience"
## Goal:
Based on https://discourse.mozilla.org/t/reps-okrs-for-q1-2018/25866
Write a list of points to understand if an applicants fit in the program and how to find this points.

## Related Issues & Links:
#290
## Roles:

Responsible: @mte90

Accountable:

Supporting: @couci

Consulted:

Informed:

## Required:

- [x] Requirements of the program for new applicants (owner, Due: Mar 20th)
- [ ] Li

[2018-02-26 14:50] Mte90 commented on #288
5 approved on 6 applications :-D

[2018-02-26 14:50] #288 closed, assigned to Mte90

[2018-02-26 20:39] ioana-chiorean opened #292 "Reps Weekly Call - February 22nd, 2018"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #286
➡️ #29

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chio

[2018-02-27 17:36] Mte90 commented on #218
At the end at fosdem we didn't taken a photo.
We have to evaluate what to do, if close waiting for a new photo in the meantime, seems that there is no pressure on this task.

[2018-02-28 09:19] ioana-chiorean commented on #98
I think this is more on Mozilla Employees side - i think - to make a cleared process how to shut ddown a program and its afferent wikis.

On Reps side I think we can ask and investigate on a certain request as we do not have the overview of all contributions path all mozillians take.
As process - we can edit the wiki and add some notification. Opinions?

[2018-02-28 09:21] ioana-chiorean commented on #192
@AlexLakatos is you are taking over this again can you ping @elioqoshi for input?

[2018-02-28 09:22] ioana-chiorean commented on #270
@Mte90 should this be ported to reps platform team - parsys?

[2018-02-28 09:27] ioana-chiorean commented on #232
Hey @elioqoshi  @gaby2300 - any updates here?

[2018-02-28 09:28] ioana-chiorean commented on #236
hey @Mte90  what's the status here?

[2018-02-28 09:28] MichaelKohler commented on #270
@ioana-chiorean these are settings in the portal, any admin and I think even Council can do changes. No need for any help from OI P&E

[2018-02-28 09:37] ioana-chiorean opened #293 "NO MEETING - Reps Weekly Call - March 1st, 2018"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #292
➡️ #294

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chi

[2018-02-28 09:39] ioana-chiorean opened #294 "Reps Weekly Call - March 8th, 2018"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #293
➡️ #299

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chi

[2018-02-28 10:00] SoSadToday commented on #293
What is this bull? Why am I mentioned here?

[2018-02-28 10:08] ioana-chiorean commented on #293
hey @SoSadToday i just added the tweet that went out for the IRL newest episode about your story. I did not realize it is your github handle also. The section is a read only section in Mozilla reps call and its goals is to promote short things happening in the last 7 days. I will untag you.

[2018-02-28 10:11] SoSadToday commented on #293
What story? I never did any story with you guys. Why are you falsifying information?

[2018-02-28 11:30] Mte90 commented on #98
the idea of a cleared process to shut down a program is not a bad idea.
We can involve in the process to reach the Reps Council to have more visibility and point of view from volunteers.

Actually the Reps Council is busy with the OKR, but I can try to do a draft for that (only if there is interest).

[2018-02-28 11:30] Mte90 commented on #270
Yes and @yomanpatil is leading this as OKR for this quarter with a new list of stuff to add and remove.

[2018-02-28 11:32] Mte90 commented on #236
Good point, actually for Onboarding as OKR I am working about #290 and #291 and this ticket is not involved because right now there is no priority on this needs.
We have more bigger problems on onboarding like criteria and quality of applications, so I think that we can close for the moment and later think about it (maybe if someone as feedback).

[2018-02-28 22:12] ioana-chiorean commented on #293
@SoSadToday again - i just copy the text from this tweet (https://twitter.com/mozilla/status/968209674146283520) here without realizing the tag will go though and i never checked you handle here.

No one is falsifying any information.

[2018-02-28 22:13] ioana-chiorean commented on #98
I think this should go even upper than the council - OI team and more.

[2018-03-01 19:16] ioana-chiorean commented on #236
Ok. @emmairwin does this sound ok for you too?

[2018-03-04 14:28] fayepal opened #295 "Report with a recap of the mentoring work"
## Goal:
Deliver a report of the recap of our work on the new mentoring process

## Related Issues & Links:
#137
#194
#250
#275
[Working document](https://docs.google.com/document/d/15bHJ3ZHtQfzf5hHlHEZu_iSLHx8Ra0U0aJignsBskVU/edit?usp=sharing)

## Roles:

Responsible: @fayetandog

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [x] Do a SWOT Analysis
- [x] Current status of the p

[2018-03-04 14:34] fayepal opened #296 "Understand how mentoring will be involved as part of the community experts"
## Goal:
Identify the how mentoring will move forward in line with Reps as community experts

## Related Issues & Links:
[Request for data of mobilizer interest- Bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1442513)
## Roles:

Responsible: @fayetandog

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [ ] Obtain the statistics of Reps' mobilizer interests
- [ ] Identify th

[2018-03-05 12:07] Mte90 opened #297 "Reps Applications Screening Round - Week of March 1st"
## Goal:
All open and ready applications are screened and informed.

## Related Issues & Links:
[Application Screening Sheet ](https://docs.google.com/spreadsheets/d/1WcQJCo38pwEIktErFm8KQDhA4eFSM6T5AYDS-6Oz1Tg/edit#gid=997767683) - private for obvious reasons

## Roles:

Responsible: @Mte90
Accountable: Reps Council
Supporting: screening group
Informed: Applicants

## Required:
- [x] Add applican

[2018-03-07 13:39] Mte90 commented on #290
Just to let you know that the document now is public!

[2018-03-07 15:24] Mte90 commented on #232
I got a feedback about the timing that is not comfortable and people is missing also the recording and not marking them on the reps portal.

[2018-03-07 15:37] ioana-chiorean opened #298 "Publish RoM for February 2018"
## Goal:
The RoM for February 2018 is published.

## Roles:

Responsible: @ioana-chiorean
Accountable: Reps Council
Supporting: @MichaelKohler

## Required:
- [x] Let Mentor write a text about RoM (@ioana-chiorean, Due: March 10th)
- [x] Finalize text (@ioana-chiorean, Due: March 13th)
- [x] Publish blog post, discourse, reps-general and Telegram (@ioana-chiorean, Due: March 15th)

[2018-03-07 15:37] ioana-chiorean commented on #298
Results: https://reps.mozilla.org/v/rep-of-the-month-for-february-3/

[2018-03-07 15:42] gaby2300 commented on #232
Hello,

I'm very sorry for the delay but I've been having family issues, actually I
still have....

Should the doodle include only a different time on Thursdays or some other
weekday and time as well?

​Regards,

Gabriela​

On 17 January 2018 at 14:55, Konstantina Papadea <notifications@github.com>
wrote:

[2018-03-07 15:45] #287 closed, assigned to kelimuttu, couci

[2018-03-07 16:01] Mte90 commented on #232
I think that is better to keep Thursday because in the other days there are different meetings.
Also evaluate different timing on the day can be helpful to experiment that and see if they works or it is better to do it in another day.

[2018-03-10 13:15] #297 closed, assigned to Mte90

[2018-03-10 21:39] ioana-chiorean opened #299 "Reps Weekly Call - March 15th, 2018"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #294
➡️ #300

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chi

[2018-03-10 21:39] ioana-chiorean opened #300 "Reps Weekly Call - March 22nd, 2018"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #299
➡️ #301

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chi

[2018-03-10 21:39] ioana-chiorean opened #301 "Reps Weekly Call - March 29th, 2018"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #300
➡️ #303

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chi

[2018-03-11 12:48] #293 closed, assigned to ioana-chiorean

[2018-03-11 12:50] ioana-chiorean commented on #294
All things were doen in preparation for the call.
Due to lack of availability we are not gonna support the next actions:
* [Post meeting notes] ( ) (@ioana-chiorean, @couci, [small], Due: date )
* Mail Shout-Outs to be shared on SM (@ioana-chiorean, @couci, [small], Due: date ) #

[2018-03-11 12:50] #294 closed, assigned to ioana-chiorean

[2018-03-11 12:50] ioana-chiorean commented on #292
All things were done in preparation for the call.
Due to lack of availability we are not gonna support the next actions:
* [Post meeting notes] ( ) (@ioana-chiorean, @couci, [small], Due: date )
* Mail Shout-Outs to be shared on SM (@ioana-chiorean, @couci, [small], Due: date ) #

[2018-03-11 12:50] #292 closed, assigned to ioana-chiorean, couci

[2018-03-11 12:56] ioana-chiorean commented on #285
All things were done in preparation for the call.
Due to lack of availability we are not gonna support the next actions:
* [Post meeting notes] ( ) (@ioana-chiorean, @couci, [small], Due: date )
* Mail Shout-Outs to be shared on SM (@ioana-chiorean, @couci, [small], Due: date ) #

[2018-03-11 12:56] #285 closed, assigned to ioana-chiorean, couci

[2018-03-12 16:05] LucyeoH-zz commented on #301
@ioana-chiorean Mitchell will be attending this call - some content will be NDA only!

[2018-03-13 11:44] #290 closed, assigned to Mte90

[2018-03-13 11:44] Mte90 commented on #291
The document is public and available on https://docs.google.com/document/d/12kWB1oTq-6DeXlgpBT4_kDjn8LhSwxOL0K6bIPcb1sI/edit?usp=sharing

[2018-03-15 15:33] ioana-chiorean commented on #286
All things were done in preparation for the call.
Due to lack of availability we are not gonna support the next actions:

* [Post meeting notes] ( ) (@ioana-chiorean, @couci, [small], Due: date )
* Mail Shout-Outs to be shared on SM (@ioana-chiorean, @couci, [small], Due: date )

[2018-03-15 15:33] #286 closed, assigned to ioana-chiorean, couci

[2018-03-16 09:57] ioana-chiorean commented on #299
All things were done in preparation for the call.
Due to lack of availability we are not gonna support the next actions:

* [Post meeting notes] ( ) (@ioana-chiorean, @couci, [small], Due: date )
* Mail Shout-Outs to be shared on SM (@ioana-chiorean, @couci, [small], Due: date ) #

[2018-03-16 09:57] #299 closed, assigned to ioana-chiorean

[2018-03-16 10:05] ioana-chiorean commented on #280
All things were done in preparation for the call.
Due to lack of availability we are not gonna support the next actions:

* [Post meeting notes] ( ) (@ioana-chiorean, @couci, [small], Due: date )
* Mail Shout-Outs to be shared on SM (@ioana-chiorean, @couci, [small], Due: date ) #

[2018-03-16 10:05] #280 closed, assigned to ioana-chiorean

[2018-03-16 10:06] ioana-chiorean commented on #279
All things were done in preparation for the call.
Due to lack of availability we are not gonna support the next actions:
* [Post meeting notes] ( ) (@ioana-chiorean, @couci, [small], Due: date )
* Mail Shout-Outs to be shared on SM (@ioana-chiorean, @couci, [small], Due: date ) #

[2018-03-16 10:06] #279 closed, assigned to ioana-chiorean, couci

[2018-03-16 10:10] ioana-chiorean commented on #257
All things were done in preparation for the call.
Due to lack of availability we are not gonna support the next actions:
* [Post meeting notes] ( ) (@ioana-chiorean, @couci, [small], Due: date )
* Mail Shout-Outs to be shared on SM (@ioana-chiorean, @couci, [small], Due: date ) #

[2018-03-16 10:10] #257 closed, assigned to ioana-chiorean, couci

[2018-03-16 10:12] ioana-chiorean commented on #274
All these were in the call - looking now for other opportunities

[2018-03-16 10:12] #274 closed, assigned to ioana-chiorean

[2018-03-16 11:02] Mte90 commented on #274
Maybe we can add a section in the weekly call etherpad where people can suggest topics for the next calls and later we open a ticket about the proposals.

[2018-03-19 08:47] ioana-chiorean commented on #274
@Mte90 -yes we can - we did it before ( like in the intro part but not so many arose)
But I will add it.

[2018-03-20 16:35] Mte90 commented on #291
I am waiting for feedback in the doc and until then I cannot continue in this other steps.

[2018-03-20 16:36] Mte90 commented on #269
I think that we can close this ticket and see when there will be other feedback to continue with the discussion.

[2018-03-21 20:45] ioana-chiorean commented on #284
Proposed timeline (all times in 09:00 UTC):

* [x] March 22nd -  Present the timeline in Reps Call
* [x] March 26th - call for candidates/nominees open
* [x] April 3rd - call closes
* [x] April 3rd - start of campaign period
* candidates are given 5 days to answer questions and post them on their profile page
* candidates are given 5 days to publish a 30-120 seconds campaign video

* [x] April 8th

[2018-03-22 14:41] #269 closed, assigned to nobody

[2018-03-26 13:41] ioana-chiorean commented on #284
Announcement published: https://discourse.mozilla.org/t/important-council-elections-spring-2018-please-read/27001

[2018-03-26 13:54] Mte90 commented on #281
Maybe we can implement something in the portal?
Like in the dashboard different buttons for export only for Admin and Council.

[2018-03-28 15:42] Mte90 commented on #291
My idea is to change the last point about a course and not about questions

[2018-03-29 12:40] Mte90 commented on #298
We are very late because also the rom of march voting is already closed

[2018-03-30 12:54] ioana-chiorean commented on #298
The text was written a couple of weeks before - but i don't have the rights to post it.

[2018-03-30 12:56] Mte90 commented on #298
Very strange maybe the Peer doesn't have permission on featuredrep, @MichaelKohler we have to check that

[2018-04-01 12:20] MichaelKohler opened #302 "Publish RoM for March 2018"
## Goal:
RoM for March 2018 is published.

## Related Issues & Links:
https://reps.mozilla.org/v/rep-of-the-month-for-march-3/

## Roles:

Responsible: @MichaelKohler
Accountable: @ioana-chiorean
Supporting: @couci

## Required:
- [x] Let Mentor write a text about RoM (@MichaelKohler, Due: April 1st)
- [x] Finalize text (@MichaelKohler, Due: April 7th)
- [ ] Publish blog post, discourse, reps-gene

[2018-04-01 14:32] MichaelKohler commented on #298
Discourse: https://discourse.mozilla.org/t/reps-of-the-month-february-2018/27260/2
Blog submitted - @couci please approve once you have time
Telegram and reps-general is done as well

[2018-04-01 14:36] MichaelKohler commented on #298
Blog post: https://blog.mozilla.org/mozillareps/2018/04/01/reps-of-the-month-february-2018/

[2018-04-01 14:36] #298 closed, assigned to ioana-chiorean

[2018-04-02 08:24] ioana-chiorean commented on #298
Thanks so much everyone! 🙌🏼  🎉

[2018-04-02 08:35] ioana-chiorean commented on #300
All things were done in preparation for the call.
Due to lack of availability we are not gonna support the next actions:

* [Post meeting notes] ( ) (@ioana-chiorean, @couci, [small], Due: date )
* Mail Shout-Outs to be shared on SM (@ioana-chiorean, @couci, [small], Due: date ) #

[2018-04-02 08:35] #300 closed, assigned to ioana-chiorean

[2018-04-02 08:36] ioana-chiorean commented on #301
All things were done in preparation for the call.
Due to lack of availability we are not gonna support the next actions:

* [Post meeting notes] ( ) (@ioana-chiorean, @couci, [small], Due: date )
* Mail Shout-Outs to be shared on SM (@ioana-chiorean, @couci, [small], Due: date ) #

[2018-04-02 08:36] #301 closed, assigned to ioana-chiorean

[2018-04-02 09:00] ioana-chiorean opened #303 "[cancelled] Reps Weekly Call - April 5th, 2018"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #301
➡️ #304

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chi

[2018-04-02 09:07] ioana-chiorean opened #304 "Reps Weekly Call - April 12th, 2018"
## Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #303
➡️ #305

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chi

[2018-04-02 09:07] ioana-chiorean opened #305 "Reps Weekly Call - April 19th, 2018"
# Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #304
➡️ #318

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chio

[2018-04-03 11:29] Mte90 opened #306 "Reps Applications Screening Round - Week of April 1st"
## Goal:
All open and ready applications are screened and informed.

## Related Issues & Links:
[Application Screening Sheet](https://docs.google.com/spreadsheets/d/1WcQJCo38pwEIktErFm8KQDhA4eFSM6T5AYDS-6Oz1Tg/edit#gid=539584063) - private for obvious reasons

## Roles:

Responsible: @Mte90
Accountable: Reps Council
Supporting: screening group
Informed: Applicants

## Required:
- [ ] Add applicant

[2018-04-03 12:53] prathameshchavan opened #307 "Creation of the Monthly Newsletter Team"
## Goal:
Create a new Team which will take care of the Reps Monthly Newsletter

## Roles:

Responsible: @prathameshchavan

Accountable: Reps Council

Consulted: @couci

## Required:
- [x] Creation of a Monthly Newsletter Team document  (owner, Due: March 27th 2018)
- [x] Inviting applications for the Monthly Newsletter Team (owner, Due: April 3rd 2018)
- [ ] Application window closes (owner, Due:

[2018-04-03 16:47] Flore-mozfr opened #308 "Conversation between mentors and mentees"
## Goal:
Reps have a conversation about the direction of the program with their mentor or with the Reps Council

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:

Responsible: @Flore-mozfr

Accountable: Reps Council

Supporting:

Consulted: @couci

Informed:

## Required:
- [x] Create draft guidelines (@Flore-mozfr, Due: March 20th) : https://docs.google.com/document

[2018-04-03 18:09] Mte90 opened #309 "Updates about SOP for leaving/reapply of Reps"
## Goal:
During a call we discussed a lot about https://wiki.mozilla.org/ReMo/SOPs/Leaving as example that need to be updated also from our aspectatives (we have different docs working on that will require an update on this SOP).

Also from the onboarding side there are different thougts like for the pending references.

## Related Issues & Links:
[Reference meta issues and past issues] #

## Role

[2018-04-03 20:28] ioana-chiorean commented on #284
Mail for second step was sent out to the 11 applicants. We will be tracking their progress here.

1. [Daniele Scasciafratte](https://reps.mozilla.org/u/Mte90/)
  - [x]  [Video](https://www.youtube.com/watch?v=aktfSXItrxk)
  - [x]  [Answers](https://discourse.mozilla.org/t/important-council-elections-spring-2018-nominee-q-a/27331/2?u=ioana))
2.  [Pushpita Dey](https://reps.mozilla.org/u/pushpita_de

[2018-04-05 05:57] anknite opened #310 "Clear role definition for Community Coordinator role"
## Goal:
The Reps Council has delivered a clear role definition for the community experts based on the agreements

## Related Issues & Links:
[Community Coordinator role draft](https://docs.google.com/document/d/184u5zHWuxVnpNwZTXgSKWx9BNledPTZ-d82Gl1GuJ6I/edit?ts=5ab3dfb6#heading=h.q9vbppa3jnh9) - Private as of now

## Roles:

Responsible: @anknite

Accountable: Reps Council

Supporting: Reps Cou

[2018-04-09 14:30] Mte90 commented on #309
We have a case of a Reps that is alumni where the Council suggested to do a new  application to be onboarded again. In that case we are talking of a rep that is not active since more then 6 months (https://wiki.mozilla.org/ReMo/Application_Process/Selection_Criteria).

In the past year we had cases of alumni that want to come back and looking on their applications we used different procedure based

[2018-04-09 16:12] MichaelKohler commented on #302
[done] Discourse: https://discourse.mozilla.org/t/rep-of-the-month-march-2018/27532
[done] reps-general / discourse
[pending] Blog post submitted for review
[pending] Henrik asked to put the date on the Portal back to March

[2018-04-09 19:26] ioana-chiorean commented on #284
Voting will start at (almost) 9 PM UTC: https://reps.mozilla.org/v/reps-council-elections-spring-2018-5-spots/

[2018-04-09 22:30] ioana-chiorean commented on #302
I think all points were done.

[2018-04-09 22:31] MichaelKohler commented on #302
nope, blog post needs to be approved ;)

[2018-04-10 09:05] couci commented on #302
published :)

[2018-04-10 09:11] MichaelKohler commented on #302
Thanks!

[2018-04-10 09:11] #302 closed, assigned to MichaelKohler

[2018-04-10 13:46] ioana-chiorean commented on #303
This was cancelled!

[2018-04-10 13:46] #303 closed, assigned to ioana-chiorean, couci

[2018-04-10 14:33] AlexLakatos opened #311 "Guidelines for Reps in order to start conversations with their communities about the Agreements"
## Goal:
The Reps Council has delivered a set of guidelines for Reps in order to start conversations with their communities about the Agreements - Alex

## Related Issues & Links:
#310

## Roles:

Responsible: @AlexLakatos

Accountable: Reps Council

Supporting: @couci

Consulted: Reps Council

Informed:  Reps

## Required:

- [x] Review agreements
- [x] Create draft guidelines
- [ ] Coordination

[2018-04-13 09:49] ioana-chiorean commented on #304
All done here!

[2018-04-13 09:49] #304 closed, assigned to nobody

[2018-04-13 12:00] Timmaks opened #312 "Housekeeping Telegramgroup remo mentors"
## Goal:
make sure there are only mentors in the group

## Roles:

Responsible: @Timmaks

Accountable: @Timmaks

Consulted: Arturo

Informed: members of the group

## Required:
- [x] pull a list of actual mentors from the portal
- [x] pull a list of members from telegram
- [x] cross reference the lists
- [ ] remove old mentors
- [x] add new mentors if they have telegram

[2018-04-13 13:07] Timmaks commented on #312
list: https://docs.google.com/spreadsheets/d/1PUAcPrTVoTwc2eWyhPz17K_aPYYmm5eD_EuioB8PhJs/edit?usp=sharing

[2018-04-13 18:45] Timmaks commented on #312
i can not find the telegram account for 10 mentors, 6 mentors are added
send a message to 9 former mentors, 2 are removed all ready, the other 7 will be removed later this week

[2018-04-14 14:38] Timmaks commented on #312
All the former mentors are removed or have left. Closing this issue

[2018-04-14 14:38] #312 closed, assigned to nobody

[2018-04-16 10:35] prathameshchavan opened #313 "Mozilla Reps logo and branding"
## Goal:
To create a new Mozilla Reps logo

## Roles:

Responsible: @prathameshchavan

Supporting: Mozilla Reps Council

## Required:
- [x] Create a design
- [x] Get it approved from the Branding and Marketing Team
- [x] Announce

[2018-04-17 17:25] Mte90 commented on #291
Done!

[2018-04-17 17:25] #291 closed, assigned to Mte90

[2018-04-18 09:56] Mte90 commented on #309
https://discourse.mozilla.org/t/updates-for-the-leaving-sop/27800

[2018-04-18 09:56] #309 closed, assigned to nobody

[2018-04-18 15:33] #306 closed, assigned to Mte90

[2018-04-18 16:05] couci opened #314 "New Council onboarding - april 2018"
## Goal:
Onboard the new Council members

https://wiki.mozilla.org/ReMo/SOPs/Council_onboarding

## Roles:

Responsible: @couci

Accountable: @nukeador

Supporting:

Consulted:

Informed: reps council

## Required:

### Week 0
- [x] Send e-mail to the new Council members and find a time for meeting
- [x] Pair new council members with outgoing members
- [x] Prepare presentation for onboarding meeti

[2018-04-18 18:01] gaby2300 commented on #270
Thank you so much for including Mozilla Onboarding Reps and Test Pilot Install as initiatives and Joined a Firefox Testday and Translate on Pontoon as activities in the Reps Portal, I greatly appreciate it!!!

These are the areas where I usually contribute to as a Functional Doer, so
adding my reports will be much easier and straightforward now!

[2018-04-18 18:21] #270 closed, assigned to yomanpatil

[2018-04-18 18:22] yomanpatil commented on #270
Thank you every one for your valuable inputs! It helped us a lot.

[2018-04-19 13:41] gaby2300 commented on #270
Many thanks for your kind words! I love helping as much as I can!

[2018-04-19 16:24] kelimuttu commented on #313
Yaaaay! Finally, Reps official rebranding!!
Just wanted to add myself here so I get the latest update on this. Thanks for driving this, @prathameshchavan . I hope we'll get to hear great news very soon.

[2018-04-24 13:45] Mte90 commented on #281
About this ticket there are different things moving on like https://github.com/mozilla/remo/pull/1476 but doesn't cover the export.
Maybe for the moment we don't need the export until rules to move automatically inactive people to be moved to alumni are not deployed.

[2018-04-25 08:31] MichaelKohler opened #315 "Publish RoM for April"
## Goal:
The RoM for April 2018 is published.

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @couci

## Required:
- [x] Let Mentor write a text about RoM (@ioana-chiorean, Due: April 27th)
- [ ] Publish blog post, discourse, reps-general and Telegram (@MichaelKohler/@couci, Due: April 29th)

[2018-04-26 20:17] Mte90 opened #316 "Reps Applications Screening Round - Week of April 4st"
## Goal:
All open and ready applications are screened and informed.

## Related Issues & Links:
[Application Screening Sheet](https://docs.google.com/spreadsheets/d/1WcQJCo38pwEIktErFm8KQDhA4eFSM6T5AYDS-6Oz1Tg/edit#gid=1817957847) - private for obvious reasons

## Roles:

Responsible: @Mte90
Accountable: Reps Council
Supporting: screening group
Informed: Applicants

## Required:
- [x] Add applican

[2018-04-26 22:31] MichaelKohler commented on #316
Title is the wrong month ;)

[2018-04-27 09:53] Mte90 commented on #316
Ops

[2018-04-28 09:26] Mte90 commented on #272
It is possible right now block the permission to create new thread (reply will be allowed) in specific category in Discourse based on mozillians group.
We can plan to work on the reps group on mozillian in the meantime for this purpose.

[2018-05-04 10:35] #316 closed, assigned to Mte90

[2018-05-05 16:12] MichaelKohler commented on #315
Discourse: https://discourse.mozilla.org/t/rep-of-the-month-april-2018/28330
Telegram/reps-general: done
Portal: @Mte90 to do
Blog post: @couci please approve

Also I've asked tasos to date it back to April. Will close the issue once the blog post is live and the RoM entry has been back-dated.

[2018-05-06 15:37] ioana-chiorean commented on #315
Thanks so much Michael!

[2018-05-06 15:38] Mte90 commented on #315
Yesterday I done the post in the portal :-)

[2018-05-06 15:42] ioana-chiorean commented on #312
Thanks s much for this work,  @Timmaks !

[2018-05-08 12:57] ioana-chiorean opened #317 "Reps Weekly Call - May 3rd, 2018"
https://www.webbyawards.com/winners/2018/special-achievement/webby-lifetime-achievement/mitchell-baker/

# Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #304
➡️ #318

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nuke

[2018-05-08 12:58] ioana-chiorean opened #318 "Reps Weekly Call - April 26th, 2018"
# Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #305
➡️ #317

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chio

[2018-05-08 13:00] ioana-chiorean opened #319 "[Cancelled] Reps Weekly Call - May 10th, 2018"
# Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #317
➡️ #320

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chio

[2018-05-09 12:44] Mte90 commented on #272
We chosen to suggest to the Reps to follow the category on Discourse manually also during the onboarding.
I think that we need to know how many people subscribed the category to evaluate when to do the switch.

[2018-05-09 13:19] nukeador commented on #272
Leo can generate a query to know how many people is watching and how many is tracking.

[2018-05-09 13:20] Mte90 commented on #272
Already written to him to see if it is possible, I am wondering if every user registered on Discourse is automatically subscribed to this category or not and with numbers we can see in case.

[2018-05-11 14:38] ioana-chiorean commented on #317
All done here! 🎉

[2018-05-11 14:38] #317 closed, assigned to ioana-chiorean, kelimuttu

[2018-05-11 14:39] ioana-chiorean commented on #318
All done here! 🎉

[2018-05-11 14:39] #318 closed, assigned to ioana-chiorean, kelimuttu

[2018-05-11 14:39] ioana-chiorean commented on #319
Cancelled.

[2018-05-11 14:39] #319 closed, assigned to ioana-chiorean, kelimuttu

[2018-05-11 14:40] ioana-chiorean commented on #305
All done here! 🎉

[2018-05-11 14:40] #305 closed, assigned to nobody

[2018-05-11 14:44] ioana-chiorean opened #320 "Reps Weekly Call - May 17th, 2018"
# Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #319
➡️ #322

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chio

[2018-05-11 16:03] Mte90 commented on #272
[code]

[2018-05-15 15:46] ioana-chiorean commented on #320
@couci can we share about the Sprint?

[2018-05-15 15:48] Mte90 commented on #320
I cannot join this call (moving for a meetup) so someone else has to do the council updates.

[2018-05-15 15:49] couci commented on #320
@ioana-chiorean absolutely and I can give an update on what is coming
@prathameshchavan wonna take council updates?

[2018-05-15 17:18] #307 closed, assigned to prathameshchavan

[2018-05-15 17:18] #308 closed, assigned to Flore-mozfr

[2018-05-15 17:19] #310 closed, assigned to anknite

[2018-05-15 17:19] #295 closed, assigned to fayepal

[2018-05-15 17:21] #296 closed, assigned to fayepal

[2018-05-15 17:22] Mte90 commented on #284
I think that we can close this task because the new council already onboarded

[2018-05-15 17:26] MichaelKohler commented on #284
The following things are left to be done here:

* Update https://wiki.mozilla.org/ReMo/Council/History
* Discourse / Blog post with official announcement for new Council members + thanking outgoing members

[2018-05-17 08:51] kelimuttu commented on #313
Hey @prathameshchavan is there any link where I can track the design work? Who's working on it right now? And how's the progress?

[2018-05-17 12:00] kelimuttu opened #321 "India local swag survey"
## Goal:
Local swag survey has been created and shared with the Indian Reps

## Related Issues & Links:
#

## Roles:

Responsible: @kelimuttu

Accountable: @kelimuttu

Supporting: @couci

Consulted: Reps Council

Informed:

## Required:
- [x] Survey draft (@kelimuttu, Due: May 14th)
- [x] Finalize the survey and comms (@kelimuttu, Due: 17th)
- [x] Discourse post (@kelimuttu, Due: 17th)
- [x] Email

[2018-05-18 08:46] ioana-chiorean commented on #284
Updated the first one - https://wiki.mozilla.org/ReMo/Council/History#12th_Council_-_.28April_2018.29
@MichaelKohler discourse was posted -https://discourse.mozilla.org/t/important-council-elections-spring-2018-results-and-next-steps/27804 do you envision smtg else?
Blog post can we copy/pasted and edited from there ( i do not have access)

[2018-05-18 08:58] ioana-chiorean opened #322 "Reps Weekly Call - May 24th, 2018"
# Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #320
➡️ #329

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chio

[2018-05-18 08:59] #320 closed, assigned to ioana-chiorean, kelimuttu

[2018-05-18 13:35] Mte90 commented on #311
https://docs.google.com/document/d/1ehX5T0a5fsyHI9ktyW5EN-D3ij0dPHO0rYI0OSvQOmQ/edit?hl=en the document

[2018-05-18 13:35] #311 closed, assigned to AlexLakatos

[2018-05-22 12:24] Mte90 opened #323 "Reps Applications Screening Round - Week of May 4st"
## Goal:
All open and ready applications are screened and informed.

## Related Issues & Links:
[Application Screening Sheet](https://docs.google.com/spreadsheets/d/1WcQJCo38pwEIktErFm8KQDhA4eFSM6T5AYDS-6Oz1Tg/edit#gid=847788769) - private for obvious reasons

## Roles:

Responsible: @Mte90
Accountable: Reps Council
Supporting: screening group
Informed: Applicants

## Required:
- [ ] Add applicant

[2018-05-24 22:16] Mte90 commented on #199
There is a new interface now in the dashbaord that has better and updated numbers.

Now there are less reps without mentor and is tiem to work on reps with mentors in alumni.

[2018-05-28 19:23] #323 closed, assigned to Mte90

[2018-05-29 16:47] Mte90 commented on #275
@fayetandog this task was completed?

[2018-06-05 07:18] prathameshchavan commented on #313
Currently, there is no public tracking pad available. However, I am expecting this to be done during the San Francisco All-Hands 2018.

[2018-06-08 13:40] MichaelKohler opened #324 "Publish RoM for May 2018"
## Goal:
The RoM for May 2018 is published.

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @couci

## Required:
- [x] Let Mentor write a text about RoM (@MichaelKohler, Due: June 15th)
- [x] Review text (@MichaelKohler, Due: June 17th)
- [x] Publish blog post, discourse, reps-general and Telegram (@MichaelKohler/@couci, Due: June 17th)

[2018-06-14 15:58] Mte90 commented on #55
there is a ticket about add a rom motivation field for nomination that is blocking this ticket, maybe we can change the priority on that.

[2018-06-14 16:02] ioana-chiorean commented on #47
Status:
- will discourse about it with some data as backup
- decision already made and included in the tasks

[2018-06-14 16:02] nukeador commented on #282
We moved this into our OKRs, no need for an issue, we will follow with individual ones.

[2018-06-14 16:02] #282 closed, assigned to nukeador, couci

[2018-06-14 16:04] #218 closed, assigned to nobody

[2018-06-14 16:04] #98 closed

[2018-06-14 16:05] couci commented on #98
No comment on this closing

[2018-06-14 16:05] couci commented on #218
No comment so closing

[2018-06-14 16:09] irvin commented on #232
Let me take this and add a thread on discourse to make sure there is really issue here besides discuss on Telegram.

[2018-06-14 16:12] yomanpatil commented on #313
@prathameshchavan please update the team on the updates that you got yesterday at Allhands.

[2018-06-14 16:20] kelimuttu commented on #321
This has been done. The only outstanding action is to share the result.

[2018-06-14 16:20] #321 closed, assigned to kelimuttu

[2018-06-14 16:20] Mte90 commented on #236
We are workingright now to improve the onboarding and for D&I we need to think globally to the program itself on not only focusing on a specific side.

[2018-06-14 16:20] #236 closed, assigned to nobody

[2018-06-14 16:21] #314 closed, assigned to couci

[2018-06-14 16:23] #275 closed, assigned to fayepal

[2018-06-14 16:23] ioana-chiorean commented on #322
All done here! 🎉

[2018-06-14 16:23] #322 closed, assigned to ioana-chiorean, kelimuttu

[2018-06-14 16:31] #284 closed, assigned to ioana-chiorean

[2018-06-14 16:32] yomanpatil commented on #192
We can update things on Discourse while we figure out the sending tool - ruben

[2018-06-14 16:32] ioana-chiorean commented on #55
Documentation for why and how: https://discourse.mozilla.org/t/rep-of-the-month-rom-process-updates-and-opinions/9860?u=ioana

[2018-06-14 16:33] Mte90 commented on #29
It is blocking also newsletter stuff, just as a note.

[2018-06-14 16:35] #315 closed, assigned to MichaelKohler

[2018-06-14 17:06] irvin opened #325 "Clarity and document the support that the Reps program provides to Mentors"
## Goal: Have clarity and document the support that the Reps program provides to Mentors

## Related Issues & Links:
This is in the Q2 OKRs
https://docs.google.com/document/d/1B3dP-XlJHZV2M06vKEz36Iy3GOGpz37zVtcCJ5etoQo/edit#

And following the coaching draft
https://docs.google.com/document/d/15bHJ3ZHtQfzf5hHlHEZu_iSLHx8Ra0U0aJignsBskVU/edit#heading=h.23i6yta63ux1

## Roles:

Responsible:

Accoun

[2018-06-14 17:20] Mte90 opened #326 "A draft version on the H2 plan for the Reps program is presented by the Council"
## Goal:
A draft version on the H2 plan for the Reps program is presented by the Council.

## Resources
Draft: https://docs.google.com/document/d/1JhPMnoDodsiBv67S4fkF0aR7O9Dc4MKsOmaP50VYCgM/edit

## Roles:

Responsible: @mte90

Accountable:

Supporting: Council

Consulted:

Informed:

## Required:
- [x] Draft that document (owner)
- [x] Review the document by the council (owner, Due: June 21th)
-

[2018-06-14 17:27] Mte90 commented on #199
Just as update, I already started to cleanup reps with wrong mentors and reassinging mentors.

[2018-06-15 22:50] ioana-chiorean opened #327 "Council Elections - Autumn 2018"
## Goal:
- Hold the council election in order to occupy the spots that are free after the term of one year is ending for:

🎓 Prathamesh
🎓 Mayur

## Success:
- The elections take place and we have 2 new council members

## Related Issues & Links:
- Previous Elections #284, #208, #114, #15

## Roles:
Owner: @ioana-chiorean
Involved: @couci, Reps Peers
Informed: @nukeador

## Required:
- [x] 10.09.20

[2018-06-19 12:39] Mte90 opened #328 "Reps Applications Screening Round - Week of June 3st"
## Goal:
All open and ready applications are screened and informed.

## Related Issues & Links:
[Application Screening Sheet](https://docs.google.com/spreadsheets/d/1WcQJCo38pwEIktErFm8KQDhA4eFSM6T5AYDS-6Oz1Tg/edit#gid=2050382625) - private for obvious reasons

## Roles:

Responsible: @Mte90
Accountable: Reps Council
Supporting: screening group
Informed: Applicants

## Required:
- [ ] Add applican

[2018-06-20 15:14] ioana-chiorean opened #329 "Reps Weekly Call - June 21st, 2018"
# Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #322
➡️ #331

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chio

[2018-06-21 13:46] kelimuttu commented on #329
We're cancelling this call thus I'm closing this.

[2018-06-21 13:46] #329 closed, assigned to ioana-chiorean, kelimuttu

[2018-06-21 17:42] MichaelKohler commented on #324
Discourse: https://discourse.mozilla.org/t/rep-of-the-month-may-2018/29547
Telegram, reps-general are done. @couci blog post is submitted for review, thanks!

[2018-06-22 08:30] couci commented on #324
published https://blog.mozilla.org/mozillareps/2018/06/22/rep-of-the-month-may-2018/

[2018-06-22 08:30] #324 closed, assigned to MichaelKohler, couci

[2018-06-22 10:46] ioana-chiorean commented on #324
Thanks @MichaelKohler  and @couci !

[2018-06-23 07:14] Mte90 opened #330 "Move Reps <-> Alumni - June 2018"
## Goal:
We have a list of Reps that want to be moved to Alumni for various reasons.

[2018-06-23 14:47] Mte90 commented on #199
Now I am working on assigning more reps to mentor with few and checking inactive mentors to reactivate them.

[2018-06-24 14:13] #328 closed, assigned to Mte90

[2018-06-25 20:29] Mte90 commented on #272
We need to plan the removal of the Reps-Mentor mailing list now that a discourse category exist :-)

[2018-06-26 15:52] irvin commented on #325
I'm reviewing the resources we have for mentor on WikiMo (as well as SOPs of mentoring), not finished yet.
https://docs.google.com/document/d/1YgLv4eFF7SUyqY9oHrTLDemagjBD5V6ffV1_kr2NVwc/edit#

[2018-06-26 16:49] Mte90 commented on #330
Just a remainder we have to reps to move on alumni and one to come back to alumni.

[2018-06-28 16:23] ioana-chiorean opened #331 "Reps Weekly Call - June 28th, 2018"
# Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #329
➡️ #332

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chio

[2018-06-28 16:24] ioana-chiorean commented on #331
We’ve canceled it because the discourse announcement of call don’t go through in time and just a few people could join - we are moving the topics for next week - MoCo/MoFo all hands shareback all together!

[2018-06-28 16:24] #331 closed, assigned to nobody

[2018-06-28 16:25] ioana-chiorean opened #332 "Reps Weekly Call - July 5th, 2018"
# Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #331
➡️ #

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chiorea

[2018-06-29 07:08] Mte90 opened #333 "Onboarding Screening Team 2018-2 applications"
## Goal:
As explained on https://discourse.mozilla.org/t/do-you-want-join-the-onboarding-screening-team-for-2018-2/29713.
If you want to join leave your name here but not forget to read the Discourse thread and the wiki (https://wiki.mozilla.org/ReMo/Webinar/Screening) about it.

## Related Issues & Links:

## Roles:

Responsible: @mte90

Accountable:

Supporting:

Consulted:

Informed:

## Requir

[2018-06-29 07:13] kelimuttu opened #334 "Reps Weekly Call - July 12th, 2018"
# Goal:
- Organize the weekly reps call.

## Success:
- The call is held and more than 15 reps/mozillians attend
- We have ready new topics

## Related Issues & Links:
⬅️ #332
➡️ #

## Roles:
Responsible: @ioana-chiorean,@couci
Accountable: @ioana-chiorean,@couci
Supporting:
Consulted: @nukeador,
Informed: Reps and Mozillians

## Agenda Work:
- [x] Shout outs - Call for nominations (@ioana-chiorea

[2018-06-29 07:22] hellokarthic commented on #333
Count me in. I'd love to be part of the team.

[2018-06-29 07:32] Ruwan-Ranganath commented on #333
I'm definitely available for this.

Thank you.

[2018-06-29 09:15] bunnybooboo commented on #333
Please consider me for this people focused role. During the next 6 months I will also be busy curating the Mozilla Festival, but feel the selection of active fellow Reps as a hugely important alignment with my local onboarding activities.

[2018-06-29 13:01] gurumukhi commented on #333
I would like to take this opportunity to be part of this team and take the responsibilities :-) 👍

[2018-06-29 13:31] gaby2300 commented on #333
Count me in please!

Best regards,
Gabriela

El vie., 29 de jun. de 2018 10:01, Ram <notifications@github.com> escribió:

[2018-06-29 15:28] smsnobin77 commented on #333
I'm available for these six months. You can count me.

Cheers!
Sarwar

[2018-07-02 16:39] ranjithrajv commented on #333
I'm available for next 6 months, count me in.

[2018-07-02 16:46] yomanpatil opened #335 "Change Mozilla Reps logo on online platforms"
## Goal:
We will need to change the logo on all our existing platforms.

## Platforms:

- [x] 1. [Reps portal](https://reps.mozilla.org) - Owner: @MichaelKohler
- [x] 2. [Facebook page](https://www.facebook.com/MozillaReps/) - Owner: @couci
- [x] 3. [Twitter account](https://twitter.com/mozillareps) - Owner: @couci
- [x] 4. [Reps Wiki](https://wiki.mozilla.org/Websites/ReMo_Mozilla_Reps) and [Reps

[2018-07-02 16:48] Mte90 commented on #272
With the experience on Reps Mentor we need to find a guide that explain that they have to update their mozillians profile.
Also to wait their approval of the invite on the mozillian group.
Is required also to help them for support on login/access by a group and not me (as example for these cases).

[2018-07-02 16:49] yomanpatil commented on #335
@couci I think you can help me with social media accounts
@MichaelKohler I think you can help me with reps portal and reps wiki

[2018-07-02 16:52] MichaelKohler commented on #335
Yes, I can help with the Wiki and the Portal.

Do we really want to change the icon in the Telegram channel? I don't think the new logo looks good in that setting - would probably be cut off, and we are not going away from the icon itself.

[2018-07-02 16:54] yomanpatil commented on #335
we can only put the new icon on the telegram channel. Most of the reps are active on that channel

[2018-07-02 16:55] MichaelKohler commented on #335
Ah, you mean as in "This is the new one" as announcement and not replacing the logo of the group?

[2018-07-02 17:02] yomanpatil commented on #335
ok no issues

[2018-07-02 18:39] rtsayles commented on #333
Please count me in (smiles)

On Fri, Jun 29, 2018, 02:08 Daniele Scasciafratte <notifications@github.com>
wrote:

[2018-07-02 18:50] balapandu222-zz commented on #333
Please, Count me in. I'm available for next 6+ months.
Regards,
Bala

[2018-07-02 19:43] ioana-chiorean commented on #335
I've added - [ ]  to each entry. Can you pls check which is done and by who?
Do you still need help with any of these?

Thanks! 🙇‍♀️

[2018-07-02 20:11] MichaelKohler commented on #335
I'm waiting until @yomanpatil gives me the go to start it. But I suppose we want to do everything in more or less the same timeframe. The Portal will come after the rest though, as I'll need to do a PR and then we might not super fast get a deployment.

[2018-07-03 09:36] yom commented on #335
Hi folks, I think there's a typo in your 6th entry. Cheers !

[2018-07-03 09:38] MichaelKohler commented on #335
Hah, correct. Sorry about the ping @yom :)

[2018-07-03 13:32] Timmaks commented on #333
I am available for the next 6 months:-)

[2018-07-03 16:52] MichaelKohler commented on #327
Here’s a draft timeline I came up with just now. This will need to be discussed though.

**Edit: removed timeline as timeline above is adapted!**

We will be gathering additional feedback which might need to be incorporated here. So this is very drafty right now.

[2018-07-04 06:27] yomanpatil commented on #335
Here is the link to the new logo file

https://drive.google.com/open?id=1M80zSrx640Ve7chhrmwn08RO0s6HnN5n

The logo which is on top is the approved. Kindly ignore the one in the bottom

[2018-07-04 06:32] yomanpatil commented on #335
How do we proceed? Can we do this by Friday ie 6th ?

[2018-07-04 08:28] MichaelKohler commented on #335
I can do it either *until* or *on* Friday for the wiki. I can also create the PR for the portal, but I can't guarantee we will get a deployment.

I think it would be nice to do everything in approximately the same time frame on Friday, what do you think?

[2018-07-04 08:36] MichaelKohler commented on #335
Looking at the file, we still need the export to png/svg for the top logo, otherwise we can't replace it on any of the necessary platforms.  @yomanpatil

[2018-07-04 13:41] prathameshchavan commented on #313
![mozrep-final-outline](https://user-images.githubusercontent.com/10761249/42280302-f98eb69e-7fbd-11e8-9fb8-8adc867115ef.png)

![photo_2018-07-04_19-07-36](https://user-images.githubusercontent.com/10761249/42280303-f9fd6922-7fbd-11e8-8aab-77c32a18df9b.jpg)

[2018-07-08 13:50] MichaelKohler commented on #335
I've uploaded a png we can use for the Reps telegram channel

[2018-07-09 09:56] #330 closed, assigned to couci

[2018-07-09 13:15] nomadicmehul commented on #333
Count me in. I'd love to be part of the team.

[2018-07-09 14:54] rabimba commented on #333
Interested.
Though not entirely sure if I am eligible. But interested nevertheless.

[2018-07-09 16:03] roshangm1 commented on #333
I am available for next 6 months. Interested very much. :)

[2018-07-09 19:30] yomanpatil commented on #335
@MichaelKohler we also need to change the logo here
[new reps link](http://mozilla.github.io/Reps/newreps/)

[2018-07-10 17:55] MichaelKohler opened #336 "Reps Council Elections (04-2018) Feedback Form"
## Goal:
We have sent out a feedback form to gather feedback about the recent (04-2018) Reps Council Elections.

## Related Issues & Links:
Very drafty - please do NOT fill out yet: https://docs.google.com/forms/d/e/1FAIpQLSf91X-v0oNiRjWFkR_BckWhr3dVOxpt6wtM1-hfopiKwqz6Pw/viewform

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Peers
Supporting: @ioana-chiorean @hmitsch

## Required:
- [

[2018-07-11 21:34] mbransn commented on #336
Hi @MichaelKohler,

I would suggest making these copy updates:

Suggestion: `Did you find the questions on Discourse valuable?`

Suggestion: `Did you find the candidate videos valuable?`

Suggestion: `How would you improve the next elections?`

For section 3, perhaps add this in addition to the current question (if you find it valuable):

`Please tell us why you weren't able to vote`

[2018-07-11 22:23] MichaelKohler commented on #336
Thanks for the fast feedback, @m-branson! I did the copy updates, these are way better understandable. For the additional question I see value of having it, I will double check with the other Peers.

Thanks again!

[2018-07-13 14:39] Mte90 commented on #333
The council started voting and discuss the applications. I will let you know when it's finished.

[2018-07-16 14:35] Mte90 commented on #326
and it's done https://blog.mozilla.org/mozillareps/2018/07/16/544/

[2018-07-16 14:35] #326 closed, assigned to Mte90, couci

[2018-07-16 17:07] MichaelKohler commented on #335
Reps Portal will be deployed tomorrow. Will report back once done.

[2018-07-16 17:13] MichaelKohler commented on #335
Wiki done: https://wiki.mozilla.org/ReMo

[2018-07-16 17:14] prathameshchavan commented on #313
Done!

[](https://discourse.mozilla.org/t/announcement-mozilla-reps-logo/30210)

[2018-07-16 17:14] prathameshchavan commented on #313
https://discourse.mozilla.org/t/announcement-mozilla-reps-logo/30210

[2018-07-16 17:16] #313 closed, assigned to prathameshchavan

[2018-07-16 17:24] MichaelKohler commented on #334
This was done: https://discourse.mozilla.org/t/weekly-call-12-07-2018/30098

[2018-07-16 17:24] #334 closed, assigned to kelimuttu

[2018-07-16 17:24] MichaelKohler commented on #47
I'm closing this as we're not posting the notes separately anymore.

[2018-07-16 17:24] #47 closed

[2018-07-16 17:25] MichaelKohler commented on #332
All done!

[2018-07-16 17:25] #332 closed, assigned to ioana-chiorean, kelimuttu, couci

[2018-07-17 18:26] MichaelKohler commented on #336
Discourse: https://discourse.mozilla.org/t/feedback-for-reps-council-spring-elections/30241
Also posted on reps-general as well as the Reps Telegram group.

[2018-07-20 17:07] Mte90 commented on #333
The council voted but I am waiting to publish the blogpost to publish the names :-)

[2018-07-20 17:08] Mte90 commented on #192
this is blocked/pending? right now the new logo was already defined

[2018-07-20 17:10] MichaelKohler commented on #192
I'd suggest to close this until we have figured out the tool. As it's on Discourse for now, we don't need it.

[2018-07-20 17:10] #192 closed, assigned to yomanpatil

[2018-07-21 12:50] MichaelKohler commented on #195
I'm closing this in favor of the mission driven mozillians projects.

[2018-07-21 12:50] #195 closed, assigned to Flore-mozfr

[2018-07-21 12:56] MichaelKohler commented on #335
@yomanpatil from what I see the following is open:

1) Wikipedia
2) Air Mozilla (assigned task to me)
3) Make resources available on GitHub repo (assigned task to me)

Can you do Wikipedia?

Also, I've left of http://planet.mozillareps.org/ as it's heavily outdated and I'll follow up with a general discussion soon.

[2018-07-21 13:22] MichaelKohler commented on #335
Bug for AirMo filed: https://bugzilla.mozilla.org/show_bug.cgi?id=1477480

[2018-07-21 13:26] MichaelKohler commented on #335
Bug for Reps Blog filed: https://bugzilla.mozilla.org/show_bug.cgi?id=1477481

[2018-07-25 12:54] Mte90 opened #337 "75% of Reps had discussions with their mentors and are aligned with leadership Agreements"
## Goal:
As specified on https://discourse.mozilla.org/t/reps-objective-key-results-okrs-for-q3-2018/30301

## Related Issues & Links:
We will use the https://docs.google.com/presentation/d/194XMeY810fh_S57-tW9C88M0yHQEMwIyJN4XSpzQKbo/edit#slide=id.g1f2e3ab9bb_3_8 slides by @Flore-mozfr. We will update that slides to add also the Leadership Agreements for Mission Driven Mozillians.
The document wh

[2018-07-25 13:05] ioana-chiorean opened #338 "Addition to Mozilla Reps Peers - Ankit Gadgil"
## Goal:
In our efforts to diversify the Reps Peers governance body, we are proposing Ankit Gadgil from Pune, India to be added to the Reps Peers.

## Roles:
Responsible: @ioana-chiorean
Accountable: Reps Module Ownership
Supporting: @MichaelKohler
Consulted: mozilla.governance
Informed: Reps

## Required:
- [x] Announce on mozilla.governance list and wait a bit to make sure there is no show-stopp

[2018-08-08 12:39] MichaelKohler opened #339 "Publish RoM for July 2018"
## Goal:
The RoM for July 2018 is published.

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @couci

## Required:
- [x] Let Mentor write a text about RoM (@MichaelKohler, Due: Aug 8th)
- [x] Review text (@MichaelKohler, Due: August 15th)
- [ ] Publish blog post, discourse, reps-general and Telegram (@MichaelKohler/@couci, Due: August 17th)

[2018-08-08 15:17] Mte90 commented on #333
Names published: https://blog.mozilla.org/mozillareps/2018/08/08/onboarding-team-for-2nd-half-of-2018/

Thanks to everyone!

[2018-08-08 15:17] #333 closed, assigned to Mte90

[2018-08-08 17:43] MichaelKohler commented on #336
@anknite will create a summary of the responses with recommendations here: https://docs.google.com/document/d/1pIAxm15RLoT0TdSw1XgxRZsKxoIvxNF2HJfsTHAwK3A/edit#

[2018-08-09 17:30] MichaelKohler commented on #339
Discourse: https://discourse.mozilla.org/t/rep-of-the-month-july-2018/30819
reps-general: done
Telegram: done

Blog post: @couci  please approve :)

Also asked tasos to date the Portal entry back to July.

[2018-08-10 09:06] MichaelKohler commented on #339
Date on the Portal is fixed. @couci please close this issue once the blog post is published. Thanks!

[2018-08-10 09:26] couci commented on #339
published https://blog.mozilla.org/mozillareps/2018/08/10/rep-of-the-month-july-2018/

[2018-08-10 09:26] #339 closed, assigned to MichaelKohler

[2018-08-11 10:35] ioana-chiorean commented on #338
- Mail sent to confirm on governance
- Wiki changed https://wiki.mozilla.org/Modules/Mozilla_Reps
- Posted on Discourse too https://discourse.mozilla.org/t/addition-to-mozilla-reps-peers-ankit-gadgil/30868
- Mail the list too
- added him to telegram

[2018-08-11 10:41] MichaelKohler commented on #338
Mailed @couci and George for the other two tasks. @ioana-chiorean can you also take the profile edit one?

[2018-08-13 12:35] MichaelKohler opened #340 "List of Reps without NDA access group"
## Goal:
We have a list of Reps that have an account on the Reps Portal but are not part of the NDA access group on mozillians.org anymore.

Bonus: have a list of Reps that are not part of the slack-access access group (just for fun for now..)

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council

## Required:
- [x] Best solution identified (@MichaelKohler, Due: Aug 20th)
- [x] Lists c

[2018-08-13 12:36] Mte90 commented on #340
I am thinking if add something also about if they configured the google identity provider

[2018-08-13 12:38] MichaelKohler commented on #340
That would be useful for you to see who from the Mentors group hasn't yet configured a google provider, correct?

[2018-08-13 12:42] Mte90 commented on #340
Yes and to avoid to support all of them privately but will help also for access the NDA folder on drive.

[2018-08-14 15:09] yomanpatil opened #341 "Reps Newsletter"
# Newsletter for the month of August 2018
## Tasks:

- [x] Co-ordinate with Newsletter team
- [x] Host monthly call with the team
- [x] Pass Council Updates to team
- [x] Drafting content
- [x] Getting content reviewed from the Council
- [x] Make announcement on Discourse
- [x] Post Newsletter
- [x] Check Performance (How many reps viewed the newsletter)

## Roles:

Responsible: Ganesh, Ruwan

Acc

[2018-08-14 21:13] mermi opened #342 "Reps Applications Screening Round - Week of August 13th"
## Goal:
All open and ready applications are screened and informed.

## Related Issues & Links:
[Screening Sheet of Applicants](https://docs.google.com/spreadsheets/d/1WcQJCo38pwEIktErFm8KQDhA4eFSM6T5AYDS-6Oz1Tg/edit#gid=1694124203)
 it's a private document as the decision concerns certain people.
## Roles:

Responsible: @mermi

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [x]

[2018-08-15 13:33] MichaelKohler commented on #338
@anknite Leo has added you to the reps_leadership Discourse group. This should allow you to see the Discourse Council alias emails as well as the inbox at https://discourse.mozilla.org/u/AnkitG/messages/group/reps_leadership. Could you please verify and if ok close this issue? Thanks!

[2018-08-15 13:36] MichaelKohler commented on #335
@yomanpatil any news about wikipedia? I've pinged in my bugs to get those moving forward as well.

[2018-08-15 19:23] yomanpatil commented on #335
Oh that thing is pending.
On it will update you tomorrow!

[2018-08-16 12:22] MichaelKohler commented on #338
All tasks done! yay!

[2018-08-16 12:22] #338 closed, assigned to ioana-chiorean

[2018-08-16 12:22] MichaelKohler commented on #335
Reps blog and AirMo is done! @yomanpatil feel free to close this issue once Wikipedia is done as well.

[2018-08-20 13:08] hmitsch commented on #340
Hi @Mte90 and @MichaelKohler, we will add the following scope item to our **Sprint Epsilon** scope (tomorrow):

If we misunderstood, please let us know in the next 24 hours. :-)

-Henrik & @johngian

[2018-08-20 13:15] MichaelKohler commented on #340
Thanks Henrik. Can we adapt to the following?

[2018-08-20 13:23] Mte90 commented on #340
Yes a check is amazing :-D
I am wondering if add also one about 2FA enabled on mozillians, because I received/supported few reps with issues on enabling that or that they didn't know about this change.

[2018-08-20 13:32] hmitsch commented on #340
@Mte90 excellent, I add another question:

[2018-08-20 13:33] Mte90 commented on #340
Perfect :-D

[2018-08-20 13:33] hmitsch commented on #340
I changed our Sprint Goal according to feedback in Comments https://github.com/mozilla/Reps/issues/340#issuecomment-414312614 and https://github.com/mozilla/Reps/issues/340#issuecomment-414317714 .

[2018-08-20 13:33] hmitsch commented on #340
As usual, thank you @Mte90 and @MichaelKohler !

[2018-08-20 17:15] MichaelKohler opened #343 "Migrate Discourse reps_leadership Group to Access Group"
## Goal:
The Discourse reps_leadership group is based on an access group from mozillians.org instead of being separated.

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Leadership
Supporting: Leo
Consulted: Reps Council

## Required:
- [x] Initiate discussion on Council alias (@MichaelKohler, Due: Aug 20th)
- [x] File issue for ParSys (@MichaelKohler, Due: Sep 19th)
- [x] ParSys to imple

[2018-08-22 12:12] #342 closed, assigned to mermi

[2018-08-25 02:33] ioana-chiorean opened #344 "Publish RoM for August 2018"
## Goal:
The RoM for August 2018 is published.

## Roles:

Responsible: @MichaelKohler, @ioana-chiorean
Accountable: Reps Council
Supporting: @couci

## Required:
- [x] Let Mentor write a text about RoM (@ioana-chiorean, Due: Sept 1st)
- [x] Review text (@MichaelKohler, Due: September 5th)
- [ ] Publish blog post, discourse, reps-general and Telegram (@MichaelKohler/@couci, Due: August 17th)

[2018-08-26 16:18] MichaelKohler commented on #211
Peers role has been documented here: https://wiki.mozilla.org/Reps/Peers#Peers_Role

[2018-08-26 16:18] #211 closed, assigned to MichaelKohler, hmitsch, ioana-chiorean

[2018-08-27 13:22] MichaelKohler commented on #344
Discourse: https://discourse.mozilla.org/t/rep-of-the-month-august-2018/31269
Reps Portal, reps-general and Telegram are done!

@nukeador pinged to review the blog post and approve it.

[2018-08-28 16:04] johngian commented on #340
I've already send the data to @MichaelKohler.

[2018-08-28 16:05] MichaelKohler commented on #340
Thanks @johngian ! :)

[2018-08-28 16:05] #340 closed, assigned to MichaelKohler

[2018-08-28 20:28] nukeador opened #345 "Follow-up with Reps with unsigned NDA"
There are some Reps that haven't accepted the NDA invitation

https://discourse.mozilla.org/t/reps-not-in-nda-group-and-other-numbers/31313

We need to check them an figure out if they are employees, inactive or active. If active, reach out to make sure NDA is accepted.

[2018-08-29 10:17] Mte90 commented on #345
The question is again how we define who is inactive?
And what to do when they are inactive?

[2018-09-14 18:34] MichaelKohler commented on #344
This had been done, thanks Nuke!

[2018-09-14 18:34] #344 closed, assigned to MichaelKohler, ioana-chiorean

[2018-09-14 18:35] MichaelKohler commented on #343
I will move forward with this next week.

[2018-09-14 18:36] MichaelKohler commented on #341
@yomanpatil What's the status here?

[2018-09-14 18:37] MichaelKohler commented on #336
This is done, we have some improvements we will implement in the upcoming elections. The first one being the recently announced Town Halls.

[2018-09-14 18:37] #336 closed, assigned to anknite

[2018-09-14 18:38] MichaelKohler commented on #335
@yomanpatil ping here ;)

[2018-09-14 18:43] MichaelKohler commented on #281
For #272 we only need the active Reps. Can you remind me why we need Alumni as well?

[2018-09-16 19:44] Mte90 commented on #281
I don't remember too why...

[2018-09-16 19:45] MichaelKohler commented on #281
Then let's simplify this :)

[2018-09-17 11:04] MichaelKohler commented on #281
Sent to Daniele

[2018-09-17 11:04] #281 closed, assigned to MichaelKohler

[2018-09-19 08:32] MichaelKohler commented on #343
ParSys issue: https://github.com/mozilla/parsys/issues/435

[2018-09-25 11:47] MichaelKohler opened #346 "Publish RoM for September 2018"
## Goal:
The RoM for September 2018 is published.

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Council
Supporting: @couci

## Required:
- [x] Let Mentor write a text about RoM (@MichaelKohler, Due: September 29th)
- [x] Review text (@MichaelKohler, Due: September 30th)
- [x] Publish blog post, discourse, reps-general and Telegram (@MichaelKohler/@couci, Due: September 30th)

[2018-09-26 17:49] ioana-chiorean commented on #327
Call for nominations was
* posted
* mailed
* promoted
https://discourse.mozilla.org/t/important-council-elections-autumn-2018-please-read/32036

[2018-09-26 18:31] yomanpatil commented on #341
Reach on the Sep Newsletter:
2 - replies
123 - Views
2 - users
10 - likes
8 - links

[2018-09-26 18:37] yomanpatil commented on #341
# Newsletter for the month of October 2018
## Tasks
- [ ] Co-ordinate with Newsletter team
- [ ] Host monthly call with the team
- [ ] Pass Council Updates to team
- [ ] Drafting content
- [ ] Getting content reviewed from the Council
- [ ] Make announcement on Discourse
- [ ] Post Newsletter
- [ ] Check Performance (How many reps viewed the newsletter)

## Roles:

Responsible: @gangit, @ruwan-ran

[2018-09-27 18:43] gangit commented on #341
Noted with thanks. The tasks continue!

[2018-09-29 21:52] TannerFilip commented on #335
I've done this - https://en.wikipedia.org/w/index.php?title=Mozilla&diff=861768980&oldid=861137297

[2018-09-29 22:36] MichaelKohler commented on #335
Thanks a lot Tanner!

[2018-09-29 22:36] #335 closed, assigned to yomanpatil

[2018-09-30 11:13] edovio opened #347 "KRK2.2 : 70% of the Reps are contributing at the success of the campaigns"
## Goal:
70% of the Reps are contributing at the success of the campaigns by either engaging other contributors to participate or contributing themselves.

## Related Issues & Links:
This is a part of the OKR3
* Plan Doc: https://docs.google.com/document/d/1Qr1UwtkamKI5cWJcSJBmhQZtb14EpKM9gusoZWExbYI

## Roles:
@edovio - Take action and plan
@irvin - Review and informed person

Responsible:
@edovi

[2018-09-30 11:14] edovio commented on #347
G1: Final Document: https://docs.google.com/document/d/1N_PvGbZH9IF5RQ5AWsA0XMu7PtAQ9PMBeXVHfme5-sA/edit?hl=en#

[2018-09-30 11:17] edovio commented on #347
G2: Final Document: https://docs.google.com/document/d/1XE7RQpMEc6vYPmlVzjDL2mPbZ-4WIdt2bGVyxVbL52o/edit

[2018-09-30 11:37] MichaelKohler commented on #346
Discourse: https://discourse.mozilla.org/t/rep-of-the-month-september-2018/32197
Telegram: done
reps-general: done
Reps Portal: done
Blog: @couci please approve the blog post, thanks!

Once the blog post is approved, this can be closed.

[2018-10-01 11:39] MichaelKohler commented on #325
@irvin can this be closed as this is about a Q2 OKR, and not Q3?

[2018-10-01 17:28] irvin commented on #325
yes sure

[2018-10-01 20:02] ioana-chiorean commented on #327
Mail for second step was sent out to the 6 applicants. We will be tracking their progress here.
Discourse Thread: https://discourse.mozilla.org/t/important-council-elections-autum-2018-nominee-q-a/32246/3

1. [Vaibhav Bajaj](https://reps.mozilla.org/u/vabajaj/)
Mandatory:
  - [x] [Answers](https://discourse.mozilla.org/t/important-council-elections-autum-2018-nominee-q-a/32246/6?u=ioana)
Optional:

[2018-10-02 15:03] irvin opened #348 "Reps not in NDA group or not have a valid Mozillians url on portal"
## Goal:
@MichaelKohler had found 25 reps without a valid Mozillians account link in rep profile,
and 41 reps who is not in Mozillians NDA group. We need to fix it.

## Related Issues & Links:
- https://discourse.mozilla.org/t/reps-not-in-nda-group-and-other-numbers/31313
- https://docs.google.com/spreadsheets/d/1x5YfxZSINc6pUuJTJSJ3A8EiZwsxYxXGW6850jYCvlQ/edit#gid=1542576045

## Roles:

Responsib

[2018-10-02 15:06] irvin commented on #348
For those who don’t have valid Mozillians link, I had ping most on Telegram and updated 13 of them.

[2018-10-02 15:18] irvin commented on #348
look also: #345

[2018-10-02 15:34] irvin commented on #348
updated all mozillian accounts except one

[2018-10-02 16:34] irvin commented on #347
G1 published, https://discourse.mozilla.org/t/we-want-you-for-the-new-campaign/31887
G2 published, https://discourse.mozilla.org/t/thank-you-for-participating-at-the-dark-funnel-campaign/32103/3

[2018-10-02 18:28] irvin commented on #348
update the list of active / inactive reps who are not in NDA group

[2018-10-02 19:28] mermi opened #349 "Reps Applications Screening Round - Week of October 1st"
## Goal:
All open and ready applications are screened and informed.

## Related Issues & Links:
[Screening Sheet of Applicants](https://docs.google.com/spreadsheets/d/1WcQJCo38pwEIktErFm8KQDhA4eFSM6T5AYDS-6Oz1Tg/edit?usp=sharing)
 it's a private document as the decision concerns certain people.
## Roles:

Responsible: @mermi

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [x] Add

[2018-10-02 19:54] yomanpatil commented on #335
thank you for your help @TannerFilip :) :)

[2018-10-03 14:44] ioana-chiorean commented on #327
Townhall 1:
* Recording: https://onlinexperiences.com/Launch/Event.htm?ShowKey=44908&DisplayItem=E303748 2
* Etherpad: https://public.etherpad-mozilla.org/p/reps-elections-town-hall-1-2018-10-01

[2018-10-04 15:59] MichaelKohler commented on #346
This is done

[2018-10-04 15:59] #346 closed, assigned to MichaelKohler

[2018-10-04 16:00] MichaelKohler commented on #343
Everything implemented and working nicely. Thanks everyone!

[2018-10-04 16:00] #343 closed, assigned to MichaelKohler

[2018-10-04 16:02] MichaelKohler commented on #341
@yomanpatil would it make sense to create an issue per month instead of gathering everything in one here?

[2018-10-04 16:12] yomanpatil commented on #341
@MichaelKohler  Yes I was thinking the same. Otherwise the newsletter issue will remain open always :D

[2018-10-05 09:08] MichaelKohler commented on #327
Town Hall 2:

* Recording: https://onlinexperiences.com/Launch/Event.htm?ShowKey=44908&DisplayItem=E305969
* Etherpad: https://public.etherpad-mozilla.org/p/reps-elections-town-hall-2-2018-10-04

[2018-10-08 20:03] irvin commented on #325
Actually it's not done so I'll label it as `any other business` and reopen it.

[2018-10-09 12:14] omudongo opened #350 "SLA & CPG Best Practices & Standards"
## Goal:
Develop a strategy to support communities in their comprehension process to implement each agreement in a way that suits local needs and cultural context (that which translates and can be shared with the Reps community and beyond)

## Related Issues & Links:
1. [Reps are Aligned with the Shared Leadership Agreements and the Onboarding Aligned with Community Participation  Guidelines (CPG)

[2018-10-09 12:22] omudongo opened #351 "Oarabile - Schedule meetings 1:1/1:2/1:3 with mentors"
## Goal:
Schedule meetings 1:1/1:2/1:3 with Mentors and council members

## Related Issues & Links:
https://github.com/mozilla/Reps/issues/337

## Roles:

Mentors Scheduled For Meeting:

@Dinesh Mv  > Oarabile Mudongo
@Diwanshi Pandey > Oarabile Mudongo
@Trishul Goel mayur > Oarabile Mudongo

Responsible: @omudongo

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [ ] Put mittens o

[2018-10-09 12:24] MichaelKohler commented on #351
@Mte90 why did you close this? I think this is a good way to track progress here. I don't care if it's an issue per Council member or we keep everything in here, but somehow it should be tracked?

[2018-10-11 14:17] kelimuttu commented on #341
Should we close this one @yomanpatil ?

[2018-10-11 14:21] kelimuttu opened #352 "Reps Weekly call survey"
## Goal:
We gathered a set of data around reps weekly call in terms of timing, cadence, topic, and value.

## Related Issues & Links:
#232, #48

## Roles:

Responsible: @kelimuttu

Accountable: @kelimuttu

Supporting: @couci

Consulted: @ioana-chiorean

Informed: The rest of Reps council

## Required:
- [x] Create the survey (owner: @kelimuttu , Due: Oct 11th)
- [x] Review the survey (owner: @couc

[2018-10-11 14:35] MichaelKohler commented on #352
I suppose this supersedes https://github.com/mozilla/Reps/issues/48 and https://github.com/mozilla/Reps/issues/232 so these could be closed?

[2018-10-11 14:42] kelimuttu commented on #352
I would say, this will complement the data that derived from issue #48 . But I would gladly cover tasks from those 2 issues (so we can close them), only if the related assignee are ok.

[2018-10-11 14:55] MichaelKohler commented on #352
Let's close the other two and continue here. I don't think @irvin will mind as that issue is not part of OKRs anyway and therefore better suited with you :)

[2018-10-15 07:36] ioana-chiorean commented on #352
I am ok for #48 issue

[2018-10-15 08:35] ryanwarsaw commented on #349
Can we get an update on the deliverables here? I see they range from October 2nd, to 10th seeing as we're on the 15th wasn't sure if this wasn't updated or progress has been delayed.

[2018-10-15 08:54] mermi commented on #349
it's blocked by the voting system - we (as council memebers) we need to talk about something related to the voting system before making the final decision.

[2018-10-16 00:18] MichaelKohler commented on #327
* Asked the new members for their github usernames so I can add them with write access
* Asked Henrik to invite them to the OI team and slack-access / #oi-team slack channel if not done so yet

For @couci :
* Start the onboarding
* Add them to the Telegram group
* Add them to the Reps Council Mozillians group

[2018-10-16 01:01] MichaelKohler commented on #327
Statistics posted: https://discourse.mozilla.org/t/council-elections-autumn-2018-statistics/32595

[2018-10-16 15:19] yomanpatil commented on #341
Yes we can.

[2018-10-16 15:19] #341 closed, assigned to yomanpatil

[2018-10-16 15:20] yomanpatil opened #353 "Newsletter for the month of October 2018"
# Newsletter for the month of October 2018
## Tasks:

- [x] Co-ordinate with Newsletter team
- [x] Host monthly call with the team
- [x] Pass Council Updates to team
- [x] Drafting content
- [x] Getting content reviewed from the Council
- [x] Make announcement on Discourse
- [x] Post Newsletter
- [x] Check Performance (How many reps viewed the newsletter)

## Roles:

Responsible: Ganesh, Ruwan

Ac

[2018-10-16 15:23] yomanpatil commented on #353
Reach on the Oct Newsletter:

replies - 3
views - 101
users - 4
likes - 10

[2018-10-16 15:23] #353 closed, assigned to nobody

[2018-10-16 16:08] edovio commented on #347
G3 & G5: Create a Spreadsheet with all the infos of the event made by reps: https://docs.google.com/spreadsheets/d/1PxThgspG4UoIE4q2l7LlF-_8Gvkst42MS0SukEtvH1A/edit?usp=sharing

[2018-10-16 16:21] irvin commented on #348
Already pinned all of the Rep without NDA, and don't have 2fa enable for Mozillians.

[2018-10-17 11:36] kelimuttu commented on #352
Data from Q1-Q3 has been gathered here https://docs.google.com/spreadsheets/d/18VJHUzIQdESJFK-7G3xggH-UkDw5ZAApZ7__8cfPFjk/edit#gid=0

[2018-10-20 19:53] MichaelKohler opened #354 "Balance out open Council election seats"
## Goal:
The Council elections are distributed (almost) evenly to 4/3 per election instead of 5/2 as it is now.

## Roles:
Responsible: @MichaelKohler
Accountable: Reps Peers
Supporting: Reps Peers
Consulted: Reps

## Required:
- [x] Initial draft of changes done (@MichaelKohler, Due: Oct 20th)
- [x] Approved by Peers (@MichaelKohler, Due: Oct 27th)
- [x] Feedback from all Reps (incl Council) (@Mi

[2018-10-23 21:33] edovio commented on #347
Prepared a Message for the Vouch: https://docs.google.com/document/d/1q7j9qwQBeShA3G7O2m7FywK84zmD9NJjatuaGT5rRcc/edit

[2018-10-24 18:00] MichaelKohler commented on #327
PR for leadership page on mozilla.org opened: https://github.com/mozilla/bedrock/pull/6362

[2018-10-25 09:32] ioana-chiorean opened #355 "Publish RoM for October 2018"
## Goal:
The RoM for October 2018 is published.

## Roles:

Responsible: @MichaelKohler / @ioana-chiorean
Accountable: Reps Council
Supporting: @couci

## Required:
- [x] Let Mentor write a text about RoM (@ioana-chiorean  Due:  October 29th)
- [x] Review text (@MichaelKohler, Due October 30th)
- [x] Publish blog post, discourse, reps-general and Telegram (@MichaelKohler/@couci, Due:  October 30th

[2018-10-30 18:32] edovio commented on #347
Made a Vouch at all the Reps/mozillians that have partecipated at the Dark Funnel Campaign and have less than three more information is on this SpreadSheet: https://docs.google.com/spreadsheets/d/1PxThgspG4UoIE4q2l7LlF-_8Gvkst42MS0SukEtvH1A/edit?usp=sharing

[2018-11-01 10:25] MichaelKohler commented on #354
Discourse discussion here: https://discourse.mozilla.org/t/proposal-balancing-out-open-spots-for-reps-council-elections/32961?u=mkohler

[2018-11-04 13:13] mermi commented on #349
We have one case of candidate we are waiting for more resources to send to be able to finalize the vote. Due date if that is Wednesday 7th. so I am keeping this issue open until that time.

[2018-11-04 13:17] mermi opened #356 "Reps Applications Screening Round - Week of November 4th"
## Goal:
All open and ready applications are screened and informed.

## Related Issues & Links:
[Screening Application](https://docs.google.com/spreadsheets/d/1WcQJCo38pwEIktErFm8KQDhA4eFSM6T5AYDS-6Oz1Tg/edit#gid=1444928114)
it's a private document as the decision concerns certain people.

## Roles:

Responsible: @mermi

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [x] Add appl

[2018-11-07 13:51] Mte90 commented on #337
We are still working on that for Q4, I am doing right now a list of reps that done the call.

[2018-11-07 16:01] yofiesetiawan opened #357 "KR 2.1: Onboarding is completed successfully by 20% more applicants."
## Goal:
O2: The program has a new onboarding that attracts community coordinators across the globe
KR 2.2 Onboarding is completed successfully by 20% more applicants

## Related Issues & Links:
[Planification Document](https://docs.google.com/document/d/1LB-QETVFuMeWp3HT7b44LLw_39nCnEzhmd-jiFCi-Qc/edit?usp=sharing)
[Proposal KR2.1](https://docs.google.com/document/d/1hyZv2kY7glr0f7DwBxluM_VrbdPyy

[2018-11-07 16:46] edovio commented on #347
We will move with that on the new one Issue here on GitHub

[2018-11-07 17:45] edovio opened #358 "KR 2.2: Onboarding duration is reduced by 30%."
## Goal:
KR 2.2: Onboarding duration is reduced by 30%.

## Related Issues & Links:
This is part of the OKR4
 - Plan Doc : [Link](https://docs.google.com/document/d/1O7nSgdQeCw8OgrHJIXWMcl83pi1qDKdHE8W5mnM5IhI/edit#)

## Roles:

Responsible: Edoardo(@edovio)

Accountable: Kostantina (@couci), Ruben (@nukeador)

Supporting: Daniele (@Mte90) & Manel (@mermi)

Consulted:

Informed:

## Required (Chan

[2018-11-08 16:35] edovio commented on #358
G1 T1: deliverable [LINK](https://docs.google.com/document/d/1TuWHKWpOfEO5tSsTAaBDiY2y5rYUPnBlP3QvGPQYgxI/edit#)

[2018-11-09 09:52] MichaelKohler commented on #327
The Leadership page is updated: https://www.mozilla.org/en-US/about/leadership/

[2018-11-10 15:51] MichaelKohler commented on #355
Discourse: https://discourse.mozilla.org/t/rep-of-the-month-october-2018/33256
Blog post submitted for @couci's review.
Reps-general and Telegram done.

Asked @hmitsch to back-date the entry on the Reps Portal.

[2018-11-12 13:01] MichaelKohler commented on #355
Blog post is published

[2018-11-12 14:46] #349 closed, assigned to mermi

[2018-11-12 17:27] MichaelKohler commented on #355
Henrik has back-dated the entry on the Portal. All done, thanks everyone!

[2018-11-12 17:27] #355 closed, assigned to MichaelKohler

[2018-11-12 17:27] MichaelKohler commented on #354
This is done, thanks everyone!

[2018-11-12 17:27] #354 closed, assigned to MichaelKohler

[2018-11-13 11:01] MichaelKohler commented on #327
All done!

[2018-11-13 11:01] #327 closed, assigned to MichaelKohler, ioana-chiorean

[2018-11-14 13:49] #356 closed, assigned to mermi

[2018-11-27 12:27] kelimuttu commented on #352
This is done as per https://discourse.mozilla.org/t/reps-weekly-call-survey/32636/2

[2018-11-27 12:27] #352 closed, assigned to kelimuttu

[2018-11-27 12:56] kelimuttu opened #359 "Reps call LATAM pilot"
## Goal:
Run Reps call pilot call in Latin America timezone

## Related Issues & Links:
This is a follow up from #352

## Roles:

Responsible: Kiki

Accountable: Kiki

Supporting: Konstantina

Consulted: Reps Council

Informed: Airmo team

## Required:
- [x] Call for host announcement (@kelimuttu , Due: Nov 27th)
- [x] Choose the host and lock the date (@kelimuttu , Due: Dec 7th)
- [x] Inform the

[2018-12-07 18:21] MichaelKohler opened #360 "Iterate on Reps Peers Role to all Reps"
## Goal:
We have published https://discourse.mozilla.org/t/reps-peers-update-to-role-description-council-accountability-update/31241 before. However, we are not sure if everyone actually knows what we do. We should enforce this communication.

## Related Issues & Links:
https://discourse.mozilla.org/t/reps-peers-update-to-role-description-council-accountability-update/31241
https://wiki.mozilla.or

[2018-12-07 20:08] mermi opened #361 "KR 1.2 Leadership Agreements are signed off by 90% of Reps"
## Goal:
**O1:** Reps are aligned with the shared leadership agreements and the program has a new onboarding that attracts community coordinators across the globe.

**KR1.2:**

## Related Issues & Links:
[Planification](https://docs.google.com/document/d/1C_ISNxSkLkXtS2pitIvXszHxOXuJUMGAguQfheWQ4dE/edit)

## Roles:

Responsible:@mermi

Accountable:

Supporting:

Consulted:

Informed:

## Required:

[2018-12-11 15:15] edovio commented on #358
G1 T2: Made during the All Hands in the Council Meeting

[2018-12-11 15:16] edovio commented on #358
G2 T1: deliverable [LINK](https://docs.google.com/document/d/13PkHH7c7sCXN9YQOzWYdsSzx01-lwDqsXy3FDD7_C58/edit)

[2018-12-11 15:17] edovio commented on #358
Updated the plan and Gantt Diagram about the KR2.2 after the feedback reached during the ALL HANDS.
[Plan Doc](https://docs.google.com/document/d/1O7nSgdQeCw8OgrHJIXWMcl83pi1qDKdHE8W5mnM5IhI/edit)
[Gantt Diagram Doc](https://docs.google.com/spreadsheets/d/12DjT80-TtG0Rz6t4wq6d4ExePQJocKhp0axzxKJGTHM/edit#gid=0)

[2018-12-11 17:11] irvin commented on #348
fixed 42 reps, only 6 left to add to NDA group.

[2018-12-11 17:13] irvin commented on #345
duplicate with #348

[2018-12-11 17:13] #345 closed, assigned to irvin

[2018-12-11 17:17] irvin opened #362 "Plan to move inactive rep to Alumni"
## Goal: Plan to move inactive rep (no report more than 12M) to Alumni

## Related Issues & Links:
- https://discourse.mozilla.org/t/inactive-reps-to-be-moved-as-alumni/34090/
- #348

## Roles:

Responsible: @irvin

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [x] list of inactive rep (Due: )
- [x] email template to ask for update (owner Irvin)
- [x] send out notice email (owne

[2018-12-13 15:20] Mte90 commented on #272
as for #348 a lot of reps was reached to update their profile and add also 2FA so this task seems more easy to do now :-)

[2018-12-13 15:24] Mte90 commented on #337
As today are missing less of 6 mentors for the call with council.
As today is impossible to track how many reps have done that call with their mentors because they are not using the form.
On community analytics we have only few people that reported it.

[2018-12-14 23:32] lasr21 commented on #359
happy to collaborate

[2018-12-15 20:46] MichaelKohler commented on #351
@omudongo what is the status here? is this done and can be closed?

[2018-12-17 08:13] omudongo commented on #351
1:1 Call w/ Mentors Status

@dinesh Mv > No Reply
@diwanshi Pandey > Complete
@trishul Goel mayur > Pending

[2018-12-17 19:12] edovio commented on #358
sent the email today!

[2018-12-18 16:30] edovio commented on #358
Document shared with the Onboarding Team: [Link](https://docs.google.com/document/d/1vDOgWLBv96X4RLy4nSlLH1Cdw0yhflHLmZve8MbhTP8/edit)

[2018-12-18 16:57] irvin commented on #362
This is the draft mail content - https://docs.google.com/document/d/1zEs5YnHjiurgPgBq5hd7NEuBw8Qth38yZZZnJgQuAvo/edit

I will send out the mail this week (before Dec 21), and wait for 4 weeks for the in-active rep to update their activities (due Jan 20).

After Jan 20, I will come up with a list of non-updated rep to be moved.

[2018-12-21 16:34] MichaelKohler commented on #232
I'm closing this as we have a pilot in #359. We can create new issues coming out of that.

[2018-12-21 16:34] #232 closed, assigned to kelimuttu

[2018-12-21 16:35] MichaelKohler commented on #48
Survey has been done in #352. I'm closing this.

[2018-12-21 16:35] #48 closed

[2019-01-03 16:55] irvin commented on #348
only 4 left to join NDA, who are

- Fauzia Ismail
- Frederick Villaluna
- Mubiru Jonathan
- Shinta Setiawan

[2019-01-03 16:59] irvin commented on #362
I had sent the inactive notice letter and cc'ed council. The deadline of the inactive rep to update the profile is Jan 23 (3 weeks later), there are 35 receivers (listed here https://docs.google.com/spreadsheets/d/1x5YfxZSINc6pUuJTJSJ3A8EiZwsxYxXGW6850jYCvlQ/edit#gid=1542576045

[2019-01-06 17:01] mermi opened #363 "Reps Applications Screening Round - Week of January 6th"
## Goal:
All open and ready applications are screened and informed.

## Related Issues & Links:
[Screening Application](https://docs.google.com/spreadsheets/d/1emlgepTFHDWZ6MLg2xAYdFsAlhPnheun_c3gSQY1Dyk/edit?usp=sharing)
it's a private document as the decision concerns certain people.

## Roles:

Responsible: @mermi

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [x]  Add applic

[2019-01-07 09:17] omudongo commented on #351
Current Update on 1:1 Call w/ Mentors Status for @Mte90

@dinesh Mv > No Reply
@diwanshi Pandey > Complete
@trishul Goel > Schedule (Friday 11, 2019)

[2019-01-07 09:38] omudongo opened #364 "Reps are Contributing to MDM Campaigns - Spreadsheet"
## Goal:
Share spreadsheet to collect campaign ideas from Mozilla Reps.

## Related Issues & Links:
Campaign ideas will be collected via [spreadsheet](https://docs.google.com/spreadsheets/d/1yEtHMjBTWoY3UYCok-sc2UQgqp-CoBQ8za76ZNp8x6A/edit?usp=sharing)

## Roles:

Responsible: @Gute @omudongo

Accountable:

Supporting: @couci

Consulted: @couci

Informed:

## Required:
- [ ] Collect campaign ideas

[2019-01-07 19:54] MichaelKohler opened #365 "Publish RoM for November 2018"
## Goal:
The RoM for November 2018 is published (we know, we are late with this).

## Roles:

Responsible: @MichaelKohler / @ioana-chiorean
Accountable: @ioana-chiorean
Supporting: @couci

## Required:
- [x] Let Mentor write a text about RoM (@ioana-chiorean  Due: January 12th)
- [x] Review text (@MichaelKohler, Due January 13th)
- [x] Publish blog post, discourse, reps-general and Telegram (@Mich

[2019-01-15 17:08] irvin commented on #348
I currently left two open bugzilla issue on changing login email on Mozillians and Reps portal regards this issue.

https://bugzilla.mozilla.org/show_bug.cgi?id=1519832
https://bugzilla.mozilla.org/show_bug.cgi?id=1520212

[2019-01-15 17:09] irvin commented on #348
other reps who has not response would be fix on #362

[2019-01-15 17:15] irvin commented on #325
I'm not working on this for many months so I'm going to close this task.

[2019-01-15 17:15] #325 closed, assigned to irvin

[2019-01-26 18:33] MichaelKohler opened #366 "Council Elections - H1 2019"
## Goal:
Hold the Council elections in order to occupy the spots that are free after the term of one year is ending for:

🎓 Daniele
🎓 Edoardo
🎓 Irvin
🎓 Manel
🎓 Oarabile

We have 5 open spots, one of them is limited to 6 months, see https://discourse.mozilla.org/t/proposal-balancing-out-open-spots-for-reps-council-elections/32961 for more details.

## Success:
The elections take place and we have 5

[2019-01-28 06:55] irvin commented on #362
I have add an additional step to post the preliminary list to Discourse, asking reps to check if any of them are still active. I'll come up with real final list after Feb 4.
https://discourse.mozilla.org/t/inactive-reps-who-will-be-graduated-to-alumni-next-month/35419

The post had also been shared to Telegram (rep and mentor) and Facebook group
https://www.facebook.com/groups/mozilla.reps/permali

[2019-01-31 21:57] #363 closed, assigned to mermi

[2019-01-31 21:59] mermi commented on #361
Here the result: https://docs.google.com/spreadsheets/d/19xpC1KzoFqUuARMGPbzYnIiZIBcUMAOAsLFoDNunI04/edit?usp=drivesdk
survey sent: https://manelrhaiem.typeform.com/to/g8k3pC

[2019-01-31 21:59] #361 closed, assigned to mermi

[2019-02-05 15:58] #337 closed, assigned to Mte90

[2019-02-05 15:58] #351 closed, assigned to omudongo

[2019-02-07 16:58] irvin commented on #362
All of them haven't updated after the deadline of discourse post, so this is the final list.
https://discourse.mozilla.org/t/inactive-reps-who-will-be-graduated-to-alumni-next-month/35419

* [Aastha Vijay](https://reps.mozilla.org/u/aasthavijay380/)
* [Ahmad Ziad](https://reps.mozilla.org/u/Ahmad/)
* [Asa Lugada](https://reps.mozilla.org/u/slugada/)
* [Binoy Balu](https://reps.mozilla.org/u/binoyb

[2019-02-11 12:25] MichaelKohler commented on #360
Discussed in today's Peer meeting, added the required steps.

[2019-02-12 05:26] irvin commented on #362
When I'm move inactive rep, I find [Luis Richard Dominguez](https://reps.mozilla.org/u/richardomin/) has report new activity in last year (this may be the bug when I generate the list, or he had added the report).

Besides him, all other inactive reps are all alumni now.

Also, profile of [Matjaz Horvat](https://reps.mozilla.org/u/mathjazz/) had some problem after move to alumni that his profile p

[2019-02-17 18:58] ghost opened #367 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/Reps/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of publi

[2019-02-17 19:18] MichaelKohler commented on #367
Thanks!

[2019-02-17 19:18] #367 closed, assigned to nobody

[2019-02-17 20:43] mermi opened #368 "Reps Applications Screening Round - Week of February 17th"
## Goal:
All open and ready applications are screened and informed.

## Related Issues & Links:
[Screening Application](https://docs.google.com/spreadsheets/d/1emlgepTFHDWZ6MLg2xAYdFsAlhPnheun_c3gSQY1Dyk/edit?usp=sharing)
it's a private document as the decision concerns certain people.

## Roles:

Responsible: @mermi

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [x]  Add applic

[2019-02-20 16:54] Mte90 opened #369 "OKR 4, non-Mozilla entities identify the Reps program as a connector to the broader Mozilla community"
## Goal:
https://docs.google.com/document/d/1mitS1b6-v9u-nsubmxsz_qeKLF-sJoFgbmfEMiq2pA0/edit

## Roles:

Responsible: @mte90

Accountable: Peers

Supporting: Peers

Consulted:

Informed:

## Required:
- [x] Write proposal about publications (owner, Due: Feb 12th)
- [x] Write first draft to review (owner, Due: Feb 20th)
- [x] Send to Hacks blog for approval (owner, Due: Feb 25th)
- [x] Rewritten f

[2019-02-24 17:03] irvin commented on #362
Rep contribution cert already sent to all new alumni. (except Matjaz, whose profile is still under fixing.)

[2019-02-25 07:30] irvin commented on #347
We're done with this issue and not workin on it anymore, close.

[2019-02-25 07:30] #347 closed, assigned to irvin, edovio

[2019-03-05 16:46] irvin commented on #362
We had done removing these alumni from NDA. End of this round.

[2019-03-05 16:46] #362 closed, assigned to irvin, Mte90

[2019-03-05 16:57] irvin opened #370 "(start after March) Move inactive rep to Alumni, Q2 2019"
## Goal:
Last round (#362), we didn't move all in-active reps (who haven't report for more than 12 month) because of last list are mainly from list of rep who don't have updated nda. And we should move in-active rep to Alumni periodically eg., quarterly.

## Related Issues & Links:
#362 #348

## Roles:

Responsible: @irvin

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [ ] list

[2019-03-05 17:20] irvin opened #371 "(2019 H1 - O1) "Mozillian of Month" experiment"
## Goal:

Evolve long idle Rep of the Month (ROM) into “(Mission Driven) Mozillian of the Month”

### Plan:
1. At the end of the each month (w4), we post on Discourse to ask Rep to reply and

    1) Nominate local Mozillian who did good on either Mozilla projects or other open source projects during last month,
    2) Tell us what the Mozillian did and how they (Rep) helping / facilitating / co-wo

[2019-03-05 17:33] irvin commented on #371
The announce on Telegram group
<img width="904" alt="2019-03-06 1 29 57" src="https://user-images.githubusercontent.com/165936/53824807-c47f1400-3faf-11e9-9103-df41a25c050f.png">

The announce on reps-general
<img width="742" alt="2019-03-06 1 31 59" src="https://user-images.githubusercontent.com/165936/53824824-d19c0300-3faf-11e9-975c-78908428c12e.png">

[2019-03-05 19:44] MichaelKohler commented on #365
Discourse: https://discourse.mozilla.org/t/rep-of-the-month-november-2018/36599
reps-general, Telegram are done as well.

@couci please approve the blog post (already submitted) and then close this issue here. Thanks!

[2019-03-05 21:51] MichaelKohler opened #372 "Publish RoM for February 2019"
## Goal:
The RoM for February 2019 is published.

## Roles:

Responsible: @MichaelKohler / @ioana-chiorean
Accountable: @ioana-chiorean
Supporting: @couci

## Required:
- [x] Let Mentor write a text about RoM (@MichaelKohler  Due: March 15th)
- [x] Review text (@ioana-chiorean , Due March 16th)
- [x] Publish blog post, discourse, reps-general and Telegram (@MichaelKohler/@couci, Due:  March 17th)

[2019-03-06 11:08] couci commented on #365
approved

[2019-03-06 11:08] #365 closed, assigned to MichaelKohler, ioana-chiorean

[2019-03-09 11:12] MichaelKohler commented on #366
Town Halls "Reserve the dates" planning: https://discourse.mozilla.org/t/reserve-the-dates-council-elections-spring-2019-town-halls/36765

[2019-03-11 17:53] yomanpatil opened #373 "Update Interests, Activities and Functional Areas on the portal 2019"
## Goal:
Update Interests, Activities and Functional Areas on the report system. Remove the old ones and brainstorm on adding new.

How to join? leave your thoughts in the ticket!

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:

Responsible: @yomanpatil

Accountable:

Supporting: @couci

Consulted:

Informed:

## Required:
- [ ]List of things to change to check wit

[2019-03-12 15:44] #368 closed, assigned to mermi

[2019-03-12 15:47] mermi opened #374 "OKR5 - Existing Reps and new applicants understand the resources we provide"
## Goal:
we have fewer questions by new Reps on understanding the community coordinator role. So we need to make Existing/New Reps ask questions about their role via the resources we provide to them.

## Plan:
[Here is the current plan](https://docs.google.com/document/d/1kXhdh3hVErK8570ZWqtKacSOqNO0VAvBkTb8LQ9NNv8/edit?usp=sharing)

## Roles:

Responsible: @mermi

Accountable:

Supporting:

Consu

[2019-03-12 18:28] MichaelKohler commented on #364
Closing this as it doesn't seem relevant anymore given the goals for the first half of 2019. Please feel free to reopen if it still is and update the timeline, description and current status.

[2019-03-12 18:28] #364 closed, assigned to nobody

[2019-03-12 18:28] MichaelKohler commented on #359
@kelimuttu given that the pilot is done, can we close this?

[2019-03-12 18:28] MichaelKohler commented on #358
Closing this as @mermi is working on her OKR for the first half of the year. Please feel free to reopen if it still is and update the timeline, description and current status.

[2019-03-12 18:28] #358 closed, assigned to edovio

[2019-03-12 18:29] MichaelKohler commented on #357
Closing this as it doesn't seem relevant anymore given the goals for the first half of 2019. Please feel free to reopen if it still is and update the timeline, description and current status.

[2019-03-12 18:29] #357 closed, assigned to yofiesetiawan

[2019-03-12 18:29] MichaelKohler commented on #350
Closing this as it doesn't seem relevant anymore given the goals for the first half of 2019. Please feel free to reopen if it still is and update the timeline, description and current status.

[2019-03-12 18:29] #350 closed, assigned to omudongo

[2019-03-12 18:29] MichaelKohler commented on #348
closing this as we now have #370

[2019-03-12 18:29] #348 closed, assigned to irvin

[2019-03-13 10:21] kelimuttu commented on #359
yes, for sure..

[2019-03-13 10:21] #359 closed, assigned to kelimuttu

[2019-03-13 17:37] MichaelKohler commented on #372
Telegram and reps-general done.
Discourse: https://discourse.mozilla.org/t/rep-of-the-month-february-2019/36947/2

@couci please close this issue once you have approved the blog post, thx! :)

[2019-03-14 12:33] couci commented on #372
done

[2019-03-14 12:33] #372 closed, assigned to MichaelKohler

[2019-03-15 18:18] gaby2300 commented on #270
Hello!

I don't know if adding a comment here is useful or if I'd better create a new issue.
It would be great and very useful if some more items could be added on the portal.

I am talking about adding "Testing" or something similar to the Initiatives section. As it is now, when I join a testday, I have to select "Other" in this section.

Joined a Firefox SUMO Sprint in the Activities section.  A

[2019-03-18 10:23] Mte90 commented on #199
we have now less of 30 reps without a mentor, this task is not still finished but we are moving on.

[2019-03-20 17:34] irvin opened #375 "Plan to move inactive rep to Alumni (Q2 2019)"
Goal: Seasonal moving inactive rep (no report more than 12M) to Alumni

## Related Issues & Links:
- https://discourse.mozilla.org/t/inactive-reps-to-be-moved-as-alumni/34090/
- #348
- #362
- https://reps.mozilla.org/dashboard/stats/
- list of NDA renewal https://docs.google.com/spreadsheets/d/1x5YfxZSINc6pUuJTJSJ3A8EiZwsxYxXGW6850jYCvlQ/edit#gid=1623115867

## Roles:

Responsible: @irvin
Accounta

[2019-03-22 23:22] ioana-chiorean commented on #366
Reps Nominee event created: https://reps.mozilla.org/e/reps-council-elections-h1-2019-nominees/
Discourse post created: https://discourse.mozilla.org/t/important-council-elections-h1-2019-please-read/37299
Mail sent to Reps-General Mailing List
Written and pin message in Telegram

_* corrected **ALL** 2018 to 2019_
_* replaced Spring to H1_

[2019-03-26 16:30] irvin commented on #375
blocked by https://github.com/mozilla/remo/pull/1507 for now

[2019-03-27 15:30] Mte90 commented on #199
less of 25 :-)

[2019-03-29 14:35] gaby2300 commented on #373
Hello,

It would be great and very useful if the following items could be added.

I am talking about adding "Testing" or something similar to the Initiatives section. As it is now, when I join a testday, I have to select "Other" in this section. I'd much rather include it in a more specific item.

Joined a Firefox SUMO Sprint in the Activities section. As it is now, there is no way to report it!

[2019-03-29 21:56] ghost opened #376 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-29 22:41] #376 closed, assigned to nobody

[2019-03-30 12:58] irvin commented on #371
backup: Email content about the announcement of Mozillian of February and nomination start for March

--
# Announce Mozillian of February and start nominate Mozillian of the March until Apr 6

Hi Reps,

Please join us to congratulate Pranshu Khanna, the Mozillian of the Month February (2019)

Pranshu has been a Mozillian in the Mozilla India community since 2016. In February, he wrapped up the Pri

[2019-03-30 13:00] irvin commented on #371
backup: announce nominating start for march on Telegram
--
Hi Reps, Please start nominating Mozillian of the Month (March)!
https://discourse.mozilla.org/t/nominate-for-mozillian-of-the-month-march-starts-until-4-6/37441

[2019-04-01 15:56] couci commented on #373
hey @gaby2300 thanks for the message
On testing there is one on contribution area, testing is an area where we contribute not an initiative in this point.
Sumo Days I see it now on the updated initiative section, doesn't work for you?
And campaigns is not in contribution area is because it's not an area we contribute to, things like l10n and Testing go there. Campaigns are an umbrella that's why i

[2019-04-01 17:39] gaby2300 commented on #373
El lun., 1 de abr. de 2019 a la(s) 12:56, Konstantina Papadea (
notifications@github.com) escribió:

You are welcome!

Right!  I understand but.... When I join a Testday I have to select "Other"
in the Initiative section. It seems very nonspecific to me. I´d much rather
a more specific item!

Yes, I wrote this before the update, thanks!

So, if I join a Support Sprint, the contribution area is Use

[2019-04-01 17:50] MichaelKohler commented on #366
Town Halls:
https://discourse.mozilla.org/t/reps-council-elections-spring-2019-town-hall-1-tuesday-14-00-utc/37683/2
https://discourse.mozilla.org/t/reps-council-elections-spring-2019-town-hall-2-thursday-18-00-utc/37684/2

Comms for candidates + Q&A thread on Discourse is ready to be published, once we get the eligibility finished.

[2019-04-01 20:13] MichaelKohler commented on #366
**Nominees:**

1. [Prathamesh Chavan](https://reps.mozilla.org/u/prathamesh/)
  - [x] [Answers](https://discourse.mozilla.org/t/important-council-elections-spring-2019-nominee-q-a/37700/7?u=ioana)
  - [ ] Video (optional)
  - [x] Townhall 1  (preferred, but optional due to timezones/personal life)
  - [x] Townhall 2 (preferred, but optional due to timezones/personal life)

2. [Vishal Chavan](https

[2019-04-02 12:00] yomanpatil commented on #373
thank you for your valuable inputs @gaby2300

We will discuss it with the council and will update you.

[2019-04-02 12:21] couci commented on #373
was that part of an initiative supported right now? was it under a campaign, or was an event organized? I am all in to create another initiative but it would make sense to put it under an initiative we are aware of otherwise we will end up having numerous initiatives that can end up be confusing

I would actually say Evangelism Mission

The initiative should be campaigns

I think the initiative pa

[2019-04-02 13:41] irvin commented on #370
resolved duplicate https://github.com/mozilla/Reps/issues/375

[2019-04-02 13:41] #370 closed, assigned to irvin

[2019-04-02 23:49] gaby2300 commented on #373
All right Konstantina, I understand!

Thanks for such a detailed answer!

Best regards,
Gabriela

El mar., 2 de abr. de 2019 a la(s) 09:21, Konstantina Papadea (
notifications@github.com) escribió:

[2019-04-07 22:28] mermi opened #378 "Reps Applications Screening Round - Week of April 7th"
## Goal:
All open and ready applications are screened and informed.

## Related Issues & Links:
[Screening Application](https://docs.google.com/spreadsheets/d/1emlgepTFHDWZ6MLg2xAYdFsAlhPnheun_c3gSQY1Dyk/edit?usp=sharing)
it's a private document as the decision concerns certain people.

## Roles:

Responsible: @Mermi

Accountable:

Supporting:

Consulted:

Informed:

## Required:
- [ ] Add applica

[2019-04-08 11:02] ioana-chiorean commented on #366
- Checklist updated
- Voting created https://reps.mozilla.org/v/reps-council-elections-h1-2019-5-spots/
- Q&A discourse post - https://discourse.mozilla.org/t/important-council-elections-spring-2019-nominee-q-a/37700/9

[2019-04-13 13:20] MichaelKohler opened #379 "H1 OKRs, Objective 4: Update Reps Description"
## Goal:
We have updated all Reps descriptions on the Internet to reflect the current purpose and benefits of the Reps Program.

## Related Issues & Links:
https://discourse.mozilla.org/t/reps-descriptions-on-the-internet/32825

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Peers
Supporting: Reps Council
Consulted: All Reps
Informed: OI

## Required:
- [x] Council gives feedback to Peer

[2019-04-15 11:24] MichaelKohler commented on #360
Informed Kiki about us joining the Reps Call on the 2nd of May.

[2019-04-15 21:20] MichaelKohler commented on #366
https://michaelkohler.github.io/reps-voting-analysis

[2019-04-16 16:36] MichaelKohler commented on #366
* Mail for access to slack/mozillians council group is drafted and ready -> will be sent out soon
* Asked new Council members for GitHub account handles and profile pictures for the leadership page

[2019-04-16 18:28] MichaelKohler commented on #379
Discourse Topic posted: https://discourse.mozilla.org/t/reps-description-update-feedback-required/38346

[2019-04-22 14:29] couci commented on #366
E-mail to decide on the time for the onboarding call has been sent.

[2019-04-23 13:20] couci commented on #366
Onboarding call will happen on Thursday 16:30 UTC

[2019-04-23 15:09] irvin commented on #371
# February threads

(Reps)

- Call for nominating https://discourse.mozilla.org/t/announcing-mozillian-of-the-month-february-experiment-nominating-until-3-7/36190/
- Call for voting https://discourse.mozilla.org/t/voting-for-mozillian-of-month-february-starts-now/36675/
- Nominating 1 https://discourse.mozilla.org/t/nominating-mozillian-of-the-month-ett-chung/36192/
- Nominating 2 https://discours

[2019-04-23 20:06] MichaelKohler commented on #366
PR for the leadership page opened here: https://github.com/mozilla/bedrock/pull/7104

[2019-04-24 12:52] couci commented on #366
actions that were due for the 23rd done, waiting for new council members to confirm invitations

[2019-04-30 04:08] irvin commented on #371
The swag for first and second round still haven't send out. It's been blocked within Mozilla internal bug on vendor procedure.

[2019-04-30 17:27] MichaelKohler commented on #379
Feedback period is now closed, will update the texts within the next few days.

[2019-05-02 15:45] kelimuttu opened #380 "Review Team Reshuffle"
## Goal:
Renew volunteer positions in the current Review Team formation.

## Related Issues & Links:
- https://wiki.mozilla.org/Reps/Review_Team

## Roles:

Responsible: @kelimuttu @couci

Accountable: @kelimuttu

Supporting: Reps Review team

Consulted: Reps Council

Informed: CDT

## Required:
- [x] List of candidates from the Reps Resources list (@kelimuttu)
- [x] Send the candidates to The Rep

[2019-05-02 15:52] Mte90 commented on #199
We have right now 25 reps without a mentor  but probably with https://github.com/mozilla/Reps/issues/375 there will be less.

[2019-05-05 13:54] MichaelKohler commented on #379
Updated the following wiki pages:

* https://wiki.mozilla.org/Reps
* https://wiki.mozilla.org/Reps/Council
* https://wiki.mozilla.org/Reps/FAQ
* https://wiki.mozilla.org/Modules/Mozilla_Reps

[2019-05-05 16:07] MichaelKohler commented on #379
Reps Portal PR: https://github.com/mozilla/remo/pull/1514

[2019-05-05 16:52] MichaelKohler commented on #379
Mozilla.org PR here: https://github.com/mozilla/bedrock/pull/7155

[2019-05-07 10:40] ioana-chiorean opened #381 "Publish RoM for April 2019"
https://reps.mozilla.org/v/rep-of-the-month-for-april-3/

## Goal:
The RoM for April 2019 is published

## Roles:

Responsible: @MichaelKohler / @ioana-chiorean
Accountable: @ioana-chiorean
Supporting: @couci

## Required:
- [x] Let Mentor write a text about RoM (@ioana-chiorean  Due: 8th of May 2019)
- [x] Review text (@MichaelKohler, Due 10th of May 2019)
- [ ] Publish blog post, discourse, reps

[2019-05-07 15:39] irvin commented on #375
This is the preliminary list of Reps who will be graduate after May 16 if no update
https://discourse.mozilla.org/t/inactive-reps-who-will-be-graduated-to-alumni-after-mid-may/40024

[2019-05-08 22:53] MichaelKohler commented on #379
mozilla.org is updated

[2019-05-11 12:28] MichaelKohler commented on #381
Portal done, Discourse: https://discourse.mozilla.org/t/rep-of-the-month-april-2019/40229, reps-general and Telegram done.

@couci please approve the blog post

Date-back on the Portal is pending.

[2019-05-13 09:58] MichaelKohler commented on #381
Henrik has back-dated the portal entry. @couci please close this issue once the blog post is live. Thanks everyone!

[2019-05-13 17:07] couci commented on #381
published https://blog.mozilla.org/mozillareps/2019/05/13/rep-of-the-month-april-2019/

[2019-05-13 17:07] #381 closed, assigned to MichaelKohler, ioana-chiorean, couci

[2019-05-14 17:12] MichaelKohler commented on #366
Sent a list with oi-team Slack channel and OI Team Access Group changes to Henrik

[2019-05-15 10:13] ioana-chiorean commented on #381
Thank you everyone!

[2019-05-18 10:30] MichaelKohler opened #382 "Add historical program information to Wikipedia"
## Goal:
Currently we only list a description of the Program on Wikipedia. We should re-write this text and incorporate

1) Historical context
2) Goals of the program

## Related Issues & Links:
#379

## Roles:

Responsible: tbd
Accountable: @MichaelKohler
Supporting: Reps, Tanner

## Required:
- [ ] Initial draft of text (tbd, Due: June 15th)
- [ ] Review of text done (tbd, Due: June 25th)
- [ ]

[2019-05-18 10:30] MichaelKohler commented on #382
@irvin as you were doing some historical research in the past, would you like to work on this? I'm happy to support.

[2019-05-18 10:31] MichaelKohler commented on #379
I've had a quick discussion with Tanner, and I agree that the description on Wikipedia should be about historical information and not about a general description. I've filed #382 for this. I don't think this is crucial and therefore I'll de-scope this from the general update OKR.

[2019-05-18 13:23] irvin commented on #382
@MichaelKohler I may not have time for writing but the history and reference link are in this post,
https://discourse.mozilla.org/t/how-old-is-mozilla-rep-program-a-brief-timeline/37722

[2019-05-23 10:08] couci commented on #366
groups are updated I only have the blogpost pending

[2019-06-25 06:36] ioana-chiorean opened #383 "Publish RoM for June 2019"
https://reps.mozilla.org/v/rep-of-the-month-for-june-3/

## Goal:
The RoM for May 2019 is published

## Roles:

Responsible: @MichaelKohler / @ioana-chiorean
Accountable: @ioana-chiorean
Supporting: @couci

## Required:
- [x] Let Mentor write a text about RoM (@ioana-chiorean  Due: End of June 2019)
- [x] Review text (@MichaelKohler, Due End of June 2019)
- [x] Publish blog post, discourse, reps-g

[2019-06-29 09:53] #366 closed, assigned to MichaelKohler, ioana-chiorean, couci

[2019-07-02 12:31] ioana-chiorean commented on #378
Updates here?

[2019-07-02 12:33] ioana-chiorean commented on #371
Updates here? Are we keeping the same open or we should maybe open each month a new one?

[2019-07-02 12:34] ioana-chiorean commented on #380
Updates here?

[2019-07-02 12:34] ioana-chiorean commented on #199
Who is now assigned here? :S

[2019-07-02 12:34] ioana-chiorean commented on #375
Can this be closed then?

[2019-07-02 12:36] ioana-chiorean commented on #382
@MichaelKohler how do u want to proceed here?

[2019-07-02 12:47] ioana-chiorean commented on #359
Do we have somewhere the results?

[2019-07-02 12:56] ioana-chiorean commented on #374
Any status here?

[2019-07-02 12:56] ioana-chiorean commented on #369
Any status here?

[2019-07-02 13:35] Mte90 commented on #369
I am not following anymore and since my las update in may I don't see any updates in the doc (that I have still the access on it).

[2019-07-02 14:38] MichaelKohler commented on #382
That's a very good question. I'd love for somebody to step up here and take the lead, I'll spread it on telegram.

[2019-07-02 14:40] irvin commented on #375
No, we haven't move them due to latest Firefox Preview campaign before All Hands.
I will proceed later this week.

[2019-07-02 15:35] irvin commented on #371
I think we should open a new one for next quarter. I will close this once we have a new one.

[2019-07-03 17:03] MichaelKohler commented on #383
Discourse, reps-general, Telegram are done.

Reps Portal needs to be backdated.

And @couci needs to publish the blog post. Thanks!

[2019-07-04 05:24] kelimuttu commented on #359
there's only 1 person filled out the survey. But overall, I would say that the experiment went great, although it's hard to sustain it for now.

[2019-07-04 07:52] Ruwan-Ranganath commented on #382
Hi,
I've just created a draft base on @irvin discourse post here : https://docs.google.com/document/d/1-YthCR1c2fAlmxVpJa2e-H03lR00LiOs_G6b4pt4U1A/edit#heading=h.6fs2rey2ac9t

we need details about reps program highlights after 2015.and any historical photos of reps program,
maybe such as first video call screen capture if someone have. or first meetup.
related people photos.

I'm not sure how lar

[2019-07-04 13:56] kelimuttu commented on #380
The shadowing process just started this week. We will officially announce the new Review Team next week.

[2019-07-05 11:37] couci commented on #383
blogpost added :)

[2019-07-05 14:44] MichaelKohler commented on #383
thanks!

[2019-07-05 14:44] #383 closed, assigned to MichaelKohler

[2019-07-08 16:31] irvin opened #384 "Build team for "Mozillian of the Month" campaign (2019 Q3)"
## Goal:

Build Team for running Mozillian of the Month campaign, in order to encourage Rep to take the leadership role as Mission Driven Mozillian to help other MDM contributing more.

- Build Rep team to run Mozillian of the Month for Q3 (August - October)

### Plan:

- [x] Release [the plan to build team on Discourse](https://discourse.mozilla.org/t/plan-to-build-team-for-mozillian-of-the-month

[2019-07-08 16:36] irvin commented on #371
closed with following plan #384

[2019-07-08 16:36] #371 closed, assigned to irvin

[2019-07-08 17:57] irvin commented on #375
Totally moved 25 reps to alumni

[2019-07-08 17:58] irvin commented on #375
over to @couci for NDA removal

[2019-07-08 18:02] irvin commented on #375
the list is here https://docs.google.com/spreadsheets/d/1x5YfxZSINc6pUuJTJSJ3A8EiZwsxYxXGW6850jYCvlQ/edit?pli=1#gid=2085532218 (sheet 2 line 21-45)

[2019-07-09 15:13] irvin commented on #375
Konstantina done removing NDA access. I will close this issue once I create task for Q4.

[2019-07-22 18:41] irvin opened #385 "Plan to move inactive rep to Alumni (Q1 2020)"
Goal: Seasonal moving inactive rep (no report more than 12M) to Alumni, keep list of rep updated and have accurate numbers for resource management.

## Related Issues & Links:
- #390 , #348, #362
- https://discourse.mozilla.org/t/inactive-reps-to-be-moved-as-alumni/34090/
- https://discourse.mozilla.org/t/inactive-reps-who-will-be-graduated-to-alumni-next-month/35419/5
- #375, https://discourse.mo

[2019-07-22 18:42] irvin commented on #375
closed with https://github.com/mozilla/Reps/issues/385

[2019-07-22 18:42] #375 closed, assigned to irvin, couci

[2019-07-25 13:26] ioana-chiorean opened #386 "Publish RoM for July 2019"
https://reps.mozilla.org/v/rep-of-the-month-for-july-4/

## Goal:
The RoM for July 2019 is published

## Roles:

Responsible: @MichaelKohler / @ioana-chiorean
Accountable: @ioana-chiorean
Supporting: @couci

## Required:
- [x] Let Mentor write a text about RoM (@ioana-chiorean  Due: 25th of July 2019)
- [x] Review text (@MichaelKohler, Due 30th of July 2019)
- [x] Publish blog post, discourse, rep

[2019-07-29 16:14] irvin commented on #384
We have 11 applications and will announce final team after council meeting tomorrow

[2019-07-29 16:22] irvin commented on #382
Hi Ruwan,

How do you think if we just add those info to Wikipedia first, so not to be
blocked by lack of newer information?

Irvin

Ruwan Ranganath <notifications@github.com> 於 2019年7月4日 週四 下午3:52寫道：

[2019-07-30 14:57] irvin opened #387 ""Mozillian of Month" for Q3 2019"
## Goal:
Mozillian of the Month is an experiment monthly recognition campaign, ran by Irvin from February to April. It’s goal is to encourage Reps to take a leadership role and help local Mozillians to be visible.

We ask Reps to nominate local volunteers who did well in last month, by posting their story on Discourse Rep and Mozillians categories, and let all Mozillians to vote for the best-love

[2019-07-30 15:16] irvin commented on #387
## August round action items

### Nominate (1st week of August)

- [x] [Ask rep to start nominate for July Mozillian of the Month](https://discourse.mozilla.org/t/nomination-for-mozillian-of-the-month-july-starts-until-8-10/43338) (@shinadhingra18, Due: 8/3, Done: 8/3 )
- [x] [Promoting on Rep Telegram channel](https://t.me/c/1020212813/24581) (@shinadhingra18, Due: 8/5, Done: 8/5)
- [x] [Promotin

[2019-08-14 11:47] couci commented on #386
@MichaelKohler what is the status here?

[2019-08-14 11:47] couci commented on #380
@kelimuttu should we close this one?

[2019-08-14 11:52] kelimuttu commented on #380
Yep. This was done.

[2019-08-14 11:52] #380 closed, assigned to kelimuttu

[2019-08-14 15:51] MichaelKohler commented on #386
As far as I know we haven't gotten any text yet. @ioana-chiorean right?

[2019-08-14 15:51] ioana-chiorean commented on #386
We did not/ I 've contacted the mentor via mail and facebook - but no reply.

[2019-08-19 13:11] ioana-chiorean commented on #386
Wrote him on Telegram too. If we get no reply I suggest to write something generic related to his activities

[2019-08-22 13:46] yofiesetiawan opened #388 "OKR 2019 H2 - Yofie"
## Goal:
KR: More than 80% of the reps are reporting that they know what MDM is about.

## Related Issues & Links:

Key Result Planning Document
https://docs.google.com/document/d/1oyLIQZTDWxYCPa_sNFyiDHsHbC6TYdfNDS773BYBpLQ

Mentor Training for MDM H2 2019
https://docs.google.com/presentation/d/1o03BnDfPOC8bO6r6H2CHjjkRI4QFrLL2L4C4qBGxLGw/edit?usp=sharing

Survey to Understand MDM Awareness
https

[2019-08-23 15:06] MichaelKohler opened #389 "Council Elections - H2 2019"
## Goal:
Hold the Council elections in order to occupy the spots that are free after the term of one year is ending for:

🎓 Monica
🎓 Yofie
🎓 Yuliana

We have 3 open spots.

## Success:
The elections take place and we have 3 Council members

## Related Issues & Links:
- Previous Elections #15, #114, #208, #284, #327, #366

## Roles:
Owner: @ioana-chiorean
Involved: @couci, Reps Peers
Supporting: @p

[2019-08-26 17:04] irvin commented on #387
## September action items

### Nominate (4th week of August)

- [x] [Ask rep to start nominate for August Mozillian of the Month](https://discourse.mozilla.org/t/nomination-for-mozillian-of-the-month-august-starts-until-9-8/44312) (@shinadhingra18, Due: 8/30, Done: 8/27)
- [x] [Promoting on Rep Telegram channel](https://t.me/c/1020212813/24655) (@shinadhingra18 , Due: 9/2, Done: 8/27)
- [x] [Promo

[2019-08-26 17:25] irvin opened #390 "OKR 2019 H2 - Getting inactive Reps re-activate"
## Goal:
10% of inactive Reps are getting reactivated via the campaigns

## Related Issues & Links:
#385 ,
Planning doc - https://docs.google.com/document/d/1P2UxSOtQFlC0ohd01fxJjg-1EUylV5dmnFWc2uzwIb8/edit?usp=sharing
Discourse discusstion - https://discourse.mozilla.org/t/plan-to-getting-inactive-reps-re-active-via-campaigns-as-okr-for-2019-h2/44309/2

## Roles:

Responsible: @irvin
Accountable:

[2019-08-26 17:52] irvin commented on #384
closed by announce team member on 7/31
https://discourse.mozilla.org/t/application-open-for-mozillian-of-the-month-team-ended-announce-the-team-member/42917/2

[2019-08-26 17:52] #384 closed, assigned to irvin

[2019-08-27 13:45] yulireyji opened #391 "OKR 2019 H2 - Onboarding"
## Goal:
90% of the new onboarded Reps are reporting that are ready to become local leaders in their community due to their onboarding training

## Related Issues & Links:
https://docs.google.com/document/d/11eq2C_5Aw4LoTjK2vh8heSxuAyeKj25xsFSYYs0hBqw/edit#heading=h.et8imi643ahc

## Roles:

Responsible: Yuli

Accountable: Yuli

Supporting: Konstantina

Consulted: Rep Councils & Peers

Informed: Re

[2019-08-27 15:31] MichaelKohler opened #392 "Communicate Transparency Experiment to Reps"
## Goal:
Reps know about the Transparency Experiment.

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Peers

## Required:
- [x] Wait until we have most OKR threads on Discourse (@MichaelKohler, Due: September 1st)
- [x] Write Discourse post / reps-general announcement to Reps (@MichaelKohler, Due: September 2nd)

[2019-08-27 15:36] prathameshchavan opened #393 "OKR 2019 H2 - Prathamesh - Elections"
## Goal:
KR : More than 70% reps are voting in autumn elections

## Related Issues & Links:
[https://docs.google.com/document/d/13JmPEit_Y7WqFSpD4_uxY-dLt2U4dYZzN5vaa00Ms0w/edit?usp=sharing](https://docs.google.com/document/d/13JmPEit_Y7WqFSpD4_uxY-dLt2U4dYZzN5vaa00Ms0w/edit?usp=sharing)

## Roles:

Responsible: Prathamesh

Accountable: Prathamesh

Supporting: Rep Council

Consulted: Rep Council

[2019-08-27 16:23] yomanpatil opened #394 "More activities related to MDM campaigns are reported on reps portal (30% more reporting)"
**Name of the key result:
More activities related to MDM campaigns are reported on reps portal (30% more reporting)**

**Steps**
**Add the milestones in order to reach your key result:**
Milestone 1: Check the current status so we can define 30% more
Milestone 2: Promotion of campaigns to the Reps
Milestone 3: Promotion of reporting to the Reps
Milestone 4: Check the revised status of the reported

[2019-08-27 16:34] yomanpatil commented on #394
@yofiesetiawan Will need your help in this.

[2019-08-27 16:39] yomanpatil commented on #394
Channels for promotion

- [ ] 1. Telegram
- [ ] 2. Mailing list
- [ ] 3. Discourse
- [ ] 4. Twitter
- [ ] 5. Instagram reps account

[2019-08-27 16:59] Penrosee opened #395 "OKR 2019 H1 - Reactivation through campaigns"
## Goal:
3 communities that haven’t participated before in campaigns are now joining campaigns regularly

## Related Issues & Links:
https://docs.google.com/document/d/1WhnLuPX8bsMQRxjAVXpbveJNjoqE-EVmFtcVdjYrk0Y/edit#
#

## Roles:

Responsible: Monica

Accountable: Monica

Supporting: Konstantina

Consulted: Rep Councils & Peers

Informed: Rep Councils & Peers

## Milestones:
- [x] Identify inact

[2019-08-27 17:55] yomanpatil commented on #394
Research on the data

https://reps.mozilla.org/api/remo/v1/activities/
https://reps.mozilla.org/reports/?query=Campaigns
https://reps.mozilla.org/reports/new/

[2019-08-28 09:12] MichaelKohler commented on #392
Figured I'd just do it now, as we already have quite some topics. https://discourse.mozilla.org/t/your-chance-to-be-involved-in-reps-program-decisions-and-tasks/44379

[2019-08-28 09:12] #392 closed, assigned to MichaelKohler

[2019-08-28 09:23] MichaelKohler opened #396 "Publish RoM for August 2019"
https://reps.mozilla.org/v/rep-of-the-month-for-august-4/

## Goal:
The RoM for August 2019 is published.

## Roles:

Responsible: @MichaelKohler / @ioana-chiorean
Accountable: @ioana-chiorean
Supporting: @couci

## Required:
- [x] Let Mentor write a text about RoM (@Michael Kohler, Due: September 10th)
- [x] Review text (@ioana-chiorean, Due: September 11th)
- [x] Publish blog post, discourse, re

[2019-09-10 16:15] couci commented on #388
@couci @nukeador  @yomanpatil and Shahid are reviewing the post, review ends on the Wednesday 12th. https://docs.google.com/document/d/1gRFI_xK2lHwzasg2rd2vaagEpXZSxphoDBbjL3AGCCY/edit

[2019-09-10 16:24] couci commented on #394
Mayur is getting the data under initiative: campaigns

[2019-09-10 17:58] MichaelKohler commented on #389
Town Hall "Reserve the date": https://discourse.mozilla.org/t/council-elections-fall-2019-reserve-date-for-town-halls/44877/2

[2019-09-10 20:18] MichaelKohler commented on #386
Discourse: https://discourse.mozilla.org/t/rep-of-the-month-july-2019/44885
Reps General and Telegram done
Blog post submitted for review, @couci please review and post it. Thanks!

[2019-09-11 11:34] couci commented on #386
published https://blog.mozilla.org/mozillareps/2019/09/11/rep-of-the-month-july-2019/

[2019-09-11 11:34] #386 closed, assigned to MichaelKohler, ioana-chiorean

[2019-09-17 16:13] couci commented on #388
Yofie is working on the presentation for mentors, mdm portal update will be co hosted for this weeks reps call

[2019-09-18 13:16] couci commented on #391
Video has information we need but needs update to include Mission Driven Mozillians program, campaigns and CPG

[2019-09-20 09:49] balapandu222-zz commented on #391
@couci Is there any specific onboarding time period? Based on that we need to plan the new structure for implementing their strategies.

[2019-09-23 09:34] ioana-chiorean commented on #389
Reps portal event: https://reps.mozilla.org/e/reps-council-elections-h2-2019-nominees/
Announcement elections: https://discourse.mozilla.org/t/important-council-elections-h2-2019-please-read/45716

[2019-09-25 18:56] MichaelKohler opened #397 "Publish RoM for September 2019"
## Goal:
The RoM for September 2019 is published.

## Roles:

Responsible: @MichaelKohler / @ioana-chiorean
Accountable: @ioana-chiorean
Supporting: @couci

## Required:
- [x] Let mentors write a text about RoM (@ioana-chiorean , Due: September 25th)
- [x] Review text (@MichaelKohler, Due: October 10th)
- [x] Publish blog post, discourse, reps-general and Telegram (@MichaelKohler/@couci, Due:  Oct

[2019-09-25 20:32] MichaelKohler commented on #396
Discourse: https://discourse.mozilla.org/t/rep-of-the-month-august-2019/45815
reps-general, Telegram and Reps Portal done

@nukeador could you please approve the blog post on the Reps portal as K is out? Thanks!

[2019-09-26 13:39] ioana-chiorean commented on #396
Thanks MK!

[2019-09-30 10:11] couci commented on #396
published https://blog.mozilla.org/mozillareps/2019/09/30/rep-of-the-month-august-2019/

[2019-09-30 10:11] #396 closed, assigned to MichaelKohler, ioana-chiorean

[2019-09-30 17:25] irvin commented on #387
## October action items (cancelled)

### Nominate (1st week of October) -10/10 15:00 UTC

- [x] [Ask Rep to start nominate for September Mozillian of the Month](https://discourse.mozilla.org/t/nomination-for-mozillian-of-the-month-august-starts-until-9-8/44312) (@shinadhingra18, Due: 10/1, Done: )
- [x] [Promoting on Rep Telegram channel](https://t.me/c/1020212813/24655) (@ , Due: 10/2, Done: )
-

[2019-09-30 21:42] ioana-chiorean commented on #389
Nominee from the event: https://reps.mozilla.org/e/reps-council-elections-h2-2019-nominees/

Verified:
https://reps.mozilla.org/u/shahbaz/
https://reps.mozilla.org/u/felipez3r0/
https://reps.mozilla.org/u/balapandu222/
https://reps.mozilla.org/u/bhuvanameenakshi/
https://reps.mozilla.org/u/lasr21/

Not eligible:
https://reps.mozilla.org/u/Liv/
https://reps.mozilla.org/u/smsnobin77/
https://reps.mo

[2019-10-01 16:11] couci commented on #393
once the townhalls and discourse are over @prathameshchavan will start communications to press for voting

[2019-10-02 17:53] ioana-chiorean commented on #389
Here is the tracking list:
* [Bala Subramaniyan](https://reps.mozilla.org/u/balapandu222/)
  - [x] [Answers](https://discourse.mozilla.org/t/important-council-elections-h2-2019-nominee-q-a/46004/4)
  - [ ] Video (optional)
  - [ ] Townhall 1 (preferred, but optional due to timezones/personal life)
  - [x] Townhall 2 (preferred, but optional due to timezones/personal life)
* [Bhuvana Meenakshi Kote

[2019-10-02 19:10] ioana-chiorean commented on #393
Thanks for the help here! 🎉

[2019-10-03 05:39] prathameshchavan commented on #393
https://docs.google.com/document/d/1MbQ12GpXLIEGuv20PkXSYKkkgtFfbMkfyZSmJbHIZc8/edit?usp=sharing

[2019-10-03 08:34] Mte90 commented on #393
That doc is public and configured that everyone can edit

[2019-10-03 08:36] Mte90 commented on #390
Seems that the document is public and everyone can edit it

[2019-10-03 09:28] irvin commented on #390
@Mte90 which docs? both mail draft and list has privilege requirement

[2019-10-03 09:30] Mte90 commented on #390
The planning doc, say that `everyone with the link can see it`

[2019-10-03 09:46] couci commented on #390
@Mte90 but that's by design, we don't have anything confidential in there so we want to give visibility to the Reps on what we are working on

[2019-10-03 13:11] Mte90 commented on #272
It is funny just over 2 years for this task and now we have the ignration in discourse that we was needed https://github.com/mozilla/discourse/issues/28#issuecomment-537888975

[2019-10-04 07:30] hmitsch commented on #272
@Mte90 thanks for the heads-up. I commented on the issue. Let's keep that ball moving.

[2019-10-04 09:20] couci commented on #391
hey @balapandu222 currently it's 3 months. I think it's better that we first design and base on our needs we decide the time rather the other way around.

[2019-10-04 15:41] balapandu222-zz commented on #391
@couci @yulireyji if possible please schedule a call with the onboarding review team. Based on everyone's views, we can decide whether we should revamp the orientation period structure or not.
Thank you!

[2019-10-07 11:46] ioana-chiorean commented on #389
Voting is here: https://reps.mozilla.org/v/reps-council-elections-h2-2019-3-spots/
Discussions and answers: https://discourse.mozilla.org/t/important-council-elections-h2-2019-nominee-q-a/46004

[2019-10-10 14:29] irvin commented on #387
Hi All, Due to the collapse at the same time as the Council vote, we're canceling this month's Mozillian of the Month campaign. We will return on 10/27 to start a new round, and welcome to preserve your nomination until then.

[2019-10-14 11:56] ioana-chiorean opened #398 "Publish RoM for October 2019"
https://reps.mozilla.org/v/rep-of-the-month-for-october-4/

## Goal:
The RoM for OCtober 2019 is published

## Roles:

Responsible: @MichaelKohler / @ioana-chiorean
Accountable: @ioana-chiorean
Supporting: @couci

## Required:
- [x] Let Mentor write a text about RoM (@ioana-chiorean  Due: 25th of October 2019)
- [x] Review text (@MichaelKohler, Due 30th of October 2019)
- [x] Publish blog post, di

[2019-10-14 17:30] MichaelKohler commented on #389
And here's the analysis: https://michaelkohler.github.io/reps-voting-analysis/#/ :)

[2019-10-14 17:32] MichaelKohler commented on #393
@prathameshchavan you might be interested in https://michaelkohler.github.io/reps-voting-analysis/#/

[2019-10-15 13:53] ioana-chiorean commented on #389
Council entry made by MK - https://wiki.mozilla.org/Reps/Council/History#15th_Council_-_.28October_2019.29
Discourse - https://discourse.mozilla.org/t/important-council-elections-h2-2019-results-and-next-steps/46850

[2019-10-16 18:26] MichaelKohler commented on #397
Discourse: https://discourse.mozilla.org/t/rep-of-the-month-september-2019/46955
Telegram and reps-general done as well.

@couci please approve the blog post and then close this issue, thanks!

[2019-10-17 11:12] couci commented on #397
done

[2019-10-17 11:12] #397 closed, assigned to MichaelKohler, ioana-chiorean

[2019-10-19 00:38] MichaelKohler commented on #379
Portal is now updated as well. Yay!

[2019-10-19 00:38] #379 closed, assigned to MichaelKohler

[2019-10-22 14:37] irvin commented on #390
Just sent the first mail to inactive rep, there are total 84 reps.

[2019-10-22 14:38] irvin commented on #390
Will wait for one week to see if any of they response.

[2019-10-22 16:24] irvin commented on #385
blocked by https://github.com/mozilla/Reps/issues/390

[2019-10-22 18:42] irvin commented on #387
# Swag status
- [x] Pranshu Khanna (Feb, by Shina)
- [x] Diky Arga (March, by Yofie)
- [x] Allen Wang (April, by Irvin)
- [ ] [Harsh Mehta](https://bugzilla.mozilla.org/show_bug.cgi?id=1590509) (July, by Pranshu)
- [ ] [Vishal Das](https://bugzilla.mozilla.org/show_bug.cgi?id=1590508) (August, by Ranjith)

[2019-10-26 11:16] MichaelKohler commented on #389
https://www.mozilla.org/en-US/about/leadership/#reps-council is updated

[2019-10-26 17:35] irvin commented on #387
## November action items

### Nominate (1st week of November) 10/28-11/10 15:00 UTC

- [x] [Ask Rep to start nominate for October Mozillian of the Month](https://discourse.mozilla.org/t/nomination-for-mozillian-of-the-month-august-starts-until-9-8/44312) (@shinadhingra18 , Due: 10/28, Done: 11/1)
- [x] [Promoting on Rep Telegram channel](https://t.me/c/1020212813/25437) (@shinadhingra18  , Due: 10

[2019-11-03 11:49] MichaelKohler commented on #398
Discourse: https://discourse.mozilla.org/t/rep-of-the-month-october-2019/48003
reps-general, Telegram and Portal (apart from date-back) is done.

@couci please approve the blog post and close this issue, thanks! :)

[2019-11-04 13:16] couci commented on #398
published https://blog.mozilla.org/mozillareps/2019/11/04/rep-of-the-month-october-2019/

[2019-11-04 13:16] #398 closed, assigned to MichaelKohler, ioana-chiorean

[2019-11-05 17:21] irvin commented on #390
so far we have 10 reps responsed, 2 of them would like to graduate.

[2019-11-15 02:53] asdofindia commented on #374
I believe a lot of people (reps and non-reps) aren't aware of this community coordinator role. Has this particular issue been finished? Can it be closed or updated?

[2019-11-19 18:35] irvin commented on #390
I had sent another contact mail to inactive rep and provide some activity to do
<img width="903" alt="截圖 2019-11-20 上午2 34 30" src="https://user-images.githubusercontent.com/165936/69175276-69da1800-0b3e-11ea-9ed5-ed969033fcf6.png">

[2019-11-19 18:36] irvin commented on #390
Status so far,

Listed 84 Reps (inactive > 6m)
11 responsed
4 updated
3 of them plan to leave

[2019-11-21 10:59] couci commented on #391
Onboarding outline here: https://docs.google.com/document/d/1PHxG1Dz_jaEZ8TrKgHI14i2P7ecGh9_yshhQ6Hf2kg8/edit

[2019-11-22 17:39] asdofindia commented on #391
@couci I disagree with this statement in the document:

The first part, the "application" does not work that very well. There is vagueness in the selection criteria and the application/screening process is not inclusive to people from various backgrounds and different cultures. I've written about these at https://discourse.mozilla.org/t/improving-application-and-on-boarding/48071?u=asdofindia in d

[2019-11-22 17:54] couci commented on #391
@asdofindia I understand that there are improvements needed. I don't agree with the statement: "inclusive to people from various backgrounds and different cultures" but that's your opinion and you are entitled to this.
As indicated in discourse please open a new issue. I would encourage you that when you are pointing issues, suggest alternatives on how those can be fixed.

[2019-11-22 18:38] asdofindia opened #399 "Improving application"
## Goal:
Improve the reps application process to make it more objective, remove unnecessary hurdles, and make the process enjoyable to applicants.

## Related Issues & Links:
Related to [#391](https://github.com/mozilla/Reps/issues/391#issuecomment-557629853)

## Roles:

Responsible:

Accountable:

Supporting:

Consulted:

Informed:

## Required:

## Changes suggested

I shall quote from the curre

[2019-12-10 15:49] yomanpatil commented on #394
Training via Reps weekly call done on 5th Dec

[2019-12-10 15:51] irvin commented on #390
Status so far,

Listed 84 Reps (inactive > 6m)

30/84 responded / updated (35%)
9 updated activity (10.7%, reached the goal)
5 plan to leaving to Alumni

[2019-12-17 14:15] felipez3r0 commented on #395
During the last month, I started talking with Mozillians to gather information about this.
I created [a document to input this information](https://docs.google.com/document/d/1K5J-DJGWGKHFl5iBAtAbw8E7XUNNOzjXhKrUnWC9EO0/edit?usp=sharing).

I plan to complete the document in January (after all the conversations).
Right now, I'm focusing on talking with 4 Mozillians (3 Reps, 1 Non-rep) from LATAM an

[2020-01-08 16:36] irvin commented on #390
updated:
Listed 84 Reps (inactive > 6m)

33/84 responded / updated (39%)
12 updated activity (14.2%, reached the OKR goal)
5 plan to leaving > moved to alumni, and cert sent on 9 Jan.

Next actions:
31 people is inactive > 12M and still not response
I will give them a notice, and move to alumni after two weeks (Feb 1)
draft mail - https://docs.google.com/document/d/1mnpajQLEqxta5JgYNl6YxiQtvTBFA_J

[2020-01-08 16:39] irvin commented on #390
I think we can close this and continue on #385

[2020-01-08 16:39] #390 closed, assigned to irvin

[2020-01-08 16:40] irvin commented on #385
31 people is inactive > 12M and still not response on #390

I will give them a notice, and move to alumni after two weeks (Feb 1)

Here is mail draft - https://docs.google.com/document/d/1mnpajQLEqxta5JgYNl6YxiQtvTBFA_J9fvKtMmYX5S4/edit?usp=sharing

[2020-01-14 13:56] felipez3r0 commented on #395
I shared some proposals at the document; they are drafts, they need more work and improvement, but they can be starting points to think about what we can change to solve those raised issues.

[2020-01-14 17:48] shahbaz17 commented on #388
Should I made changed to Milestones? as most of them are completed now
@couci

[2020-01-16 17:26] couci commented on #388
yes please do @shahbaz17

[2020-02-11 16:31] shahbaz17 commented on #388
Update:

I will be scheduling a call with all the mentors this month. After that, I will be creating the Survey and the result will be shared in the Council meeting.

[2020-02-11 17:12] yomanpatil commented on #394
Update

**Status:** Not completed
**Blocked:** Not much activities in the past, Hence we were unable to see/calculate the increase in the reporting done by the MDMs
**Next:** Can be included in the next OKR

[2020-02-12 02:57] irvin commented on #385
We had move 28 reps into Alumni last day (out of 31 reps, 5 reps responded, 2 additional step down), and we have 215 reps now.

[2020-02-12 02:58] irvin commented on #385
@couci we will need you to help remove them from NDA, sheet 1 from Line 113 to 140 https://docs.google.com/spreadsheets/d/1x5YfxZSINc6pUuJTJSJ3A8EiZwsxYxXGW6850jYCvlQ/edit?usp=sharing

[2020-02-12 06:33] prathameshchavan commented on #393
The Elections did not meet the expected voting % and I am sharing my observations for the figures to be low :
- Access to the Reps portal
Few of the Reps are not able to access the Reps portal due to the 2FA. Not everyone's 2FA is working as expected and hence many of the Reps were not able to login and vote.

- Unaware about the Elections
The Elections dates were announced and published on multip

[2020-02-12 06:33] #393 closed, assigned to nobody

[2020-02-12 11:40] Mte90 commented on #393
Some of those are technical issues that can be fixed, others are mainly the issue that reps are not aligned with what his doing the program.

So I think that is just matter of priorities. Maybe is better to move this discussion on Discourse?

[2020-02-12 17:03] felipez3r0 commented on #395
### Update
**Status:**
- Not completed

**Blocked:**
- Lack of information from the previous work, everything started from scratch when the council changed.

**Next:**
- Some issues raised during the interviews are related to the new OKRs: Reps Weekly Call (LATAM time - communication) and information about Mozilla direction/decision.
- More information here: [Inactive communities findings](https:/

[2020-02-13 10:26] Mte90 commented on #385
There is a list of those Reps?
Just to be sure that no one of my mentee is involved (I checked now just for control) .

[2020-02-13 11:14] irvin commented on #385
- Edoardo Viola
- Marcia Knous
- Yonggang Zhang
- ARKODYUTI SAHA
- Adriano Cupello
- Guillaume Dauvin
- Asma Islam SWAPNA
- Rezaul Huque Nayeem
- Ziggy Maes
- Tshepo Tamajobe
- Florian Merz
- Mubiru Jonathan
- Ernest Chiang
- Eduardo Enrique Gomez Valencia
- Faye Tandog
- Cynthia Pereira
- Gauthamraj Elango
- Shubham Geete
- Luigui Delyer
- Ednah Kiome
- Rutuja Surve
- Liza Duron
- Lebron Brian Ss

[2020-02-19 18:12] couci commented on #385
all necessary steps are done

[2020-02-22 20:10] #385 closed, assigned to irvin, couci

[2020-03-03 20:37] MichaelKohler opened #400 "Council Elections H1 2020"
## Goal:
Hold the Council elections in order to occupy the spots that are free after the term of one year is ending for:

🎓Shahid
🎓Prathamesh
🎓Mayur
🎓Irvin

We have 4 open spots.

## Success:
The elections take place and we have 4 Council members

## Related Issues & Links:
- Previous Elections #15, #114, #208, #284, #327, #366, #389

## Roles:
Owner: @ioana-chiorean
Involved: @couci, Reps Peers
S

[2020-03-03 20:38] MichaelKohler commented on #400
@ioana-chiorean @couci does this timeline work for you?

[2020-03-16 15:59] shahbaz17 commented on #388
I have scheduled two mentor's call and the report was presented to Council in Council meeting[2020-03-10](https://reps.mozilla.org/e/reps-council-weekly-meeting-2020-3-10/) and the details can be found [here](https://docs.google.com/document/d/1GnUZBhZmEDAZufj78j2IjAovX4CMwTSUVG4OR1QhXvY/edit).

The Report will be shared with the team working on Mentors listed on [this discourse post](https://disc

[2020-03-16 15:59] #388 closed, assigned to nobody

[2020-03-23 13:08] ioana-chiorean commented on #400
Done:
- Posted for details and visibility in [Friends of the tree. ](https://wiki.mozilla.org/WeeklyUpdates/2020-03-23#Friends_of_Mozilla)
- Q&A for nominees: https://discourse.mozilla.org/t/important-council-elections-h1-2020-nominee-q-a/56418
- Mail sent to nominees with next steps

Nominees:

* [Bala Subramaniyan](https://reps.mozilla.org/u/balapandu222/)
* [Bhuvana Meenakshi Koteeswaran](https

[2020-03-23 13:11] ioana-chiorean commented on #400
Here is the tracking list:

* [Bala Subramaniyan](https://reps.mozilla.org/u/balapandu222/)
- [x] Replied to email to confirm
- [x] Answers
- [ ] Video (optional)
- [ ] Townhall (optional)
* [Bhuvana Meenakshi Koteeswaran](https://reps.mozilla.org/u/bhuvanameenakshi/)
- [x] Replied to email to confirm
- [x] Answers
- [ ] Video (optional)
- [ ] Townhall (optional)
* [Faisal Aziz](https://reps.mozil

[2020-03-24 20:45] #389 closed, assigned to MichaelKohler, ioana-chiorean, prathameshchavan, anknite

[2020-03-31 16:17] felipez3r0 opened #401 "O2KR1:M1: Gather information/data about where Reps are more active"
## Goal:
Gather information/data about where Reps are more active (to focus our communication)

## Related Issues & Links:
https://docs.google.com/document/d/18NsmLsqJsebAxmm6vEc1A7ARuLFpoZn6cnT3VRgzpek/edit

## Roles:

Responsible: @felipez3r0
Accountable: @felipez3r0
Supporting: @couci
Consulted: Reps, Rep Councils & Peers
Informed: Reps, Rep Councils & Peers

## Required:
- [x] Collect data fro

[2020-03-31 16:23] felipez3r0 opened #402 "O2KR1:M4: Set a step for the council to publish the info"
## Goal:
Set a step for the council to publish the info about Mozilla’s goals and direction to Reps

## Related Issues & Links:
https://docs.google.com/document/d/18NsmLsqJsebAxmm6vEc1A7ARuLFpoZn6cnT3VRgzpek/edit

## Roles:

Responsible: @felipez3r0
Accountable: @felipez3r0
Supporting:
Consulted: Rep Councils & Peers
Informed: Rep Councils & Peers

## Required:
- [ ] Get insights from M1:M2:M3
- [

[2020-04-03 06:00] shahbaz17 opened #403 "O1KR1:M3: Awareness campaign for the activity in matrix"
## Goal:
Awareness campaign for the activity in matrix

## Related Issues & Links:
https://docs.google.com/document/d/1nweZ_WIFXDULk0VRZqon7dfeS39BKFWey4KjFej5srg/edit#

## Roles:

Responsible: @shahbaz17

Accountable: @shahbaz17

Supporting: @shinadhingra18

Consulted: Rep Councils

Informed: Reps, Reps Council & Peers

## Required:
- [x] Gather all the information on the latest and current activ

[2020-04-06 19:00] felipez3r0 commented on #401
Link to the Report:
https://docs.google.com/document/d/1wMWjrkROZRe6aQMKFUebk2ueqKlv3GJ8oDVqj9VIvaY

[2020-04-12 19:23] MichaelKohler commented on #400
I've received the GitHub username and a picture from each of the new members. I will add all new Council members to the repo tomorrow, and I will also create a PR for the leadership page this week.

[2020-04-14 14:40] yomanpatil opened #404 "O1KR1:M1: List of activities on community portal"
## Goal:
Identify List of activities on community portal

## Roles:

Responsible: @yomanpatil

Accountable: @yomanpatil

Supporting:

Consulted:

Informed:

## List of activities:
- [x] Test Firefox Voice
- [x] Contribute To Common Voice
- [x] Answer Support Questions
- [x] Contribute Documentation
- [x] Localize Mozilla
- [ ] Dive Into Rust
- [ ] WebVR Camp
- [ ] Build Your Own Extension

[2020-04-14 17:21] MichaelKohler commented on #400
All new Council members now have write permission on this repo (they need to accept the invite). Additionally I've created the Leadership update PR: https://github.com/mozilla/bedrock/pull/8776

[2020-04-17 15:49] felipez3r0 commented on #401
Report posted:
https://discourse.mozilla.org/t/gather-information-data-about-where-reps-are-more-active-report/58187

[2020-04-17 15:49] #401 closed, assigned to nobody

[2020-04-19 20:53] MichaelKohler commented on #400
Leadership page is updated: https://www.mozilla.org/en-US/about/leadership/#reps-council

[2020-04-21 16:27] prathameshchavan opened #405 "O1KR1:M2: Run an information session based on categories and interest"
## Goal:
Create a discourse post and talk in the Reps call about the current categories and interest areas where the Reps can contribute.

## Roles:

Responsible: @prathameshchavan

Accountable: @prathameshchavan

Supporting:

Consulted:

Informed:

## Required:
- [x] Create a discourse post
- [x] Share the post with the community
- [x] Talk about the same in the Reps weekly call

[2020-04-21 18:13] irvin opened #406 "O2KR1:M3: Write a document to explain why the information is important to the Rep"
## Goal: Write a document to explain why the information is important to the Rep
[One line goal description]

Name of the objective: Two strategic news items are communicated to active Reps
KR1: Processes are in place to get Mozilla’s goals and direction to Reps

## Related Issues & Links:
- https://github.com/mozilla/Reps/issues/401
- https://github.com/mozilla/Reps/issues/402

## Roles:

Respons

[2020-04-22 09:11] prathameshchavan commented on #405
Discourse link : https://discourse.mozilla.org/t/current-categories-and-interest-areas-where-the-reps-can-contribute/58473

[2020-04-23 16:33] prathameshchavan commented on #405
I spoke about the current projects in focus on the Reps weekly call. So, this OKR could be marked as resolved.

[2020-04-23 16:34] #405 closed, assigned to nobody

[2020-04-30 18:18] MichaelKohler opened #407 "Publish RoM for April 2020"
https://reps.mozilla.org/v/rep-of-the-month-for-april-4/

## Goal:
The RoM for April 2020 is published

## Roles:

Responsible: @MichaelKohler / @ioana-chiorean
Accountable: @ioana-chiorean
Supporting: @couci

## Required:
- [x] Let Mentor write a text about RoM (@MichaelKohler, Due: 7th of May)
- [ ] Review text (@MichaelKohler/@ioana-chiorean, Due: 9th of May)
- [ ] Publish blog post, discourse,

[2020-05-14 19:02] Timmaks commented on #199
i think this issue can be closed, all reps have a mentor at the moment

[2020-05-14 19:04] Timmaks commented on #29
do we need this issue still open?

[2020-05-14 19:05] Timmaks commented on #272
I think this issue can be closed

[2020-05-14 19:06] Timmaks commented on #360
do we need this again or shall we close this issue

[2020-05-14 19:07] #378 closed, assigned to nobody

[2020-05-14 19:15] Timmaks commented on #400
And the portal?

[2020-05-14 19:36] #29 closed

[2020-05-14 19:36] #360 closed, assigned to ioana-chiorean

[2020-05-14 19:37] #272 closed, assigned to nobody

[2020-05-15 12:30] Mte90 commented on #272
Just to understand, the mailing list was migrated to discourse? Because I didn't saw any announcement.

[2020-05-18 12:09] couci commented on #400
Portal also updated (both community and reps portal). Old council members will remain in the matrix channel for giving the new council members advice

[2020-05-21 18:21] Timmaks opened #408 "Onboarding Screening Team 2020-2 applications"
## Goal:
The current onboarding team is all ready 2 years in this configuration
As mentioned on https://wiki.mozilla.org/Reps/Webinar/Screening this should be renewed every 6 months

## Roles:

Responsible: @Timmaks

Accountable: @Timmaks

Supporting: current onboarding team

Consulted:

Informed:

## Required:
- [x] Post on Discource and gather applications (@Timmaks , Due: Jun 7th)
- [x] Discuss

[2020-05-24 13:56] Timmaks commented on #408
discource post: https://discourse.mozilla.org/t/join-the-onboarding-screening-team-2020-2/60699

[2020-05-24 17:38] gaby2300 commented on #408
Hello. I am applying again because I love this role! I understand almost every other applicant will be chosen instead of me, but just in case you need one more, I will be available!

[2020-05-25 15:20] tanzeelkhan commented on #408
Hi Tim,
I'm available for next 6 months and would love to be a part of this team to help onboard the new reps. :)

[2020-05-25 16:51] cseas commented on #408
Hi! I'd love to help with the onboarding of new Reps and am available for the following 6 months.

[2020-05-25 18:19] ioana-chiorean commented on #400
Anything else to be done here?

[2020-05-25 18:21] #199 closed, assigned to nobody

[2020-05-26 05:53] Ruwan-Ranganath commented on #408
Hi Team,
Will be available for the role next 6 month period and so on.

Thank you.

[2020-05-28 08:27] rtsayles commented on #408
Hi everyone,
I would love to rejoin and continue to cover the North America region.

Robby :)

[2020-05-31 09:36] abhiaecs commented on #408
Hello,
I'm interested in being a part of this team and I'll be available for the coming 6 months.
Thank you :)

[2020-05-31 17:35] MichaelKohler commented on #400
@couci is there a blog post planned?

[2020-06-02 16:58] daviddagb2 commented on #408
Hello, my name is David Gonzalez Blanchard, i am from Nicaragua (Central America), and i am interested in being part of the onboarding team. I am available for the coming 6 months. I want to apply because i undertand that this role is very important for the Reps program and i want to help.

cheers.

[2020-06-03 17:41] fernandofedora commented on #408
Hello, I am Fernando Espinoza, I am from Nicaragua, I am available for 6 months, I know that it is a very important role for the community and I would like to support, I am willing to dedicate as much time as necessary for this role

Cheers

[2020-06-04 16:18] thehashrocket commented on #408
Hi! I'm Jason Shultz and from the Desert Southwest of the United States. I have availability over the next six months and would appreciate the opportunity to help out with this work.

[2020-06-04 16:43] siddhartharao17 commented on #408
Hello Team! I'm Siddhartha and I'd love to take on this role and help out from the North America region. I'm currently based in California, US. I'm available for the next 6 months and also have experience with reviewing (conference talk) applications. So, I could use some of the common skills that would be required for onboarding review work in this role.

[2020-06-07 14:58] Timmaks commented on #408
Thanks all, the council will review this coming week

[2020-06-13 16:17] gaby2300 commented on #408
Hello,

Will the Council consider genre diversity among other criteria? If I'm not
mistaken, all applicants are men.

El dom., 7 de jun. de 2020 a la(s) 11:58, T.M. van den Broek (
notifications@github.com) escribió:

[2020-06-15 22:06] #400 closed, assigned to MichaelKohler, ioana-chiorean, couci

[2020-06-15 22:41] #373 closed, assigned to yomanpatil

[2020-06-15 22:41] #374 closed, assigned to mermi

[2020-06-15 22:41] #369 closed, assigned to nobody

[2020-06-15 22:43] #394 closed, assigned to nobody

[2020-06-15 22:44] #391 closed, assigned to nobody

[2020-06-15 22:44] #387 closed, assigned to bobreyes, irvin, smsnobin77, shinadhingra18

[2020-06-15 22:47] MichaelKohler commented on #395
I'm closing this. Please open specific issues if necessary. Thanks!

[2020-06-15 22:47] #395 closed, assigned to felipez3r0

[2020-06-23 16:59] felipez3r0 opened #409 "02KR2:M3: Refine the guideline for all Reps"
## Goal:
Refine the guideline (about how to share the goals with the new Reps and how they share with their community) for all Reps

## Related Issues & Links:
https://docs.google.com/document/d/18NsmLsqJsebAxmm6vEc1A7ARuLFpoZn6cnT3VRgzpek/edit

## Roles:

Responsible: @felipez3r0
Accountable: @felipez3r0
Supporting: Francesca
Consulted: Rep Councils & Peers
Informed: Rep Councils & Peers

## Requ

[2020-06-23 17:02] felipez3r0 opened #410 "02KR2:M4: Train the Reps to discuss with the community about Mozilla goals according to the guideline"
## Goal:
Train the Reps to discuss with the community about Mozilla goals according to the guideline

## Related Issues & Links:
#409

## Roles:

Responsible: @felipez3r0
Accountable: @felipez3r0
Supporting:
Consulted: Rep Councils & Peers
Informed: Rep Councils & Peers

## Required:
- [ ] Wait for M3 (#409)
- [ ] Prepare a presentation
- [ ] Get feedback from the council
- [ ] Organize two dates

[2020-06-28 15:11] Timmaks commented on #408
The new team is there, congrats to the new onboarding team:

David Gonzalez Blanchard (rep)
Tanzeel Khan (rep)
Siddhartha Rao (rep)
Robby Sayles (rep)
Manel Rhaiem (council)

[2020-07-05 12:52] shahbaz17 opened #411 "O1KR1:M4: Run awareness campaign for the FireFox Relay campaign"
## Goal:
Run awareness campaign for the Firefox Relay campaign

## Related Issues & Links:
https://docs.google.com/document/d/1nweZ_WIFXDULk0VRZqon7dfeS39BKFWey4KjFej5srg/edit#

## Roles:

Responsible: @shinadhingra18

Accountable: @shinadhingra18

Supporting: @couci

Consulted: @couci

Informed:

## Required:
- [x] Get a current update of the Firefox Relay campaign.
- [x] Draft content for the ca

[2020-07-05 12:59] shahbaz17 opened #412 "O1KR1:M5: Measure Reps on O1KR1"
## Goal:
Get insights and prepare Report on milestone O1KR1

## Related Issues & Links:
https://github.com/mozilla/Reps/issues/404 https://github.com/mozilla/Reps/issues/405 https://github.com/mozilla/Reps/issues/403 https://github.com/mozilla/Reps/issues/411
https://docs.google.com/document/d/1nweZ_WIFXDULk0VRZqon7dfeS39BKFWey4KjFej5srg/edit#

## Roles:

Responsible: @shahbaz17

Accountable: @sha

[2020-07-05 13:04] shahbaz17 opened #413 "O1KR1:M6: Create a small guideline on how people can talk about how to contribute to Mozilla."
## Goal:
Create a small guideline on how people can talk about how to contribute to Mozilla.

## Related Issues & Links:
https://docs.google.com/document/d/1nweZ_WIFXDULk0VRZqon7dfeS39BKFWey4KjFej5srg/edit#

## Roles:

Responsible: @shinadhingra18

Accountable: @shinadhingra18

Supporting: @shahbaz17

Consulted: @couci

Informed: Council

## Required:
- [x] Gather all the information and report fr

[2020-07-05 13:07] shahbaz17 opened #414 "O1KR1:M7: Work with localizers and designers on helping with the guideline marketing side"
## Goal:
Work with localizers and designers on helping with the guideline marketing side

## Related Issues & Links:
https://github.com/mozilla/Reps/issues/413
https://docs.google.com/document/d/1nweZ_WIFXDULk0VRZqon7dfeS39BKFWey4KjFej5srg/edit#

## Roles:

Responsible: @shahbaz17

Accountable: @shahbaz17

Supporting: @shinadhingra18

Consulted: @couci

Informed: Council

## Required:
- [x] Get gu

[2020-07-05 13:11] shahbaz17 opened #415 "O1KR1:M8: Measure Reps on O1KR1"
## Goal:
Measure Reps on O1KR1

## Related Issues & Links:
https://github.com/mozilla/Reps/issues/404 https://github.com/mozilla/Reps/issues/405 https://github.com/mozilla/Reps/issues/403 https://github.com/mozilla/Reps/issues/411 https://github.com/mozilla/Reps/issues/412 https://github.com/mozilla/Reps/issues/413 https://github.com/mozilla/Reps/issues/414
https://docs.google.com/document/d/1nweZ

[2020-08-15 11:34] MichaelKohler opened #416 "Further questions after decomissioning Reps Portal"
## Goal:
Get answers to the following questions:

- [ ] We broke the frontend (probably not the RSS feed) of the Reps Planet -> what do we do? http://planet.mozillareps.org/
- [ ] How are we going to deal with Alumni? Do we create a separate group on the Portal we can move Alumnis to? https://wiki.mozilla.org/Reps/Alumni
- [ ] Rep of the Month - https://wiki.mozilla.org/Reps/Rep_of_the_Month
- [ ]

[2020-09-06 15:38] #414 closed, assigned to shahbaz17, shinadhingra18

[2020-09-06 15:39] shinadhingra18 commented on #414
Closing this issue as all tasks are completed.

[2020-09-06 15:40] shinadhingra18 commented on #414
https://discourse.mozilla.org/t/help-localize-the-guide-for-activities-and-campaigns/67083

[2020-09-06 19:32] MichaelKohler opened #417 "Reps Council Elections - H2 2020"
## Goal:
Hold the Council elections in order to occupy the spots that are free after the term of one year is ending for:

🎓 Shahbaz
🎓 Felipe
🎓 Luis
🎓 Manel (replaced by Mayur)

We have 4 open spots.

## Success:
The elections take place and we have 4 Council members

## Related Issues & Links:
- Previous Elections #15, #114, #208, #284, #327, #366, #389, #400

## Roles:
Owner: @ioana-chiorean
Invo

[2020-09-07 21:48] MichaelKohler opened #418 "Decide on Voting Tool for Elections"
## Goal:
We have a voting tool for the next Council elections.

## Related Issues & Links:
#417

## Roles:

Responsible: @MichaelKohler
Accountable: Reps Peers
Supporting: Tim, Shahbaz, Luis
Consulted: Reps Peers
Informed: Reps

## Required:
- [x] Brainstorm voting tools (Sep 10th, Tim, Shahbaz, Luis)
- [ ] Finish analysis (Sep 13th, Michael)
- [ ] Decide on tool (Sep 20th, Reps Peers)
- [ ] Prepa

[2020-09-07 21:58] MichaelKohler commented on #418
From initial brainstorming:

# Matrix Bot

* No good bot found so far
* Unclear if integrity and confidentiality can be kept
* How would we avoid double votes?

# moderator.mozilla.org

* We could use an access group (no new login needed)
* We could use questions as nominees, and then everyone can vote anonymously on them
* However this leaks the current status of the voting to anyone who hasn't v

[2020-09-10 16:17] rzr commented on #418
Should the tool be opensource and/or decentralized ?

[2020-09-10 16:19] Mte90 commented on #418
I know that other projects use Helios

[2020-09-10 17:24] MichaelKohler commented on #418
Preferable, but definitely not a hard requirement.

[2020-09-10 19:10] gaby2300 commented on #418
How did we vote until now? Did we use a tool?

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Libre
de virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

El jue., 10 de sep. de 2020 a la(s) 14:24, Michael Kohler (
no

[2020-09-10 21:23] MichaelKohler commented on #418
We've used the voting functionality integrated into the Reps Portal. Now after the move to the Community Portal we need to find something else we can use.

[2020-09-10 21:29] gaby2300 commented on #418
Sure, thanks for your answer!

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Libre
de virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

El jue., 10 de sep. de 2020 a la(s) 18:23, Michael Kohler (
notifications@gith

[2020-09-13 09:48] MichaelKohler commented on #418
We have tested HeliosVoting, here's the summary so far (waiting to hear back from a few people on this):

* Generally we liked it
* It's not super nice design, but it does what it's supposed to do
* Some of the security features make the voting more confidential than it was on the Reps Portal
* We can easily provide a quick "how to vote" tutorial, including information for verification and all the

[2020-09-14 10:41] felipez3r0 commented on #418
I have used the HeliosVoting on another occasion and I believe it is a good choice for the elections :smiley:

[2020-09-19 13:08] MichaelKohler commented on #418
Thanks everyone for the help! As the test was successful we're gonna go with HeliosVoting for this election. I'll write a tutorial and will publish it on time before the election voting starts.

[2020-09-19 13:08] #418 closed, assigned to lasr21, shahbaz17, Timmaks

[2020-09-20 13:15] Timmaks opened #419 "Update onboarding wiki pages to reflect the changes on Onboarding, reps program and the Portal"
## Goal:
All the onboardingpages updated

## Related Issues & Links:
#416

## Roles:

Responsible: @Timmaks

Accountable: @Timmaks

Supporting: @francesca

Consulted: Reps-council

Informed:

## Required:
- [x] https://wiki.mozilla.org/Reps/Webinar/Screening
- [x] https://wiki.mozilla.org/Reps/Application_Process/Selection_Criteria
- [x] https://wiki.mozilla.org/Reps/Webinar
- [x] https://wiki.moz

[2020-09-20 13:16] Timmaks commented on #419
https://wiki.mozilla.org/Reps/Application_Process/Selection_Criteria
=>
https://docs.google.com/document/d/1UVwFMuedWFBRrkqKuq5_hFdekDsmg8egq7rH1DvqHFE/edit

the google doc need some edits => change to people.mozilla.org

[2020-09-20 13:21] Timmaks commented on #419
do we make new pages and let the webinarpages live as the are and make new pages with /teachable/screening or are we replacing the text?

[2020-09-20 13:24] Timmaks commented on #419
![Reps+Onboarding+Process+v2](https://user-images.githubusercontent.com/9842548/93712310-5b410080-fb55-11ea-847a-ea939eae6113.png)

https://docs.google.com/document/d/1RIh_cog22X3HF4XDVsljO2Ebkxd_zV3NyKGrIKP3tcY/edit#heading=h.gyx5yihnc7z5

[2020-09-20 13:29] Timmaks commented on #55
is this issue still active/relevant

[2020-09-20 13:51] MichaelKohler commented on #419
I guess the teachable is a kind of webinar, so that would fit. I'd suggest to replace the text, then we don't need to change links to it.

[2020-09-20 13:52] #407 closed, assigned to MichaelKohler

[2020-09-20 13:53] #408 closed, assigned to Timmaks

[2020-09-20 13:54] #382 closed, assigned to nobody

[2020-09-20 14:58] MichaelKohler opened #420 "Decide future of Reps Planet"
## Goal:
We know what to with the the Reps Planet:  http://planet.mozillareps.org/

## Roles:

Responsible: @MichaelKohler

## Required:
- [x] Write discourse post
- [x] Wait for feedback in Discourse post
- [x] Remove if not major objections (Website + SOP)

[2020-09-20 14:59] MichaelKohler opened #421 "Figure out how to handle Alumni"
## Goal:
We know how to handle Alumni and update https://wiki.mozilla.org/Reps/Alumni.

## Roles:

Responsible: tbd

Accountable: Reps Council

Supporting: tbd

Consulted: tbd

Informed: tbd

## Required:
- [ ] tbd

[2020-09-20 15:00] MichaelKohler opened #422 "Define Future for Rep of the Month"
## Goal:
We know what we're gonna do with Rep of the Month in the future.

## Roles:

Responsible: tbd

Accountable: tbd

Supporting: tbd

Consulted: tbd

Informed: tbd

## Required:
- [ ] tbd

[2020-09-20 15:02] MichaelKohler opened #423 "Update Reporting Wiki Pages"
## Goal:
Reporting Wiki pages are up to date with the current process:

https://wiki.mozilla.org/Reps/SOPs/Reports
https://wiki.mozilla.org/Reps/SOPs/Reports/Recruitment

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:

Responsible: Francesca

Accountable: Reps Council

## Required:
- [x] Pages are updated to reflect new process

[2020-09-20 15:02] MichaelKohler commented on #55
Closing this in favor of #422

[2020-09-20 15:02] #55 closed

[2020-09-20 15:02] MichaelKohler commented on #416
This is a bit too much work at once, I've splitted everything up:

https://github.com/mozilla/Reps/issues/422
https://github.com/mozilla/Reps/issues/423
https://github.com/mozilla/Reps/issues/420
https://github.com/mozilla/Reps/issues/421

[2020-09-20 15:02] #416 closed, assigned to nobody

[2020-09-20 15:03] MichaelKohler commented on #421
Might be as easy as to create an Alumni group on the Community Portal and move from the Reps Group to that one?

[2020-09-20 15:17] MichaelKohler commented on #420
So, it's not only the links to the Reps Portal being broken, the whole process is broken now. This was queried through the Reps Portal. We also do not have the URLs for the blogs anywhere to query, so this is definitely not an easy fix.

Honestly, the best way forward here is probably to tell Reps to get added to the normal Mozilla Planet.

[2020-09-21 09:37] Mte90 commented on #420
I am wondering if still makes sense.
I was following it (and not able to publish there, I don't remember why).
How many reps still have a blog? Since it is not mandatory anymore to write reports of events and other stuff I think that was unused and maybe not read at all.

[2020-09-21 10:18] MichaelKohler commented on #420
The traffic in the first half of the year was quite low. I'd say moving these over to the normal Mozilla Planet (if Reps want to) would make sense. I honestly don't think figuring out a way to fix this is worth the effort.

[2020-09-21 10:19] Mte90 commented on #420
So if we let to add in the mozilla planet we need to add a way/SOP to remove from there when a rep is alumni.

[2020-09-21 11:47] ioana-chiorean commented on #417
Hi all - here are the nominations received. We are still in progres of validation but we will start the rest of the process.

* [Pranshu Khanna](https://people.mozilla.org/p/pransh15)
   - [ ] Community profile
   - [x] Answer to confirmation mail
   - [x] [Discourse Answers](https://discourse.mozilla.org/t/important-council-elections-h2-2020-nominees-q-a/67890/3?u=ioana)
   - [ ] Townhall
* Visha

[2020-09-21 14:21] MichaelKohler commented on #420
No. The Mozilla Planet has rules - including providing a tagged feed: https://wiki.mozilla.org/Planet_Mozilla. If a Mozillian is not a Rep anymore, that doesn't mean that they should be removed from the Mozilla Planet, any Mozillian can be part of that as long as the tagged feed contains Mozilla related posts.

[2020-09-22 21:17] ioana-chiorean commented on #422
Can we add this to our table after elections?
Opening for discussion on discourse?
Debate in Thursday's call?
Check other rewards program?

[2020-09-22 22:04] MichaelKohler commented on #420
From Juli 2019 to Juli 2020 we had 18 posts on the Planet. 10 of these were from the official Reps blog.

[2020-09-23 07:54] Mte90 commented on #420
So I think that the needing of that tool is quite useless as today.

[2020-09-23 08:53] Francescaminelli commented on #421
I copied a list of alumni from the archived website, and added those that have been become alumni after the website shutdown. I am not sure about maintaining a community portal group that would be essentially inactive. But let me know if/where you think we should share the list of alumni.

[2020-09-23 08:56] Mte90 commented on #421
A list of alumni should be reachable somewhere, maybe in the wiki with a link to mozillians/people?

[2020-09-23 09:00] MichaelKohler commented on #421
Thanks for the input. We also have a list at https://github.com/mozilla/reps-archive/tree/gh-pages/people/alumni.

I'll take this up after the elections.

[2020-09-25 08:28] ioana-chiorean commented on #417
All nominees were cleared on the CPG check!

[2020-09-27 09:42] Timmaks commented on #420
totally agree

[2020-10-01 13:00] Timmaks opened #424 "decommission https://mozilla.github.io/Reps/newreps/"
## Goal:
The page on https://mozilla.github.io/Reps/newreps/ is really outdated.

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:

Responsible: Tim

Accountable: reps council

[2020-10-01 13:01] Timmaks commented on #424
do we remove the page or do we add a banner to show it is not maintained anymore?

[2020-10-01 13:07] MichaelKohler commented on #424
Let's add a banner

[2020-10-04 16:40] Timmaks commented on #424
https://github.com/mozilla/Reps/pull/425

made something quick, feel free to make it better, cleaner

[2020-10-05 18:23] MichaelKohler commented on #417
Results: https://discourse.mozilla.org/t/important-council-elections-h2-2020-results-and-next-steps/68643/4

[2020-10-05 18:23] MichaelKohler commented on #424
Thank you!

[2020-10-05 18:23] #424 closed, assigned to nobody

[2020-10-06 17:03] MichaelKohler commented on #420
https://discourse.mozilla.org/t/deprecation-of-reps-planet/68703

[2020-10-11 17:05] MichaelKohler commented on #419
Also https://wiki.mozilla.org/Reps/SOPs/Joining will need an update (or remove content and just link to the sub pages so we do not need to maintain two versions of the same content).

[2020-10-13 20:45] MichaelKohler commented on #417
PR to update the leadership page: https://github.com/mozilla/bedrock/pull/9541

[2020-10-15 11:13] Francescaminelli commented on #423
Reps report is now updated: https://wiki.mozilla.org/Reps/SOPs/Reports

[2020-10-15 20:49] MichaelKohler commented on #423
Thanks @Francescaminelli. I've updated https://wiki.mozilla.org/Reps/SOPs/Reports/Recruitment to include a banner with a link to the general updated Reports SOP. I think we can close this issue then. Thanks for your efforts!

[2020-10-15 20:49] #423 closed, assigned to nobody

[2020-10-16 09:39] Francescaminelli commented on #423
Great, thanks!

[2020-10-20 17:47] Francescaminelli commented on #417
New council members added to the Slack access group

[2020-10-20 17:47] MichaelKohler commented on #420
There was no objection on Discourse, so I marked the SOP as deprecated and updated the Discourse post: https://discourse.mozilla.org/t/deprecation-of-reps-planet/68703/3?u=mkohler. I'll tell tasos that he can shut it down.

[2020-10-20 17:47] #420 closed, assigned to MichaelKohler

[2020-10-30 11:39] Francescaminelli commented on #417
New council member added to the community portal group, old members removed

[2020-11-17 15:44] Francescaminelli commented on #419
This page has now been updated: **https://wiki.mozilla.org/Reps/Webinar/2017-04-25**

[2020-11-19 14:45] Timmaks commented on #419
the page is renamed to  https://wiki.mozilla.org/Reps/Webinar/Teachable

[2020-12-04 17:12] Francescaminelli commented on #417
Outgoing Council members were removed from Matrix channel

[2021-01-11 16:11] ioana-chiorean commented on #417
Hey @Francescaminelli! What's left to be done here?

[2021-01-13 14:15] Francescaminelli commented on #417
All done @ioana-chiorean

[2021-01-13 15:03] #417 closed, assigned to MichaelKohler, ioana-chiorean, anknite

[2021-02-05 14:25] couci commented on #419
/Joining page was updated

[2021-02-16 12:22] couci commented on #419
should we redirect the /webinar to /webinar/teachable? Or should the /webinar get a banner on top saying that was the old procedure for the new one check the /webinar/teachable?

I am inclining to the second one so we keep the historic data. @Timmaks thoughts?

[2021-02-21 16:07] Timmaks commented on #419
i like the idea of a banner.

[2021-02-23 16:15] couci commented on #419
updated @Timmaks let me know what you think https://wiki.mozilla.org/Reps/Webinar

[2021-02-23 17:15] couci commented on #419
https://wiki.mozilla.org/Reps/Webinar/2017-04-25 was moved back on old structure and banner was added as well as for https://wiki.mozilla.org/Reps/Webinar/2017-04-04

[2021-02-23 19:41] MichaelKohler commented on #419
https://wiki.mozilla.org/Reps/Webinar now has a banner that links to https://wiki.mozilla.org/Reps/Webinar/Teachable. However https://wiki.mozilla.org/Reps/Webinar/Teachable redirects to https://wiki.mozilla.org/Reps/Webinar/2017-04-25, which then itself has the note on top. At this point clicking on the teachable link in the note is basically a loop to the same page.

Did https://wiki.mozilla.org

[2021-02-24 11:55] couci commented on #419
Banners and redirects were fixed. On the teachable page, there is an overlap with the /joining page. I will look into it and make it more clear

[2021-03-07 19:50] MichaelKohler opened #426 "Reps Council Elections H1 2021"
## Goal:
Hold the Council elections in order to occupy the spots that are free after the term of one year is ending for:

🎓Shina
🎓Tim
🎓Faisal

We have 3 open spots.

## Success:
The elections take place and we have 3 Council members

## Related Issues & Links:
- Previous Elections #15, #114, #208, #284, #327, #366, #389, #400, #417

## Roles:
Owner: @ioana-chiorean
Involved: @couci, Reps Peers
Sup

[2021-03-10 15:51] #411 closed, assigned to shinadhingra18

[2021-03-10 15:59] #406 closed, assigned to irvin, lasr21

[2021-03-10 16:05] #404 closed, assigned to nobody

[2021-03-10 16:13] #413 closed, assigned to shinadhingra18

[2021-03-10 16:13] #415 closed, assigned to shahbaz17, shinadhingra18

[2021-03-10 16:16] #403 closed, assigned to nobody

[2021-03-10 16:39] Francescaminelli opened #427 "Mentorship Project - Mentorship communication"
## Goal:
Improve communication between Council and Reps Mentors

## Related Issues & Links:
https://docs.google.com/document/d/1s3SVQv7kXedJDUSl980pCUL2DqEo6Zg-JFbhMFxaWmU/edit

## Roles:

Responsible:

David

Accountable:

Supporting:
Francesca
Tim
Faisal

Consulted:

Informed:

## Required:
- [x] Organize a good first Mentorship Calls
- [x] Organize a template for the Mentorship Call
- [x] Make

[2021-03-10 17:33] Francescaminelli opened #428 "Mentorship Project - Define mentors role and activities"
## Goal:
Define mentor’s role and activities

## Related Issues & Links:
https://docs.google.com/document/d/1rZVcUTcRwjfP1afRM9fvDCXCxw9zbUfgJgnY-UsEGxY/edit

## Roles:

Responsible:

Francesca

Accountable:

Supporting:
Lidya
Faisal

Consulted:

Informed:

## Required:
- [x] Prepare a description of what are the new Role and activities for the mentors
- [x] Prepare a template to conduct once-a-ye

[2021-03-10 18:23] Francescaminelli opened #429 "Mentorship Project: Assignment/reassignment of Rep Mentors"
## Goal:
Make sure that Reps are assigned to a mentor, and address the issue of inactive mentors

## Related Issues & Links:
https://docs.google.com/document/d/1s3SVQv7kXedJDUSl980pCUL2DqEo6Zg-JFbhMFxaWmU/edit

## Roles:

Responsible:
Tim

Accountable:

Supporting:

Francesca

Consulted:

Informed:

## Required:
- [x] First overview of mentors:
- [x] Check if mentors are in the right communication

[2021-03-10 18:28] Francescaminelli opened #430 "Mentorship Project - Mentors Onboarding"
## Goal:
Mentors Onboarding - Renew training and organize regular onboarding.

## Related Issues & Links:
https://docs.google.com/document/d/1s3SVQv7kXedJDUSl980pCUL2DqEo6Zg-JFbhMFxaWmU/edit

## Roles:

Responsible:
Lidya

Supporting:
Lahiru
Francesca

Consulted:

Informed:

## Required:
- [x] Revise the coaching training
- [x] Prepare an onboarding table with all steps
- [x] Run first onboarding

[2021-03-17 11:11] #412 closed, assigned to shahbaz17

[2021-03-29 18:31] MichaelKohler commented on #426
Timeline adjusted for delay in nomination period due to not enough nominees in the first week

[2021-04-01 09:11] Francescaminelli opened #431 "Reps and Community Portal Groups - Prepare resources"
## Goal:
Prepare presentations that Reps can use when supporting groups in the Community portal

## Related Issues & Links:
https://docs.google.com/presentation/d/1rgoel28mo1CFtbQwoBhzrSC8xYXe58ucH7hRhKw8UJk/edit#slide=id.g87c80dd379_0_625

https://docs.google.com/presentation/d/1J5IHja8FN3uR-kAPAyj6my5h1Zembx9sbq1Bv28it4M/edit#slide=id.gae75c98904_0_1609

[2021-04-01 09:12] Francescaminelli commented on #431
This is Done

[2021-04-01 09:12] #431 closed, assigned to shinadhingra18, pransh15, Francescaminelli

[2021-04-01 09:16] Francescaminelli opened #432 "Reps and Community Portal Groups - Prepare the Pilot"
## Goal:
Prepare all the resources for running a pilot for this project

## Related Issues & Links:

## Roles:

Responsible: Arjama

Accountable:

Francesca, Shina, Pranshu

Supporting:
Reps Council

Consulted:

Informed:

## Required:
- [x] Prepare a list of group for the Pilot
- [x] Prepare communication about the Pilot to the Reps and post it
- [x] Communicate with the groups we selected for th

[2021-04-01 19:32] ioana-chiorean commented on #426
Q&A posted [here](https://discourse.mozilla.org/t/important-council-elections-h1-2021-nominees-q-a/78059).

**Candidates:**

 @jayeshkattar
- [ ] Q&A
@Timmaks
- [ ] Q&A
 @hossainalikram
- [ ] Q&A
@rowdymehul
- [ ] Q&A
@lasr21
- [ ] Q&A

[2021-04-21 10:06] Timmaks commented on #419
Need to update https://wiki.mozilla.org/Reps/Structure_Governance to reflect the changes in the mentor program

[2021-05-07 16:59] MichaelKohler commented on #426
Leadership Page PR: https://github.com/mozilla/bedrock/pull/10190

[2021-06-21 13:49] ioana-chiorean commented on #426
@couci can we close this one?
Results: https://discourse.mozilla.org/t/important-council-elections-h1-2021-results-and-next-steps/78734

[2021-06-21 14:18] couci commented on #426
All done except the blogpost. I have postponed it since I want to also write about the 10y of the program

[2021-06-21 14:23] ioana-chiorean commented on #426
Oke.

[2021-07-19 14:34] #426 closed, assigned to MichaelKohler, ioana-chiorean

[2021-07-19 14:34] couci commented on #426
all items have been now completed

[2021-07-19 21:35] ioana-chiorean commented on #426
Cool! Thanks for the update!

[2021-07-20 12:02] Francescaminelli commented on #428
First communication was done, but reinforcing the communication is necessary. I am leaving this one open until we have done that.

[2021-07-20 12:04] Francescaminelli commented on #427
The schedule has been approved as once every two months. I think we should check if there is enough participation to next mentors call and put it up as a repeat event, with associated calendar invite.

[2021-07-20 12:06] Francescaminelli commented on #419
Page updated

[2021-09-10 09:15] MichaelKohler opened #433 "Reps Council Elections - H2 2021"
## Goal:
Hold the Council elections in order to occupy the spots that are free after the term of one year is ending for:

🎓 Vishal
🎓 Lidya
🎓 Pranshu
🎓 David

We have 4 open spots.

## Success:
The elections take place and we have 4 Council members

## Related Issues & Links:
- Previous Elections: #15, #114, #208, #284, #327, #366, #389, #400, #417, #426

## Roles:
Owner: @ioana-chiorean
Involved:

[2021-09-15 10:22] ioana-chiorean commented on #433
Call started - https://discourse.mozilla.org/t/important-council-elections-h2-2021-please-read/85932

[2021-09-30 19:39] ioana-chiorean commented on #433
Nominees:
* [yuli reyji](https://discourse.mozilla.org/u/yulireyji)
* [Pranshu Khanna](https://people.mozilla.org/p/pransh15)
* [mozmicky](https://people.mozilla.org/p/mozmicky)
* [lidya christina](https://people.mozilla.org/p/lidyachristina)
* [Ruwan_ranganath_senarathne](https://people.mozilla.org/p/ruwan_ranganath_senarathne)

[2021-09-30 19:42] ioana-chiorean commented on #433
Q&A posted here: https://discourse.mozilla.org/t/important-council-elections-h2-2021-nominees-q-a/86608

[2022-03-24 17:42] MichaelKohler opened #434 "Reps Council Elections - H1 2022"
## Goal:
Hold the Council elections in order to occupy the spots that are free after the term of one year is ending for:

🎓 Tim
🎓 Luis
🎓 Hossain

We have 3 open spots.

## Success:
The elections take place and we have on-boarded 3 new Council members

## Related Issues & Links:
- Previous Elections: #15, #114, #208, #284, #327, #366, #389, #400, #417, #426, #433

## Roles:
Owner: @ioana-chiorean
I

[2022-03-30 20:07] ioana-chiorean commented on #434
Call for nominees! https://discourse.mozilla.org/t/important-council-elections-h2-2022-please-read/95300

[2022-03-31 22:09] ioana-chiorean opened #435 "30.03.2022 - Call for Nominees starts (1 week) (@ioana-chiorean)"

[2022-04-07 19:24] ioana-chiorean commented on #434
Q&A posted! https://discourse.mozilla.org/t/important-council-elections-h1-2022-nominees-q-a/95652

[2022-04-07 19:25] ioana-chiorean commented on #434
Nominees:

-     [@seburo](https://discourse.mozilla.org/u/seburo)
-     [@balapandu222](https://discourse.mozilla.org/u/balapandu222)
-     [@bobreyes](https://discourse.mozilla.org/u/bobreyes)
-     [@siddhartharao17](https://discourse.mozilla.org/u/siddhartharao17)
-     [@shahidfarooqui](https://discourse.mozilla.org/u/shahidfarooqui)

[2022-04-15 22:16] MichaelKohler commented on #434
Voting announcement: https://discourse.mozilla.org/t/council-elections-h1-2022-voting-is-now-open/96002

And candidate community portal links for future reference such as Leadership page:

https://community.mozilla.org/en/people/seburo/
https://community.mozilla.org/en/people/balapandu222/
https://community.mozilla.org/en/people/bobreyes/
https://community.mozilla.org/en/people/siddhartharao17/
ht

[2022-04-15 22:25] gaby2300 commented on #434
Voted!

On Fri, Apr 15, 2022 at 7:17 PM Michael Kohler ***@***.***>
wrote:

[2022-04-15 22:28] gaby2300 commented on #434
Voted!!

Many thanks!
Best regards,
Gabriela

http://www.mozilla-hispano.org

On Fri, Apr 15, 2022 at 7:25 PM Gabriela ***@***.***> wrote:

[2022-04-25 09:15] MichaelKohler commented on #434
**Results:**
Robert Reyes: 59
Paul Wright: 47
Siddhartha Rao: 43
Shahid Ali Farooqui: 37
Bala Subramaniyan: 34

**Wiki updated:**
https://wiki.mozilla.org/Reps/Council/History#20th_Council_-_.28April_2022.29

[2022-04-25 10:06] MichaelKohler commented on #434
Reached out to get pictures and the GitHub username so I can update the repo as well as the leadership page. Will report back once those tasks are done.

[2022-04-25 12:27] MichaelKohler commented on #434
More numbers on the voting: https://michaelkohler.github.io/reps-voting-analysis/#/

[2022-04-28 16:35] MichaelKohler commented on #434
All new members now have write access to https://github.com/mozilla/Reps/issues

[2022-04-28 17:04] MichaelKohler commented on #434
PR for the leadership page here: https://github.com/mozilla/bedrock/pull/11556